Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Update test recordings for access tier download test
  sdk/storage/azblob/assets.json
Due: eng/pipelines/pullrequest.yml

Add Apache Arrow support for ListBlobs (Photon) for stg103-104
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/arrow/arrow.go
  sdk/storage/azblob/internal/arrow/arrow_test.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/shared/shared.go
Due: eng/pipelines/pullrequest.yml

Replace UseArrowFormat bool with StorageResponseFormat enum
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/internal/exported/storage_response_format.go
Due: eng/pipelines/pullrequest.yml

Revert "cosmos: Remove QueryEngine APIs for GA release (#27134)"
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/internal/mock/mock_query_engine.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
  sdk/data/azcosmos/version.go
Due: none

Revert "cosmos: Remove QueryEngine APIs for GA release (#27134)" (#27199)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/internal/mock/mock_query_engine.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
  sdk/data/azcosmos/version.go
Due: none

cosmos: CHANGELOG updates for 1.6.0-beta.1 release
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Move Vally eval suite to repo-root azsdk-evals
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/workflow-eval.yml
  eng/common/scripts/allow-relative-links.txt
  eng/common/scripts/eval/package-lock.json
  eng/common/scripts/eval/package.json
  eng/common/scripts/eval/test/init-eval-git-fixtures.test.ts
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Storage] Add AGENTS.md to base sdk/storage and respective sdk/storage/az* directories (#27142)
  sdk/storage/AGENTS.md
  sdk/storage/azblob/AGENTS.md
  sdk/storage/azdatalake/AGENTS.md
  sdk/storage/azfile/AGENTS.md
Due: eng/pipelines/pullrequest.yml

Conform central cspell word list ordering ***NO_CI***
  .vscode/cspell.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

cosmos: CHANGELOG updates for 1.6.0-beta.1 release (#27200)
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Authenticate to python DevOps feed
  eng/common/pipelines/templates/steps/auth-dev-feed.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add CFSClean enforcement
  eng/pipelines/templates/stages/1es-redirect.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Bump template version to test release pipeline
  eng/scripts/Verify-NeedToRelease.ps1
  sdk/template/aztemplate/CHANGELOG.md
  sdk/template/aztemplate/version.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of template/aztemplate
  sdk/template/aztemplate/CHANGELOG.md
  sdk/template/aztemplate/version.go
Due: eng/pipelines/pullrequest.yml

Add blob access tier headers to download response (#27196)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client_test.go
Due: eng/pipelines/pullrequest.yml

Use emitted const for azfile ServiceVersion
  sdk/storage/azfile/internal/generated/constants.go
Due: eng/pipelines/pullrequest.yml

Regenerate azfile and azqueue from TypeSpec for stg103-104 (#27195)
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_responses.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/tsp-location.yaml
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
  sdk/storage/azqueue/internal/generated/zz_models_serde.go
  sdk/storage/azqueue/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Verify returned MD5 matches source MD5 in combined return tests
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/pageblob/client_test.go
Due: eng/pipelines/pullrequest.yml

Add MD5/CRC64 combined return for blob put operations (#27197)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/responses.go
  sdk/storage/azblob/pageblob/client_test.go
Due: eng/pipelines/pullrequest.yml

Address review feedback from Joel
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/internal/arrow/arrow.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/container_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
Due: eng/pipelines/pullrequest.yml

Upgrade emitter and TypeSpec package versions
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Upgrade emitter and TypeSpec package versions (#27212)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add CFSClean enforcement (#27187)
  eng/pipelines/templates/stages/1es-redirect.yml
  eng/scripts/Verify-NeedToRelease.ps1
  sdk/template/aztemplate/CHANGELOG.md
  sdk/template/aztemplate/version.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

ci: support the current _metadata.json apiVersions map format
  eng/scripts/sdk_regenerate.py
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove deprecated armcomputerecommender module
  sdk/resourcemanager/computerecommender/armcomputerecommender/CHANGELOG.md
  sdk/resourcemanager/computerecommender/armcomputerecommender/LICENSE.txt
  sdk/resourcemanager/computerecommender/armcomputerecommender/README.md
  sdk/resourcemanager/computerecommender/armcomputerecommender/ci.yml
  sdk/resourcemanager/computerecommender/armcomputerecommender/client_factory.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/constants.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/fake/internal.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/fake/operations_server.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/fake/server_factory.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/fake/spotplacementscores_server.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/go.mod
  sdk/resourcemanager/computerecommender/armcomputerecommender/go.sum
  sdk/resourcemanager/computerecommender/armcomputerecommender/models.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/models_serde.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/operations_client.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/operations_client_example_test.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/options.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/responses.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/spotplacementscores_client.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/spotplacementscores_client_example_test.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/testdata/_metadata.json
  sdk/resourcemanager/computerecommender/armcomputerecommender/time_rfc3339.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/tsp-location.yaml
  sdk/resourcemanager/computerecommender/armcomputerecommender/version.go
Due: eng/pipelines/pullrequest.yml

Remove deprecated armcomputerecommender module (#27216)
  sdk/resourcemanager/computerecommender/armcomputerecommender/CHANGELOG.md
  sdk/resourcemanager/computerecommender/armcomputerecommender/LICENSE.txt
  sdk/resourcemanager/computerecommender/armcomputerecommender/README.md
  sdk/resourcemanager/computerecommender/armcomputerecommender/ci.yml
  sdk/resourcemanager/computerecommender/armcomputerecommender/client_factory.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/constants.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/fake/internal.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/fake/operations_server.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/fake/server_factory.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/fake/spotplacementscores_server.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/go.mod
  sdk/resourcemanager/computerecommender/armcomputerecommender/go.sum
  sdk/resourcemanager/computerecommender/armcomputerecommender/models.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/models_serde.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/operations_client.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/operations_client_example_test.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/options.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/responses.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/spotplacementscores_client.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/spotplacementscores_client_example_test.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/testdata/_metadata.json
  sdk/resourcemanager/computerecommender/armcomputerecommender/time_rfc3339.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/tsp-location.yaml
  sdk/resourcemanager/computerecommender/armcomputerecommender/version.go
Due: eng/pipelines/pullrequest.yml

Use authenticated internal npm feed in regen pipeline
  eng/pipelines/sdk-regenerate.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Resolve gen-time deps outside the emitter's dependency closure
  eng/scripts/sdk_regenerate.py
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Address Copilot review: schedule always:true and skip unused commit lookup
  eng/pipelines/sdk-regenerate.yml
  eng/scripts/sdk_regenerate.py
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

ci: add typespec-go SDK regeneration ADO pipeline (#27137)
  eng/pipelines/sdk-regenerate.yml
  eng/scripts/sdk_regenerate.py
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Optimize Arrow parser: batch-resolve columns and fix map type assertion
  sdk/storage/azblob/internal/arrow/arrow.go
Due: eng/pipelines/pullrequest.yml

Add NewListRangesPager for paginated file range listing
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/file/responses.go
  sdk/storage/azfile/internal/generated/file_client.go
Due: eng/pipelines/pullrequest.yml

feat(azservicebus): add ListSessionsForQueue and ListSessionsForSubscription (#26688)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/client.go
  sdk/messaging/azservicebus/client_list_sessions_live_test.go
  sdk/messaging/azservicebus/client_list_sessions_unit_test.go
  sdk/messaging/azservicebus/example_client_test.go
  sdk/messaging/azservicebus/internal/amqpLinks.go
  sdk/messaging/azservicebus/internal/amqp_test_utils.go
  sdk/messaging/azservicebus/internal/mgmt.go
  sdk/messaging/azservicebus/internal/mgmt_get_sessions_test.go
  sdk/messaging/azservicebus/internal/mock/mock_namespace.go
  sdk/messaging/azservicebus/internal/namespace.go
Due: eng/pipelines/pullrequest.yml

test(azservicebus): live coverage for ListSessions SessionStateUpdatedAfter mode
  sdk/messaging/azservicebus/client.go
  sdk/messaging/azservicebus/client_list_sessions_live_test.go
Due: eng/pipelines/pullrequest.yml

Avoid infinite loops for Pager[T].More()
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/runtime/pager.go
  sdk/azcore/runtime/pager_test.go
Due: eng/pipelines/pullrequest.yml

update test per feedback
  sdk/azcore/runtime/pager_test.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
