Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Use azsdk cli for CI package info generation
  eng/common/pipelines/templates/steps/install-azsdk-cli.yml
  eng/common/pipelines/templates/steps/save-package-properties.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

test template change
  sdk/template/aztemplate/client.go
Due: eng/pipelines/pullrequest.yml

review fixes
  eng/common/pipelines/templates/steps/save-package-properties.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Regenerate HealthDataAIServices SDK with SKU support
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/CHANGELOG.md
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/constants.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/deidservices_client_example_test.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/fake/internal.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/fake/server_factory.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/models.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/models_serde.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/testdata/_metadata.json
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Activity Id (#26062)
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
Due: none

Fix validation issues for HealthDataAIServices Go SDK
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/go.mod
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/go.sum
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/version.go
Due: eng/pipelines/pullrequest.yml

Fix CI failure for HealthDataAIServices Go SDK
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/go.mod
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/go.sum
Due: eng/pipelines/pullrequest.yml

Sync .github/workflows directory with azure-sdk-tools repository
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync .github/workflows directory with azure-sdk-tools repository (#26109)
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove storage sync services in resource cleanup (#26071)
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Switch apiview.org back to apiview.dev
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

test core change
  sdk/azcore/core.go
Due: eng/pipelines/pullrequest.yml

fix yml path
  eng/common/pipelines/templates/steps/save-package-properties.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add psscript to convert apiview json files to md
  eng/common/scripts/Export-APIViewMarkdown.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove existing .npmrc when releasing to npmjs
  eng/common/pipelines/templates/jobs/npm-publish.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove existing .npmrc when releasing to npmjs (#26114)
  eng/common/pipelines/templates/jobs/npm-publish.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 14353 (#26117)
  eng/common/pipelines/templates/jobs/npm-publish.yml
  eng/common/pipelines/templates/steps/reset-npmrc.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

HEAD request support
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/examples_test.go
  sdk/data/azappconfig/internal/generated/custom_client.go
  sdk/data/azappconfig/options.go
  sdk/data/azappconfig/response_types.go
  sdk/data/azappconfig/setting_selector.go
Due: eng/pipelines/pullrequest.yml

npm i --before 2026-03-01
  eng/common/tsp-client/package-lock.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

bump tar to 7.5.10
  eng/common/tsp-client/package-lock.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

npm i --before 2026-03-01
  eng/common/spelling/package-lock.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update test record
  sdk/data/azappconfig/assets.json
Due: eng/pipelines/pullrequest.yml

Spell check: Error when config is invalid
  eng/common/scripts/check-spelling-in-changed-files.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

set azsdk pipeline mode to true
  eng/pipelines/templates/variables/globals.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Switch apiview.org back to apiview.dev (#26115)
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Spell check: Error when config is invalid (#26111)
  eng/common/scripts/check-spelling-in-changed-files.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add SKU support to HealthDataAIServices SDK
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/CHANGELOG.md
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/constants.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/deidservices_client_example_test.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/fake/internal.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/fake/server_factory.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/models.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/models_serde.go
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/testdata/_metadata.json
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/tsp-location.yaml
  sdk/resourcemanager/healthdataaiservices/armhealthdataaiservices/version.go
Due: eng/pipelines/pullrequest.yml

Authenticate to user scope .npmrc
  eng/common/pipelines/templates/steps/authenticate-temp-npmrc.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Make RepoNpmrc a parameter
  eng/common/pipelines/templates/steps/authenticate-temp-npmrc.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
