Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Transfer ownership of Event Grid libraries to appropriate people. (#24863)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 11039 (#24871)
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Adding in instructions files tuned to specific file names, etc..
  .devcontainer/init.sh
  .github/copilot-instructions.md
  .github/instructions/README.md
  .github/instructions/go-code.instructions.md
  .github/instructions/go-examples.instructions.md
  .github/instructions/go-mod-standards.instructions.md
  .github/instructions/go-tests.instructions.md
  .github/instructions/tsp-location.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fixing copilot suggestions on copilot instructions.
  .devcontainer/init.sh
  .github/instructions/tsp-location.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Revised function name for GetPartitionKeyRange to GetPartitionKeyRanges
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Revised name for ParitionKeyRangeProperties to PartitionKeyRange
  sdk/data/azcosmos/cosmos_partition_key_range.go
  sdk/data/azcosmos/cosmos_partition_key_range_response.go
  sdk/data/azcosmos/cosmos_partition_key_range_test.go
Due: none

Remove MAC from pwsh tools template (#24873)
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/storage/armstorage/1.8.1 (#24866)
  sdk/resourcemanager/storage/armstorage/CHANGELOG.md
  sdk/resourcemanager/storage/armstorage/accounts_client_example_test.go
  sdk/resourcemanager/storage/armstorage/autorest.md
  sdk/resourcemanager/storage/armstorage/blobcontainers_client_example_test.go
  sdk/resourcemanager/storage/armstorage/blobinventorypolicies_client_example_test.go
  sdk/resourcemanager/storage/armstorage/blobservices_client_example_test.go
  sdk/resourcemanager/storage/armstorage/constants.go
  sdk/resourcemanager/storage/armstorage/deletedaccounts_client_example_test.go
  sdk/resourcemanager/storage/armstorage/encryptionscopes_client_example_test.go
  sdk/resourcemanager/storage/armstorage/fake/time_rfc1123.go
  sdk/resourcemanager/storage/armstorage/fake/time_rfc3339.go
  sdk/resourcemanager/storage/armstorage/fileservices_client_example_test.go
  sdk/resourcemanager/storage/armstorage/fileshares_client_example_test.go
  sdk/resourcemanager/storage/armstorage/go.mod
  sdk/resourcemanager/storage/armstorage/go.sum
  sdk/resourcemanager/storage/armstorage/localusers_client_example_test.go
  sdk/resourcemanager/storage/armstorage/managementpolicies_client_example_test.go
  sdk/resourcemanager/storage/armstorage/models.go
  sdk/resourcemanager/storage/armstorage/networksecurityperimeterconfigurations_client_example_test.go
  sdk/resourcemanager/storage/armstorage/objectreplicationpolicies_client_example_test.go
  sdk/resourcemanager/storage/armstorage/operations_client_example_test.go
  sdk/resourcemanager/storage/armstorage/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/storage/armstorage/privatelinkresources_client_example_test.go
  sdk/resourcemanager/storage/armstorage/queue_client_example_test.go
  sdk/resourcemanager/storage/armstorage/queueservices_client_example_test.go
  sdk/resourcemanager/storage/armstorage/skus_client_example_test.go
  sdk/resourcemanager/storage/armstorage/table_client_example_test.go
  sdk/resourcemanager/storage/armstorage/tableservices_client_example_test.go
  sdk/resourcemanager/storage/armstorage/taskassignmentinstancesreport_client_example_test.go
  sdk/resourcemanager/storage/armstorage/taskassignments_client.go
  sdk/resourcemanager/storage/armstorage/taskassignments_client_example_test.go
  sdk/resourcemanager/storage/armstorage/taskassignmentsinstancesreport_client_example_test.go
  sdk/resourcemanager/storage/armstorage/usages_client_example_test.go
Due: eng/pipelines/pullrequest.yml

update date
  sdk/resourcemanager/purestorageblock/armpurestorageblock/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

upgrade autorest.gotest
  eng/scripts/MgmtTestLib.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

upgrade autorest.gotest (#24874)
  eng/scripts/MgmtTestLib.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/containerservice/armcontainerservice/7.2.0 generation from spec commit: 44319b51c6f952fdc9543d3dc4fdd9959350d102
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/responses.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/healthbot/armhealthbot/2.0.0 generation from spec commit: 44319b51c6f952fdc9543d3dc4fdd9959350d102
  sdk/resourcemanager/healthbot/armhealthbot/CHANGELOG.md
  sdk/resourcemanager/healthbot/armhealthbot/README.md
  sdk/resourcemanager/healthbot/armhealthbot/autorest.md
  sdk/resourcemanager/healthbot/armhealthbot/bots_client.go
  sdk/resourcemanager/healthbot/armhealthbot/bots_client_example_test.go
  sdk/resourcemanager/healthbot/armhealthbot/client_factory.go
  sdk/resourcemanager/healthbot/armhealthbot/constants.go
  sdk/resourcemanager/healthbot/armhealthbot/fake/bots_server.go
  sdk/resourcemanager/healthbot/armhealthbot/fake/internal.go
  sdk/resourcemanager/healthbot/armhealthbot/fake/operations_server.go
  sdk/resourcemanager/healthbot/armhealthbot/fake/server_factory.go
  sdk/resourcemanager/healthbot/armhealthbot/fake/time_rfc3339.go
  sdk/resourcemanager/healthbot/armhealthbot/go.mod
  sdk/resourcemanager/healthbot/armhealthbot/go.sum
  sdk/resourcemanager/healthbot/armhealthbot/models.go
  sdk/resourcemanager/healthbot/armhealthbot/models_serde.go
  sdk/resourcemanager/healthbot/armhealthbot/operations_client.go
  sdk/resourcemanager/healthbot/armhealthbot/operations_client_example_test.go
  sdk/resourcemanager/healthbot/armhealthbot/options.go
  sdk/resourcemanager/healthbot/armhealthbot/responses.go
  sdk/resourcemanager/healthbot/armhealthbot/time_rfc3339.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/msi/armmsi/1.3.0 generation from spec commit: 44319b51c6f952fdc9543d3dc4fdd9959350d102
  sdk/resourcemanager/msi/armmsi/CHANGELOG.md
  sdk/resourcemanager/msi/armmsi/README.md
  sdk/resourcemanager/msi/armmsi/autorest.md
  sdk/resourcemanager/msi/armmsi/client_factory.go
  sdk/resourcemanager/msi/armmsi/constants.go
  sdk/resourcemanager/msi/armmsi/fake/federatedidentitycredentials_server.go
  sdk/resourcemanager/msi/armmsi/fake/internal.go
  sdk/resourcemanager/msi/armmsi/fake/operations_server.go
  sdk/resourcemanager/msi/armmsi/fake/server_factory.go
  sdk/resourcemanager/msi/armmsi/fake/systemassignedidentities_server.go
  sdk/resourcemanager/msi/armmsi/fake/time_rfc3339.go
  sdk/resourcemanager/msi/armmsi/fake/userassignedidentities_server.go
  sdk/resourcemanager/msi/armmsi/federatedidentitycredentials_client.go
  sdk/resourcemanager/msi/armmsi/federatedidentitycredentials_client_example_test.go
  sdk/resourcemanager/msi/armmsi/go.mod
  sdk/resourcemanager/msi/armmsi/go.sum
  sdk/resourcemanager/msi/armmsi/models.go
  sdk/resourcemanager/msi/armmsi/models_serde.go
  sdk/resourcemanager/msi/armmsi/operations_client.go
  sdk/resourcemanager/msi/armmsi/operations_client_example_test.go
  sdk/resourcemanager/msi/armmsi/options.go
  sdk/resourcemanager/msi/armmsi/responses.go
  sdk/resourcemanager/msi/armmsi/systemassignedidentities_client.go
  sdk/resourcemanager/msi/armmsi/systemassignedidentities_client_example_test.go
  sdk/resourcemanager/msi/armmsi/time_rfc3339.go
  sdk/resourcemanager/msi/armmsi/userassignedidentities_client.go
  sdk/resourcemanager/msi/armmsi/userassignedidentities_client_example_test.go
Due: eng/pipelines/pullrequest.yml

preparing for 0.8.1 release
  sdk/ai/azopenai/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

upgrade tsp-client version
  eng/pipelines/mgmt-auto-release.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

copilot instruction to handle go sdk generation and versioning generator tool
  .github/copilot-instructions.md
  .github/instructions/go-sdk-automation-analysis.instructions.md
  .github/instructions/go-sdk-generation.instructions.md
  documentation/sdk-automation-tsg.md
  documentation/sdk-breaking-changes-categories.md
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/README.md
  eng/tools/generator/doc.go
  eng/tools/generator/version.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update version
  .github/instructions/go-sdk-generation.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

upgrade tsp-client version (#24882)
  eng/pipelines/mgmt-auto-release.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fixing the change log
  sdk/ai/azopenai/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

making a GA release
  sdk/ai/azopenai/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

updating the version 1.0.0
  sdk/ai/azopenai/version.go
Due: eng/pipelines/pullrequest.yml

Correct RetryOptions.RetryDelay documentation (#24868)
  sdk/azcore/policy/policy.go
Due: eng/pipelines/pullrequest.yml

Adding in some copilot instructions that are targeted at specific file names as well as a devcontainer update (#24872)
  .devcontainer/init.sh
  .github/copilot-instructions.md
  .github/instructions/README.md
  .github/instructions/go-code.instructions.md
  .github/instructions/go-examples.instructions.md
  .github/instructions/go-mod-standards.instructions.md
  .github/instructions/go-tests.instructions.md
  .github/instructions/tsp-location.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Refactor parition key range to be an internal method (GetPartitionKeyRange to getPartitionKeyRange)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

restore default TryTimeout
  sdk/azidentity/managed_identity_client.go
Due: eng/pipelines/pullrequest.yml

Add additional create matrix logging
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/mongodbatlas/armmongodbatlas/1.0.0 generation from spec commit: 910e782cfd885db8f0b370a7ff60d74def3b522d
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/CHANGELOG.md
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/constants.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/fake/organizations_server.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/go.mod
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/go.sum
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/models.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/models_serde.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/operations_client.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/operations_client_example_test.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/organizations_client.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/organizations_client_example_test.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/testdata/_metadata.json
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

add --version support
  eng/tools/generator/cmd/root.go
  eng/tools/generator/main.go
Due: eng/pipelines/pullrequest.yml

update version
  eng/tools/generator/version.go
Due: eng/pipelines/pullrequest.yml

[azopenai] Preparing for GA release (1.0.0) (#24881)
  sdk/ai/azopenai/CHANGELOG.md
  sdk/ai/azopenai/version.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/containerservice/armdeploymentsafeguards/0.1.0 (#24861)
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/CHANGELOG.md
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/LICENSE.txt
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/README.md
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/ci.yml
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/client_factory.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/constants.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/deploymentsafeguards_client.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/deploymentsafeguards_client_example_test.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/fake/deploymentsafeguards_server.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/fake/internal.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/fake/operations_server.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/fake/server_factory.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/go.mod
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/go.sum
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/models.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/models_serde.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/operations_client.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/options.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/responses.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/testdata/_metadata.json
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/time_rfc3339.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/mongodbatlas/armmongodbatlas/1.0.0 generation from spec commit: 910e782cfd885db8f0b370a7ff60d74def3b522d (#24887)
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/CHANGELOG.md
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/constants.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/fake/organizations_server.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/go.mod
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/go.sum
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/models.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/models_serde.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/operations_client.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/operations_client_example_test.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/organizations_client.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/organizations_client_example_test.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/testdata/_metadata.json
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/resources/armbicep/0.1.0 generation from spec commit: 5f272067844826380939c0b3f24ca3cc99dbe308 (#24827)
  sdk/resourcemanager/resources/armbicep/CHANGELOG.md
  sdk/resourcemanager/resources/armbicep/LICENSE.txt
  sdk/resourcemanager/resources/armbicep/README.md
  sdk/resourcemanager/resources/armbicep/ci.yml
  sdk/resourcemanager/resources/armbicep/client_factory.go
  sdk/resourcemanager/resources/armbicep/constants.go
  sdk/resourcemanager/resources/armbicep/decompileoperationgroup_client.go
  sdk/resourcemanager/resources/armbicep/decompileoperationgroup_client_example_test.go
  sdk/resourcemanager/resources/armbicep/fake/decompileoperationgroup_server.go
  sdk/resourcemanager/resources/armbicep/fake/internal.go
  sdk/resourcemanager/resources/armbicep/fake/server_factory.go
  sdk/resourcemanager/resources/armbicep/go.mod
  sdk/resourcemanager/resources/armbicep/go.sum
  sdk/resourcemanager/resources/armbicep/models.go
  sdk/resourcemanager/resources/armbicep/models_serde.go
  sdk/resourcemanager/resources/armbicep/options.go
  sdk/resourcemanager/resources/armbicep/responses.go
  sdk/resourcemanager/resources/armbicep/testdata/_metadata.json
  sdk/resourcemanager/resources/armbicep/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Made PartitionKeyRange and PartitionKeyRangeResponse internal.
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_partition_key_range.go
  sdk/data/azcosmos/cosmos_partition_key_range_response.go
  sdk/data/azcosmos/cosmos_partition_key_range_test.go
Due: none
