Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

fix test
  sdk/resourcemanager/appconfiguration/armappconfiguration/appconfiguration_live_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/assets.json
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/appconfiguration/armappconfiguration/assets.json
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/appconfiguration/armappconfiguration/appconfiguration_live_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/assets.json
  sdk/resourcemanager/appconfiguration/armappconfiguration/go.mod
  sdk/resourcemanager/appconfiguration/armappconfiguration/go.sum
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/appconfiguration/armappconfiguration/appconfiguration_live_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/go.mod
Due: eng/pipelines/pullrequest.yml

gofmt
  sdk/resourcemanager/appconfiguration/armappconfiguration/appconfiguration_live_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/assets.json
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/hdinsight/armhdinsight/1.3.0-beta.4 generation from spec commit: 6312b1c8676b0973f86f078c1177dcb7510158df
  sdk/resourcemanager/hdinsight/armhdinsight/CHANGELOG.md
  sdk/resourcemanager/hdinsight/armhdinsight/applications_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/applications_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/autorest.md
  sdk/resourcemanager/hdinsight/armhdinsight/client_factory.go
  sdk/resourcemanager/hdinsight/armhdinsight/clusters_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/clusters_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/configurations_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/configurations_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/constants.go
  sdk/resourcemanager/hdinsight/armhdinsight/extensions_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/extensions_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/go.mod
  sdk/resourcemanager/hdinsight/armhdinsight/go.sum
  sdk/resourcemanager/hdinsight/armhdinsight/locations_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/locations_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/models.go
  sdk/resourcemanager/hdinsight/armhdinsight/models_serde.go
  sdk/resourcemanager/hdinsight/armhdinsight/operations_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/operations_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/privateendpointconnections_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/privatelinkresources_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/privatelinkresources_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/responses.go
  sdk/resourcemanager/hdinsight/armhdinsight/scriptactions_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/scriptactions_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/scriptexecutionhistory_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/scriptexecutionhistory_client_example_test.go
  sdk/resourcemanager/hdinsight/armhdinsight/version.go
  sdk/resourcemanager/hdinsight/armhdinsight/virtualmachines_client.go
  sdk/resourcemanager/hdinsight/armhdinsight/virtualmachines_client_example_test.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/appconfiguration/armappconfiguration/appconfiguration_live_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/assets.json
  sdk/resourcemanager/appconfiguration/armappconfiguration/go.mod
  sdk/resourcemanager/appconfiguration/armappconfiguration/go.sum
Due: eng/pipelines/pullrequest.yml

[AutoPR sdk-resourcemanager/appconfiguration/armappconfiguration]-generated-from-SDK Generation - Go-5763721 (#25889)
  sdk/resourcemanager/appconfiguration/armappconfiguration/CHANGELOG.md
  sdk/resourcemanager/appconfiguration/armappconfiguration/appconfiguration_live_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/assets.json
  sdk/resourcemanager/appconfiguration/armappconfiguration/autorest.md
  sdk/resourcemanager/appconfiguration/armappconfiguration/build.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/client_factory.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/configurationstores_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/configurationstores_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/constants.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/configurationstores_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/internal.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/keyvalues_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/operations_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/privateendpointconnections_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/privatelinkresources_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/replicas_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/server_factory.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/snapshots_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/go.mod
  sdk/resourcemanager/appconfiguration/armappconfiguration/go.sum
  sdk/resourcemanager/appconfiguration/armappconfiguration/keyvalues_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/keyvalues_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/models.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/models_serde.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/operations_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/operations_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/options.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/privateendpointconnections_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/privatelinkresources_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/privatelinkresources_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/replicas_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/replicas_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/responses.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/snapshots_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/snapshots_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/testdata/_metadata.json
  sdk/resourcemanager/appconfiguration/armappconfiguration/time_rfc3339.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/tsp-location.yaml
  sdk/resourcemanager/appconfiguration/armappconfiguration/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of azidentity
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of azidentity (#26006)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

[AutoPR sdk-resourcemanager/resources/armdeploymentstacks]-generated-from-SDK Generation - Go-5803519 (#25936)
  sdk/resourcemanager/resources/armdeploymentstacks/CHANGELOG.md
  sdk/resourcemanager/resources/armdeploymentstacks/README.md
  sdk/resourcemanager/resources/armdeploymentstacks/autorest.md
  sdk/resourcemanager/resources/armdeploymentstacks/build.go
  sdk/resourcemanager/resources/armdeploymentstacks/client.go
  sdk/resourcemanager/resources/armdeploymentstacks/client_example_test.go
  sdk/resourcemanager/resources/armdeploymentstacks/client_factory.go
  sdk/resourcemanager/resources/armdeploymentstacks/constants.go
  sdk/resourcemanager/resources/armdeploymentstacks/fake/internal.go
  sdk/resourcemanager/resources/armdeploymentstacks/fake/server.go
  sdk/resourcemanager/resources/armdeploymentstacks/fake/server_factory.go
  sdk/resourcemanager/resources/armdeploymentstacks/fake/whatifresultsatmanagementgroup_server.go
  sdk/resourcemanager/resources/armdeploymentstacks/fake/whatifresultsatresourcegroup_server.go
  sdk/resourcemanager/resources/armdeploymentstacks/fake/whatifresultsatsubscription_server.go
  sdk/resourcemanager/resources/armdeploymentstacks/go.mod
  sdk/resourcemanager/resources/armdeploymentstacks/go.sum
  sdk/resourcemanager/resources/armdeploymentstacks/models.go
  sdk/resourcemanager/resources/armdeploymentstacks/models_serde.go
  sdk/resourcemanager/resources/armdeploymentstacks/options.go
  sdk/resourcemanager/resources/armdeploymentstacks/responses.go
  sdk/resourcemanager/resources/armdeploymentstacks/testdata/_metadata.json
  sdk/resourcemanager/resources/armdeploymentstacks/time_rfc3339.go
  sdk/resourcemanager/resources/armdeploymentstacks/tsp-location.yaml
  sdk/resourcemanager/resources/armdeploymentstacks/version.go
  sdk/resourcemanager/resources/armdeploymentstacks/whatifresultsatmanagementgroup_client.go
  sdk/resourcemanager/resources/armdeploymentstacks/whatifresultsatmanagementgroup_client_example_test.go
  sdk/resourcemanager/resources/armdeploymentstacks/whatifresultsatresourcegroup_client.go
  sdk/resourcemanager/resources/armdeploymentstacks/whatifresultsatresourcegroup_client_example_test.go
  sdk/resourcemanager/resources/armdeploymentstacks/whatifresultsatsubscription_client.go
  sdk/resourcemanager/resources/armdeploymentstacks/whatifresultsatsubscription_client_example_test.go
Due: eng/pipelines/pullrequest.yml

Add ReadItems (native read-many via per-partition queries) design spec
  sdk/data/azcosmos/.specs/ReadItems.md
Due: none

azcosmos: update ReadItems spec for query-based ReadMany with no ordering guarantee
  sdk/data/azcosmos/.specs/ReadItems.md
Due: none

azcosmos: implement query-based ReadMany (V1 with LPK grouping)
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_query_builder.go
  sdk/data/azcosmos/cosmos_query_builder_test.go
  sdk/data/azcosmos/emulator_cosmos_read_many_items_test.go
Due: none

azcosmos: refactor executeReadManyWithQueries into smaller helpers
  sdk/data/azcosmos/cosmos_container_read_many.go
Due: none

azcosmos: add effectivePartitionKey type and stub computeEffectivePartitionKey
  sdk/data/azcosmos/partition_key.go
Due: none

azcosmos: add EPK hash baseline tests from XML test data
  sdk/data/azcosmos/partition_key_test.go
Due: none

azcosmos: simplify EPK test parser to use JSON unmarshal
  sdk/data/azcosmos/partition_key_test.go
Due: none

azcosmos: add EPK baseline test data
  sdk/data/azcosmos/testdata/PartitionKeyHashBaselineTest.Lists.xml
  sdk/data/azcosmos/testdata/PartitionKeyHashBaselineTest.Numbers.xml
  sdk/data/azcosmos/testdata/PartitionKeyHashBaselineTest.Singletons.xml
  sdk/data/azcosmos/testdata/PartitionKeyHashBaselineTest.Strings.xml
Due: none

azcosmos: implement EPK hashing with baseline tests
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/emulator_cosmos_read_many_items_test.go
  sdk/data/azcosmos/internal/epk/epk.go
  sdk/data/azcosmos/internal/epk/epk_test.go
  sdk/data/azcosmos/internal/epk/testdata/PartitionKeyHashBaselineTest.Lists.xml
  sdk/data/azcosmos/internal/epk/testdata/PartitionKeyHashBaselineTest.Numbers.xml
  sdk/data/azcosmos/internal/epk/testdata/PartitionKeyHashBaselineTest.Singletons.xml
  sdk/data/azcosmos/internal/epk/testdata/PartitionKeyHashBaselineTest.Strings.xml
  sdk/data/azcosmos/internal/mock/mock_query_engine.go
  sdk/data/azcosmos/partition_key.go
  sdk/data/azcosmos/partition_key_test.go
  sdk/data/azcosmos/testdata/PartitionKeyHashBaselineTest.Lists.xml
  sdk/data/azcosmos/testdata/PartitionKeyHashBaselineTest.Numbers.xml
  sdk/data/azcosmos/testdata/PartitionKeyHashBaselineTest.Singletons.xml
Due: none

azcosmos: replace logical-PK grouping with EPK-based physical range grouping in ReadMany
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_container_read_many_test.go
  sdk/data/azcosmos/cosmos_query_builder.go
  sdk/data/azcosmos/cosmos_query_builder_test.go
  sdk/data/azcosmos/partition_key.go
Due: none

azcosmos: remove .specs directory
  sdk/data/azcosmos/.specs/ReadItems.md
Due: none

add code
  sdk/resourcemanager/serialconsole/armserialconsole/CHANGELOG.md
  sdk/resourcemanager/serialconsole/armserialconsole/README.md
  sdk/resourcemanager/serialconsole/armserialconsole/autorest.md
  sdk/resourcemanager/serialconsole/armserialconsole/build.go
  sdk/resourcemanager/serialconsole/armserialconsole/client.go
  sdk/resourcemanager/serialconsole/armserialconsole/client_example_test.go
  sdk/resourcemanager/serialconsole/armserialconsole/client_factory.go
  sdk/resourcemanager/serialconsole/armserialconsole/constants.go
  sdk/resourcemanager/serialconsole/armserialconsole/fake/internal.go
  sdk/resourcemanager/serialconsole/armserialconsole/fake/microsoftserialconsole_server.go
  sdk/resourcemanager/serialconsole/armserialconsole/fake/serialports_server.go
  sdk/resourcemanager/serialconsole/armserialconsole/fake/server.go
  sdk/resourcemanager/serialconsole/armserialconsole/fake/server_factory.go
  sdk/resourcemanager/serialconsole/armserialconsole/go.mod
  sdk/resourcemanager/serialconsole/armserialconsole/go.sum
  sdk/resourcemanager/serialconsole/armserialconsole/microsoftserialconsole_client.go
  sdk/resourcemanager/serialconsole/armserialconsole/microsoftserialconsole_client_example_test.go
  sdk/resourcemanager/serialconsole/armserialconsole/models.go
  sdk/resourcemanager/serialconsole/armserialconsole/models_serde.go
  sdk/resourcemanager/serialconsole/armserialconsole/options.go
  sdk/resourcemanager/serialconsole/armserialconsole/response_types.go
  sdk/resourcemanager/serialconsole/armserialconsole/responses.go
  sdk/resourcemanager/serialconsole/armserialconsole/serialports_client.go
  sdk/resourcemanager/serialconsole/armserialconsole/serialports_client_example_test.go
  sdk/resourcemanager/serialconsole/armserialconsole/testdata/_metadata.json
  sdk/resourcemanager/serialconsole/armserialconsole/tsp-location.yaml
  sdk/resourcemanager/serialconsole/armserialconsole/version.go
Due: eng/pipelines/pullrequest.yml

refmt
  sdk/data/azcosmos/cosmos_container_read_many.go
Due: none

[Release] sdk/resourcemanager/serialconsole/armserialconsole/2.0.0 generation from spec commit: 232569489d8002597fa04cb0badfc2f5ca372a00
  sdk/resourcemanager/serialconsole/armserialconsole/CHANGELOG.md
  sdk/resourcemanager/serialconsole/armserialconsole/README.md
  sdk/resourcemanager/serialconsole/armserialconsole/autorest.md
  sdk/resourcemanager/serialconsole/armserialconsole/client_factory.go
  sdk/resourcemanager/serialconsole/armserialconsole/constants.go
  sdk/resourcemanager/serialconsole/armserialconsole/fake/internal.go
  sdk/resourcemanager/serialconsole/armserialconsole/fake/microsoftserialconsole_server.go
  sdk/resourcemanager/serialconsole/armserialconsole/fake/serialports_server.go
  sdk/resourcemanager/serialconsole/armserialconsole/fake/server_factory.go
  sdk/resourcemanager/serialconsole/armserialconsole/go.mod
  sdk/resourcemanager/serialconsole/armserialconsole/go.sum
  sdk/resourcemanager/serialconsole/armserialconsole/microsoftserialconsole_client.go
  sdk/resourcemanager/serialconsole/armserialconsole/microsoftserialconsole_client_example_test.go
  sdk/resourcemanager/serialconsole/armserialconsole/models.go
  sdk/resourcemanager/serialconsole/armserialconsole/models_serde.go
  sdk/resourcemanager/serialconsole/armserialconsole/options.go
  sdk/resourcemanager/serialconsole/armserialconsole/responses.go
  sdk/resourcemanager/serialconsole/armserialconsole/serialports_client.go
  sdk/resourcemanager/serialconsole/armserialconsole/serialports_client_example_test.go
  sdk/resourcemanager/serialconsole/armserialconsole/time_rfc3339.go
  sdk/resourcemanager/serialconsole/armserialconsole/version.go
Due: eng/pipelines/pullrequest.yml

add go code
  sdk/resourcemanager/serialconsole/armserialconsole/CHANGELOG.md
  sdk/resourcemanager/serialconsole/armserialconsole/README.md
  sdk/resourcemanager/serialconsole/armserialconsole/autorest.md
  sdk/resourcemanager/serialconsole/armserialconsole/build.go
  sdk/resourcemanager/serialconsole/armserialconsole/client_factory.go
  sdk/resourcemanager/serialconsole/armserialconsole/constants.go
  sdk/resourcemanager/serialconsole/armserialconsole/fake/internal.go
  sdk/resourcemanager/serialconsole/armserialconsole/fake/microsoftserialconsole_server.go
  sdk/resourcemanager/serialconsole/armserialconsole/fake/serialports_server.go
  sdk/resourcemanager/serialconsole/armserialconsole/fake/server_factory.go
  sdk/resourcemanager/serialconsole/armserialconsole/go.mod
  sdk/resourcemanager/serialconsole/armserialconsole/go.sum
  sdk/resourcemanager/serialconsole/armserialconsole/microsoftserialconsole_client.go
  sdk/resourcemanager/serialconsole/armserialconsole/microsoftserialconsole_client_example_test.go
  sdk/resourcemanager/serialconsole/armserialconsole/models.go
  sdk/resourcemanager/serialconsole/armserialconsole/models_serde.go
  sdk/resourcemanager/serialconsole/armserialconsole/options.go
  sdk/resourcemanager/serialconsole/armserialconsole/responses.go
  sdk/resourcemanager/serialconsole/armserialconsole/serialports_client.go
  sdk/resourcemanager/serialconsole/armserialconsole/serialports_client_example_test.go
  sdk/resourcemanager/serialconsole/armserialconsole/testdata/_metadata.json
  sdk/resourcemanager/serialconsole/armserialconsole/tsp-location.yaml
  sdk/resourcemanager/serialconsole/armserialconsole/version.go
Due: eng/pipelines/pullrequest.yml

added error
  sdk/storage/azfile/fileerror/error_codes.go
Due: eng/pipelines/pullrequest.yml

remove cross-partition query header, it's unnecessary because we're targeting a single PKRange
  sdk/data/azcosmos/cosmos_container_read_many.go
Due: none

Fix ReadMany null partition key query to use IS_NULL instead of IS_DEFINED
  sdk/data/azcosmos/cosmos_query_builder.go
  sdk/data/azcosmos/cosmos_query_builder_test.go
  sdk/data/azcosmos/emulator_cosmos_read_many_items_test.go
Due: none

check error for generatePathForNameBased
  sdk/data/azcosmos/cosmos_container_read_many.go
Due: none

Add cancellation test for executeQueryChunks and clarify error flow
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_container_read_many_test.go
Due: none

Opt-in to 1es go module proxy
  eng/pipelines/templates/stages/1es-redirect.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Opt-in to 1es go module proxy (#26014)
  eng/pipelines/templates/stages/1es-redirect.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add code
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/CHANGELOG.md
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/autorest.md
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/azurebaremetalinstances_client.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/azurebaremetalinstances_client_example_test.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/azurebaremetalstorageinstances_client.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/azurebaremetalstorageinstances_client_example_test.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/build.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/client_factory.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/constants.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/fake/azurebaremetalinstances_server.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/fake/azurebaremetalstorageinstances_server.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/fake/internal.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/fake/operations_server.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/fake/server_factory.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/fake/time_rfc3339.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/go.mod
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/go.sum
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/models.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/models_serde.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/operations_client.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/operations_client_example_test.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/options.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/responses.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/testdata/_metadata.json
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/time_rfc3339.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/tsp-location.yaml
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/version.go
Due: eng/pipelines/pullrequest.yml

Replace done channel with child context for in-flight cancellation
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_container_read_many_test.go
Due: none

rename module name
  sdk/resourcemanager/artifactsigning/armartifactsigning/README.md
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
