Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Pin go-git to v5.16.5 to fix SDK generation in sparse-checkout repos
  eng/tools/generator/go.mod
  eng/tools/generator/go.sum
  eng/tools/generator/repo/workTree_test.go
Due: eng/pipelines/pullrequest.yml

Add changelog entry and bump generator to v0.4.17
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/version.go
Due: eng/pipelines/pullrequest.yml

Pin go-git to v5.16.5 to fix SDK generation in sparse-checkout repos (#27275)
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/go.mod
  eng/tools/generator/go.sum
  eng/tools/generator/repo/workTree_test.go
  eng/tools/generator/version.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): set minimum 60s server-timeout for management operations (#26499)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/mgmt.go
  sdk/messaging/azservicebus/internal/mgmt_test.go
  sdk/messaging/azservicebus/internal/rpc.go
  sdk/messaging/azservicebus/internal/rpc_test.go
Due: eng/pipelines/pullrequest.yml

Update Go dependencies
  profile/p20200901/go.mod
  profile/p20200901/go.sum
  sdk/tracing/azotel/go.mod
  sdk/tracing/azotel/go.sum
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Implemented customer facing types for session in blob and datalake
  sdk/storage/azblob/common.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/exported/session.go
  sdk/storage/azblob/internal/exported/session_policy.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/internal/shared/shared_test.go
  sdk/storage/azblob/session_provider_container.go
  sdk/storage/azdatalake/common.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/base/clients.go
  sdk/storage/azdatalake/internal/exported/session.go
Due: eng/pipelines/pullrequest.yml

refactor all common pipeline creation logic to base GetAzClient method
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/session_provider_container.go
Due: eng/pipelines/pullrequest.yml

test(azservicebus): live coverage for ListSessions SessionStateUpdatedAfter mode (#27220)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/client.go
  sdk/messaging/azservicebus/client_list_sessions_live_test.go
  sdk/messaging/azservicebus/internal/mgmt.go
Due: eng/pipelines/pullrequest.yml

checkpoint session policy
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/exported/session.go
  sdk/storage/azblob/internal/exported/session_policy.go
Due: eng/pipelines/pullrequest.yml

Update armbulkactions 0.2.0 release date to 2026-07-30
  sdk/resourcemanager/compute/armbulkactions/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

azcosmos: dedupe partition key ranges by ID during cache refresh
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_collection_routing_map.go
  sdk/data/azcosmos/cosmos_collection_routing_map_test.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: none

[Discovery] Reconcile SDK-agent generation: restore GA 1.0.0 metadata + latest deps
  sdk/resourcemanager/discovery/armdiscovery/CHANGELOG.md
  sdk/resourcemanager/discovery/armdiscovery/LICENSE.txt
  sdk/resourcemanager/discovery/armdiscovery/README.md
  sdk/resourcemanager/discovery/armdiscovery/go.mod
  sdk/resourcemanager/discovery/armdiscovery/go.sum
  sdk/resourcemanager/discovery/armdiscovery/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

azcosmos: open 1.6.0-beta.2 for the pkrange dedupe fix
  sdk/data/azcosmos/version.go
Due: none

Update Go dependencies (#27277)
  profile/p20200901/go.mod
  profile/p20200901/go.sum
  sdk/tracing/azotel/go.mod
  sdk/tracing/azotel/go.sum
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix(azservicebus): align list-sessions pagination to .NET short-page termination
  sdk/messaging/azservicebus/client.go
  sdk/messaging/azservicebus/client_list_sessions_unit_test.go
Due: eng/pipelines/pullrequest.yml

Remove package name approval from azsdk-cli release readiness and dashboard
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update armbulkactions 0.2.0 release date to 2026-07-30 (#27280)
  sdk/resourcemanager/compute/armbulkactions/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

docs: use 'Container Service AI Manager' as the service name in the Go README
  sdk/resourcemanager/containerserviceaimanager/armcontainerserviceaimanager/README.md
Due: eng/pipelines/pullrequest.yml

more session updates
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/common.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/base/session_provider_container.go
  sdk/storage/azblob/internal/exported/session.go
  sdk/storage/azblob/internal/exported/session_policy.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/internal/shared/shared_test.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/service/client.go
Due: eng/pipelines/pullrequest.yml

add container client internal test
  sdk/storage/azblob/container/client_internal_test.go
  sdk/storage/azblob/container/export_test.go
Due: eng/pipelines/pullrequest.yml

chore: add @meetamitbhatia to CODEOWNERS alongside @j7nw4r
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

exported PossibleSessionModeValues
  sdk/storage/azblob/common.go
  sdk/storage/azdatalake/common.go
  sdk/storage/azdatalake/internal/exported/session.go
Due: eng/pipelines/pullrequest.yml

Remove retired Gen-1 evaluator harness
  eng/common/pipelines/ai-evals-tests.yml
  eng/common/pipelines/templates/jobs/ai-eval-job.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Added tests
  sdk/storage/azblob/blob/client_session_test.go
  sdk/storage/azblob/internal/base/session_provider_container_test.go
  sdk/storage/azblob/internal/exported/session_policy_test.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_models_serde.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_responses.go
Due: eng/pipelines/pullrequest.yml

datalake changes and test
  sdk/storage/azblob/internal/base/clients_session_test.go
  sdk/storage/azblob/internal/base/session_provider_container_test.go
  sdk/storage/azblob/internal/exported/session_policy.go
  sdk/storage/azblob/internal/exported/session_policy_test.go
  sdk/storage/azblob/internal/shared/shared_test.go
  sdk/storage/azdatalake/common.go
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_session_test.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/service/client.go
Due: eng/pipelines/pullrequest.yml

docs(azcosmos): record Option C as the selected distribution model
  sdk/data/azcosmos/docs/go-ffi-distribution-design.md
Due: none

App Configuration - Descriptions (#27247)
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/assets.json
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/constants.go
  sdk/data/azappconfig/examples_test.go
  sdk/data/azappconfig/options.go
  sdk/data/azappconfig/setting.go
  sdk/data/azappconfig/setting_selector.go
  sdk/data/azappconfig/snapshot.go
  sdk/data/azappconfig/utils_test.go
Due: eng/pipelines/pullrequest.yml

docs(azcosmos): elaborate Option C layout; make Option B high-level
  sdk/data/azcosmos/docs/go-ffi-distribution-design.md
Due: none

Update CHANGELOG.md
  sdk/resourcemanager/edgezones/armedgezones/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[azcore] support relative next link when paging
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/pager.go
  sdk/azcore/runtime/pager_test.go
Due: eng/pipelines/pullrequest.yml

[Storage] Add structured message upload validation to azfile
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/fileerror/error_codes.go
  sdk/storage/azfile/internal/exported/transfer_validation_option.go
  sdk/storage/azfile/internal/generated/models.go
Due: eng/pipelines/pullrequest.yml

[Storage] Add structured message infrastructure to azfile
  sdk/storage/azfile/internal/shared/structured_message.go
  sdk/storage/azfile/internal/shared/structured_message_test.go
Due: eng/pipelines/pullrequest.yml

[Storage] Add structured message download validation to azfile
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/file/responses.go
Due: eng/pipelines/pullrequest.yml

[Storage] Add structured message infrastructure to azdatalake
  sdk/storage/azdatalake/internal/shared/structured_message.go
  sdk/storage/azdatalake/internal/shared/structured_message_test.go
Due: eng/pipelines/pullrequest.yml

[Storage] Fix SMEncode segment overflow, SMDecoder error wrapping and length validation
  sdk/storage/azfile/internal/shared/structured_message.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
