Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Update sdk/messaging/eventgrid/azsystemevents/internal/generate/generate.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate.go
Due: eng/pipelines/pullrequest.yml

Used the incorrect version there.
  sdk/messaging/eventgrid/azsystemevents/version.go
Due: eng/pipelines/pullrequest.yml

initial testing changes
  sdk/data/azcosmos/emulator_cosmos_read_many_items_test.go
  sdk/data/azcosmos/internal/mock_query_engine.go
Due: none

[azsystemevents] Remove gopls (#25555)
  sdk/messaging/eventgrid/azsystemevents/build.go
  sdk/messaging/eventgrid/azsystemevents/go.mod
  sdk/messaging/eventgrid/azsystemevents/go.sum
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate_constants.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate_test.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/regex_helpers.go
  sdk/messaging/eventgrid/azsystemevents/internal/gopls/gopls.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/testdata/_metadata.json
  sdk/messaging/eventgrid/azsystemevents/time_rfc1123.go
  sdk/messaging/eventgrid/azsystemevents/time_rfc3339.go
  sdk/messaging/eventgrid/azsystemevents/version.go
Due: eng/pipelines/pullrequest.yml

add code
  sdk/resourcemanager/resourceconnector/armresourceconnector/CHANGELOG.md
  sdk/resourcemanager/resourceconnector/armresourceconnector/appliances_client.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/appliances_client_example_test.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/autorest.md
  sdk/resourcemanager/resourceconnector/armresourceconnector/build.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/client_factory.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/constants.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/fake/appliances_server.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/fake/internal.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/fake/server_factory.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/fake/time_rfc3339.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/go.mod
  sdk/resourcemanager/resourceconnector/armresourceconnector/go.sum
  sdk/resourcemanager/resourceconnector/armresourceconnector/models.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/models_serde.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/options.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/responses.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/testdata/_metadata.json
  sdk/resourcemanager/resourceconnector/armresourceconnector/time_rfc3339.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/tsp-location.yaml
  sdk/resourcemanager/resourceconnector/armresourceconnector/version.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/keyvault/armkeyvault/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/vaults_client_example_test.go
Due: eng/pipelines/pullrequest.yml

Add Allow Tentative Writes Header (#25127)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_policy.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/cosmos_http_constants.go
Due: none

Lower the bar for now, so we can still use the live pipelines for useful information.
  eng/config.json
Due: eng/pipelines/pullrequest.yml

add retract
  sdk/resourcemanager/keyvault/armkeyvault/go.mod
  sdk/resourcemanager/keyvault/armkeyvault/version.go
Due: eng/pipelines/pullrequest.yml

add tests and react to comments
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/internal/mock_query_engine.go
Due: none

refactor to share code between query and read many
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_container_read_many.go
Due: none

edit version used
  sdk/resourcemanager/keyvault/armkeyvault/fake/keys_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/managedhsmkeys_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/managedhsms_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/mhsmprivateendpointconnections_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/mhsmprivatelinkresources_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/mhsmregions_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/operations_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/privateendpointconnections_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/privatelinkresources_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/secrets_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/vaults_server.go
  sdk/resourcemanager/keyvault/armkeyvault/go.mod
  sdk/resourcemanager/keyvault/armkeyvault/keys_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/keys_client_live_test.go
  sdk/resourcemanager/keyvault/armkeyvault/managedhsmkeys_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/managedhsms_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/mhsmprivateendpointconnections_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/mhsmprivatelinkresources_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/mhsmregions_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/operations_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/privatelinkresources_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/secrets_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/secrets_client_live_test.go
  sdk/resourcemanager/keyvault/armkeyvault/vaults_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/vaults_client_live_test.go
Due: eng/pipelines/pullrequest.yml

react to comments, reverted some changes
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
Due: none

readd log
  sdk/data/azcosmos/cosmos_container_query_engine.go
Due: none

update changelog
  sdk/resourcemanager/keyvault/armkeyvault/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Prep azcore@v1.20.0
  sdk/azcore/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

fix analyze
  sdk/data/azcosmos/emulator_cosmos_read_many_items_test.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
Due: none

Prep azcore@v1.20.0 (#25563)
  sdk/azcore/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[azopenai] Lower the bar for now, so we can still use the live pipelines for useful information. (#25560)
  eng/config.json
Due: eng/pipelines/pullrequest.yml

Increment package version after release of azcore
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

azcosmos: prep changelog for 1.5.0-beta.3 release
  sdk/data/azcosmos/CHANGELOG.md
Due: none

correct beta 2 release date
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Fix AzureCLICredential argument quoting on Windows (#25533)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/developer_credential_util.go
  sdk/azidentity/developer_credential_util_nonwindows.go
  sdk/azidentity/developer_credential_util_windows.go
Due: eng/pipelines/pullrequest.yml

Updating to use openai-go/v3.
  sdk/ai/azopenai/CHANGELOG.md
  sdk/ai/azopenai/MIGRATION.md
  sdk/ai/azopenai/README.md
  sdk/ai/azopenai/assets.json
  sdk/ai/azopenai/client_audio_test.go
  sdk/ai/azopenai/client_chat_completions_extensions_test.go
  sdk/ai/azopenai/client_chat_completions_test.go
  sdk/ai/azopenai/client_completions_test.go
  sdk/ai/azopenai/client_embeddings_test.go
  sdk/ai/azopenai/client_functions_test.go
  sdk/ai/azopenai/client_rai_test.go
  sdk/ai/azopenai/client_responses_test.go
  sdk/ai/azopenai/client_shared_test.go
  sdk/ai/azopenai/custom_client_image_test.go
  sdk/ai/azopenai/custom_errors.go
  sdk/ai/azopenai/example_audio_test.go
  sdk/ai/azopenai/example_azure_auth_methods_test.go
  sdk/ai/azopenai/example_azure_content_filtering_test.go
  sdk/ai/azopenai/example_azure_on_your_data_test.go
  sdk/ai/azopenai/example_chat_completions_vision_test.go
  sdk/ai/azopenai/example_chatcompletions_test.go
  sdk/ai/azopenai/example_common_test.go
  sdk/ai/azopenai/example_createimage_test.go
  sdk/ai/azopenai/example_deepseek_r1_chat_test.go
  sdk/ai/azopenai/example_embeddings_test.go
  sdk/ai/azopenai/example_legacy_completions_test.go
  sdk/ai/azopenai/example_responses_api_test.go
  sdk/ai/azopenai/go.mod
  sdk/ai/azopenai/go.sum
  sdk/ai/azopenai/helpers_requests.go
  sdk/ai/azopenai/helpers_responses.go
  sdk/ai/azopenai/main_test.go
  sdk/ai/azopenai/version.go
Due: eng/pipelines/pullrequest.yml

pats => parts
  sdk/ai/azopenai/client_shared_test.go
Due: eng/pipelines/pullrequest.yml

Update sdk/ai/azopenai/client_shared_test.go
  sdk/ai/azopenai/client_shared_test.go
Due: eng/pipelines/pullrequest.yml

Add ability to skip onboarding legacy moniker to Update-DocsMsPackages.ps1 (#25561)
  eng/common/scripts/Update-DocsMsPackages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fixing some broken URLs
  sdk/ai/azopenai/MIGRATION.md
  sdk/ai/azopenai/README.md
Due: eng/pipelines/pullrequest.yml

add reference doc for adding client customizations in TypeSpec
  eng/common/knowledge/customizing-client-tsp.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Don't load the .env file if the variables are already in the environment.
  sdk/ai/azopenai/client_shared_test.go
Due: eng/pipelines/pullrequest.yml

Update CODEOWNERS with new entries and modifications
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update readme.md
  sdk/resourcemanager/keyvault/armkeyvault/README.md
  sdk/resourcemanager/keyvault/armkeyvault/go.mod
Due: eng/pipelines/pullrequest.yml

I picked the _one_ variable that's old in my .env file and not actually outputted from in CI. Fixed to use one that is.
  sdk/ai/azopenai/client_shared_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/iothub/armiothub/2.0.0-beta.1 generation from spec commit: 0eb1d5347c69e4138cde6d74e58a98eedcd889b0
  sdk/resourcemanager/iothub/armiothub/CHANGELOG.md
  sdk/resourcemanager/iothub/armiothub/README.md
  sdk/resourcemanager/iothub/armiothub/autorest.md
  sdk/resourcemanager/iothub/armiothub/certificates_client.go
  sdk/resourcemanager/iothub/armiothub/certificates_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/client.go
  sdk/resourcemanager/iothub/armiothub/client_example_test.go
  sdk/resourcemanager/iothub/armiothub/client_factory.go
  sdk/resourcemanager/iothub/armiothub/constants.go
  sdk/resourcemanager/iothub/armiothub/fake/certificates_server.go
  sdk/resourcemanager/iothub/armiothub/fake/internal.go
  sdk/resourcemanager/iothub/armiothub/fake/operations_server.go
  sdk/resourcemanager/iothub/armiothub/fake/privateendpointconnections_server.go
  sdk/resourcemanager/iothub/armiothub/fake/privatelinkresources_server.go
  sdk/resourcemanager/iothub/armiothub/fake/resource_server.go
  sdk/resourcemanager/iothub/armiothub/fake/resourceprovidercommon_server.go
  sdk/resourcemanager/iothub/armiothub/fake/server.go
  sdk/resourcemanager/iothub/armiothub/fake/server_factory.go
  sdk/resourcemanager/iothub/armiothub/fake/time_rfc1123.go
  sdk/resourcemanager/iothub/armiothub/fake/time_rfc3339.go
  sdk/resourcemanager/iothub/armiothub/go.mod
  sdk/resourcemanager/iothub/armiothub/go.sum
  sdk/resourcemanager/iothub/armiothub/iothub_live_test.go
  sdk/resourcemanager/iothub/armiothub/models.go
  sdk/resourcemanager/iothub/armiothub/models_serde.go
  sdk/resourcemanager/iothub/armiothub/operations_client.go
  sdk/resourcemanager/iothub/armiothub/operations_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/options.go
  sdk/resourcemanager/iothub/armiothub/privateendpointconnections_client.go
  sdk/resourcemanager/iothub/armiothub/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/privatelinkresources_client.go
  sdk/resourcemanager/iothub/armiothub/privatelinkresources_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/resource_client.go
  sdk/resourcemanager/iothub/armiothub/resource_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/resourceprovidercommon_client.go
  sdk/resourcemanager/iothub/armiothub/resourceprovidercommon_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/responses.go
  sdk/resourcemanager/iothub/armiothub/time_rfc1123.go
  sdk/resourcemanager/iothub/armiothub/time_rfc3339.go
  sdk/resourcemanager/iothub/armiothub/version.go
Due: eng/pipelines/pullrequest.yml
