Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Adding tests for create permission in uds for put block, put block from url and put block list
  sdk/storage/azblob/blockblob/client_test.go
Due: eng/pipelines/pullrequest.yml

Copilot hook script to collect user prompt telemetry
  eng/common/scripts/azsdk_prompt_telemetry.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Apply suggestions from code review
  eng/common/scripts/azsdk_prompt_telemetry.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update as per review suggestions
  eng/common/scripts/azsdk_prompt_telemetry.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

directory level SAS for blob fns
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/sas/service_test.go
  sdk/storage/azdatalake/sas/service.go
  sdk/storage/azdatalake/sas/service_test.go
Due: eng/pipelines/pullrequest.yml

Bump release date for azcore
  sdk/azcore/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Increment package version after release of azcore
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of data/azappconfig
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/version.go
Due: eng/pipelines/pullrequest.yml

run tests in playback mode
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/service/client_test.go
Due: eng/pipelines/pullrequest.yml

resolve comments
  .github/workflows/mgmt-review.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

adding tags in azdatalake
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/directory/models.go
  sdk/storage/azdatalake/directory/responses.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/responses.go
  sdk/storage/azdatalake/internal/exported/access_conditions.go
  sdk/storage/azdatalake/internal/path/models.go
  sdk/storage/azdatalake/internal/path/responses.go
  sdk/storage/azdatalake/sas/service.go
  sdk/storage/azdatalake/sas/service_test.go
Due: eng/pipelines/pullrequest.yml

adding tests
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client_test.go
Due: eng/pipelines/pullrequest.yml

fix tests
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/directory/models.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/file/models.go
Due: eng/pipelines/pullrequest.yml

adding recordings
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client_test.go
Due: eng/pipelines/pullrequest.yml

run tests in playback mode as datalake tags is not GA yet
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client_test.go
Due: eng/pipelines/pullrequest.yml

adding changelog
  sdk/storage/azdatalake/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Update azotel dependencies
  sdk/tracing/azotel/go.mod
  sdk/tracing/azotel/go.sum
Due: eng/pipelines/pullrequest.yml

Add Issue triage
  .gitattributes
  .github/aw/actions-lock.json
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add a bit more to triage checks
  .github/aw/actions-lock.json
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

PR feedback
  .github/workflows/issue-triage.lock.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove cosmos filter from pullrequest build definition
  eng/pipelines/pullrequest.yml
  sdk/data/azcosmos/.trigger-test
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove the additional test file testing triggers
  sdk/data/azcosmos/.trigger-test
Due: none

Update CHANGELOG.md
  sdk/resourcemanager/compute/armcompute/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

create file with data
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/directory/client_test.go
  sdk/storage/azfile/directory/constants.go
  sdk/storage/azfile/directory/models.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/models.go
Due: eng/pipelines/pullrequest.yml

adding changelog
  sdk/storage/azfile/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

updating changelog for azblob, azfile and azqueue
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azqueue/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

updating changelog for azdatalake release
  sdk/storage/azdatalake/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

updating azblob dependencies
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

updating azfile dependency
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
Due: eng/pipelines/pullrequest.yml
