Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      ServiceDirectory: ${{ parameters.Service }}

Initialize azure sdk MCP conventions/automation
  eng/common/mcp/README.md
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

use working directory in eng\common\pipelines\templates\steps\save-package-properties.yml (#24528)
  eng/common/pipelines/templates/steps/save-package-properties.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/carbonoptimization/armcarbonoptimization/0.1.0 (#24481)
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/CHANGELOG.md
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/LICENSE.txt
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/README.md
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/carbonservice_client.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/carbonservice_client_example_test.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/ci.yml
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/client_factory.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/constants.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/date_type.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/fake/carbonservice_server.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/fake/date_type.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/fake/internal.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/fake/operations_server.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/fake/polymorphic_helpers.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/fake/server_factory.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/go.mod
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/go.sum
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/interfaces.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/models.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/models_serde.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/operations_client.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/operations_client_example_test.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/options.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/polymorphic_helpers.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/responses.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

add responses samples
  sdk/ai/azopenai/example_responses_api_test.go
Due: eng/pipelines/pullrequest.yml

update changelog
  sdk/ai/azopenai/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

formatting fix
  sdk/ai/azopenai/example_responses_api_test.go
Due: eng/pipelines/pullrequest.yml

Fix typo for workingDirectory
  eng/common/pipelines/templates/steps/save-package-properties.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add responses API samples (#24529)
  sdk/ai/azopenai/CHANGELOG.md
  sdk/ai/azopenai/example_responses_api_test.go
Due: eng/pipelines/pullrequest.yml

Fix typo for workingDirectory (#24530)
  eng/common/pipelines/templates/steps/save-package-properties.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update CHANGELOG.md for release
  sdk/storage/azqueue/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azdatalake
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

changelog update for 1.4.0
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Sync eng/common directory with azure-sdk-tools for PR 10467 (#24527)
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Change LogWarning to LogInfo
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10482 (#24534)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[azquery] update metrics API version (#24476)
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/README.md
  sdk/monitor/azquery/assets.json
  sdk/monitor/azquery/autorest.md
  sdk/monitor/azquery/build.go
  sdk/monitor/azquery/cloud_config.go
  sdk/monitor/azquery/constants.go
  sdk/monitor/azquery/custom_client.go
  sdk/monitor/azquery/example_test.go
  sdk/monitor/azquery/logs_client.go
  sdk/monitor/azquery/logs_client_test.go
  sdk/monitor/azquery/metrics_client.go
  sdk/monitor/azquery/metrics_client_test.go
  sdk/monitor/azquery/metricsbatch_client.go
  sdk/monitor/azquery/metricsbatch_client_test.go
  sdk/monitor/azquery/models.go
  sdk/monitor/azquery/models_serde.go
  sdk/monitor/azquery/options.go
  sdk/monitor/azquery/responses.go
  sdk/monitor/azquery/test-resources.bicep
  sdk/monitor/azquery/time_rfc3339.go
  sdk/monitor/azquery/utils_test.go
  sdk/monitor/azquery/version.go
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10470 (#24535)
  eng/common/mcp/README.md
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Cosmos changelog update for 1.4.0 (#24532)
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Update Github Event Processor version number (#24533)
  .github/workflows/scheduled-event-processor.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update CODEOWNERS for Durable Task Scheduler service label
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10508 (#24540)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add responses api tests
  sdk/ai/azopenai/assets.json
  sdk/ai/azopenai/client_responses_test.go
Due: eng/pipelines/pullrequest.yml

fix formatting issues
  sdk/ai/azopenai/client_responses_test.go
  sdk/ai/azopenai/client_shared_test.go
Due: eng/pipelines/pullrequest.yml

add sample image
  sdk/ai/azopenai/testdata/sampleimage_two_deers.jpg
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/storage/azqueue/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[Storage] [azqueue] Prep for release - azqueue - v1.0.1 (#24542)
  sdk/storage/azqueue/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

First preview of azbatch module (#24175)
  eng/config.json
  sdk/batch/azbatch/CHANGELOG.md
  sdk/batch/azbatch/LICENSE.txt
  sdk/batch/azbatch/README.md
  sdk/batch/azbatch/assets.json
  sdk/batch/azbatch/build.go
  sdk/batch/azbatch/ci.yml
  sdk/batch/azbatch/client.go
  sdk/batch/azbatch/client_test.go
  sdk/batch/azbatch/constants.go
  sdk/batch/azbatch/custom_client.go
  sdk/batch/azbatch/example_test.go
  sdk/batch/azbatch/go.mod
  sdk/batch/azbatch/go.sum
  sdk/batch/azbatch/models.go
  sdk/batch/azbatch/models_serde.go
  sdk/batch/azbatch/options.go
  sdk/batch/azbatch/responses.go
  sdk/batch/azbatch/test-resources.bicep
  sdk/batch/azbatch/testdata/transform.go
  sdk/batch/azbatch/time_rfc3339.go
  sdk/batch/azbatch/tsp-location.yaml
  sdk/batch/azbatch/utils_test.go
  sdk/batch/azbatch/version.go
Due: eng/pipelines/pullrequest.yml

Update DefaultAzureCredentialOptions docs
  sdk/azidentity/default_azure_credential.go
Due: eng/pipelines/pullrequest.yml

Update release date.
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Disabling sanitizer to enable chaining.
  sdk/ai/azopenai/client_responses_test.go
Due: eng/pipelines/pullrequest.yml

Update DefaultAzureCredentialOptions docs (#24543)
  sdk/azidentity/default_azure_credential.go
Due: eng/pipelines/pullrequest.yml

update emitter
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove UsernamePasswordCredential docs
  sdk/azidentity/TOKEN_CACHING.MD
  sdk/azidentity/TROUBLESHOOTING.md
  sdk/azidentity/environment_credential.go
  sdk/azidentity/errors.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azqueue
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of data/azcosmos
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
