Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Added test for combined session data locality, some updates for tests that are too big
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client_layout_session_test.go
  sdk/storage/azblob/blob/client_test.go
Due: eng/pipelines/pullrequest.yml

re-recorded, fixed some tests
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client_test.go
Due: eng/pipelines/pullrequest.yml

go fmt
  sdk/storage/azblob/blob/client_layout_session_test.go
Due: eng/pipelines/pullrequest.yml

test: cover connection-scoped not-allowed recovery
  sdk/messaging/azservicebus/internal/errors_test.go
  sdk/messaging/azservicebus/receiver_simulated_test.go
  sdk/messaging/azservicebus/sender_unit_test.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): recover connection-scoped not-allowed errors
  sdk/messaging/azservicebus/internal/amqpLinks.go
  sdk/messaging/azservicebus/internal/errors.go
  sdk/messaging/azservicebus/internal/utils/retrier.go
  sdk/messaging/azservicebus/receiver.go
Due: eng/pipelines/pullrequest.yml

changelog issue
  sdk/storage/azblob/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

test: stabilize service bus recovery tests
  sdk/messaging/azservicebus/receiver_simulated_test.go
  sdk/messaging/azservicebus/sender_unit_test.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): restore retry delay behavior
  sdk/messaging/azservicebus/internal/utils/retrier.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): preserve credit errors during receive
  sdk/messaging/azservicebus/receiver.go
  sdk/messaging/azservicebus/receiver_unit_test.go
Due: eng/pipelines/pullrequest.yml

test: keep credit error regression red
  sdk/messaging/azservicebus/receiver_unit_test.go
Due: eng/pipelines/pullrequest.yml

Added warning for failure to opt into sessions by default and user bearer token
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/exported/log_events.go
  sdk/storage/azblob/log.go
Due: eng/pipelines/pullrequest.yml

Updated session provider to disallow restype and structured body
  sdk/storage/azblob/internal/base/session_provider_container.go
  sdk/storage/azblob/internal/base/session_provider_container_test.go
  sdk/storage/azblob/internal/shared/shared.go
Due: eng/pipelines/pullrequest.yml

304 review comment
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/internal/generated/custom_client.go
  sdk/data/azappconfig/internal/generated/custom_client_test.go
Due: eng/pipelines/pullrequest.yml

Update management-plane PR review agentic workflow (#27325)
  .github/aw/actions-lock.json
  .github/workflows/mgmt-review.lock.yml
  .github/workflows/mgmt-review.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Potential fix for pull request finding
  sdk/resourcemanager/edgezones/armedgezones/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Revert stray assets.json change, guard DecodeResult on error state
  sdk/storage/azblob/assets.json
  sdk/storage/internal/structuredmsg/structured_message.go
Due: eng/pipelines/pullrequest.yml

Fix CI: resolve errcheck lint failures and stale test recordings
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blockblob/client_test.go
Due: eng/pipelines/pullrequest.yml

Add unit tests for streams.ValidateSeekableStreamAt0AndGetCount
  sdk/storage/internal/streams/streams_test.go
Due: eng/pipelines/pullrequest.yml

[Storage] Add sdk/storage/internal shared module (#27437)
  sdk/storage/internal/CHANGELOG.md
  sdk/storage/internal/LICENSE.txt
  sdk/storage/internal/README.md
  sdk/storage/internal/doc.go
  sdk/storage/internal/go.mod
  sdk/storage/internal/go.sum
  sdk/storage/internal/streams/streams.go
  sdk/storage/internal/streams/streams_test.go
  sdk/storage/internal/structuredmsg/structured_message.go
  sdk/storage/internal/structuredmsg/structured_message_test.go
  sdk/storage/internal/version.go
Due: eng/pipelines/pullrequest.yml

log always when session cant be enabled
  sdk/storage/azblob/internal/base/clients.go
Due: eng/pipelines/pullrequest.yml

Add code coverage rendering for storage CI (#27412)
  eng/pipelines/templates/steps/build-test.yml
  eng/scripts/test.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Updating API Spec to released one
  sdk/data/azappconfig/internal/generated/zz_constants.go
  sdk/data/azappconfig/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Added support for data locality (#27352)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_layout_session_test.go
  sdk/storage/azblob/blob/client_layout_test.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/layout.go
  sdk/storage/azblob/blob/layout_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/exported/session.go
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_models_serde.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_responses.go
  sdk/storage/azblob/internal/shared/layout_policy.go
  sdk/storage/azblob/internal/shared/layout_policy_test.go
  sdk/storage/azblob/pageblob/client.go
Due: eng/pipelines/pullrequest.yml

Updates to session provider and error handling (#27451)
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/base/session_provider_container.go
  sdk/storage/azblob/internal/base/session_provider_container_test.go
  sdk/storage/azblob/internal/exported/log_events.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/log.go
Due: eng/pipelines/pullrequest.yml

Enhance azblob perf tests with OAuth, parallel setup, and profiling (#27324)
  sdk/internal/perf/README.md
  sdk/internal/perf/call_type_latency.go
  sdk/internal/perf/coverage_edges_test.go
  sdk/internal/perf/implementation.go
  sdk/internal/perf/latency_stats.go
  sdk/internal/perf/operation_result.go
  sdk/internal/perf/perf.go
  sdk/internal/perf/perf_options_test.go
  sdk/internal/perf/perf_runner.go
  sdk/internal/perf/profile.go
  sdk/internal/perf/profile_test.go
  sdk/internal/perf/proxy_edges_test.go
  sdk/internal/perf/proxy_lifecycle_test.go
  sdk/internal/perf/recording.go
  sdk/internal/perf/reservoir.go
  sdk/internal/perf/result_output.go
  sdk/internal/perf/runner_lifecycle_test.go
  sdk/internal/perf/runner_output_test.go
  sdk/internal/perf/workload_config_test.go
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/testdata/perf/.gitignore
  sdk/storage/azblob/testdata/perf/download_blob.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azblob/testdata/perf/harness_lifecycle_test.go
  sdk/storage/azblob/testdata/perf/list_blobs.go
  sdk/storage/azblob/testdata/perf/list_blobs_test.go
  sdk/storage/azblob/testdata/perf/registration_test.go
  sdk/storage/azblob/testdata/perf/shared.go
  sdk/storage/azblob/testdata/perf/shared_test.go
  sdk/storage/azblob/testdata/perf/transfer_test.go
  sdk/storage/azblob/testdata/perf/upload_blob.go
Due: eng/pipelines/pullrequest.yml

Apply suggestion from @kazrael2119
  sdk/resourcemanager/resources/armdeployments/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Bump gh-aw to v0.86.2 for mgmt review workflow
  .github/aw/actions-lock.json
  .github/workflows/mgmt-review.lock.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Bump gh-aw to v0.86.2 for mgmt review workflow (#27460)
  .github/aw/actions-lock.json
  .github/workflows/mgmt-review.lock.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix(azservicebus): guard retry cleanup by link ID
  sdk/messaging/azservicebus/internal/amqpLinks.go
  sdk/messaging/azservicebus/internal/amqplinks_unit_test.go
Due: eng/pipelines/pullrequest.yml

azcosmos: take the item id on CreateItem, and align the content-response option
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/container_client_item.go
  sdk/data/azcosmos/container_client_item_test.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/operation_options.go
Due: none

azcosmos: add ReadItem and CreateItem (#27336)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/container_client_item.go
  sdk/data/azcosmos/container_client_item_test.go
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/errors.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
  sdk/data/azcosmos/operation_options.go
  sdk/data/azcosmos/read_consistency_strategy.go
Due: none

test(azservicebus): cover partial not-allowed receive
  sdk/messaging/azservicebus/receiver_simulated_test.go
Due: eng/pipelines/pullrequest.yml

Update examples_test.go
  sdk/data/azappconfig/examples_test.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): guard namespace cleanup by connection ID
  sdk/messaging/azservicebus/internal/amqpLinks.go
  sdk/messaging/azservicebus/internal/amqpLinks_test.go
  sdk/messaging/azservicebus/internal/amqp_test_utils.go
  sdk/messaging/azservicebus/internal/mock/mock_namespace.go
  sdk/messaging/azservicebus/internal/namespace.go
Due: eng/pipelines/pullrequest.yml

Apply suggestion from @kazrael2119
  sdk/resourcemanager/redisenterprise/armredisenterprise/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Update emitter-package-lock.json
  eng/emitter-package-lock.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Upgrade TypeSpec Go emitter dependencies (#27466)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[azwebpubsub] Fix GenerateClientAccessURL on the TokenCredential path (#27422)
  sdk/messaging/azwebpubsub/CHANGELOG.md
  sdk/messaging/azwebpubsub/client_custom.go
  sdk/messaging/azwebpubsub/client_custom_test.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
