Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

fix: respect context deadline for next session accepts (#27594)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/client.go
  sdk/messaging/azservicebus/receiver_simulated_test.go
  sdk/messaging/azservicebus/session_receiver.go
  sdk/messaging/azservicebus/session_receiver_test.go
  sdk/messaging/azservicebus/session_receiver_unit_test.go
Due: eng/pipelines/pullrequest.yml

azcosmos: document proximity coverage gaps
  sdk/data/azcosmos/routing_strategy.go
  sdk/data/azcosmos/routing_strategy_test.go
Due: none

azcosmos: add package spelling vocabulary
  .vscode/cspell.json
  sdk/data/azcosmos/cspell.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Deprecate sdk/resourcemanager/astro/armastro (Astronomer.Astro retirement) (#27566)
  sdk/resourcemanager/astro/armastro/CHANGELOG.md
  sdk/resourcemanager/astro/armastro/MIGRATION.md
  sdk/resourcemanager/astro/armastro/README.md
  sdk/resourcemanager/astro/armastro/constants.go
  sdk/resourcemanager/astro/armastro/go.mod
Due: eng/pipelines/pullrequest.yml

Add repository access guidance to deprecation guide
  documentation/development/breaking-changes/deprecation-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Allow deletion of resources that dont have prefix, Ensure all locks are found and removed before attempting delete
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Simplify deprecation message in client.go
  services/azureadexternalidentities/mgmt/2021-04-01/azureadexternalidentities/client.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update storage CODEOWNERS: add Gunjan Singh, remove Sourav Gupta
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azcosmos: address routing review feedback
  sdk/data/azcosmos/cspell.json
  sdk/data/azcosmos/routing_strategy.go
  sdk/data/azcosmos/routing_strategy_test.go
Due: none

Fixed SAS issue in all clients
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/filesystem/client_test.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/queue_client.go
  sdk/storage/azqueue/queue_client_test.go
  sdk/storage/azqueue/service_client.go
  sdk/storage/azqueue/service_client_test.go
Due: eng/pipelines/pullrequest.yml

azcosmos: mark internal logging dependency direct
  sdk/data/azcosmos/go.mod
Due: none

fixed dir client tests
  sdk/storage/azdatalake/directory/client_test.go
Due: eng/pipelines/pullrequest.yml

go fmt
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azqueue/queue_client_test.go
  sdk/storage/azqueue/service_client_test.go
Due: eng/pipelines/pullrequest.yml

user delgation test
  sdk/storage/azblob/blob/client_test.go
Due: eng/pipelines/pullrequest.yml

address service client comments
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azqueue/service_client.go
  sdk/storage/azqueue/service_client_test.go
Due: eng/pipelines/pullrequest.yml

azcosmos: implement proximity routing (#27589)
  .vscode/cspell.json
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/ci.yml
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/convert_native_test.go
  sdk/data/azcosmos/cspell.json
  sdk/data/azcosmos/emulator_test.go
  sdk/data/azcosmos/errors_test.go
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/internal/generate/regionproximity/main.go
  sdk/data/azcosmos/internal/generate/regionproximity/main_test.go
  sdk/data/azcosmos/internal/testdata/emulator-config.json
  sdk/data/azcosmos/region_proximity.go
  sdk/data/azcosmos/routing_strategy.go
  sdk/data/azcosmos/routing_strategy_test.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Deprecate armweightsandbiases (#27560)
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/CHANGELOG.md
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/MIGRATION.md
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/README.md
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/go.mod
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/version.go
Due: eng/pipelines/pullrequest.yml

test(azservicebus): stabilize session timeout coverage
  sdk/messaging/azservicebus/client_test.go
  sdk/messaging/azservicebus/receiver_simulated_test.go
  sdk/messaging/azservicebus/session_receiver_test.go
Due: eng/pipelines/pullrequest.yml

test(azservicebus): clean up cancellation context
  sdk/messaging/azservicebus/receiver_simulated_test.go
Due: eng/pipelines/pullrequest.yml

test(azservicebus): guard round-robin completion
  sdk/messaging/azservicebus/session_receiver_test.go
Due: eng/pipelines/pullrequest.yml

Update storage CODEOWNERS: add Gunjan Singh, remove Sourav Gupta (#27607)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Optimize small blob downloads by replacing GetProperties with initial GetBlob (#27438)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_layout_test.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/utils_test.go
  sdk/storage/azblob/blockblob/client_test.go
Due: eng/pipelines/pullrequest.yml

Session support for GetBlobProperties, PutBlob, PutBlock and PutBlockList
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_layout_session_apis_test.go
  sdk/storage/azblob/blob/client_session_apis_test.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/blob/retry_reader_layout_test.go
  sdk/storage/azblob/internal/base/session_provider_container.go
  sdk/storage/azblob/internal/base/session_provider_container_test.go
  sdk/storage/azblob/internal/shared/shared.go
Due: eng/pipelines/pullrequest.yml

Refine Platform Validation service name in Go README
  sdk/resourcemanager/platformvalidation/armplatformvalidation/README.md
Due: eng/pipelines/pullrequest.yml

Fix Cosmos v2 emulator assertions
  sdk/data/azcosmos/emulator_test.go
Due: none

Allow unbilled emulator not-found reads
  sdk/data/azcosmos/emulator_test.go
Due: none

Add Cosmos v2 item write operations
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cgo_native.go
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/container_client_item.go
  sdk/data/azcosmos/container_client_item_test.go
  sdk/data/azcosmos/convert_native.go
  sdk/data/azcosmos/convert_native_test.go
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/emulator_test.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/item_request.go
  sdk/data/azcosmos/operation_native.go
  sdk/data/azcosmos/operation_options.go
  sdk/data/azcosmos/patch_operations.go
  sdk/data/azcosmos/patch_operations_test.go
Due: none

Validate Cosmos patch path encoding
  sdk/data/azcosmos/patch_operations.go
  sdk/data/azcosmos/patch_operations_test.go
Due: none

Expose Cosmos patch execution strategy
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cgo_native.go
  sdk/data/azcosmos/container_client_item.go
  sdk/data/azcosmos/container_client_item_test.go
  sdk/data/azcosmos/convert_native.go
  sdk/data/azcosmos/convert_native_test.go
  sdk/data/azcosmos/emulator_test.go
  sdk/data/azcosmos/item_request.go
  sdk/data/azcosmos/operation_native.go
  sdk/data/azcosmos/patch_operations.go
  sdk/data/azcosmos/patch_strategy.go
Due: none

Clarify preview patch behavior
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/container_client_item.go
  sdk/data/azcosmos/emulator_test.go
  sdk/data/azcosmos/patch_operations.go
  sdk/data/azcosmos/patch_operations_test.go
  sdk/data/azcosmos/patch_strategy.go
Due: none

Clean up Cosmos emulator test items
  sdk/data/azcosmos/emulator_test.go
Due: none

Simplify deprecation message in client.go (#27603)
  services/azureadexternalidentities/mgmt/2021-04-01/azureadexternalidentities/client.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azcosmos: add remaining point item operations (#27597)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cgo_native.go
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/container_client_item.go
  sdk/data/azcosmos/container_client_item_test.go
  sdk/data/azcosmos/convert_native.go
  sdk/data/azcosmos/convert_native_test.go
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/emulator_test.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/item_request.go
  sdk/data/azcosmos/operation_native.go
  sdk/data/azcosmos/operation_options.go
  sdk/data/azcosmos/patch_operations.go
  sdk/data/azcosmos/patch_operations_test.go
  sdk/data/azcosmos/patch_strategy.go
Due: none

Unmarshalling RFC7231 sets GMT time zone
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/runtime/datetime/RFC7231.go
  sdk/azcore/runtime/datetime/RFC7231_test.go
Due: eng/pipelines/pullrequest.yml

improve test
  sdk/azcore/runtime/datetime/RFC7231_test.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
