Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Add AAD scope changes
  sdk/azcore/cloud/cloud.go
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/emulator_cosmos_aad_test.go
Due: eng/pipelines/pullrequest.yml

Updated blob list_blobs test to work without connection strings
  sdk/storage/azblob/test-resources.json
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azblob/testdata/perf/list_blobs.go
Due: eng/pipelines/pullrequest.yml

Update test
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/emulator_cosmos_aad_test.go
Due: none

Increment package version after release of azidentity
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of azidentity (#25367)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Simplify WIC identity binding mode implementation (#25361)
  sdk/azidentity/internal/customtokenproxy/transport.go
  sdk/azidentity/internal/customtokenproxy/transport_test.go
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

Prepare azidentity v1.14.0-beta.1 for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Selecting ManagedIdentityCredential disables DefaultAzureCredential's IMDS probe
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
Due: eng/pipelines/pullrequest.yml

Selecting ManagedIdentityCredential disables DefaultAzureCredential's IMDS probe (#25368)
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
Due: eng/pipelines/pullrequest.yml

Prepare azidentity v1.14.0-beta.1 for release (#25369)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 12301 (#25354)
  eng/common/pipelines/templates/steps/set-vcpkg-cache-vars.yml
  eng/common/scripts/Set-VcpkgWriteModeCache.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of azidentity (#25372)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

rick feedback
  documentation/developer_setup.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 11692 (#25373)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove step
  eng/pipelines/templates/steps/build-test.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove beta references from azeventhubs package documentation (#25376)
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/README.md
  sdk/messaging/azeventhubs/checkpoints/doc.go
  sdk/messaging/azeventhubs/internal/constants.go
  sdk/messaging/azeventhubs/migrationguide.md
Due: eng/pipelines/pullrequest.yml

Update AAD scope code and cloud config.
  sdk/azcore/cloud/cloud.go
  sdk/data/azcosmos/cloud_config.go
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/emulator_cosmos_aad_test.go
Due: eng/pipelines/pullrequest.yml

Updates based on review comments.
  sdk/data/azcosmos/cloud_config.go
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/emulator_cosmos_aad_test.go
Due: none

Fix emulator tests
  sdk/data/azcosmos/emulator_cosmos_aad_test.go
Due: none

[Release] sdk/resourcemanager/durabletask/armdurabletask/1.0.0 generation from spec commit: 33a2135c8115465b292b71a521ea50c1cc336c8c (#25335)
  sdk/resourcemanager/durabletask/armdurabletask/CHANGELOG.md
  sdk/resourcemanager/durabletask/armdurabletask/constants.go
  sdk/resourcemanager/durabletask/armdurabletask/fake/time_rfc3339.go
  sdk/resourcemanager/durabletask/armdurabletask/go.mod
  sdk/resourcemanager/durabletask/armdurabletask/go.sum
  sdk/resourcemanager/durabletask/armdurabletask/models.go
  sdk/resourcemanager/durabletask/armdurabletask/operations_client.go
  sdk/resourcemanager/durabletask/armdurabletask/operations_client_example_test.go
  sdk/resourcemanager/durabletask/armdurabletask/retentionpolicies_client.go
  sdk/resourcemanager/durabletask/armdurabletask/retentionpolicies_client_example_test.go
  sdk/resourcemanager/durabletask/armdurabletask/schedulers_client.go
  sdk/resourcemanager/durabletask/armdurabletask/schedulers_client_example_test.go
  sdk/resourcemanager/durabletask/armdurabletask/taskhubs_client.go
  sdk/resourcemanager/durabletask/armdurabletask/taskhubs_client_example_test.go
  sdk/resourcemanager/durabletask/armdurabletask/testdata/_metadata.json
  sdk/resourcemanager/durabletask/armdurabletask/tsp-location.yaml
  sdk/resourcemanager/durabletask/armdurabletask/version.go
Due: eng/pipelines/pullrequest.yml

Fix tests
  sdk/data/azcosmos/emulator_cosmos_aad_test.go
Due: none

revert to Go 1.23.0
  sdk/resourcemanager/trustedsigning/armtrustedsigning/go.mod
  sdk/resourcemanager/trustedsigning/armtrustedsigning/go.sum
Due: eng/pipelines/pullrequest.yml

[AutoPR sdk-resourcemanager/trustedsigning/armtrustedsigning]-generated-from-SDK Generation - Go-5423452 (#25363)
  sdk/resourcemanager/trustedsigning/armtrustedsigning/CHANGELOG.md
  sdk/resourcemanager/trustedsigning/armtrustedsigning/certificateprofiles_client.go
  sdk/resourcemanager/trustedsigning/armtrustedsigning/certificateprofiles_client_example_test.go
  sdk/resourcemanager/trustedsigning/armtrustedsigning/codesigningaccounts_client.go
  sdk/resourcemanager/trustedsigning/armtrustedsigning/codesigningaccounts_client_example_test.go
  sdk/resourcemanager/trustedsigning/armtrustedsigning/go.mod
  sdk/resourcemanager/trustedsigning/armtrustedsigning/go.sum
  sdk/resourcemanager/trustedsigning/armtrustedsigning/models.go
  sdk/resourcemanager/trustedsigning/armtrustedsigning/models_serde.go
  sdk/resourcemanager/trustedsigning/armtrustedsigning/operations_client.go
  sdk/resourcemanager/trustedsigning/armtrustedsigning/operations_client_example_test.go
  sdk/resourcemanager/trustedsigning/armtrustedsigning/testdata/_metadata.json
  sdk/resourcemanager/trustedsigning/armtrustedsigning/tsp-location.yaml
  sdk/resourcemanager/trustedsigning/armtrustedsigning/version.go
Due: eng/pipelines/pullrequest.yml

Pass packageInfo parameter conditionally to Find-Language-Artifacts-For-Apireview
  eng/common/scripts/Detect-Api-Changes.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Use new parameter
  eng/common/scripts/Detect-Api-Changes.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

code clean up
  sdk/data/azcosmos/cloud_config.go
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/emulator_cosmos_aad_test.go
Due: none

code clean up
  sdk/data/azcosmos/cloud_config.go
Due: none

Increment package version after release of messaging/azeventhubs
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Due: eng/pipelines/pullrequest.yml

Removed instruction about private preview api
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update copilot instructions to support SDK generation before creating release plan
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add different language set for mgmt and dataplane
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix typespec tool reference
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix typespec tool reference (#25384)
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Adds a fallback mechanism to AAD scope override. (#25366)
  sdk/data/azcosmos/cloud_config.go
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/emulator_cosmos_aad_test.go
Due: none

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
