Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Update reset_npmrc (#26124)
  eng/common/pipelines/templates/steps/reset-npmrc.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 14377 (#26125)
  eng/common/pipelines/templates/steps/authenticate-temp-npmrc.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Upgrade @azure-tools/typespec-go emitter to 0.10.2 (#26128)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 14361 (#26122)
  eng/common/spelling/package-lock.json
  eng/common/tsp-client/package-lock.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Autogenerated AzAdmin SDK
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/backup/client.go
  sdk/security/keyvault/azadmin/backup/models_serde.go
  sdk/security/keyvault/azadmin/backup/time_unix.go
  sdk/security/keyvault/azadmin/backup/tsp-location.yaml
  sdk/security/keyvault/azadmin/build.go
  sdk/security/keyvault/azadmin/ekm/build.go
  sdk/security/keyvault/azadmin/ekm/fake/internal.go
  sdk/security/keyvault/azadmin/ekm/fake/keyvault_server.go
  sdk/security/keyvault/azadmin/ekm/keyvault_client.go
  sdk/security/keyvault/azadmin/ekm/models.go
  sdk/security/keyvault/azadmin/ekm/models_serde.go
  sdk/security/keyvault/azadmin/ekm/options.go
  sdk/security/keyvault/azadmin/ekm/responses.go
  sdk/security/keyvault/azadmin/ekm/testdata/_metadata.json
  sdk/security/keyvault/azadmin/ekm/tsp-location.yaml
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
  sdk/security/keyvault/azadmin/rbac/client.go
  sdk/security/keyvault/azadmin/rbac/testdata/_metadata.json
  sdk/security/keyvault/azadmin/rbac/tsp-location.yaml
  sdk/security/keyvault/azadmin/settings/client.go
  sdk/security/keyvault/azadmin/settings/testdata/_metadata.json
Due: eng/pipelines/pullrequest.yml

Autogenerated Keys SDK
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/client.go
  sdk/security/keyvault/azkeys/constants.go
  sdk/security/keyvault/azkeys/fake/internal.go
  sdk/security/keyvault/azkeys/fake/server.go
  sdk/security/keyvault/azkeys/go.mod
  sdk/security/keyvault/azkeys/go.sum
  sdk/security/keyvault/azkeys/models.go
  sdk/security/keyvault/azkeys/models_serde.go
  sdk/security/keyvault/azkeys/options.go
  sdk/security/keyvault/azkeys/responses.go
  sdk/security/keyvault/azkeys/testdata/_metadata.json
  sdk/security/keyvault/azkeys/time_unix.go
  sdk/security/keyvault/azkeys/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Added custom client
  sdk/security/keyvault/azadmin/ekm/custom_client.go
Due: eng/pipelines/pullrequest.yml

Added sample
  sdk/security/keyvault/azadmin/sample/go.mod
  sdk/security/keyvault/azadmin/sample/go.sum
  sdk/security/keyvault/azadmin/sample/sample.go
Due: eng/pipelines/pullrequest.yml

remove query-engine-based readmany support
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_read_many_request_options.go
  sdk/data/azcosmos/emulator_cosmos_read_many_items_test.go
  sdk/data/azcosmos/internal/mock/mock_query_engine.go
Due: none

Address review feedback: remove race flag, use tsp-client update
  AGENTS.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix typo: 'recieving' -> 'receiving' in README.md
  README.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

AGENTS.md: Change 'Each SDK module' to 'Most SDK modules'
  AGENTS.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

AGENTS.md: Remove incorrect stdlib reference from go.mod guidance
  AGENTS.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

AGENTS.md: Remove hard-coded 'Last Updated' date
  AGENTS.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add live tests, test utilities, CODEOWNERS, and assets.json for Discovery SDK
  .github/CODEOWNERS
  sdk/resourcemanager/discovery/armdiscovery/CHANGELOG.md
  sdk/resourcemanager/discovery/armdiscovery/LICENSE.txt
  sdk/resourcemanager/discovery/armdiscovery/README.md
  sdk/resourcemanager/discovery/armdiscovery/assets.json
  sdk/resourcemanager/discovery/armdiscovery/bookshelves_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/chatmodeldeployments_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/euap_policy_test.go
  sdk/resourcemanager/discovery/armdiscovery/fake/internal.go
  sdk/resourcemanager/discovery/armdiscovery/fake/server_factory.go
  sdk/resourcemanager/discovery/armdiscovery/fake_example_test.go
  sdk/resourcemanager/discovery/armdiscovery/go.mod
  sdk/resourcemanager/discovery/armdiscovery/go.sum
  sdk/resourcemanager/discovery/armdiscovery/nodepools_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/operations_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/privateendpoints_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/projects_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/storageassets_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/storagecontainers_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/supercomputers_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/testdata/_metadata.json
  sdk/resourcemanager/discovery/armdiscovery/tools_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/tsp-location.yaml
  sdk/resourcemanager/discovery/armdiscovery/utils_test.go
  sdk/resourcemanager/discovery/armdiscovery/workspaces_live_test.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

.
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update live tests with implementations and recordings for Discovery SDK
  sdk/resourcemanager/discovery/armdiscovery/assets.json
  sdk/resourcemanager/discovery/armdiscovery/bookshelves_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/chatmodeldeployments_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/euap_policy_test.go
  sdk/resourcemanager/discovery/armdiscovery/nodepools_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/operations_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/privateendpoints_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/projects_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/storageassets_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/storagecontainers_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/supercomputers_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/tools_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/workspaces_live_test.go
Due: eng/pipelines/pullrequest.yml

[AutoPR sdk-resourcemanager/disconnectedoperations/armdisconnectedoperations]-generated-from-SDK Generation - Go-5922932 (#26053)
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/CHANGELOG.md
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/artifacts_client.go
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/artifacts_client_example_test.go
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/client.go
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/client_example_test.go
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/client_factory.go
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/constants.go
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/fake/hardwaresettings_server.go
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/fake/server_factory.go
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/go.mod
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/go.sum
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/hardwaresettings_client.go
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/hardwaresettings_client_example_test.go
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/images_client.go
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/images_client_example_test.go
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/models.go
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/models_serde.go
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/options.go
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/responses.go
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/testdata/_metadata.json
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/tsp-location.yaml
  sdk/resourcemanager/disconnectedoperations/armdisconnectedoperations/version.go
Due: eng/pipelines/pullrequest.yml

Regenerate commerce Go SDK with latest TypeSpec
  sdk/resourcemanager/commerce/armcommerce/client_factory.go
  sdk/resourcemanager/commerce/armcommerce/constants.go
  sdk/resourcemanager/commerce/armcommerce/fake/internal.go
  sdk/resourcemanager/commerce/armcommerce/fake/ratecard_server.go
  sdk/resourcemanager/commerce/armcommerce/fake/server_factory.go
  sdk/resourcemanager/commerce/armcommerce/fake/time_rfc3339.go
  sdk/resourcemanager/commerce/armcommerce/fake/usageaggregates_server.go
  sdk/resourcemanager/commerce/armcommerce/go.mod
  sdk/resourcemanager/commerce/armcommerce/go.sum
  sdk/resourcemanager/commerce/armcommerce/interfaces.go
  sdk/resourcemanager/commerce/armcommerce/models.go
  sdk/resourcemanager/commerce/armcommerce/models_serde.go
  sdk/resourcemanager/commerce/armcommerce/options.go
  sdk/resourcemanager/commerce/armcommerce/polymorphic_helpers.go
  sdk/resourcemanager/commerce/armcommerce/ratecard_client.go
  sdk/resourcemanager/commerce/armcommerce/ratecard_client_example_test.go
  sdk/resourcemanager/commerce/armcommerce/responses.go
  sdk/resourcemanager/commerce/armcommerce/testdata/_metadata.json
  sdk/resourcemanager/commerce/armcommerce/time_rfc3339.go
  sdk/resourcemanager/commerce/armcommerce/tsp-location.yaml
  sdk/resourcemanager/commerce/armcommerce/usageaggregates_client.go
  sdk/resourcemanager/commerce/armcommerce/usageaggregates_client_example_test.go
  sdk/resourcemanager/commerce/armcommerce/version.go
Due: eng/pipelines/pullrequest.yml

Regenerate communication Go SDK with latest TypeSpec
  sdk/resourcemanager/communication/armcommunication/client_factory.go
  sdk/resourcemanager/communication/armcommunication/constants.go
  sdk/resourcemanager/communication/armcommunication/domains_client.go
  sdk/resourcemanager/communication/armcommunication/domains_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/emailservices_client.go
  sdk/resourcemanager/communication/armcommunication/emailservices_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/fake/domains_server.go
  sdk/resourcemanager/communication/armcommunication/fake/emailservices_server.go
  sdk/resourcemanager/communication/armcommunication/fake/internal.go
  sdk/resourcemanager/communication/armcommunication/fake/operations_server.go
  sdk/resourcemanager/communication/armcommunication/fake/senderusernames_server.go
  sdk/resourcemanager/communication/armcommunication/fake/server_factory.go
  sdk/resourcemanager/communication/armcommunication/fake/services_server.go
  sdk/resourcemanager/communication/armcommunication/fake/smtpusernames_server.go
  sdk/resourcemanager/communication/armcommunication/fake/suppressionlistaddresses_server.go
  sdk/resourcemanager/communication/armcommunication/fake/suppressionlists_server.go
  sdk/resourcemanager/communication/armcommunication/go.mod
  sdk/resourcemanager/communication/armcommunication/go.sum
  sdk/resourcemanager/communication/armcommunication/models.go
  sdk/resourcemanager/communication/armcommunication/models_serde.go
  sdk/resourcemanager/communication/armcommunication/operations_client.go
  sdk/resourcemanager/communication/armcommunication/operations_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/options.go
  sdk/resourcemanager/communication/armcommunication/responses.go
  sdk/resourcemanager/communication/armcommunication/senderusernames_client.go
  sdk/resourcemanager/communication/armcommunication/senderusernames_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/services_client.go
  sdk/resourcemanager/communication/armcommunication/services_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/smtpusernames_client.go
  sdk/resourcemanager/communication/armcommunication/smtpusernames_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/suppressionlistaddresses_client.go
  sdk/resourcemanager/communication/armcommunication/suppressionlistaddresses_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/suppressionlists_client.go
  sdk/resourcemanager/communication/armcommunication/suppressionlists_client_example_test.go
  sdk/resourcemanager/communication/armcommunication/testdata/_metadata.json
  sdk/resourcemanager/communication/armcommunication/time_rfc3339.go
  sdk/resourcemanager/communication/armcommunication/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Regenerate maps Go SDK with latest TypeSpec
  sdk/resourcemanager/maps/armmaps/accounts_client.go
  sdk/resourcemanager/maps/armmaps/accounts_client_example_test.go
  sdk/resourcemanager/maps/armmaps/client.go
  sdk/resourcemanager/maps/armmaps/client_example_test.go
  sdk/resourcemanager/maps/armmaps/client_factory.go
  sdk/resourcemanager/maps/armmaps/constants.go
  sdk/resourcemanager/maps/armmaps/creators_client.go
  sdk/resourcemanager/maps/armmaps/creators_client_example_test.go
  sdk/resourcemanager/maps/armmaps/fake/accounts_server.go
  sdk/resourcemanager/maps/armmaps/fake/creators_server.go
  sdk/resourcemanager/maps/armmaps/fake/internal.go
  sdk/resourcemanager/maps/armmaps/fake/operationresult_server.go
  sdk/resourcemanager/maps/armmaps/fake/operationstatus_server.go
  sdk/resourcemanager/maps/armmaps/fake/privateendpointconnections_server.go
  sdk/resourcemanager/maps/armmaps/fake/privatelinkresources_server.go
  sdk/resourcemanager/maps/armmaps/fake/server.go
  sdk/resourcemanager/maps/armmaps/fake/server_factory.go
  sdk/resourcemanager/maps/armmaps/fake/time_rfc3339.go
  sdk/resourcemanager/maps/armmaps/go.mod
  sdk/resourcemanager/maps/armmaps/go.sum
  sdk/resourcemanager/maps/armmaps/models.go
  sdk/resourcemanager/maps/armmaps/models_serde.go
  sdk/resourcemanager/maps/armmaps/operationresult_client.go
  sdk/resourcemanager/maps/armmaps/operationresult_client_example_test.go
  sdk/resourcemanager/maps/armmaps/operationstatus_client.go
  sdk/resourcemanager/maps/armmaps/operationstatus_client_example_test.go
  sdk/resourcemanager/maps/armmaps/options.go
  sdk/resourcemanager/maps/armmaps/privateendpointconnections_client.go
  sdk/resourcemanager/maps/armmaps/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/maps/armmaps/privatelinkresources_client.go
  sdk/resourcemanager/maps/armmaps/privatelinkresources_client_example_test.go
  sdk/resourcemanager/maps/armmaps/responses.go
  sdk/resourcemanager/maps/armmaps/testdata/_metadata.json
  sdk/resourcemanager/maps/armmaps/time_rfc3339.go
  sdk/resourcemanager/maps/armmaps/tsp-location.yaml
  sdk/resourcemanager/maps/armmaps/version.go
Due: eng/pipelines/pullrequest.yml

Regenerate marketplace Go SDK with latest TypeSpec
  sdk/resourcemanager/marketplace/armmarketplace/client_factory.go
  sdk/resourcemanager/marketplace/armmarketplace/constants.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/internal.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/operations_server.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/privatestore_server.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/privatestorecollection_server.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/privatestorecollectionoffer_server.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/rpservice_server.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/server_factory.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/time_rfc3339.go
  sdk/resourcemanager/marketplace/armmarketplace/go.mod
  sdk/resourcemanager/marketplace/armmarketplace/go.sum
  sdk/resourcemanager/marketplace/armmarketplace/models.go
  sdk/resourcemanager/marketplace/armmarketplace/models_serde.go
  sdk/resourcemanager/marketplace/armmarketplace/operations_client.go
  sdk/resourcemanager/marketplace/armmarketplace/operations_client_example_test.go
  sdk/resourcemanager/marketplace/armmarketplace/options.go
  sdk/resourcemanager/marketplace/armmarketplace/privatestore_client.go
  sdk/resourcemanager/marketplace/armmarketplace/privatestore_client_example_test.go
  sdk/resourcemanager/marketplace/armmarketplace/privatestorecollection_client.go
  sdk/resourcemanager/marketplace/armmarketplace/privatestorecollection_client_example_test.go
  sdk/resourcemanager/marketplace/armmarketplace/privatestorecollectionoffer_client.go
  sdk/resourcemanager/marketplace/armmarketplace/privatestorecollectionoffer_client_example_test.go
  sdk/resourcemanager/marketplace/armmarketplace/responses.go
  sdk/resourcemanager/marketplace/armmarketplace/rpservice_client.go
  sdk/resourcemanager/marketplace/armmarketplace/testdata/_metadata.json
  sdk/resourcemanager/marketplace/armmarketplace/time_rfc3339.go
  sdk/resourcemanager/marketplace/armmarketplace/tsp-location.yaml
  sdk/resourcemanager/marketplace/armmarketplace/version.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
