Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Regenerate SDK based on typespec-go (main)
  regenerate-sdk-result.json
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/occurrenceextension_server.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/occurrences_server.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/operations_server.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/scheduledactionextension_server.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/scheduledactions_server.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/go.mod
  sdk/resourcemanager/computeschedule/armcomputeschedule/go.sum
  sdk/resourcemanager/computeschedule/armcomputeschedule/models_serde.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/occurrenceextension_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/occurrences_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/operations_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactionextension_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactions_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/testdata/_metadata.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

ci: keep regeneration report out of the SDK PR
  eng/pipelines/sdk-regenerate.yml
  eng/scripts/sdk_regenerate.py
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Bump typespec-client-generator-core to 0.68.4 in emitter-package.json (#27140)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Restrict issue-triage workflow to issues: read permission (#27136)
  .github/aw/actions-lock.json
  .github/workflows/agentics-maintenance.yml
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
  .github/workflows/mgmt-review.lock.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

cosmos: CHANGELOG updates for 1.5.0 release
  sdk/data/azcosmos/CHANGELOG.md
Due: none

cosmos: CHANGELOG updates for 1.5.0 release (#27143)
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Switch Vally eval CI to 1ES; quiet teardown-noise warnings
  eng/common/pipelines/templates/stages/archetype-vally-eval.yml
  eng/common/pipelines/templates/steps/vally-build-mcp.yml
  eng/common/pipelines/templates/steps/vally-run-shard.yml
  eng/common/scripts/eval/collect-stimuli.js
  eng/common/scripts/eval/invoke-eval-shard.js
  eng/common/scripts/eval/test/collect-stimuli.test.js
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Split Vally eval pipeline into reusable templates
  eng/common/pipelines/templates/stages/archetype-vally-eval.yml
  eng/common/pipelines/templates/steps/vally-build-mock.yml
  eng/common/pipelines/templates/steps/vally-collect-stimuli.yml
  eng/common/pipelines/templates/steps/vally-run-shard.yml
  eng/common/pipelines/templates/steps/vally-summarize.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Generalize Vally eval templates for skill + live verticals; fix missing lib modules
  eng/common/pipelines/templates/stages/archetype-vally-eval.yml
  eng/common/pipelines/templates/steps/vally-build-mcp.yml
  eng/common/pipelines/templates/steps/vally-build-mock.yml
  eng/common/pipelines/templates/steps/vally-collect-stimuli.yml
  eng/common/pipelines/templates/steps/vally-run-shard.yml
  eng/common/scripts/eval/collect-stimuli.js
  eng/common/scripts/eval/lib/glob.js
  eng/common/scripts/eval/lib/verdict.js
  eng/common/scripts/eval/test/collect-stimuli.test.js
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Port Vally eval CI scripts from PowerShell to JavaScript
  eng/common/scripts/eval/build-eval-summary.js
  eng/common/scripts/eval/collect-stimuli.js
  eng/common/scripts/eval/init-eval-git-fixtures.js
  eng/common/scripts/eval/invoke-eval-shard.js
  eng/common/scripts/eval/package.json
  eng/common/scripts/eval/sync-eval-git-repo.js
  eng/common/scripts/eval/test/build-eval-summary.test.js
  eng/common/scripts/eval/test/collect-stimuli.test.js
  eng/common/scripts/eval/test/init-eval-git-fixtures.test.js
  eng/common/scripts/eval/test/verdict.test.js
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

polish and rename
  eng/common/pipelines/templates/stages/archetype-vally-eval.yml
  eng/common/pipelines/templates/steps/vally-collect-stimuli.yml
  eng/common/pipelines/templates/steps/vally-run-shard.yml
  eng/common/scripts/eval/collect-stimuli.js
  eng/common/scripts/eval/test/collect-stimuli.test.js
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add eval hooks, parameterize gate threshold, require mcpSetupTemplate
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/templates/jobs/build-mcp.yml
  eng/common/pipelines/templates/jobs/eval-shard.yml
  eng/common/pipelines/templates/jobs/eval-summarize.yml
  eng/common/pipelines/templates/jobs/generate-eval-matrix.yml
  eng/common/pipelines/templates/stages/archetype-eval.yml
  eng/common/pipelines/templates/steps/eval-hook-example.yml
  eng/common/pipelines/templates/steps/eval-invoke.yml
  eng/common/pipelines/workflow-eval.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Always stage debug dir so failed()-gated transcript publish can't error on missing path
  eng/common/pipelines/templates/jobs/eval-shard.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix eval archetype: declare toolsRepo param and default mcpServer
  eng/common/pipelines/templates/stages/archetype-eval.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Address review feedback: portable lib/ gitignore, rerun-safe shard artifacts, TestType rename, exec.js note
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/skill-eval.yml
  eng/common/pipelines/templates/jobs/build-mcp.yml
  eng/common/pipelines/templates/jobs/eval-shard.yml
  eng/common/pipelines/templates/stages/archetype-eval.yml
  eng/common/pipelines/templates/steps/eval-mcp-setup.yml
  eng/common/pipelines/workflow-eval.yml
  eng/common/scripts/eval/.gitignore
  eng/common/scripts/eval/build-eval-summary.js
  eng/common/scripts/eval/sync-eval-git-repo.js
  eng/common/scripts/eval/test/build-eval-summary.test.js
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Consolidate MCP templates and add opt-in cross-repo checkout
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/skill-eval.yml
  eng/common/pipelines/templates/jobs/build-mcp.yml
  eng/common/pipelines/templates/stages/archetype-eval.yml
  eng/common/pipelines/templates/steps/eval-mcp-setup.yml
  eng/common/pipelines/workflow-eval.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix empty Other Changes section in CHANGELOG.md
  sdk/resourcemanager/computelimit/armcomputelimit/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Add pipeline notification for release plan owner (#16251)
  eng/common/pipelines/templates/steps/notify-release-plan-owner.yml
  eng/common/scripts/Notify-ReleasePlanOwner.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Convert release plan owner notification from PowerShell to Node.js
  eng/common/pipelines/templates/steps/notify-release-plan-owner.yml
  eng/common/scripts/Notify-ReleasePlanOwner.ps1
  eng/common/scripts/notify-release-plan-owner.js
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

cosmos: Rename GetContRange API
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_change_feed_response.go
Due: none

Fix escaping
  eng/common/scripts/logging.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Common functions added for auto-release scenario
  eng/common/scripts/AutoRelease-Operations.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
  eng/common/scripts/logging.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml
