Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Modified Header options to be more user friendly and adjust to recommended changes
  sdk/data/azcosmos/cosmos_change_feed_cloud_test.go
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_change_feed_request_options_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_test.go
Due: none

Change composite continuation tokens to be an internal struct
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token.go
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token_test.go
Due: none

Created wrapper methods for different ways to read change feed
  sdk/data/azcosmos/cosmos_container.go
Due: none

Adding a unit test for CompositeContinuationToken
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token_test.go
Due: none

Configured getChangeFeed to be internal builder method
  sdk/data/azcosmos/cosmos_change_feed_cloud_test.go
  sdk/data/azcosmos/cosmos_change_feed_range_test.go
  sdk/data/azcosmos/cosmos_container_test.go
Due: none

Added method to grab ETag from ChangeFeedResponse
  sdk/data/azcosmos/cosmos_change_feed_response.go
Due: none

Added a PartitionKeyRangeCache struct and methods to locally store, read, and update PartitionKeyRanges from a cosmos container
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: none

Renamed PartitionKeyRangeProperties to partitionKeyRange and GetPartitionKeyRanges to getPartitionKeyRanges
  sdk/data/azcosmos/cosmos_change_feed_cloud_test.go
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_change_feed_request_options_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_feed_partition_range_util.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: none

Adding an emulator test for ChangeFeed
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Added method to grab range from ChangeFeed response
  sdk/data/azcosmos/cosmos_change_feed_response.go
Due: none

Changing the function name to stay consistent with Go naming conventions
  sdk/data/azcosmos/cosmos_feed_partition_range_util.go
Due: none

Fixed suggested comments by Copilot and added tests for CompositeContinuationToken
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_change_feed_request_options_test.go
Due: none

Added a method that creates the CompositeContinuationToken based on the response headers
  sdk/data/azcosmos/cosmos_change_feed_response.go
Due: none

Ensure change feed headers are set for container-level requests
  sdk/data/azcosmos/cosmos_container.go
Due: none

Added unit testing for CompositeContinuationToken
  sdk/data/azcosmos/cosmos_change_feed_cloud_test.go
Due: none

fix package
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Upgrade TypeSpec emitter packages to latest versions (#24899)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Renamed getCompositeContinuationToken function for internal use
  sdk/data/azcosmos/cosmos_change_feed_cloud_test.go
  sdk/data/azcosmos/cosmos_change_feed_response.go
Due: none

Prevent race in ResourceID.String()
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/internal/resource/resource_identifier.go
  sdk/azcore/arm/internal/resource/resource_identifier_test.go
  sdk/azcore/arm/resource_identifier.go
Due: eng/pipelines/pullrequest.yml

Slight restructure to the test. Previously it was assuming we'd always just get all 2000 and under normal conditions we do.
  sdk/messaging/azservicebus/receiver_test.go
Due: eng/pipelines/pullrequest.yml

Prevent race in ResourceID.String() (#24901)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/internal/resource/resource_identifier.go
  sdk/azcore/arm/internal/resource/resource_identifier_test.go
  sdk/azcore/arm/resource_identifier.go
Due: eng/pipelines/pullrequest.yml

Update change feed tests to use our public API methods
  sdk/data/azcosmos/cosmos_change_feed_cloud_test.go
Due: none

Add FeedRange to ChangeFeedResponse for composite token support
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_container.go
Due: none

Changing instructions to use a script, which is faster and uses no tokens.
  .github/instructions/go-sdk-generation.instructions.md
  eng/scripts/Check-Prerequisites.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Adding in more stuff.
  eng/scripts/Check-Prerequisites.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[azservicebus] Fixing bug where you could lose messages in ReceiveAndDelete (#24864)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/client.go
  sdk/messaging/azservicebus/error.go
  sdk/messaging/azservicebus/example_receiver_test.go
  sdk/messaging/azservicebus/internal/amqpLinks.go
  sdk/messaging/azservicebus/internal/constants.go
  sdk/messaging/azservicebus/internal/errors.go
  sdk/messaging/azservicebus/internal/errors_test.go
  sdk/messaging/azservicebus/internal/exported/error.go
  sdk/messaging/azservicebus/internal/exported/receive_mode.go
  sdk/messaging/azservicebus/internal/namespace_test.go
  sdk/messaging/azservicebus/message.go
  sdk/messaging/azservicebus/receiver.go
  sdk/messaging/azservicebus/receiver_test.go
  sdk/messaging/azservicebus/sender.go
  sdk/messaging/azservicebus/session_receiver.go
Due: eng/pipelines/pullrequest.yml

Fixed formatting error with If-Modified-Since request header
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
Due: none

Manually ensure the FeedRange in the assigned in toHeaders matches with the one provided by the client
  sdk/data/azcosmos/cosmos_container.go
Due: none

Revised cloud change feed testing file
  sdk/data/azcosmos/cosmos_change_feed_cloud_test.go
Due: none

Increment package version after release of storage/azblob
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azfile
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azdatalake
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

update
  .github/copilot-instructions.md
  .github/instructions/go-sdk-automation-analysis.instructions.md
  .github/instructions/go-sdk-breaking-changes-review.instructions.md
  .github/instructions/go-sdk-generation.instructions.md
  documentation/sdk-automation-tsg.md
  documentation/sdk-breaking-changes-categories.md
  documentation/sdk-breaking-changes-guide.md
  eng/scripts/Check-SDKGenerationPrerequisites.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Prepare azidentity v1.11.0-beta.1 for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

define bit flags as uint8
  sdk/azidentity/default_azure_credential.go
Due: eng/pipelines/pullrequest.yml

Prepare azcore v1.18.1 for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

Removed x-ms-continuation and cleaned up GetContRanges method()
  sdk/data/azcosmos/cosmos_change_feed_response.go
Due: none

Removed commented logic that is no longer needed and added a test for empty composite token scenario
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token_test.go
Due: none
