Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Increment package version after release of data/azcosmos
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

Sync eng/common directory with azure-sdk-tools for PR 13218 (#25757)
  eng/common/scripts/Invoke-ToolDescriptionEvaluator.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 13304 (#25762)
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix GroupId property access (#25767)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 13235 (#25764)
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Skip verify setup tool when running on coding agent (#25740)
  .github/copilot-instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Persistent caching follows XDG directory spec on Linux
  sdk/azidentity/cache/CHANGELOG.md
  sdk/azidentity/cache/cache_linux.go
  sdk/azidentity/cache/cache_linux_test.go
Due: eng/pipelines/pullrequest.yml

Update trigger and PR settings in YAML pipeline (#25766)
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 13325 (#25771)
  eng/common/pipelines/templates/steps/create-apireview.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 13307 (#25770)
  eng/common/scripts/Verify-Links.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of data/azcosmos (#25765)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

Upgrade TypeSpec emitter and compiler packages to latest versions (#25761)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

authoring instruction
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add a step explicitly to verify setup (#25774)
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Persistent caching follows XDG directory spec on Linux (#25772)
  sdk/azidentity/cache/CHANGELOG.md
  sdk/azidentity/cache/cache_linux.go
  sdk/azidentity/cache/cache_linux_test.go
Due: eng/pipelines/pullrequest.yml

Add 'APIView prod deployment' to internal service connections (#25775)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix staticcheck linter errors, formatting issues, and missing documentation in azblob (#25773)
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/container/examples_test.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/sas/query_params.go
  sdk/storage/azblob/service/client_test.go
Due: eng/pipelines/pullrequest.yml

Fix lint errors in storage modules (#25780)
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/bloberror/error_codes.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/internal/generated/appendblob_client.go
  sdk/storage/azblob/internal/generated/blob_client.go
  sdk/storage/azblob/internal/generated/block_blob_client.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/datalakeerror/error_codes.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/internal/generated/build.go
  sdk/storage/azdatalake/internal/generated/constants.go
  sdk/storage/azdatalake/internal/generated/filesystem_client.go
  sdk/storage/azdatalake/internal/path/models.go
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/fileerror/error_codes.go
  sdk/storage/azfile/internal/generated/build.go
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/directory_client.go
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client.go
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azqueue/internal/generated/build.go
  sdk/storage/azqueue/internal/generated/queue_client.go
  sdk/storage/azqueue/internal/generated/service_client.go
  sdk/storage/azqueue/queue_client.go
  sdk/storage/azqueue/queueerror/error_codes.go
  sdk/storage/azqueue/service_client.go
  sdk/storage/azqueue/service_client_test.go
Due: eng/pipelines/pullrequest.yml

Fix APIView task
  eng/pipelines/templates/steps/analyze.yml
  eng/scripts/apiview-helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update paths to include all files in .github directory for evals (#25781)
  eng/common/pipelines/templates/jobs/ai-eval-job.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix APIView task (#25782)
  eng/pipelines/templates/steps/analyze.yml
  eng/scripts/apiview-helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix flaky DefaultAzureCredential test
  sdk/azidentity/default_azure_credential_test.go
Due: eng/pipelines/pullrequest.yml

Fix flaky DefaultAzureCredential test (#25784)
  sdk/azidentity/default_azure_credential_test.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
