Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Added 'ArtifactsJson' parameter
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
  eng/common/scripts/SetTestPipelineVersion.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Made script work for non-java
  eng/common/scripts/SetTestPipelineVersion.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

initial changes for workloads
  sdk/data/azcosmos/workloads/dev.md
  sdk/data/azcosmos/workloads/initial_setup.go
  sdk/data/azcosmos/workloads/main/main.go
  sdk/data/azcosmos/workloads/workload_config.go
Due: none

create initial read write query workload
  sdk/data/azcosmos/workloads/initial_setup.go
  sdk/data/azcosmos/workloads/main/main.go
  sdk/data/azcosmos/workloads/r_w_q_workload.go
  sdk/data/azcosmos/workloads/workload_utils.go
Due: none

remove unnecessary print statement
  sdk/data/azcosmos/workloads/initial_setup.go
Due: none

public api for read many
  sdk/data/azcosmos/cosmos_container.go
Due: none

initial changes for hashing integration
  sdk/data/azcosmos/cosmos_effective_partition_key.go
  sdk/data/azcosmos/cosmos_effective_partition_key_test.go
Due: none

Sync eng/common directory with azure-sdk-tools for PR 12454 (#25403)
  eng/common/tsp-client/README.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 12410 (#25379)
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
  eng/common/scripts/SetTestPipelineVersion.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update release date
  sdk/resourcemanager/dataprotection/armdataprotection/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

cleanup test
  sdk/data/azcosmos/cosmos_effective_partition_key_test.go
Due: none

changelog service version update
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azfile/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Apply suggestion from @Copilot
  sdk/data/azcosmos/cosmos_effective_partition_key.go
Due: none

Update azcertificates URIs
  sdk/security/keyvault/azcertificates/client_test.go
  sdk/security/keyvault/azcertificates/models.go
  sdk/security/keyvault/azcertificates/models_serde.go
  sdk/security/keyvault/azcertificates/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

update changelog
  sdk/data/azcosmos/CHANGELOG.md
Due: none

add changes to perform reads,writes,queries
  sdk/data/azcosmos/workloads/r_w_q_workload.go
  sdk/data/azcosmos/workloads/workload_utils.go
Due: none

Use write-output for matrix script to support upstream callers
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

increase time workload runs
  sdk/data/azcosmos/workloads/main/main.go
Due: none

refactor and react to comments
  sdk/data/azcosmos/workloads/initial_setup.go
  sdk/data/azcosmos/workloads/workload_config.go
  sdk/data/azcosmos/workloads/workload_utils.go
Due: none

Use write-output for matrix script to support upstream callers (#25415)
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Bump @azure-tools/typespec-client-generator-cli (#25416)
  eng/common/tsp-client/package-lock.json
  eng/common/tsp-client/package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[azappconfig] Tags filter support (#25194)
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/README.md
  sdk/data/azappconfig/assets.json
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/constants.go
  sdk/data/azappconfig/examples_test.go
  sdk/data/azappconfig/go.mod
  sdk/data/azappconfig/internal/appconfiguration_ext.json
  sdk/data/azappconfig/internal/autorest.md
  sdk/data/azappconfig/internal/generated/zz_azureappconfiguration_client.go
  sdk/data/azappconfig/internal/generated/zz_models.go
  sdk/data/azappconfig/internal/generated/zz_models_serde.go
  sdk/data/azappconfig/internal/generated/zz_options.go
  sdk/data/azappconfig/internal/synctoken/cache.go
  sdk/data/azappconfig/internal/synctoken/policy.go
  sdk/data/azappconfig/options.go
  sdk/data/azappconfig/response_types.go
  sdk/data/azappconfig/setting.go
  sdk/data/azappconfig/setting_selector.go
  sdk/data/azappconfig/utils_test.go
  sdk/data/azappconfig/version.go
Due: eng/pipelines/pullrequest.yml

[Automation] Fix Go version and prevent toolchain upgrade in go get commands (#25408)
  eng/scripts/build.ps1
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/version.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Apply suggestion from @JiaqiZhang-Dev
  eng/emitter-package-lock.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

refine with review
  documentation/sdk-breaking-changes-guide-migration.md
  documentation/sdk-breaking-changes-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Upgrade emitter and TypeSpec packages to latest versions (#25389)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Changelog for release
  sdk/data/azappconfig/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

import fix
  sdk/storage/azblob/appendblob/client_test.go
Due: eng/pipelines/pullrequest.yml

Rename test type
  sdk/storage/azblob/appendblob/client_test.go
Due: eng/pipelines/pullrequest.yml

empty commit
  sdk/storage/azblob/appendblob/client_test.go
Due: eng/pipelines/pullrequest.yml

Use new signature for FindArtifactForApiReviewFn
  eng/common/scripts/Detect-Api-Changes.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update create-apireview template to use packageInfo
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 12467 (#25422)
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update stress-test-deployment-lib.ps1 to account for empty $pkgs obj
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
