Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

update
  .github/copilot-instructions.md
  .github/prompts/go-sdk-breaking-changes-review.prompts.md
  .github/prompts/go-sdk-generation.prompts.md
  documentation/sdk-breaking-changes-guide.md
  eng/tools/mcp/main.go
  eng/tools/mcp/tools/environment_checker.go
  eng/tools/mcp/tools/environment_checker_test.go
  eng/tools/mcp/tools/sdk_generator.go
  eng/tools/mcp/tools/sdk_generator_test.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

docs
  sdk/monitor/ingestion/azlogs/README.md
Due: eng/pipelines/pullrequest.yml

charles feedback
  sdk/monitor/ingestion/azlogs/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[ingestion/azlogs] convert to typespec (#24931)
  sdk/monitor/ingestion/azlogs/CHANGELOG.md
  sdk/monitor/ingestion/azlogs/autorest.md
  sdk/monitor/ingestion/azlogs/build.go
  sdk/monitor/ingestion/azlogs/client.go
  sdk/monitor/ingestion/azlogs/client_test.go
  sdk/monitor/ingestion/azlogs/cloud_config.go
  sdk/monitor/ingestion/azlogs/custom_client.go
  sdk/monitor/ingestion/azlogs/example_test.go
  sdk/monitor/ingestion/azlogs/fake/internal.go
  sdk/monitor/ingestion/azlogs/fake/server.go
  sdk/monitor/ingestion/azlogs/fake/server_test.go
  sdk/monitor/ingestion/azlogs/go.mod
  sdk/monitor/ingestion/azlogs/go.sum
  sdk/monitor/ingestion/azlogs/options.go
  sdk/monitor/ingestion/azlogs/responses.go
  sdk/monitor/ingestion/azlogs/testdata/_metadata.json
  sdk/monitor/ingestion/azlogs/tsp-location.yaml
  sdk/monitor/ingestion/azlogs/utils_test.go
  sdk/monitor/ingestion/azlogs/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of monitor/ingestion/azlogs
  sdk/monitor/ingestion/azlogs/CHANGELOG.md
  sdk/monitor/ingestion/azlogs/version.go
Due: eng/pipelines/pullrequest.yml

Removed the lsn and etag from header. lsn is removed because we don't utilize it and the etag is now being utilized through the direct embed from the azcosmos.Response
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token_test.go
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Increment package version after release of monitor/ingestion/azlogs (#24937)
  sdk/monitor/ingestion/azlogs/CHANGELOG.md
  sdk/monitor/ingestion/azlogs/version.go
Due: eng/pipelines/pullrequest.yml

Remove uncessary TODO comments
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_feed_range.go
Due: none

Revise ChangeFeedStartFrom to StartFrom
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_change_feed_request_options_test.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Reordered creation of CompositeContinuationToken
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
Due: none

Remove manual setting of MaxItemCount
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_change_feed_request_options_test.go
Due: none

Use ContinuationToken as one source of truth for ChangeFeedResponse
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

typespec conversion
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/build.go
  sdk/monitor/query/azmetrics/client.go
  sdk/monitor/query/azmetrics/constants.go
  sdk/monitor/query/azmetrics/fake/internal.go
  sdk/monitor/query/azmetrics/fake/server.go
  sdk/monitor/query/azmetrics/fake/time_rfc3339.go
  sdk/monitor/query/azmetrics/go.mod
  sdk/monitor/query/azmetrics/go.sum
  sdk/monitor/query/azmetrics/models.go
  sdk/monitor/query/azmetrics/models_serde.go
  sdk/monitor/query/azmetrics/options.go
  sdk/monitor/query/azmetrics/responses.go
  sdk/monitor/query/azmetrics/testdata/_metadata.json
  sdk/monitor/query/azmetrics/time_rfc3339.go
  sdk/monitor/query/azmetrics/tsp-location.yaml
  sdk/monitor/query/azmetrics/version.go
Due: eng/pipelines/pullrequest.yml

prep for release
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/go.mod
  sdk/monitor/azquery/go.sum
  sdk/monitor/azquery/version.go
Due: eng/pipelines/pullrequest.yml

prep for release (#24939)
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/go.mod
  sdk/monitor/azquery/go.sum
  sdk/monitor/azquery/version.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/storagediscovery/armstoragediscovery/0.1.0 generation from spec commit: 1a1f6bbde7b1e1395b0b763ff6332e191ece8c84
  sdk/resourcemanager/storagediscovery/armstoragediscovery/CHANGELOG.md
  sdk/resourcemanager/storagediscovery/armstoragediscovery/LICENSE.txt
  sdk/resourcemanager/storagediscovery/armstoragediscovery/README.md
  sdk/resourcemanager/storagediscovery/armstoragediscovery/ci.yml
  sdk/resourcemanager/storagediscovery/armstoragediscovery/client_factory.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/constants.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/fake/internal.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/fake/operations_server.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/fake/server_factory.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/fake/workspaces_server.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/go.mod
  sdk/resourcemanager/storagediscovery/armstoragediscovery/go.sum
  sdk/resourcemanager/storagediscovery/armstoragediscovery/models.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/models_serde.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/operations_client.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/operations_client_example_test.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/options.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/responses.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/testdata/_metadata.json
  sdk/resourcemanager/storagediscovery/armstoragediscovery/time_rfc3339.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/tsp-location.yaml
  sdk/resourcemanager/storagediscovery/armstoragediscovery/workspaces_client.go
  sdk/resourcemanager/storagediscovery/armstoragediscovery/workspaces_client_example_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/containerservice/armcontainerservice/7.2.0 generation from spec commit: 97f789aeb52adfc1e20c386005839f5276874d7d
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/responses.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/carbonoptimization/armcarbonoptimization/1.0.0 generation from spec commit: 97f789aeb52adfc1e20c386005839f5276874d7d
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/CHANGELOG.md
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/carbonservice_client_example_test.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/constants.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/fake/date_type.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/models.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/testdata/_metadata.json
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

update changelog
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

remove duplicated define
  sdk/resourcemanager/computeschedule/armcomputeschedule/constants.go
Due: eng/pipelines/pullrequest.yml

update asset
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/compute/armcompute/fake_example_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/msi/armmsi/1.3.0 (#24878)
  sdk/resourcemanager/msi/armmsi/CHANGELOG.md
  sdk/resourcemanager/msi/armmsi/README.md
  sdk/resourcemanager/msi/armmsi/assets.json
  sdk/resourcemanager/msi/armmsi/autorest.md
  sdk/resourcemanager/msi/armmsi/client_factory.go
  sdk/resourcemanager/msi/armmsi/constants.go
  sdk/resourcemanager/msi/armmsi/fake/federatedidentitycredentials_server.go
  sdk/resourcemanager/msi/armmsi/fake/internal.go
  sdk/resourcemanager/msi/armmsi/fake/operations_server.go
  sdk/resourcemanager/msi/armmsi/fake/server_factory.go
  sdk/resourcemanager/msi/armmsi/fake/systemassignedidentities_server.go
  sdk/resourcemanager/msi/armmsi/fake/time_rfc3339.go
  sdk/resourcemanager/msi/armmsi/fake/userassignedidentities_server.go
  sdk/resourcemanager/msi/armmsi/federatedidentitycredentials_client.go
  sdk/resourcemanager/msi/armmsi/federatedidentitycredentials_client_example_test.go
  sdk/resourcemanager/msi/armmsi/models.go
  sdk/resourcemanager/msi/armmsi/models_serde.go
  sdk/resourcemanager/msi/armmsi/operations_client.go
  sdk/resourcemanager/msi/armmsi/operations_client_example_test.go
  sdk/resourcemanager/msi/armmsi/options.go
  sdk/resourcemanager/msi/armmsi/responses.go
  sdk/resourcemanager/msi/armmsi/systemassignedidentities_client.go
  sdk/resourcemanager/msi/armmsi/systemassignedidentities_client_example_test.go
  sdk/resourcemanager/msi/armmsi/time_rfc3339.go
  sdk/resourcemanager/msi/armmsi/userassignedidentities_client.go
  sdk/resourcemanager/msi/armmsi/userassignedidentities_client_example_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/containerservice/armcontainerservice/7.2.0 (#24941)
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/responses.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Due: eng/pipelines/pullrequest.yml

Upgrade emitter and tsp version packages to latest (#24942)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update
  documentation/sdk-breaking-changes-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix return value
  sdk/data/azcosmos/cosmos_container.go
Due: none

typespec conversion (#24938)
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/build.go
  sdk/monitor/query/azmetrics/client.go
  sdk/monitor/query/azmetrics/constants.go
  sdk/monitor/query/azmetrics/fake/internal.go
  sdk/monitor/query/azmetrics/fake/server.go
  sdk/monitor/query/azmetrics/fake/time_rfc3339.go
  sdk/monitor/query/azmetrics/go.mod
  sdk/monitor/query/azmetrics/go.sum
  sdk/monitor/query/azmetrics/models.go
  sdk/monitor/query/azmetrics/models_serde.go
  sdk/monitor/query/azmetrics/options.go
  sdk/monitor/query/azmetrics/responses.go
  sdk/monitor/query/azmetrics/testdata/_metadata.json
  sdk/monitor/query/azmetrics/time_rfc3339.go
  sdk/monitor/query/azmetrics/tsp-location.yaml
  sdk/monitor/query/azmetrics/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of monitor/query/azmetrics
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of monitor/azquery
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of monitor/query/azmetrics (#24946)
  sdk/monitor/query/azmetrics/CHANGELOG.md
  sdk/monitor/query/azmetrics/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of monitor/azquery (#24947)
  sdk/monitor/azquery/CHANGELOG.md
  sdk/monitor/azquery/version.go
Due: eng/pipelines/pullrequest.yml

Skip live UsernamePasswordCredential tests
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/environment_credential_test.go
  sdk/azidentity/username_password_credential_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/computeschedule/armcomputeschedule/1.2.0-beta.1 generation from spec commit: 63aa8b98c6674faa29b5d84dcdc1893830101a0a
  sdk/resourcemanager/computeschedule/armcomputeschedule/CHANGELOG.md
  sdk/resourcemanager/computeschedule/armcomputeschedule/README.md
  sdk/resourcemanager/computeschedule/armcomputeschedule/client_factory.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/constants.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/occurrenceextension_server.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/occurrences_server.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/scheduledactionextension_server.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/scheduledactions_server.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/server_factory.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/models.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/models_serde.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/occurrenceextension_client.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/occurrenceextension_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/occurrences_client.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/occurrences_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/operations_client.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/operations_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/options.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/responses.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactionextension_client.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactionextension_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactions_client.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactions_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/testdata/_metadata.json
  sdk/resourcemanager/computeschedule/armcomputeschedule/time_rfc3339.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/tsp-location.yaml
  sdk/resourcemanager/computeschedule/armcomputeschedule/version.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/policyinsights/armpolicyinsights/0.9.0 generation from spec commit: 6c548b0bd279f5e233661b1c81fb5b61b19965cd (#24894)
  sdk/resourcemanager/policyinsights/armpolicyinsights/CHANGELOG.md
  sdk/resourcemanager/policyinsights/armpolicyinsights/README.md
  sdk/resourcemanager/policyinsights/armpolicyinsights/attestations_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/attestations_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/autorest.md
  sdk/resourcemanager/policyinsights/armpolicyinsights/client_factory.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/componentpolicystates_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/componentpolicystates_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/constants.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/attestations_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/componentpolicystates_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/internal.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/operations_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/policyevents_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/policymetadata_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/policyrestrictions_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/policystates_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/policytrackedresources_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/remediations_server.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/server_factory.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/fake/time_rfc3339.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/models.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/models_serde.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/operations_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/operations_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/options.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policyevents_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policyevents_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policymetadata_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policymetadata_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policyrestrictions_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policyrestrictions_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policystates_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policystates_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policytrackedresources_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/policytrackedresources_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/remediations_client.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/remediations_client_example_test.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/responses.go
  sdk/resourcemanager/policyinsights/armpolicyinsights/time_rfc3339.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/dashboard/armdashboard/2.0.0-beta.1 generation from spec commit: 63aa8b98c6674faa29b5d84dcdc1893830101a0a
  sdk/resourcemanager/dashboard/armdashboard/CHANGELOG.md
  sdk/resourcemanager/dashboard/armdashboard/README.md
  sdk/resourcemanager/dashboard/armdashboard/autorest.md
  sdk/resourcemanager/dashboard/armdashboard/build.go
  sdk/resourcemanager/dashboard/armdashboard/client_factory.go
  sdk/resourcemanager/dashboard/armdashboard/constants.go
  sdk/resourcemanager/dashboard/armdashboard/fake/grafana_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/integrationfabrics_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/internal.go
  sdk/resourcemanager/dashboard/armdashboard/fake/manageddashboards_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/managedprivateendpoints_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/operations_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/privateendpointconnections_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/privatelinkresources_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/server_factory.go
  sdk/resourcemanager/dashboard/armdashboard/fake/time_rfc3339.go
  sdk/resourcemanager/dashboard/armdashboard/go.mod
  sdk/resourcemanager/dashboard/armdashboard/grafana_client.go
  sdk/resourcemanager/dashboard/armdashboard/grafana_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/integrationfabrics_client.go
  sdk/resourcemanager/dashboard/armdashboard/integrationfabrics_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/manageddashboards_client.go
  sdk/resourcemanager/dashboard/armdashboard/manageddashboards_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/managedprivateendpoints_client.go
  sdk/resourcemanager/dashboard/armdashboard/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/models.go
  sdk/resourcemanager/dashboard/armdashboard/models_serde.go
  sdk/resourcemanager/dashboard/armdashboard/operations_client.go
  sdk/resourcemanager/dashboard/armdashboard/operations_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/options.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/privatelinkresources_client.go
  sdk/resourcemanager/dashboard/armdashboard/privatelinkresources_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/responses.go
  sdk/resourcemanager/dashboard/armdashboard/testdata/_metadata.json
  sdk/resourcemanager/dashboard/armdashboard/time_rfc3339.go
  sdk/resourcemanager/dashboard/armdashboard/tsp-location.yaml
  sdk/resourcemanager/dashboard/armdashboard/version.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
