Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Update eng/scripts/automation_init.sh
  eng/scripts/automation_init.sh
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add code to remove the installation package of Go in automation.sh script file (#25706)
  eng/scripts/automation_init.sh
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add float 16 datatype
  sdk/data/azcosmos/emulator_cosmos_container_test.go
  sdk/data/azcosmos/vector_embedding_policy.go
Due: none

add changelog
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Add new invalid user entry in CODEOWNERS errors (#25699)
  .github/CODEOWNERS_baseline_errors.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

unredact known-safe headers
  eng/tools/generator/cmd/v2/common/generation.go
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_http_constants.go
  sdk/data/azcosmos/cosmos_http_constants_generated.go
  sdk/data/azcosmos/cosmos_logging_test.go
  sdk/data/azcosmos/emulator_cosmos_logging_test.go
  sdk/data/azcosmos/valuelist/generator.go
  sdk/data/azcosmos/valuelist/generator_test.go
  sdk/data/azcosmos/valuelist/go.mod
Due: eng/pipelines/pullrequest.yml

restore accidentally-changed file
  eng/tools/generator/cmd/v2/common/generation.go
Due: eng/pipelines/pullrequest.yml

remove double-buffering
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
Due: none

Remove redundant usage of SpecProjectPath
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

generalize
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

target repo name fix
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

cant use trigger as a job
  eng/common/pipelines/ai-evals-tests.yml
  eng/common/pipelines/templates/jobs/ai-eval-job.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update eng/common/pipelines/templates/jobs/ai-eval-job.yml
  eng/common/pipelines/templates/jobs/ai-eval-job.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

quotes
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

refmt and fix lints
  sdk/data/azcosmos/cosmos_location_cache.go
  sdk/data/azcosmos/cosmos_logging_test.go
  sdk/data/azcosmos/emulator_cosmos_logging_test.go
Due: none

Remove redundant usage of SpecProjectPath (#25711)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix tests
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/emulator_cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/valuelist/generator_test.go
Due: none

we don't need these build tags anymore.
  sdk/ai/azopenai/build.go
  sdk/ai/azopenai/client_audio_test.go
  sdk/ai/azopenai/client_chat_completions_extensions_test.go
  sdk/ai/azopenai/client_chat_completions_test.go
  sdk/ai/azopenai/client_completions_test.go
  sdk/ai/azopenai/client_rai_test.go
  sdk/ai/azopenai/client_responses_test.go
  sdk/ai/azopenai/custom_client_image_test.go
  sdk/ai/azopenai/custom_errors.go
  sdk/ai/azopenai/custom_errors_test.go
  sdk/ai/azopenai/custom_models.go
  sdk/ai/azopenai/helpers_requests.go
  sdk/ai/azopenai/internal/check_generation_test.go
Due: eng/pipelines/pullrequest.yml

[azopenai] Fixing lint error that popped up because of redundant build tags (#25713)
  sdk/ai/azopenai/build.go
  sdk/ai/azopenai/client_audio_test.go
  sdk/ai/azopenai/client_chat_completions_extensions_test.go
  sdk/ai/azopenai/client_chat_completions_test.go
  sdk/ai/azopenai/client_completions_test.go
  sdk/ai/azopenai/client_rai_test.go
  sdk/ai/azopenai/client_responses_test.go
  sdk/ai/azopenai/custom_client_image_test.go
  sdk/ai/azopenai/custom_errors.go
  sdk/ai/azopenai/custom_errors_test.go
  sdk/ai/azopenai/custom_models.go
  sdk/ai/azopenai/helpers_requests.go
  sdk/ai/azopenai/internal/check_generation_test.go
Due: eng/pipelines/pullrequest.yml

datetime
  sdk/azcore/datetime/RFC1123.go
  sdk/azcore/datetime/RFC3339.go
  sdk/azcore/datetime/date_type.go
  sdk/azcore/datetime/unix.go
Due: eng/pipelines/pullrequest.yml

Fix audience URLs for AzureGovernment and AzureChina to align with Azure CLI
  sdk/azcore/arm/runtime/runtime.go
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/azcore/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

ensure tests wait for outstanding refreshes to finish
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_policy.go
  sdk/data/azcosmos/cosmos_logging_test.go
Due: none

revert quota
  sdk/resourcemanager/quota/armquota/quota_live_test.go
  sdk/resourcemanager/quota/armquota/utils_test.go
Due: eng/pipelines/pullrequest.yml

adopt new folder structure
  eng/common/tsp-client/package-lock.json
  eng/common/tsp-client/package.json
  sdk/security/keyvault/azadmin/backup/testdata/_metadata.json
  sdk/security/keyvault/azadmin/backup/tsp-location.yaml
  sdk/security/keyvault/azadmin/build.go
  sdk/security/keyvault/azadmin/rbac/client.go
  sdk/security/keyvault/azadmin/rbac/testdata/_metadata.json
  sdk/security/keyvault/azadmin/rbac/tsp-location.yaml
  sdk/security/keyvault/azadmin/settings/client.go
  sdk/security/keyvault/azadmin/settings/testdata/_metadata.json
  sdk/security/keyvault/azadmin/settings/tsp-location.yaml
  sdk/security/keyvault/azadmin/tsp-location.yaml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove lines
  sdk/resourcemanager/elastic/armelastic/monitoredsubscriptions_client_example_test.go
Due: eng/pipelines/pullrequest.yml

fix confilct
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/go.mod
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/go.sum
Due: eng/pipelines/pullrequest.yml

add more tests
  sdk/data/azappconfig/internal/auth/policy_hmac_auth_test.go
Due: eng/pipelines/pullrequest.yml

update
  eng/config.json
Due: eng/pipelines/pullrequest.yml

fix confilct
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/checknameavailability_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/checknameavailabilitywithlocation_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/go.sum
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/ltrbackupoperations_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/postgresqlmanagement_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/privateendpointconnection_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/tuningconfiguration_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/tuningindex_client_example_test.go
Due: eng/pipelines/pullrequest.yml

fix confilct
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/go.sum
Due: eng/pipelines/pullrequest.yml

fix confilct
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/advancedthreatprotectionsettings_client_example_test.go
Due: eng/pipelines/pullrequest.yml

fix confilct
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/backupslongtermretention_client_example_test.go
Due: eng/pipelines/pullrequest.yml

Fix property name for skipVerifyChangeLog
  eng/common/scripts/Verify-ChangeLogs.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Apply suggestion from @raych1
  eng/common/scripts/Verify-ChangeLogs.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Refactor ShouldVerifyChangeLog function condition
  eng/common/scripts/Verify-ChangeLogs.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml
