Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

[Storage] Add autorefresh and locality packages to sdk/storage/internal (#27695)
  sdk/storage/internal/CHANGELOG.md
  sdk/storage/internal/autorefresh/cache.go
  sdk/storage/internal/autorefresh/cache_test.go
  sdk/storage/internal/go.mod
  sdk/storage/internal/go.sum
  sdk/storage/internal/locality/policy.go
  sdk/storage/internal/locality/policy_test.go
  sdk/storage/internal/version.go
Due: eng/pipelines/pullrequest.yml

update
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[App Configuration] - update code owner (#27538)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Restore complete nightly live-eval selection after queueing inference run
  eng/common/pipelines/live-eval.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Isolate live release-plan inference for pipeline validation
  eng/common/pipelines/live-eval.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Skip pre-existing PRs during live eval cleanup
  eng/common/pipelines/templates/steps/eval-live-cleanup.yml
  eng/common/scripts/eval/cleanup-live-eval.ts
  eng/common/scripts/eval/lib/live-cleanup.ts
  eng/common/scripts/eval/test/live-cleanup.test.ts
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Require Java generation in inference eval
  eng/common/scripts/eval/mcp-stdio-proxy.ts
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix continuation handling for listing revisions/snapshots
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/internal/generated/custom_client.go
  sdk/data/azappconfig/internal/generated/custom_client_test.go
Due: eng/pipelines/pullrequest.yml

[azdatalake] Add STG105 Session and Data Locality support (#27692)
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/common.go
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_session_locality_test.go
  sdk/storage/azdatalake/file/layout.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/responses.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/base/clients.go
  sdk/storage/azdatalake/internal/exported/version.go
  sdk/storage/azdatalake/service/client.go
Due: eng/pipelines/pullrequest.yml

[azdatalake] Temporarily use non-batch tsp-location to unblock release
  sdk/storage/azdatalake/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[azdatalake] Workaround Verify-TspLocation for v1.7.0 release (#27715)
  sdk/storage/azdatalake/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azdatalake
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

[azdatalake] Revert tsp-location.yaml to batch shape
  sdk/storage/azdatalake/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[Service Bus] Prepare azservicebus 1.11.0 for release (#27568)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Due: eng/pipelines/pullrequest.yml

Update Arc docs for UAMI support
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/README.md
  sdk/azidentity/TROUBLESHOOTING.md
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/managed_identity_credential_test.go
Due: eng/pipelines/pullrequest.yml

bump version and update breaking changes
  sdk/azidentity/BREAKING_CHANGES.md
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Clarify TypeSpec naming integration and consolidate authoring evaluations
  eng/common/pipelines/skill-eval.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add language-aware TypeSpec naming guidance
  eng/common/pipelines/skill-eval.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Extract shared TypeSpec naming skill and tool-based customization
  eng/common/pipelines/skill-eval.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azcosmos v2: align conditional batch reads with Rust results
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/batch_native_test.go
  sdk/data/azcosmos/container_client_batch.go
  sdk/data/azcosmos/emulator_batch_test.go
  sdk/data/azcosmos/example_batch_test.go
  sdk/data/azcosmos/internal/testdata/README.md
  sdk/data/azcosmos/transactional_batch.go
  sdk/data/azcosmos/transactional_batch_response.go
  sdk/data/azcosmos/transactional_batch_response_test.go
  sdk/data/azcosmos/transactional_batch_test.go
Due: none

Increment version for messaging/azservicebus releases
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Due: eng/pipelines/pullrequest.yml

Use scoped Copilot App token for hermetic Vally evals
  eng/common/pipelines/skill-eval.yml
  eng/common/pipelines/workflow-eval.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Simplify eval result publication and strengthen failure recovery
  eng/common/pipelines/templates/jobs/eval-shard.yml
  eng/common/pipelines/templates/jobs/eval-summarize.yml
  eng/common/pipelines/templates/steps/eval-publish-results.yml
  eng/common/scripts/eval/README.md
  eng/common/scripts/eval/build-eval-summary.ts
  eng/common/scripts/eval/capture-eval-attempts.ts
  eng/common/scripts/eval/lib/job-attempts.ts
  eng/common/scripts/eval/lib/shard-results.ts
  eng/common/scripts/eval/publisher/README.md
  eng/common/scripts/eval/publisher/bundle.ts
  eng/common/scripts/eval/publisher/diagnostics.ts
  eng/common/scripts/eval/publisher/notification.ts
  eng/common/scripts/eval/publisher/prepare-bundle.ts
  eng/common/scripts/eval/publisher/publish-bundle.ts
  eng/common/scripts/eval/publisher/storage.ts
  eng/common/scripts/eval/publisher/test/publisher.test.ts
  eng/common/scripts/eval/stage-eval-results.ts
  eng/common/scripts/eval/test/job-attempts.test.ts
  eng/common/scripts/eval/test/shard-results.test.ts
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Keep one main-only eval publication switch
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/skill-eval.yml
  eng/common/pipelines/templates/stages/archetype-eval.yml
  eng/common/pipelines/templates/steps/eval-publish-results.yml
  eng/common/pipelines/templates/variables/eval-dashboard.yml
  eng/common/pipelines/workflow-eval.yml
  eng/common/scripts/eval/README.md
  eng/common/scripts/eval/publisher/publish-bundle.ts
  eng/common/scripts/eval/publisher/test/publisher.test.ts
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml
