Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Better message.
  sdk/messaging/azeventhubs/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Prepping for release, no final commit hash yet.
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/internal/version.go
Due: eng/pipelines/pullrequest.yml

swagger update stg 99
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
Due: eng/pipelines/pullrequest.yml

Add breaking changes section.
  sdk/messaging/azeventhubs/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[azeventhubs] Updating to official, v2 will be GA. (#24750)
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Due: eng/pipelines/pullrequest.yml

disable java CI pipeline generation
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

cosmos: changelog for 1.5.0-beta.0 (#24747)
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Increment package version after release of data/azcosmos
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

Update auto release script for issues labeled `SDK released by service owner` (#24749)
  eng/scripts/mgmt-auto-release.sh
  eng/tools/generator/cmd/issue/issueCmd.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of data/azcosmos (#24753)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

disable java CI pipeline generation (#24754)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Specify audience when creating federated credential for AKS
  sdk/azidentity/test-resources-post.ps1
Due: eng/pipelines/pullrequest.yml

Fix generator bug (#24691)
  eng/tools/generator/cmd/v2/common/changelog.go
  eng/tools/generator/cmd/v2/common/changelogProcessor.go
  eng/tools/generator/cmd/v2/common/changelogProcessor_test.go
  eng/tools/generator/cmd/v2/common/changelog_test.go
  eng/tools/generator/cmd/v2/common/fileProcessor_test.go
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/go.mod
  eng/tools/generator/go.sum
  eng/tools/internal/report/report.go
Due: eng/pipelines/pullrequest.yml

apiversion not support operation
  sdk/resourcemanager/computeschedule/armcomputeschedule/operation_live_test.go
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/chaos/armchaos/experiments_live_test.go
  sdk/resourcemanager/chaos/armchaos/operations_live_test.go
Due: eng/pipelines/pullrequest.yml

change version to 1.1.0
  sdk/resourcemanager/oracledatabase/armoracledatabase/CHANGELOG.md
  sdk/resourcemanager/oracledatabase/armoracledatabase/constants.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/0.1.0 generation from spec commit: 4a2bb0762eaad11e725516708483598e0c12cabb
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/CHANGELOG.md
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/README.md
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/_metadata.json
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/client_factory.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/fake/server_factory.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/fake/workspaces_server.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/go.mod
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/go.sum
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/models.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/models_serde.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/operations_client_example_test.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/options.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/responses.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/tsp-location.yaml
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/workspaces_client.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/workspaces_client_example_test.go
Due: eng/pipelines/pullrequest.yml

update readme
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/README.md
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/oracledatabase/armoracledatabase/autonomousdatabasebackups_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/autonomousdatabases_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/cloudexadatainfrastructures_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/cloudvmclusters_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/dbnodes_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/dbservers_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/dbsystemshapes_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/exadbvmclusters_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/exascaledbnodes_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/exascaledbstoragevaults_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/autonomousdatabasebackups_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/autonomousdatabasecharactersets_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/autonomousdatabasenationalcharactersets_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/autonomousdatabases_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/autonomousdatabaseversions_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/cloudexadatainfrastructures_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/cloudvmclusters_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/dbnodes_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/dbservers_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/dbsystemshapes_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/dnsprivateviews_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/dnsprivatezones_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/exadbvmclusters_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/exascaledbnodes_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/exascaledbstoragevaults_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/flexcomponents_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/giminorversions_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/giversions_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/operations_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/oraclesubscriptions_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/systemversions_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/fake/virtualnetworkaddresses_server.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/flexcomponents_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/giminorversions_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/giversions_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/go.mod
  sdk/resourcemanager/oracledatabase/armoracledatabase/operations_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/oraclesubscriptions_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/virtualnetworkaddresses_client_example_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/appconfiguration/armappconfiguration/3.0.0 generation from spec commit: 4a2bb0762eaad11e725516708483598e0c12cabb
  sdk/resourcemanager/appconfiguration/armappconfiguration/CHANGELOG.md
  sdk/resourcemanager/appconfiguration/armappconfiguration/README.md
  sdk/resourcemanager/appconfiguration/armappconfiguration/appconfiguration_live_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/autorest.md
  sdk/resourcemanager/appconfiguration/armappconfiguration/client_factory.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/configurationstores_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/configurationstores_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/constants.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/configurationstores_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/internal.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/keyvalues_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/operations_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/privateendpointconnections_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/privatelinkresources_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/replicas_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/server_factory.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/snapshots_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/time_rfc3339.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/go.mod
  sdk/resourcemanager/appconfiguration/armappconfiguration/go.sum
  sdk/resourcemanager/appconfiguration/armappconfiguration/keyvalues_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/keyvalues_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/models.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/models_serde.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/operations_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/operations_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/options.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/privateendpointconnections_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/privatelinkresources_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/privatelinkresources_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/replicas_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/replicas_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/responses.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/snapshots_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/snapshots_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/time_rfc3339.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/0.1.0 generation from spec commit: 4a2bb0762eaad11e725516708483598e0c12cabb
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/CHANGELOG.md
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/LICENSE.txt
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/README.md
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/autorest.md
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/build.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/ci.yml
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/client.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/client_factory.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/constants.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/fake/internal.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/fake/privateendpointconnections_server.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/fake/privatelinkresources_server.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/fake/server.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/fake/server_factory.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/go.mod
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/go.sum
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/models.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/models_serde.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/options.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/privateendpointconnections_client.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/privatelinkresources_client.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/privatelinkresources_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/responses.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/time_rfc3339.go
Due: eng/pipelines/pullrequest.yml

update readme
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/README.md
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/resources/armresources/3.0.0 generation from spec commit: 4a2bb0762eaad11e725516708483598e0c12cabb
  sdk/resourcemanager/resources/armresources/CHANGELOG.md
  sdk/resourcemanager/resources/armresources/README.md
  sdk/resourcemanager/resources/armresources/autorest.md
  sdk/resourcemanager/resources/armresources/client.go
  sdk/resourcemanager/resources/armresources/client_factory.go
  sdk/resourcemanager/resources/armresources/constants.go
  sdk/resourcemanager/resources/armresources/deploymentoperations_client.go
  sdk/resourcemanager/resources/armresources/deployments_client.go
  sdk/resourcemanager/resources/armresources/deployments_client_example_test.go
  sdk/resourcemanager/resources/armresources/deployments_client_live_test.go
  sdk/resourcemanager/resources/armresources/fake/deploymentoperations_server.go
  sdk/resourcemanager/resources/armresources/fake/deployments_server.go
  sdk/resourcemanager/resources/armresources/fake/operations_server.go
  sdk/resourcemanager/resources/armresources/fake/providerresourcetypes_server.go
  sdk/resourcemanager/resources/armresources/fake/providers_server.go
  sdk/resourcemanager/resources/armresources/fake/resourcegroups_server.go
  sdk/resourcemanager/resources/armresources/fake/server.go
  sdk/resourcemanager/resources/armresources/fake/server_factory.go
  sdk/resourcemanager/resources/armresources/fake/tags_server.go
  sdk/resourcemanager/resources/armresources/go.mod
  sdk/resourcemanager/resources/armresources/go.sum
  sdk/resourcemanager/resources/armresources/models.go
  sdk/resourcemanager/resources/armresources/models_serde.go
  sdk/resourcemanager/resources/armresources/operations_client.go
  sdk/resourcemanager/resources/armresources/options.go
  sdk/resourcemanager/resources/armresources/providerresourcetypes_client.go
  sdk/resourcemanager/resources/armresources/providerresourcetypes_client_example_test.go
  sdk/resourcemanager/resources/armresources/providers_client.go
  sdk/resourcemanager/resources/armresources/providers_client_example_test.go
  sdk/resourcemanager/resources/armresources/resourcegroups_client.go
  sdk/resourcemanager/resources/armresources/resourcegroups_client_example_test.go
  sdk/resourcemanager/resources/armresources/resourcegroups_client_live_test.go
  sdk/resourcemanager/resources/armresources/resources_client_live_test.go
  sdk/resourcemanager/resources/armresources/responses.go
  sdk/resourcemanager/resources/armresources/tags_client.go
  sdk/resourcemanager/resources/armresources/tags_client_example_test.go
  sdk/resourcemanager/resources/armresources/tags_client_live_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/arizeaiobservabilityeval/armarizeaiobservabilityeval/1.0.0 (#24575)
  sdk/resourcemanager/arizeaiobservabilityeval/armarizeaiobservabilityeval/CHANGELOG.md
  sdk/resourcemanager/arizeaiobservabilityeval/armarizeaiobservabilityeval/constants.go
  sdk/resourcemanager/arizeaiobservabilityeval/armarizeaiobservabilityeval/fake/organizations_server.go
  sdk/resourcemanager/arizeaiobservabilityeval/armarizeaiobservabilityeval/fake/time_rfc3339.go
  sdk/resourcemanager/arizeaiobservabilityeval/armarizeaiobservabilityeval/models.go
  sdk/resourcemanager/arizeaiobservabilityeval/armarizeaiobservabilityeval/operations_client.go
  sdk/resourcemanager/arizeaiobservabilityeval/armarizeaiobservabilityeval/operations_client_example_test.go
  sdk/resourcemanager/arizeaiobservabilityeval/armarizeaiobservabilityeval/organizations_client.go
  sdk/resourcemanager/arizeaiobservabilityeval/armarizeaiobservabilityeval/organizations_client_example_test.go
  sdk/resourcemanager/arizeaiobservabilityeval/armarizeaiobservabilityeval/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Increment package version after release of azidentity
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of azidentity (#24763)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Adding in required heading.
  sdk/messaging/azeventhubs/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

go get -u all
  sdk/messaging/azeventhubs/go.mod
  sdk/messaging/azeventhubs/go.sum
Due: eng/pipelines/pullrequest.yml

Updating go.mod and readme.
  sdk/messaging/azeventhubs/README.md
  sdk/messaging/azeventhubs/go.mod
Due: eng/pipelines/pullrequest.yml

[azeventhubs/v1] Update CHANGELOG and deps (#24764)
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/README.md
  sdk/messaging/azeventhubs/go.mod
  sdk/messaging/azeventhubs/go.sum
Due: eng/pipelines/pullrequest.yml

Increment package version after release of messaging/azeventhubs
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of messaging/azeventhubs (#24765)
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/constants.go
Due: eng/pipelines/pullrequest.yml

Update to latest commit hash on azure-rest-api-specs/main for Event Grid System Events
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

upgrade
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

upgrade (#24766)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Moving this file here for now - it'll automatically happen in the future when the emitter is fixed.
  sdk/messaging/eventgrid/azsystemevents/testdata/_metadata.json
Due: eng/pipelines/pullrequest.yml

Specify audience when creating federated credential for AKS (#24755)
  sdk/azidentity/test-resources-post.ps1
Due: eng/pipelines/pullrequest.yml
