Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

[AutoPR sdk-resourcemanager/dashboard/armdashboard]-generated-from-SDK Generation - Go-5436594 (#25397)
  sdk/resourcemanager/dashboard/armdashboard/CHANGELOG.md
  sdk/resourcemanager/dashboard/armdashboard/constants.go
  sdk/resourcemanager/dashboard/armdashboard/go.mod
  sdk/resourcemanager/dashboard/armdashboard/go.sum
  sdk/resourcemanager/dashboard/armdashboard/grafana_client.go
  sdk/resourcemanager/dashboard/armdashboard/grafana_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/integrationfabrics_client.go
  sdk/resourcemanager/dashboard/armdashboard/integrationfabrics_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/manageddashboards_client.go
  sdk/resourcemanager/dashboard/armdashboard/manageddashboards_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/managedprivateendpoints_client.go
  sdk/resourcemanager/dashboard/armdashboard/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/models.go
  sdk/resourcemanager/dashboard/armdashboard/models_serde.go
  sdk/resourcemanager/dashboard/armdashboard/operations_client.go
  sdk/resourcemanager/dashboard/armdashboard/operations_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/privatelinkresources_client.go
  sdk/resourcemanager/dashboard/armdashboard/privatelinkresources_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/testdata/_metadata.json
  sdk/resourcemanager/dashboard/armdashboard/tsp-location.yaml
  sdk/resourcemanager/dashboard/armdashboard/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azdatalake (#25456)
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Exit on coverage (#25447)
  eng/scripts/test.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fail on gocov convert
  eng/scripts/test.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove gocov
  eng/pipelines/templates/steps/build-test.yml
  eng/scripts/MgmtTestLib.ps1
  eng/scripts/test.ps1
  eng/tools/internal/coverage/coverage.go
  eng/tools/internal/coverage/coverage_test.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

exit-code
  eng/scripts/test.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Validate package names when adding to release plan
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

documentation
  documentation/README.md
  documentation/developer_setup.md
  documentation/development/ARM/MIGRATION_GUIDE.md
  documentation/development/ARM/code-generation.md
  documentation/development/ARM/frequently-asked-questions-for-azure-go-mgmt-sdk.md
  documentation/development/ARM/go-mgmt-sdk-release-guideline.md
  documentation/development/ARM/new-version-guideline.md
  documentation/development/ARM/new-version-quickstart.md
  documentation/development/README.md
  documentation/development/TROUBLESHOOTING.md
  documentation/development/breaking-changes/deprecation-guide.md
  documentation/development/breaking-changes/sdk-breaking-changes-guide-migration.md
  documentation/development/breaking-changes/sdk-breaking-changes-guide.md
  documentation/development/generate.md
  documentation/development/release.md
  documentation/development/setup.md
  documentation/development/testing.md
  documentation/legacy/previous-versions-quickstart.md
  documentation/legacy/profile-migration-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of storage/azqueue
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

add client engine to workloads
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
  sdk/data/azcosmos/workloads/initial_setup.go
  sdk/data/azcosmos/workloads/main/main.go
  sdk/data/azcosmos/workloads/r_w_q_vs_workload.go
  sdk/data/azcosmos/workloads/setup_env.sh
  sdk/data/azcosmos/workloads/workload_config.go
  sdk/data/azcosmos/workloads/workload_utils.go
Due: none

fix vector policy
  sdk/data/azcosmos/workloads/initial_setup.go
Due: none

update instructions
  sdk/data/azcosmos/workloads/dev.md
Due: none

change permissions on setup script
  sdk/data/azcosmos/workloads/setup_env.sh
Due: none

change to log to a file
  sdk/data/azcosmos/workloads/main/main.go
  sdk/data/azcosmos/workloads/workload_utils.go
Due: none

additional logging for debugging preferred locations
  sdk/data/azcosmos/cosmos_location_cache.go
Due: none

more logging
  sdk/data/azcosmos/cosmos_location_cache.go
Due: none

comment out logs
  sdk/data/azcosmos/cosmos_location_cache.go
Due: none

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
