Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Regenerate alertsmanagement Go SDK with latest TypeSpec
  refresh-sdk-task.md
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/CHANGELOG.md
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/README.md
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/alertprocessingrules_client.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/alertrulerecommendations_client.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/alerts_client.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/alerts_client_example_test.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/autorest.md
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/build.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/client_factory.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/constants.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/fake/alertprocessingrules_server.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/fake/alertrulerecommendations_server.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/fake/alerts_server.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/fake/internal.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/fake/operations_server.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/fake/prometheusrulegroups_server.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/fake/server_factory.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/fake/smartgroups_server.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/fake/tenantactivitylogalerts_server.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/fake/time_rfc3339.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/go.mod
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/go.sum
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/interfaces.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/models.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/models_serde.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/operations_client.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/operations_client_example_test.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/options.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/polymorphic_helpers.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/prometheusrulegroups_client.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/responses.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/smartgroups_client.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/tenantactivitylogalerts_client.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/testdata/_metadata.json
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/time_rfc3339.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/tsp-location.yaml
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/version.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Regenerate commerce Go SDK with latest TypeSpec
  sdk/resourcemanager/commerce/armcommerce/CHANGELOG.md
  sdk/resourcemanager/commerce/armcommerce/autorest.md
  sdk/resourcemanager/commerce/armcommerce/build.go
  sdk/resourcemanager/commerce/armcommerce/client_factory.go
  sdk/resourcemanager/commerce/armcommerce/constants.go
  sdk/resourcemanager/commerce/armcommerce/fake/internal.go
  sdk/resourcemanager/commerce/armcommerce/fake/ratecard_server.go
  sdk/resourcemanager/commerce/armcommerce/fake/server_factory.go
  sdk/resourcemanager/commerce/armcommerce/fake/time_rfc3339.go
  sdk/resourcemanager/commerce/armcommerce/fake/usageaggregates_server.go
  sdk/resourcemanager/commerce/armcommerce/go.mod
  sdk/resourcemanager/commerce/armcommerce/go.sum
  sdk/resourcemanager/commerce/armcommerce/interfaces.go
  sdk/resourcemanager/commerce/armcommerce/models.go
  sdk/resourcemanager/commerce/armcommerce/models_serde.go
  sdk/resourcemanager/commerce/armcommerce/options.go
  sdk/resourcemanager/commerce/armcommerce/polymorphic_helpers.go
  sdk/resourcemanager/commerce/armcommerce/ratecard_client.go
  sdk/resourcemanager/commerce/armcommerce/ratecard_client_example_test.go
  sdk/resourcemanager/commerce/armcommerce/responses.go
  sdk/resourcemanager/commerce/armcommerce/testdata/_metadata.json
  sdk/resourcemanager/commerce/armcommerce/time_rfc3339.go
  sdk/resourcemanager/commerce/armcommerce/tsp-location.yaml
  sdk/resourcemanager/commerce/armcommerce/usageaggregates_client.go
  sdk/resourcemanager/commerce/armcommerce/usageaggregates_client_example_test.go
  sdk/resourcemanager/commerce/armcommerce/version.go
Due: eng/pipelines/pullrequest.yml

Regenerate kubernetesconfigurationextensions Go SDK with latest TypeSpec
  sdk/resourcemanager/kubernetesconfiguration/armextensions/CHANGELOG.md
  sdk/resourcemanager/kubernetesconfiguration/armextensions/autorest.md
  sdk/resourcemanager/kubernetesconfiguration/armextensions/build.go
  sdk/resourcemanager/kubernetesconfiguration/armextensions/client.go
  sdk/resourcemanager/kubernetesconfiguration/armextensions/client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armextensions/client_factory.go
  sdk/resourcemanager/kubernetesconfiguration/armextensions/constants.go
  sdk/resourcemanager/kubernetesconfiguration/armextensions/fake/internal.go
  sdk/resourcemanager/kubernetesconfiguration/armextensions/fake/operationstatus_server.go
  sdk/resourcemanager/kubernetesconfiguration/armextensions/fake/server.go
  sdk/resourcemanager/kubernetesconfiguration/armextensions/fake/server_factory.go
  sdk/resourcemanager/kubernetesconfiguration/armextensions/go.mod
  sdk/resourcemanager/kubernetesconfiguration/armextensions/go.sum
  sdk/resourcemanager/kubernetesconfiguration/armextensions/models.go
  sdk/resourcemanager/kubernetesconfiguration/armextensions/models_serde.go
  sdk/resourcemanager/kubernetesconfiguration/armextensions/operationstatus_client.go
  sdk/resourcemanager/kubernetesconfiguration/armextensions/operationstatus_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armextensions/options.go
  sdk/resourcemanager/kubernetesconfiguration/armextensions/responses.go
  sdk/resourcemanager/kubernetesconfiguration/armextensions/testdata/_metadata.json
  sdk/resourcemanager/kubernetesconfiguration/armextensions/time_rfc3339.go
  sdk/resourcemanager/kubernetesconfiguration/armextensions/tsp-location.yaml
  sdk/resourcemanager/kubernetesconfiguration/armextensions/version.go
Due: eng/pipelines/pullrequest.yml

Regenerate kubernetesconfigurationextensiontypes Go SDK with latest TypeSpec
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/CHANGELOG.md
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/autorest.md
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/build.go
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/client.go
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/client_factory.go
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/constants.go
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/fake/internal.go
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/fake/server.go
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/fake/server_factory.go
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/go.mod
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/go.sum
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/models.go
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/models_serde.go
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/options.go
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/responses.go
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/testdata/_metadata.json
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/tsp-location.yaml
  sdk/resourcemanager/kubernetesconfiguration/armextensiontypes/version.go
Due: eng/pipelines/pullrequest.yml

Regenerate kubernetesconfigurationfluxconfigurations Go SDK with latest TypeSpec
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/CHANGELOG.md
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/autorest.md
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/build.go
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/client.go
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/client_factory.go
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/constants.go
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/fake/fluxconfigoperationstatus_server.go
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/fake/internal.go
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/fake/server.go
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/fake/server_factory.go
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/fluxconfigoperationstatus_client.go
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/fluxconfigoperationstatus_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/go.mod
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/go.sum
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/models.go
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/models_serde.go
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/options.go
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/responses.go
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/testdata/_metadata.json
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/time_rfc3339.go
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/tsp-location.yaml
  sdk/resourcemanager/kubernetesconfiguration/armfluxconfigurations/version.go
Due: eng/pipelines/pullrequest.yml

Regenerate kubernetesconfigurationprivatelinkscopes Go SDK with latest TypeSpec
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/CHANGELOG.md
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/autorest.md
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/build.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/client.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/client_factory.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/constants.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/fake/internal.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/fake/privateendpointconnections_server.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/fake/privatelinkresources_server.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/fake/server.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/fake/server_factory.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/go.mod
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/go.sum
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/models.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/models_serde.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/options.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/privateendpointconnections_client.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/privatelinkresources_client.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/privatelinkresources_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/responses.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/testdata/_metadata.json
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/time_rfc3339.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/tsp-location.yaml
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/version.go
Due: eng/pipelines/pullrequest.yml

Regenerate marketplace Go SDK with latest TypeSpec
  sdk/resourcemanager/marketplace/armmarketplace/CHANGELOG.md
  sdk/resourcemanager/marketplace/armmarketplace/README.md
  sdk/resourcemanager/marketplace/armmarketplace/autorest.md
  sdk/resourcemanager/marketplace/armmarketplace/build.go
  sdk/resourcemanager/marketplace/armmarketplace/client_factory.go
  sdk/resourcemanager/marketplace/armmarketplace/constants.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/internal.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/operations_server.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/privatestore_server.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/privatestorecollection_server.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/privatestorecollectionoffer_server.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/rpservice_server.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/server_factory.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/time_rfc3339.go
  sdk/resourcemanager/marketplace/armmarketplace/go.mod
  sdk/resourcemanager/marketplace/armmarketplace/go.sum
  sdk/resourcemanager/marketplace/armmarketplace/models.go
  sdk/resourcemanager/marketplace/armmarketplace/models_serde.go
  sdk/resourcemanager/marketplace/armmarketplace/operations_client.go
  sdk/resourcemanager/marketplace/armmarketplace/operations_client_example_test.go
  sdk/resourcemanager/marketplace/armmarketplace/options.go
  sdk/resourcemanager/marketplace/armmarketplace/privatestore_client.go
  sdk/resourcemanager/marketplace/armmarketplace/privatestore_client_example_test.go
  sdk/resourcemanager/marketplace/armmarketplace/privatestorecollection_client.go
  sdk/resourcemanager/marketplace/armmarketplace/privatestorecollection_client_example_test.go
  sdk/resourcemanager/marketplace/armmarketplace/privatestorecollectionoffer_client.go
  sdk/resourcemanager/marketplace/armmarketplace/privatestorecollectionoffer_client_example_test.go
  sdk/resourcemanager/marketplace/armmarketplace/responses.go
  sdk/resourcemanager/marketplace/armmarketplace/rpservice_client.go
  sdk/resourcemanager/marketplace/armmarketplace/testdata/_metadata.json
  sdk/resourcemanager/marketplace/armmarketplace/time_rfc3339.go
  sdk/resourcemanager/marketplace/armmarketplace/tsp-location.yaml
  sdk/resourcemanager/marketplace/armmarketplace/version.go
Due: eng/pipelines/pullrequest.yml

Regenerate networkfunction Go SDK with latest TypeSpec
  sdk/resourcemanager/networkfunction/armnetworkfunction/CHANGELOG.md
  sdk/resourcemanager/networkfunction/armnetworkfunction/README.md
  sdk/resourcemanager/networkfunction/armnetworkfunction/autorest.md
  sdk/resourcemanager/networkfunction/armnetworkfunction/azuretrafficcollectors_client.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/azuretrafficcollectors_client_example_test.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/azuretrafficcollectorsbyresourcegroup_client.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/azuretrafficcollectorsbyresourcegroup_client_example_test.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/azuretrafficcollectorsbysubscription_client.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/azuretrafficcollectorsbysubscription_client_example_test.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/build.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/client.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/client_example_test.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/client_factory.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/collectorpolicies_client.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/collectorpolicies_client_example_test.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/constants.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/fake/azuretrafficcollectors_server.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/fake/azuretrafficcollectorsbyresourcegroup_server.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/fake/azuretrafficcollectorsbysubscription_server.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/fake/collectorpolicies_server.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/fake/internal.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/fake/server.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/fake/server_factory.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/fake/time_rfc3339.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/go.mod
  sdk/resourcemanager/networkfunction/armnetworkfunction/go.sum
  sdk/resourcemanager/networkfunction/armnetworkfunction/models.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/models_serde.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/options.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/responses.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/testdata/_metadata.json
  sdk/resourcemanager/networkfunction/armnetworkfunction/time_rfc3339.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/tsp-location.yaml
  sdk/resourcemanager/networkfunction/armnetworkfunction/version.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/networkfunction/armnetworkfunction/2.2.1 generation from spec commit: d218ea4390c6763ccfd102d5f04050c13eb4b9df
  sdk/resourcemanager/networkfunction/armnetworkfunction/CHANGELOG.md
  sdk/resourcemanager/networkfunction/armnetworkfunction/README.md
  sdk/resourcemanager/networkfunction/armnetworkfunction/autorest.md
  sdk/resourcemanager/networkfunction/armnetworkfunction/azuretrafficcollectors_client.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/azuretrafficcollectors_client_example_test.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/azuretrafficcollectorsbyresourcegroup_client.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/azuretrafficcollectorsbyresourcegroup_client_example_test.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/azuretrafficcollectorsbysubscription_client.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/azuretrafficcollectorsbysubscription_client_example_test.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/client.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/client_example_test.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/client_factory.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/collectorpolicies_client.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/collectorpolicies_client_example_test.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/constants.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/fake/azuretrafficcollectors_server.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/fake/azuretrafficcollectorsbyresourcegroup_server.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/fake/azuretrafficcollectorsbysubscription_server.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/fake/collectorpolicies_server.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/fake/internal.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/fake/server.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/fake/server_factory.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/fake/time_rfc3339.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/go.mod
  sdk/resourcemanager/networkfunction/armnetworkfunction/go.sum
  sdk/resourcemanager/networkfunction/armnetworkfunction/models_serde.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/options.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/responses.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/time_rfc3339.go
  sdk/resourcemanager/networkfunction/armnetworkfunction/version.go
Due: eng/pipelines/pullrequest.yml

Update CI to the latest two versions of Go
  eng/pipelines/templates/variables/globals.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Skip CreateOrUpdate tests for bookshelves, workspaces, and chatmodeldeployments; update recordings tag for supercomputers
  sdk/resourcemanager/discovery/armdiscovery/assets.json
  sdk/resourcemanager/discovery/armdiscovery/bookshelves_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/chatmodeldeployments_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/workspaces_live_test.go
Due: eng/pipelines/pullrequest.yml

Revert CODEOWNERS entry for sdk/monitor/ingestion/azlogs
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update CI to the latest two versions of Go (#26179)
  eng/pipelines/templates/variables/globals.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Trim LRO polling entries from recordings and use fast poll frequency in tests
  sdk/resourcemanager/discovery/armdiscovery/assets.json
  sdk/resourcemanager/discovery/armdiscovery/bookshelves_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/chatmodeldeployments_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/projects_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/storageassets_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/storagecontainers_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/supercomputers_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/tools_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/workspaces_live_test.go
Due: eng/pipelines/pullrequest.yml

remove query-engine-based readmany support (#26133)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_read_many_request_options.go
  sdk/data/azcosmos/emulator_cosmos_read_many_items_test.go
  sdk/data/azcosmos/internal/mock/mock_query_engine.go
Due: none

Fix gofmt formatting in test files
  sdk/resourcemanager/discovery/armdiscovery/supercomputers_live_test.go
  sdk/resourcemanager/discovery/armdiscovery/workspaces_live_test.go
Due: eng/pipelines/pullrequest.yml

cosmos: changelog updates for 1.5.0-beta.5
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Fix staticcheck SA4004: remove unconditional break in operations test loop
  sdk/resourcemanager/discovery/armdiscovery/operations_live_test.go
Due: eng/pipelines/pullrequest.yml

Remove lint
  sdk/internal/diag/diag.go
Due: eng/pipelines/pullrequest.yml

Remove lint (#26184)
  sdk/internal/diag/diag.go
Due: eng/pipelines/pullrequest.yml

cosmos: changelog updates for 1.5.0-beta.5 (#26181)
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Sync eng/common directory with azure-sdk-tools for PR 14405 (#26138)
  eng/common/pipelines/templates/jobs/npm-publish.yml
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
  eng/common/pipelines/templates/steps/create-tags-and-git-release.yml
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Make the public devOps feed the default registry for npmrc creation. (#26189)
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml
