Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

fix test
  sdk/resourcemanager/iothub/armiothub/iothub_live_test.go
Due: eng/pipelines/pullrequest.yml

update asset
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
Due: eng/pipelines/pullrequest.yml

prep for stg 99 GA release
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
Due: eng/pipelines/pullrequest.yml

azdatalake version upgrade
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
Due: eng/pipelines/pullrequest.yml

changelog and version.go upgrades
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

azqueue sv update
  sdk/storage/azqueue/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

changelog
  sdk/storage/azdatalake/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

go mod tidy
  sdk/storage/azblob/go.sum
  sdk/storage/azdatalake/go.sum
  sdk/storage/azfile/go.sum
Due: eng/pipelines/pullrequest.yml

cosmos: add some extra logging in the query engine path
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container_query_engine.go
Due: none

cosmos: add some extra logging in the query engine path (#25444)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container_query_engine.go
Due: none

cosmos: update CHANGELOG.md for 1.5.0-beta.1 release
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Update tsp-location
  sdk/security/keyvault/azcertificates/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Exit on coverage
  eng/scripts/test.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

go mod tidy
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
Due: eng/pipelines/pullrequest.yml

go mod tidy
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

Revert "Fix the copying of the artifacts so that we will recopy the entire sdk/ folder if necessary (#24480)"
  eng/scripts/apiview-helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Storage] Prep for release - stg99 GA (#25442)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/exported/version.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/exported/version.go
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Remove duplicate bugs fixed section from CHANGELOG
  sdk/data/azcosmos/CHANGELOG.md
Due: none

cosmos: update CHANGELOG.md for 1.5.0-beta.1 release (#25446)
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Increment package version after release of data/azcosmos
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

debug
  eng/pipelines/templates/steps/analyze.yml
  eng/scripts/apiview-helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add JSON, XML mock perf tests for azcore (#25440)
  sdk/azcore/testdata/perf/main.go
  sdk/azcore/testdata/perf/mock.go
  sdk/azcore/testdata/perf/mock_json.go
  sdk/azcore/testdata/perf/mock_xml.go
  sdk/internal/perf/README.md
Due: eng/pipelines/pullrequest.yml

Increment package version after release of data/azappconfig
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/version.go
Due: eng/pipelines/pullrequest.yml

Set-VcpkgWriteModeCache -- add token timeout param for cmake generate's that exceed 1 hour (this can happen in C++ API View) (#25445)
  eng/common/pipelines/templates/steps/set-vcpkg-cache-vars.yml
  eng/common/scripts/Set-VcpkgWriteModeCache.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of storage/azblob
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/redisenterprise/armredisenterprise/3.0.0 generation from spec commit: 3855ffb4be0cd4d227b130b67d874fa816736c04
  sdk/resourcemanager/redisenterprise/armredisenterprise/CHANGELOG.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/README.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/accesspolicyassignment_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/accesspolicyassignment_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/autorest.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/constants.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/databases_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/databases_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/accesspolicyassignment_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/databases_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/operations_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/operationsstatus_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/privateendpointconnections_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/privatelinkresources_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/go.mod
  sdk/resourcemanager/redisenterprise/armredisenterprise/go.sum
  sdk/resourcemanager/redisenterprise/armredisenterprise/models.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/models_serde.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_live_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operationsstatus_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operationsstatus_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privateendpointconnections_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privatelinkresources_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privatelinkresources_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/redisenterprise_live_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/version.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/redisenterprise/armredisenterprise/redisenterprise_live_test.go
Due: eng/pipelines/pullrequest.yml

update version
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/version.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/version.go
  sdk/resourcemanager/iotoperations/armiotoperations/version.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/version.go
Due: eng/pipelines/pullrequest.yml

revert devopsinfrastructure
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/constants.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/imageversions_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/pools_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/resourcedetails_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/sku_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/subscriptionusages_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/time_rfc3339.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/go.mod
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/go.sum
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/imageversions_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/imageversions_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/models.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/models_serde.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/operations_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/operations_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/options.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/pools_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/pools_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/resourcedetails_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/resourcedetails_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/responses.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/sku_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/sku_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/subscriptionusages_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/subscriptionusages_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/testdata/_metadata.json
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/tsp-location.yaml
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azfile
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azfile (#25455)
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azdatalake
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

rename
  sdk/resourcemanager/virtualenclaves/armvirtualenclaves/README.md
Due: eng/pipelines/pullrequest.yml

fix tets
  sdk/resourcemanager/keyvault/armkeyvault/vaults_client_example_test.go
Due: eng/pipelines/pullrequest.yml
