Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

cosmos: CHANGELOG update for 1.4.2 (#25747)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

fix conflict
  sdk/resourcemanager/mysql/armmysqlflexibleservers/time_rfc3339.go
Due: eng/pipelines/pullrequest.yml

gofmt
  sdk/resourcemanager/mysql/armmysqlflexibleservers/time_rfc3339.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/attestation/armattestation/1.3.0 generation from spec commit: 722156dbf05314fd42fef5568d06c5f766eb61c0
  sdk/resourcemanager/attestation/armattestation/CHANGELOG.md
  sdk/resourcemanager/attestation/armattestation/README.md
  sdk/resourcemanager/attestation/armattestation/autorest.md
  sdk/resourcemanager/attestation/armattestation/client_factory.go
  sdk/resourcemanager/attestation/armattestation/constants.go
  sdk/resourcemanager/attestation/armattestation/fake/internal.go
  sdk/resourcemanager/attestation/armattestation/fake/operations_server.go
  sdk/resourcemanager/attestation/armattestation/fake/privateendpointconnections_server.go
  sdk/resourcemanager/attestation/armattestation/fake/privatelinkresources_server.go
  sdk/resourcemanager/attestation/armattestation/fake/providers_server.go
  sdk/resourcemanager/attestation/armattestation/fake/server_factory.go
  sdk/resourcemanager/attestation/armattestation/fake/time_rfc3339.go
  sdk/resourcemanager/attestation/armattestation/go.mod
  sdk/resourcemanager/attestation/armattestation/go.sum
  sdk/resourcemanager/attestation/armattestation/models.go
  sdk/resourcemanager/attestation/armattestation/models_serde.go
  sdk/resourcemanager/attestation/armattestation/operations_client.go
  sdk/resourcemanager/attestation/armattestation/operations_client_example_test.go
  sdk/resourcemanager/attestation/armattestation/options.go
  sdk/resourcemanager/attestation/armattestation/privateendpointconnections_client.go
  sdk/resourcemanager/attestation/armattestation/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/attestation/armattestation/privatelinkresources_client.go
  sdk/resourcemanager/attestation/armattestation/privatelinkresources_client_example_test.go
  sdk/resourcemanager/attestation/armattestation/providers_client.go
  sdk/resourcemanager/attestation/armattestation/providers_client_example_test.go
  sdk/resourcemanager/attestation/armattestation/responses.go
  sdk/resourcemanager/attestation/armattestation/time_rfc3339.go
  sdk/resourcemanager/attestation/armattestation/version.go
Due: eng/pipelines/pullrequest.yml

add code
  sdk/resourcemanager/attestation/armattestation/CHANGELOG.md
  sdk/resourcemanager/attestation/armattestation/README.md
  sdk/resourcemanager/attestation/armattestation/attestation_live_test.go
  sdk/resourcemanager/attestation/armattestation/autorest.md
  sdk/resourcemanager/attestation/armattestation/build.go
  sdk/resourcemanager/attestation/armattestation/client_factory.go
  sdk/resourcemanager/attestation/armattestation/constants.go
  sdk/resourcemanager/attestation/armattestation/fake/internal.go
  sdk/resourcemanager/attestation/armattestation/fake/operations_server.go
  sdk/resourcemanager/attestation/armattestation/fake/privateendpointconnections_server.go
  sdk/resourcemanager/attestation/armattestation/fake/privatelinkresources_server.go
  sdk/resourcemanager/attestation/armattestation/fake/providers_server.go
  sdk/resourcemanager/attestation/armattestation/fake/server_factory.go
  sdk/resourcemanager/attestation/armattestation/fake/time_rfc3339.go
  sdk/resourcemanager/attestation/armattestation/go.mod
  sdk/resourcemanager/attestation/armattestation/models.go
  sdk/resourcemanager/attestation/armattestation/models_serde.go
  sdk/resourcemanager/attestation/armattestation/operations_client.go
  sdk/resourcemanager/attestation/armattestation/operations_client_example_test.go
  sdk/resourcemanager/attestation/armattestation/options.go
  sdk/resourcemanager/attestation/armattestation/privateendpointconnections_client.go
  sdk/resourcemanager/attestation/armattestation/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/attestation/armattestation/privatelinkresources_client.go
  sdk/resourcemanager/attestation/armattestation/privatelinkresources_client_example_test.go
  sdk/resourcemanager/attestation/armattestation/providers_client.go
  sdk/resourcemanager/attestation/armattestation/providers_client_example_test.go
  sdk/resourcemanager/attestation/armattestation/responses.go
  sdk/resourcemanager/attestation/armattestation/testdata/_metadata.json
  sdk/resourcemanager/attestation/armattestation/time_rfc3339.go
  sdk/resourcemanager/attestation/armattestation/tsp-location.yaml
  sdk/resourcemanager/attestation/armattestation/version.go
Due: eng/pipelines/pullrequest.yml

prompt improvement
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

test making copilot install for you
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

minor
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add #Requires statement to common.ps1
  eng/common/scripts/common.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 13134 (#25721)
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Apply suggestion from @weshaggard
  eng/common/scripts/Verify-Links.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 13281 (#25748)
  eng/common/scripts/Verify-Links.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 13076 (#25756)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add #Requires statement to common.ps1 (#25755)
  eng/common/scripts/common.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

bump the targeted proxy version (#25749)
  eng/common/testproxy/target_version.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 13100 (#25754)
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update testing.md
  documentation/development/testing.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
