Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

revert file
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/tsp-location.yaml
  sdk/resourcemanager/quota/armquota/tsp-location.yaml
  sdk/resourcemanager/resources/armbicep/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

revert file
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

add code
  sdk/resourcemanager/quota/armquota/client.go
  sdk/resourcemanager/quota/armquota/groupquotalimits_client.go
  sdk/resourcemanager/quota/armquota/groupquotalimitsrequest_client.go
  sdk/resourcemanager/quota/armquota/groupquotalocationsettings_client.go
  sdk/resourcemanager/quota/armquota/groupquotas_client.go
  sdk/resourcemanager/quota/armquota/groupquotas_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionallocation_client.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionallocationrequest_client.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionrequests_client.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptions_client.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptions_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotausages_client.go
  sdk/resourcemanager/quota/armquota/operation_client.go
  sdk/resourcemanager/quota/armquota/operation_client_example_test.go
  sdk/resourcemanager/quota/armquota/requeststatus_client.go
  sdk/resourcemanager/quota/armquota/testdata/_metadata.json
  sdk/resourcemanager/quota/armquota/tsp-location.yaml
  sdk/resourcemanager/quota/armquota/usages_client.go
Due: eng/pipelines/pullrequest.yml

add code
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/testdata/_metadata.json
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

add code
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/autoupgradeprofiles_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/autoupgradeprofiles_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/fleetmembers_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/fleets_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/fleetupdatestrategies_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/gates_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/internal.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/updateruns_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetmembers_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetupdatestrategies_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/gates_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/options.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/testdata/_metadata.json
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/tsp-location.yaml
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/updateruns_client.go
Due: eng/pipelines/pullrequest.yml

add code
  sdk/resourcemanager/resources/armbicep/testdata/_metadata.json
  sdk/resourcemanager/resources/armbicep/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

case change of nfs
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/zz_models.go
Due: eng/pipelines/pullrequest.yml

Sync .github/workflows directory with azure-sdk-tools repository
  .github/workflows/event-processor.yml
  .github/workflows/post-apiview.yml
  .github/workflows/scheduled-event-processor.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync .github/workflows directory with azure-sdk-tools repository (#25839)
  .github/workflows/event-processor.yml
  .github/workflows/post-apiview.yml
  .github/workflows/scheduled-event-processor.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add instruction to authenticate with Github CLI (#25840)
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

changed casing of SignedOid and SignedTid
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/sas/service.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azqueue/internal/generated/autorest.md
  sdk/storage/azqueue/internal/generated/zz_models.go
  sdk/storage/azqueue/queue_client_test.go
  sdk/storage/azqueue/sas/service.go
Due: eng/pipelines/pullrequest.yml

[Cosmos] Fix broken links
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Added instructions for local sdk generation
  .github/copilot-instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

rfc1123
  sdk/azcore/runtime/datetime/RFC1123.go
Due: eng/pipelines/pullrequest.yml

[Cosmos] Fix broken links (#25841)
  sdk/data/azcosmos/CHANGELOG.md
Due: none

update rfc1123 (#25843)
  sdk/azcore/runtime/datetime/RFC1123.go
Due: eng/pipelines/pullrequest.yml

plain time
  sdk/azcore/runtime/datetime/plain_time.go
Due: eng/pipelines/pullrequest.yml

plain time (#25844)
  sdk/azcore/runtime/datetime/plain_time.go
Due: eng/pipelines/pullrequest.yml

Update sdk/resourcemanager/quota/armquota/groupquotasubscriptionallocationrequest_client.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionallocationrequest_client.go
Due: eng/pipelines/pullrequest.yml

Update sdk/resourcemanager/quota/armquota/groupquotalimitsrequest_client.go
  sdk/resourcemanager/quota/armquota/groupquotalimitsrequest_client.go
Due: eng/pipelines/pullrequest.yml

Update sdk/resourcemanager/quota/armquota/groupquotas_client.go
  sdk/resourcemanager/quota/armquota/groupquotas_client.go
Due: eng/pipelines/pullrequest.yml

add code
  sdk/resourcemanager/computerecommender/armcomputerecommender/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Update sdk/resourcemanager/quota/armquota/groupquotasubscriptions_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptions_client_example_test.go
Due: eng/pipelines/pullrequest.yml

remove file
  regenerate-sdk-result.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

git format changes
  sdk/storage/azfile/internal/generated/zz_models.go
Due: eng/pipelines/pullrequest.yml

revert file
  sdk/resourcemanager/computerecommender/armcomputerecommender/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

version updates and changelog changes
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Add CI parameter to pass args to "go vet"
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/steps/build-test.yml
  eng/scripts/build.ps1
  sdk/storage/azblob/ci.yml
  sdk/storage/azblob/internal/shared/mmf_windows.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add exit code check for go vet
  eng/scripts/build.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove extra $
  eng/pipelines/templates/steps/build-test.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix malformed version info
  sdk/storage/azblob/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

use named param and include quotes for empty value case
  eng/pipelines/templates/steps/build-test.yml
  sdk/storage/azblob/ci.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

version changes and changelog updates
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

add code (#25838)
  sdk/resourcemanager/resources/armbicep/testdata/_metadata.json
  sdk/resourcemanager/resources/armbicep/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml
