Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

react to comments
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
Due: none

updated changelog
  sdk/data/azcosmos/CHANGELOG.md
Due: none

add read many implementation with point reads
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_query_response.go
  sdk/data/azcosmos/cosmos_read_many_request_options.go
  sdk/data/azcosmos/emulator_cosmos_read_many_items_test.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
Due: none

fixed ParseSyncToken to better detect invalid tokens; added test cases
  sdk/data/azappconfig/internal/exported/sync_token.go
  sdk/data/azappconfig/internal/exported/sync_token_test.go
Due: eng/pipelines/pullrequest.yml

react to copilot comments
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_query_response.go
  sdk/data/azcosmos/emulator_cosmos_read_many_items_test.go
Due: none

update changelog
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/emulator_cosmos_read_many_items_test.go
Due: none

Sync eng/common directory with azure-sdk-tools for PR 12569 (#25512)
  eng/common/scripts/check-spelling-in-changed-files.ps1
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fixed incorrect surrounding quotes check (#25514)
  sdk/azcore/internal/exported/exported.go
  sdk/azcore/internal/exported/exported_test.go
Due: eng/pipelines/pullrequest.yml

Update creation instructions
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Allow forced creation when release plans already exist
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update version info
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

Validate package names when adding to release plan
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[azcore] Add HTTPVerb option to FetcherForNextLinkOptions for POST nextLink support (#25453)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/runtime/pager.go
  sdk/azcore/runtime/pager_test.go
Due: eng/pipelines/pullrequest.yml

react to comments
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_query_response.go
  sdk/data/azcosmos/cosmos_read_many_request_options.go
  sdk/data/azcosmos/emulator_cosmos_read_many_items_test.go
Due: none

fixed comment
  sdk/data/azcosmos/cosmos_container.go
Due: none

Add opt-in for WorkloadIdentityCredential proxy mode (#25392)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

Fix AzureCLICredential argument quoting on Windows
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/developer_credential_util.go
  sdk/azidentity/developer_credential_util_nonwindows.go
  sdk/azidentity/developer_credential_util_windows.go
Due: eng/pipelines/pullrequest.yml

react to comments
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/emulator_cosmos_read_many_items_test.go
Due: none

Fix the token audiences of aztables in sovereign cloud
  sdk/data/aztables/cloud_config.go
  sdk/data/aztables/service_client_test.go
Due: eng/pipelines/pullrequest.yml

add change log
  sdk/data/aztables/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/resourceconnector/armresourceconnector/1.1.1 generation from spec commit: e14a2f79867117f15fee0cdc5b200d7ae5034663
  sdk/resourcemanager/resourceconnector/armresourceconnector/CHANGELOG.md
  sdk/resourcemanager/resourceconnector/armresourceconnector/appliances_client.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/appliances_client_example_test.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/autorest.md
  sdk/resourcemanager/resourceconnector/armresourceconnector/build.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/client_factory.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/constants.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/fake/appliances_server.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/fake/internal.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/fake/server_factory.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/fake/time_rfc3339.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/go.mod
  sdk/resourcemanager/resourceconnector/armresourceconnector/go.sum
  sdk/resourcemanager/resourceconnector/armresourceconnector/models.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/models_serde.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/options.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/responses.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/testdata/_metadata.json
  sdk/resourcemanager/resourceconnector/armresourceconnector/time_rfc3339.go
  sdk/resourcemanager/resourceconnector/armresourceconnector/tsp-location.yaml
  sdk/resourcemanager/resourceconnector/armresourceconnector/version.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/trafficmanager/armtrafficmanager/2.0.0 generation from spec commit: 60afd1f611a0c54a957bebb7fc55f06f3c003e38
  sdk/resourcemanager/trafficmanager/armtrafficmanager/CHANGELOG.md
  sdk/resourcemanager/trafficmanager/armtrafficmanager/README.md
  sdk/resourcemanager/trafficmanager/armtrafficmanager/autorest.md
  sdk/resourcemanager/trafficmanager/armtrafficmanager/build.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/client_factory.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/constants.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/endpoints_client.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/endpoints_client_example_test.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/fake/endpoints_server.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/fake/geographichierarchies_server.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/fake/heatmap_server.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/fake/internal.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/fake/profiles_server.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/fake/server_factory.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/fake/time_rfc3339.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/fake/usermetricskeys_server.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/geographichierarchies_client.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/geographichierarchies_client_example_test.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/go.mod
  sdk/resourcemanager/trafficmanager/armtrafficmanager/go.sum
  sdk/resourcemanager/trafficmanager/armtrafficmanager/heatmap_client.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/heatmap_client_example_test.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/models.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/models_serde.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/options.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/profiles_client.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/profiles_client_example_test.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/responses.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/testdata/_metadata.json
  sdk/resourcemanager/trafficmanager/armtrafficmanager/time_rfc3339.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/tsp-location.yaml
  sdk/resourcemanager/trafficmanager/armtrafficmanager/usermetricskeys_client.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/usermetricskeys_client_example_test.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/version.go
Due: eng/pipelines/pullrequest.yml

react to comments
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
Due: none

Apply suggestion from @Copilot
  sdk/data/azcosmos/cosmos_container_read_many.go
Due: none

Apply suggestion from @Copilot
  sdk/data/azcosmos/cosmos_query_response.go
Due: none

Apply suggestion from @Copilot
  sdk/data/azcosmos/emulator_cosmos_read_many_items_test.go
Due: none

add aad to workload
  sdk/data/azcosmos/workloads/workload_config.go
  sdk/data/azcosmos/workloads/workload_utils.go
Due: none

remove ctx timer, run point reads on other thread
  sdk/data/azcosmos/workloads/main/main.go
  sdk/data/azcosmos/workloads/r_w_q_vs_workload.go
Due: none

Read Many API Point Read Implementation (#25522)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_query_response.go
  sdk/data/azcosmos/cosmos_read_many_request_options.go
  sdk/data/azcosmos/emulator_cosmos_read_many_items_test.go
Due: none

skip setup with aad
  sdk/data/azcosmos/workloads/main/main.go
Due: none

fix pkfield
  sdk/data/azcosmos/workloads/workload_utils.go
Due: none

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
