Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

azcosmos: expand query end-to-end contract coverage
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cursor_native.go
  sdk/data/azcosmos/emulator_query_test.go
  sdk/data/azcosmos/query_contract_emulator_test.go
Due: none

Replace former CODEOWNERS with Azure SDK engineering team
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Temporary change to trigger CI pipeline
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

PR Feedback
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix for azcli GitHub throttling
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Enclose var name
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

User REST API instead of Powershell
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Improve version extraction for azsdk package
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update Select-String pattern for version matching
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[azqueue] Prepare 2.1.1 release (#27675)
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

[azfile] Prepare 1.7.1 release (#27674)
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azqueue
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

[azfile] Skip SMB directory lease share tests when service omits the property
  sdk/storage/azfile/share/client_test.go
Due: eng/pipelines/pullrequest.yml

[azdatalake] Update azblob to v1.8.2 for service.Client GetSASURL fix
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/service/client_test.go
Due: eng/pipelines/pullrequest.yml

[azdatalake] Pass GetTags access conditions via BlobAccessConditions
  sdk/storage/azdatalake/internal/path/models.go
Due: eng/pipelines/pullrequest.yml

Remove service GetSASURL tests from azblob bump
  sdk/storage/azdatalake/service/client_test.go
Due: eng/pipelines/pullrequest.yml

[azdatalake] Forward GetTags access conditions via BlobAccessConditions
  sdk/storage/azdatalake/internal/path/models.go
Due: eng/pipelines/pullrequest.yml

Revert "[azdatalake] Pass GetTags access conditions via BlobAccessConditions"
  sdk/storage/azdatalake/internal/path/models.go
Due: eng/pipelines/pullrequest.yml

[azdatalake] Re-record filesystem ACL/permissions tests for azblob v1.8.2
  sdk/storage/azdatalake/assets.json
Due: eng/pipelines/pullrequest.yml

[azdatalake] Re-record download tests for azblob v1.8.2 managed download
  sdk/storage/azdatalake/assets.json
Due: eng/pipelines/pullrequest.yml

[azfile] Skip SMB directory lease share tests when service omits the property (#27680)
  sdk/storage/azfile/share/client_test.go
Due: eng/pipelines/pullrequest.yml

[Service Bus] Stabilize session timeout tests (#27609)
  sdk/messaging/azservicebus/client_test.go
  sdk/messaging/azservicebus/receiver_simulated_test.go
  sdk/messaging/azservicebus/session_receiver_test.go
Due: eng/pipelines/pullrequest.yml

chore: Add breaking changes heading
  sdk/messaging/azservicebus/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

fix: Remove empty breaking changes section
  sdk/messaging/azservicebus/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[azdatalake] Update azblob to v1.8.2 for service.Client GetSASURL fix (#27657)
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/path/models.go
Due: eng/pipelines/pullrequest.yml

Prep azcore@v1.23.3 for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

Continue checking auto-release PR candidates without weakening eligibility
  eng/common/scripts/AutoRelease-Operations.ps1
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Require one exact merge-commit match when resolving an auto-release PR
  eng/common/scripts/AutoRelease-Operations.ps1
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Prep azcore@v1.23.3 for release (#27681)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

Add template-only Go release completion correlation
  eng/pipelines/templates/jobs/archetype-go-release.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/scripts/tests/release-completion-contract.Tests.ps1
  sdk/template/aztemplate/ci.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove historical Git dependency from Go release contract tests
  eng/scripts/tests/release-completion-contract.Tests.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azcosmos: preserve cancellation metadata and clarify query timeouts
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/container_client_query.go
  sdk/data/azcosmos/operation_native.go
  sdk/data/azcosmos/operation_native_test.go
  sdk/data/azcosmos/operation_options.go
  sdk/data/azcosmos/query.go
Due: none

Increment package version after release of azcore
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

azcosmos: clarify query charge reporting after cancellation
  sdk/data/azcosmos/README.md
Due: none

Forward release-plan correlation through shared completion adapters
  eng/common/pipelines/templates/stages/archetype-auto-release-prepare.yml
  eng/common/pipelines/templates/steps/mark-release-completion.yml
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

test(azdatalake): validate recursive list path results
  sdk/storage/azdatalake/filesystem/client_test.go
Due: eng/pipelines/pullrequest.yml

test(azdatalake): aggregate list path pager results
  sdk/storage/azdatalake/filesystem/client_test.go
Due: eng/pipelines/pullrequest.yml

test(azdatalake): harden paged continuation checks
  sdk/storage/azdatalake/filesystem/client_test.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
