Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Update CHANGELOG.md
  sdk/data/azappconfig/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Prep azcore for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG for 1.0.0 GA release (api-version 2026-04-01)
  sdk/resourcemanager/enclave/armenclave/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Prep azcore for release (#27471)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

Prep azidentity for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of azcore
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

revert MSAL upgrade
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
Due: eng/pipelines/pullrequest.yml

Prep azidentity for release (#27473)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of azidentity
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Audience auto detect
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/cloud_test.go
Due: eng/pipelines/pullrequest.yml

update
  sdk/data/azappconfig/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Update README.md
  sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/README.md
Due: eng/pipelines/pullrequest.yml

Upgrade TypeSpec Go emitter to 0.17.3 (#27480)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove live tests
  sdk/resourcemanager/storage/armstorage/blob_live_test.go
  sdk/resourcemanager/storage/armstorage/file_live_test.go
  sdk/resourcemanager/storage/armstorage/go.mod
  sdk/resourcemanager/storage/armstorage/go.sum
  sdk/resourcemanager/storage/armstorage/queue_live_test.go
  sdk/resourcemanager/storage/armstorage/storage_live_test.go
  sdk/resourcemanager/storage/armstorage/table_live_test.go
  sdk/resourcemanager/storage/armstorage/utils_test.go
Due: eng/pipelines/pullrequest.yml

azcosmos: run ReadItem and CreateItem against the driver
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/completion_native.go
  sdk/data/azcosmos/container_client_item.go
  sdk/data/azcosmos/container_client_item_test.go
  sdk/data/azcosmos/convert_native.go
  sdk/data/azcosmos/convert_native_test.go
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/driver_stub.go
  sdk/data/azcosmos/emulator_test.go
  sdk/data/azcosmos/item_request.go
  sdk/data/azcosmos/operation_native.go
  sdk/data/azcosmos/reactor_native.go
  sdk/data/azcosmos/reactor_native_test.go
Due: none

azcosmos: verify the item operations against a live emulator
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/emulator_test.go
Due: none

azcosmos: run the driver emulator tests in CI
  sdk/data/azcosmos/ci.yml
  sdk/data/azcosmos/internal/testdata/provision/main.go
Due: none

azcosmos: test against the driver's in-memory emulator
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/ci.yml
  sdk/data/azcosmos/emulator_test.go
  sdk/data/azcosmos/internal/testdata/emulator-config.json
  sdk/data/azcosmos/internal/testdata/provision/main.go
Due: none

azcosmos: align the binding with the v2 distribution design
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cgo_native.go
  sdk/data/azcosmos/ci.yml
  sdk/data/azcosmos/completion_native.go
  sdk/data/azcosmos/container_client_item_test.go
  sdk/data/azcosmos/convert_native.go
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/driver_stub.go
  sdk/data/azcosmos/errors.go
  sdk/data/azcosmos/errors_test.go
  sdk/data/azcosmos/internal/native/lib/.gitignore
  sdk/data/azcosmos/item_request.go
  sdk/data/azcosmos/operation_native.go
  sdk/data/azcosmos/reactor_native.go
Due: none

azcosmos: bound operations by the caller's deadline
  sdk/data/azcosmos/container_client_item_test.go
  sdk/data/azcosmos/item_request.go
  sdk/data/azcosmos/operation_native.go
Due: none

App Config - FF endpoint (#27248)
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/assets.json
  sdk/data/azappconfig/cloud_test.go
  sdk/data/azappconfig/constants.go
  sdk/data/azappconfig/examples_test.go
  sdk/data/azappconfig/feature_flag.go
  sdk/data/azappconfig/feature_flag_client.go
  sdk/data/azappconfig/feature_flag_client_test.go
  sdk/data/azappconfig/feature_flag_options.go
  sdk/data/azappconfig/feature_flag_responses.go
  sdk/data/azappconfig/feature_flag_selector.go
  sdk/data/azappconfig/feature_flag_test.go
  sdk/data/azappconfig/internal/generated/custom_client.go
  sdk/data/azappconfig/internal/generated/custom_client_test.go
  sdk/data/azappconfig/internal/generated/zz_azureappconfiguration_client.go
  sdk/data/azappconfig/internal/generated/zz_azureappconfigurationfeatureflag_client.go
  sdk/data/azappconfig/internal/generated/zz_constants.go
  sdk/data/azappconfig/internal/generated/zz_models.go
  sdk/data/azappconfig/internal/generated/zz_models_serde.go
  sdk/data/azappconfig/internal/generated/zz_options.go
  sdk/data/azappconfig/internal/generated/zz_responses.go
  sdk/data/azappconfig/tsp-location.yaml
  sdk/data/azappconfig/utils_test.go
Due: eng/pipelines/pullrequest.yml

Bump Vally CLI to 0.14.0
  eng/common/scripts/eval/README.md
  eng/common/scripts/eval/package-lock.json
  eng/common/scripts/eval/package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Point eval lockfiles at public npm registry
  eng/common/scripts/eval/README.md
  eng/common/scripts/eval/package-lock.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of data/azappconfig
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/version.go
Due: eng/pipelines/pullrequest.yml

Add Create-APIViewRevision.ps1 script
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIViewRevision.ps1
  eng/common/scripts/Get-PackageApprovalStatus.ps1
  eng/common/scripts/tests/Create-APIViewRevision.Tests.ps1
  eng/common/scripts/tests/Get-PackageApprovalStatus.Tests.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Ensure Get-PackageApprovalStatus does not fail for packages that aren't ready for release.
  eng/common/scripts/Get-PackageApprovalStatus.ps1
  eng/common/scripts/tests/Get-PackageApprovalStatus.Tests.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Updates.
  eng/common/scripts/tests/Get-PackageApprovalStatus.Tests.ps1
  eng/common/scripts/tests/Mark-PackageReleased.Tests.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Code review feedback.
  eng/common/pipelines/templates/steps/get-package-approval-status.yml
  eng/common/pipelines/templates/steps/mark-package-released.yml
  eng/common/scripts/Create-APIViewRevision.ps1
  eng/common/scripts/Get-PackageApprovalStatus.ps1
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/Mark-PackageReleased.ps1
  eng/common/scripts/tests/Create-APIViewRevision.Tests.ps1
  eng/common/scripts/tests/Get-PackageApprovalStatus.Tests.ps1
  eng/common/scripts/tests/Mark-PackageReleased.Tests.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Code review feedback.
  eng/common/pipelines/templates/steps/create-apiview-revision.yml
  eng/common/pipelines/templates/steps/get-package-approval-status.yml
  eng/common/pipelines/templates/steps/mark-package-released.yml
  eng/common/pipelines/templates/variables/api-review-break-glass.yml
  eng/common/scripts/Get-PackageApprovalStatus.ps1
  eng/common/scripts/Mark-PackageReleased.ps1
  eng/common/scripts/tests/Get-PackageApprovalStatus.Tests.ps1
  eng/common/scripts/tests/Mark-PackageReleased.Tests.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Validate SDK language for package approval
  eng/common/scripts/Get-PackageApprovalStatus.ps1
  eng/common/scripts/Mark-PackageReleased.ps1
  eng/common/scripts/tests/Get-PackageApprovalStatus.Tests.ps1
  eng/common/scripts/tests/Mark-PackageReleased.Tests.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update get-package-approval-status condition.
  eng/common/pipelines/templates/steps/get-package-approval-status.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Pin GitHub Actions to full-length commit SHAs
  .github/dependabot.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/event-processor.yml
  .github/workflows/post-apiview.yml
  .github/workflows/scheduled-event-processor.yml
  .github/workflows/verify-links.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
