Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

azcosmos: wire DiagnosticsVerbosity through cursor completion decoding
  sdk/data/azcosmos/cursor_native.go
Due: none

azcosmos: wrap native ClientOperationTimeout as cancellation after context ends
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/operation_native.go
  sdk/data/azcosmos/operation_native_test.go
Due: none

azcosmos: defer public fault injection API
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/diagnostics_emulator_test.go
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/fault_injection.go
  sdk/data/azcosmos/fault_injection_native.go
  sdk/data/azcosmos/fault_injection_native_test.go
  sdk/data/azcosmos/rust_parity_test.go
Due: none

[azblob] TEMPORARY CI DEPENDENCY: storage/internal pseudo-version
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
Due: eng/pipelines/pullrequest.yml

[azdatalake] TEMPORARY CI DEPENDENCY: azblob and storage/internal pseudo-versions
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
Due: eng/pipelines/pullrequest.yml

[azdatalake] Restore the SessionMode doc comment
  sdk/storage/azdatalake/common.go
Due: eng/pipelines/pullrequest.yml

Point STG105 generation at the existing combined TypeSpec branch
  sdk/storage/azblob/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[Storage] Add autorefresh and locality packages to sdk/storage/internal
  sdk/storage/internal/CHANGELOG.md
  sdk/storage/internal/autorefresh/cache.go
  sdk/storage/internal/autorefresh/cache_test.go
  sdk/storage/internal/go.mod
  sdk/storage/internal/go.sum
  sdk/storage/internal/locality/policy.go
  sdk/storage/internal/locality/policy_test.go
  sdk/storage/internal/version.go
Due: eng/pipelines/pullrequest.yml

azcosmos: only writes wait authoritatively after context cancellation
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/operation_native.go
Due: none

Update azservicebus changelog history
  sdk/messaging/azservicebus/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[azblob] TEMPORARY CI DEPENDENCY: storage/internal from its own branch
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
Due: eng/pipelines/pullrequest.yml

azcosmos v2: native retries, sessions, and diagnostics (#27662)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cgo_native.go
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/completion_native.go
  sdk/data/azcosmos/completion_native_test.go
  sdk/data/azcosmos/container_client_query.go
  sdk/data/azcosmos/cursor_native.go
  sdk/data/azcosmos/diagnostics.go
  sdk/data/azcosmos/diagnostics_emulator_test.go
  sdk/data/azcosmos/diagnostics_native.go
  sdk/data/azcosmos/diagnostics_native_test.go
  sdk/data/azcosmos/diagnostics_test.go
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/driver_native_test.go
  sdk/data/azcosmos/errors.go
  sdk/data/azcosmos/errors_test.go
  sdk/data/azcosmos/operation_native.go
  sdk/data/azcosmos/operation_native_test.go
  sdk/data/azcosmos/query_native.go
  sdk/data/azcosmos/query_test.go
  sdk/data/azcosmos/reactor_native.go
  sdk/data/azcosmos/reactor_native_test.go
  sdk/data/azcosmos/response.go
  sdk/data/azcosmos/retry_native_test.go
Due: none

azcosmos: add source-native E2E scenario tests (Layer B/C initial slice)
  sdk/data/azcosmos/e2e/catalog_test.go
  sdk/data/azcosmos/e2e/diagnostics_session_test.go
  sdk/data/azcosmos/e2e/fixture.go
  sdk/data/azcosmos/e2e/item_crud_test.go
  sdk/data/azcosmos/e2e/item_variants_test.go
  sdk/data/azcosmos/e2e/query_test.go
  sdk/data/azcosmos/internal/e2e/implementations.go
Due: none

Increment package version after release of messaging/azservicebus
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Due: eng/pipelines/pullrequest.yml

azcosmos v2: add key-auth database/container management APIs
  sdk/data/azcosmos/cgo_native.go
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/container_client.go
  sdk/data/azcosmos/database_client.go
  sdk/data/azcosmos/driver_stub.go
  sdk/data/azcosmos/management.go
  sdk/data/azcosmos/management_properties.go
  sdk/data/azcosmos/management_test.go
  sdk/data/azcosmos/operation_native_management.go
  sdk/data/azcosmos/operation_native_management_test.go
  sdk/data/azcosmos/response.go
Due: none

azcosmos v2: fix lint, cache invalidation, Kind inference; add CHANGELOG and emulator test
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/management_emulator_test.go
  sdk/data/azcosmos/management_properties.go
  sdk/data/azcosmos/management_test.go
  sdk/data/azcosmos/operation_native_management.go
Due: none

azcosmos: fix lint and doc issues in E2E scenario port
  sdk/data/azcosmos/e2e/item_crud_test.go
  sdk/data/azcosmos/e2e/item_variants_test.go
  sdk/data/azcosmos/e2e/query_test.go
  sdk/data/azcosmos/internal/e2e/catalog/README.md
Due: none

prepare release v2.3.0
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/version.go
Due: eng/pipelines/pullrequest.yml

azfile: add Share Creation Time support (STG 105)
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_responses.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

azfile: add Files Change Feed headers support (STG 105)
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_responses.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/share/models.go
  sdk/storage/azfile/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

azblob: enable Photon (Arrow) by default (STG 105)
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/internal/exported/storage_response_format.go
Due: eng/pipelines/pullrequest.yml

azblob: update default initial chunk size to match regular chunk size (STG 105)
  sdk/storage/azblob/blockblob/client.go
Due: eng/pipelines/pullrequest.yml

azfile: add NFS List V2 Files and Directories support (STG 105)
  sdk/storage/azfile/directory/constants.go
  sdk/storage/azfile/directory/models.go
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/models.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_responses.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

azfile: add File GET APIs by FileID Phase 1 (STG 105)
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/file/responses.go
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_responses.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/sas/url_parts.go
  sdk/storage/azfile/share/client.go
  sdk/storage/azfile/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

prepare release v2.3.0 (#27702)
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/version.go
Due: eng/pipelines/pullrequest.yml

Upgrade TypeSpec packages and Go emitter to latest releases (#27704)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix premature completion of asynchronous POST actions
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/pollers/async/async.go
  sdk/azcore/internal/pollers/async/async_test.go
Due: eng/pipelines/pullrequest.yml

azcosmos: validate preconditions and return text JSON automatically
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/binary_encoding_emulator_test.go
  sdk/data/azcosmos/binary_encoding_test.go
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/container_client_item.go
  sdk/data/azcosmos/container_client_item_test.go
  sdk/data/azcosmos/container_client_query.go
  sdk/data/azcosmos/convert_native.go
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/emulator_query_test.go
  sdk/data/azcosmos/emulator_test.go
  sdk/data/azcosmos/example_precondition_test.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/operation_options.go
  sdk/data/azcosmos/operation_options_emulator_test.go
  sdk/data/azcosmos/operation_options_native_test.go
  sdk/data/azcosmos/operation_options_test.go
  sdk/data/azcosmos/precondition.go
  sdk/data/azcosmos/precondition_native_test.go
  sdk/data/azcosmos/precondition_test.go
  sdk/data/azcosmos/query.go
  sdk/data/azcosmos/query_test.go
  sdk/data/azcosmos/response.go
  sdk/data/azcosmos/runtime_native.go
  sdk/data/azcosmos/rust_parity_test.go
Due: none

azcosmos v2: add transactional batches with complete HPK support
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/batch_native.go
  sdk/data/azcosmos/batch_native_test.go
  sdk/data/azcosmos/completion_native.go
  sdk/data/azcosmos/container_client_batch.go
  sdk/data/azcosmos/container_client_query.go
  sdk/data/azcosmos/container_partition_key.go
  sdk/data/azcosmos/container_partition_key_test.go
  sdk/data/azcosmos/driver_stub.go
  sdk/data/azcosmos/emulator_batch_test.go
  sdk/data/azcosmos/example_batch_test.go
  sdk/data/azcosmos/internal/testdata/README.md
  sdk/data/azcosmos/internal/testdata/emulator-config.json
  sdk/data/azcosmos/item_request.go
  sdk/data/azcosmos/operation_native.go
  sdk/data/azcosmos/query_native.go
  sdk/data/azcosmos/transactional_batch.go
  sdk/data/azcosmos/transactional_batch_response.go
  sdk/data/azcosmos/transactional_batch_response_test.go
  sdk/data/azcosmos/transactional_batch_test.go
Due: none

azcosmos: correct unreleased diagnostics changelog
  sdk/data/azcosmos/CHANGELOG.md
Due: none

[azdatalake] Prepare v1.7.0 release
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

[azdatalake] Merge unreleased 1.6.1 entries into 1.7.0
  sdk/storage/azdatalake/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[azdatalake] Prepare v1.7.0 release (#27706)
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

azcosmos: honor context cancellation for submitted writes
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/operation_native.go
  sdk/data/azcosmos/operation_native_test.go
  sdk/data/azcosmos/write_cancellation_emulator_test.go
Due: none

azcosmos: add change-feed pull reads and checkpoint resume
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/change_feed.go
  sdk/data/azcosmos/change_feed_contract_native_test.go
  sdk/data/azcosmos/change_feed_emulator_test.go
  sdk/data/azcosmos/change_feed_native.go
  sdk/data/azcosmos/change_feed_native_test.go
  sdk/data/azcosmos/change_feed_stub_test.go
  sdk/data/azcosmos/change_feed_test.go
  sdk/data/azcosmos/container_client_change_feed.go
  sdk/data/azcosmos/container_client_query.go
  sdk/data/azcosmos/cursor_native.go
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/driver_stub.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/operation_options.go
  sdk/data/azcosmos/query.go
  sdk/data/azcosmos/query_native.go
Due: none

azcosmos: isolate credential-sensitive emulator tests
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/emulator_query_test.go
  sdk/data/azcosmos/emulator_test.go
Due: none
