Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Regenerate armservicefabric with emitter v0.14.0 and fix armservicebus test
  sdk/resourcemanager/servicebus/armservicebus/namespace_live_test.go
  sdk/resourcemanager/servicefabric/armservicefabric/applications_client.go
  sdk/resourcemanager/servicefabric/armservicefabric/applications_client_example_test.go
  sdk/resourcemanager/servicefabric/armservicefabric/applicationtypes_client.go
  sdk/resourcemanager/servicefabric/armservicefabric/applicationtypes_client_example_test.go
  sdk/resourcemanager/servicefabric/armservicefabric/applicationtypeversions_client.go
  sdk/resourcemanager/servicefabric/armservicefabric/applicationtypeversions_client_example_test.go
  sdk/resourcemanager/servicefabric/armservicefabric/clusters_client.go
  sdk/resourcemanager/servicefabric/armservicefabric/clusters_client_example_test.go
  sdk/resourcemanager/servicefabric/armservicefabric/clusterversions_client.go
  sdk/resourcemanager/servicefabric/armservicefabric/clusterversions_client_example_test.go
  sdk/resourcemanager/servicefabric/armservicefabric/constants.go
  sdk/resourcemanager/servicefabric/armservicefabric/fake/applications_server.go
  sdk/resourcemanager/servicefabric/armservicefabric/fake/applicationtypes_server.go
  sdk/resourcemanager/servicefabric/armservicefabric/fake/applicationtypeversions_server.go
  sdk/resourcemanager/servicefabric/armservicefabric/fake/clusters_server.go
  sdk/resourcemanager/servicefabric/armservicefabric/fake/clusterversions_server.go
  sdk/resourcemanager/servicefabric/armservicefabric/fake/internal.go
  sdk/resourcemanager/servicefabric/armservicefabric/fake/operations_server.go
  sdk/resourcemanager/servicefabric/armservicefabric/fake/services_server.go
  sdk/resourcemanager/servicefabric/armservicefabric/fake/unsupportedvmsizes_server.go
  sdk/resourcemanager/servicefabric/armservicefabric/operations_client.go
  sdk/resourcemanager/servicefabric/armservicefabric/operations_client_example_test.go
  sdk/resourcemanager/servicefabric/armservicefabric/services_client.go
  sdk/resourcemanager/servicefabric/armservicefabric/services_client_example_test.go
  sdk/resourcemanager/servicefabric/armservicefabric/testdata/_metadata.json
  sdk/resourcemanager/servicefabric/armservicefabric/unsupportedvmsizes_client.go
  sdk/resourcemanager/servicefabric/armservicefabric/unsupportedvmsizes_client_example_test.go
Due: eng/pipelines/pullrequest.yml

Address kushagraThapar follow-ups: retry budget, forceRefresh isolation, sentinel handling
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_location_cache_test.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: none

Remove detached refresh timeout; retry transient page failures indefinitely
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: none

Revert forceRefresh displacement; concurrent callers share in-flight refresh
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
Due: none

docs(azservicebus): add ListSessionsForQueue/Subscription changelog entry (PR#26688)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/client_list_sessions_unit_test.go
Due: eng/pipelines/pullrequest.yml

[azcosmos] tighten default HTTP client timeouts and increase pool size (#26856)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_default_http_client.go
  sdk/data/azcosmos/cosmos_default_http_client_dialer_other.go
  sdk/data/azcosmos/cosmos_default_http_client_dialer_wasm.go
  sdk/data/azcosmos/cosmos_default_http_client_test.go
  sdk/data/azcosmos/go.mod
Due: none

Simplify PK range cache retry: 429-only, delegate others to pipeline
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: none

azcosmos: cross-region retry policy for connection errors and 408s
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
Due: none

azcosmos: add PR link to CHANGELOG entries
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Refine breaking change docs to follow Changelog → Spec → Breaking → Reason → Resolution pattern (#26811)
  documentation/development/breaking-changes/sdk-breaking-changes-guide-migration.md
  documentation/development/breaking-changes/sdk-breaking-changes-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix(eng/tools/internal/exports): handle SelectorExpr value in typed const (#26853)
  eng/tools/internal/exports/exports.go
  eng/tools/internal/exports/exports_test.go
Due: eng/pipelines/pullrequest.yml

chore(eng/tools): bump eng/tools/internal to pick up SelectorExpr const fix
  eng/tools/apidiff/go.mod
  eng/tools/apidiff/go.sum
  eng/tools/generator/go.mod
  eng/tools/generator/go.sum
  eng/tools/profileBuilder/go.mod
  eng/tools/profileBuilder/go.sum
Due: eng/pipelines/pullrequest.yml

chore(eng/tools): bump eng/tools/internal to pick up SelectorExpr const fix (#26859)
  eng/tools/apidiff/go.mod
  eng/tools/apidiff/go.sum
  eng/tools/generator/go.mod
  eng/tools/generator/go.sum
  eng/tools/profileBuilder/go.mod
  eng/tools/profileBuilder/go.sum
Due: eng/pipelines/pullrequest.yml

Condense PK range cache comments
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: none

Address deep-reviewer findings: panic recovery, invalidate cancel, sentinel wrap
  sdk/cosmos/.temp/pr-26855-full.txt
  sdk/cosmos/.temp/pr-26855-stat.txt
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: eng/pipelines/pullrequest.yml

Remove accidentally-committed PR diff dump
  sdk/cosmos/.temp/pr-26855-full.txt
  sdk/cosmos/.temp/pr-26855-stat.txt
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/databricks/armdatabricks/assets.json
  sdk/resourcemanager/databricks/armdatabricks/databricks_live_test.go
  sdk/resourcemanager/databricks/armdatabricks/vnetpeering_live_test.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/signalr/armsignalr/assets.json
  sdk/resourcemanager/signalr/armsignalr/signalr_live_test.go
Due: eng/pipelines/pullrequest.yml

Drop CHANGELOG entry for invalidate-cancel/panic-recovery internals
  sdk/data/azcosmos/CHANGELOG.md
Due: none

azcosmos: address PR review comments
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
Due: none

[Key Vault] Preparing for Administration and Keys release
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azkeys/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

fix: correct active-messages sentinel to 253402300800000 ms
  sdk/messaging/azservicebus/client.go
  sdk/messaging/azservicebus/client_list_sessions_unit_test.go
  sdk/messaging/azservicebus/internal/mgmt.go
  sdk/messaging/azservicebus/internal/mgmt_get_sessions_test.go
Due: eng/pipelines/pullrequest.yml

Add platform managed certificate helper
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/assets.json
  sdk/security/keyvault/azcertificates/custom_client.go
  sdk/security/keyvault/azcertificates/custom_client_test.go
Due: eng/pipelines/pullrequest.yml

Add secure key wrap parameter helpers
  sdk/security/keyvault/azkeys/CHANGELOG.md
  sdk/security/keyvault/azkeys/client_test.go
  sdk/security/keyvault/azkeys/custom_client.go
  sdk/security/keyvault/azkeys/fake/server_test.go
Due: eng/pipelines/pullrequest.yml

Add Key Vault secrets service version wrapper
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/assets.json
  sdk/security/keyvault/azsecrets/client_test.go
  sdk/security/keyvault/azsecrets/custom_client.go
Due: eng/pipelines/pullrequest.yml

fix: add NegotiateClaim before creating management RPC link
  sdk/messaging/azservicebus/client.go
Due: eng/pipelines/pullrequest.yml

azcosmos: revert cross-region/forceRefresh behavior, address deep-review #1,#2,#4,#13, comment cleanup
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_dbaccount_refresh_test.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_policy.go
  sdk/data/azcosmos/cosmos_location_cache.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
Due: none

gofmt: re-indent appended test fixtures
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: none

azcosmos: deflake TestFix3c on Windows go1.26.1
  sdk/data/azcosmos/cosmos_dbaccount_refresh_test.go
Due: none

azcosmos: address PR Copilot review comments
  sdk/data/azcosmos/cosmos_dbaccount_refresh_test.go
  sdk/data/azcosmos/cosmos_location_cache.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
Due: none

update assets.json
  sdk/resourcemanager/operationalinsights/armoperationalinsights/assets.json
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/resources/armresources/assets.json
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): rename UpdatedAfter to SessionStateUpdatedAfter for cross-SDK parity
  sdk/messaging/azservicebus/client.go
  sdk/messaging/azservicebus/client_list_sessions_unit_test.go
  sdk/messaging/azservicebus/internal/mgmt_get_sessions_test.go
Due: eng/pipelines/pullrequest.yml

Upgrade emitter packages: typespec-go 0.14.1, typespec-client-generator-core 0.68.1 (#26863)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
