Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

gofmt
  sdk/resourcemanager/newrelic/armnewrelicobservability/monitors_client_example_test.go
Due: eng/pipelines/pullrequest.yml

change integer type
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
Due: none

Review feedback
  eng/common/pipelines/templates/steps/check-spelling.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Review feedback: don't clutter steps unless upgrade script param is used
  eng/common/pipelines/templates/steps/check-spelling.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Comment
  eng/common/pipelines/templates/steps/check-spelling.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Don't diff against a baseline. Assume spelling is correct before upgrade.
  eng/common/pipelines/templates/steps/check-spelling.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add cspell upgrade check in check-spelling.yml
  eng/common/pipelines/templates/steps/check-spelling.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update to the latest tsp emitter
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update to the latest tsp emitter (#25635)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 12910 (#25628)
  eng/common/pipelines/templates/steps/check-spelling.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add pkPaths
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
Due: none

revert file
  regenerate-sdk-result.json
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/version.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

revert file
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/constants.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/imageversions_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/pools_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/resourcedetails_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/sku_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/subscriptionusages_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/time_rfc3339.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/go.mod
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/go.sum
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/imageversions_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/imageversions_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/models.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/models_serde.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/operations_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/operations_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/options.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/pools_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/pools_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/resourcedetails_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/resourcedetails_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/responses.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/sku_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/sku_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/subscriptionusages_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/subscriptionusages_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

revert file
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

revert file
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/testdata/_metadata.json
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/version.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/keyvault/armkeyvault/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/vaults_client_example_test.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
Due: eng/pipelines/pullrequest.yml

gofmt
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/agriservice_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/experiments_client_example_test.go
  sdk/resourcemanager/cloudhealth/armcloudhealth/healthmodels_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactions_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/grafana_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/dell/armdellstorage/filesystems_client_example_test.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/iotdpsresource_client_example_test.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/namespacedevices_client_example_test.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/namespacediscovereddevices_client_example_test.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/namespaces_client_example_test.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusters_client_example_test.go
  sdk/resourcemanager/iotoperations/armiotoperations/brokerauthentication_client_example_test.go
  sdk/resourcemanager/iotoperations/armiotoperations/brokerauthorization_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/mongoclusters_client_example_test.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/workspaces_client_example_test.go
  sdk/resourcemanager/pineconevectordb/armpineconevectordb/organizations_client_example_test.go
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/geocatalogs_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/storagepools_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applications_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasks_client_example_test.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/sapvirtualinstances_client_example_test.go
Due: eng/pipelines/pullrequest.yml

add documentation and remove sleep in between operations to improve throughput
  sdk/data/azcosmos/workloads/initial_setup.go
  sdk/data/azcosmos/workloads/r_w_q_vs_workload.go
  sdk/data/azcosmos/workloads/workload_utils.go
Due: none

update go.sum
  sdk/data/azcosmos/workloads/go.sum
Due: none

update dependencies
  sdk/data/azcosmos/workloads/go.mod
  sdk/data/azcosmos/workloads/go.sum
Due: none

add note that items will be unordered
  sdk/data/azcosmos/cosmos_container.go
Due: none

Update CI to latest two versions of Go
  eng/.golangci.yml
  eng/pipelines/mgmt-auto-release.yml
  eng/pipelines/templates/steps/analyze.yml
  eng/pipelines/templates/variables/globals.yml
  eng/scripts/automation_init.sh
  eng/tools/generator/cmd/environment/environmentCmd_test.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Bump cspell from 9.2.1 to 9.3.2 in /eng/common/spelling (#25642)
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove GOEXPERIMENT that's been removed in Go 1.25
  eng/pipelines/templates/variables/globals.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

evals pipeline
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

sparse checkout repo we are in
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove skip condition
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

added instruction trigger
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add new variables
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add code
  sdk/resourcemanager/attestation/armattestation/CHANGELOG.md
  sdk/resourcemanager/attestation/armattestation/README.md
  sdk/resourcemanager/attestation/armattestation/attestation_live_test.go
  sdk/resourcemanager/attestation/armattestation/autorest.md
  sdk/resourcemanager/attestation/armattestation/build.go
  sdk/resourcemanager/attestation/armattestation/client_factory.go
  sdk/resourcemanager/attestation/armattestation/constants.go
  sdk/resourcemanager/attestation/armattestation/fake/internal.go
  sdk/resourcemanager/attestation/armattestation/fake/operations_server.go
  sdk/resourcemanager/attestation/armattestation/fake/privateendpointconnections_server.go
  sdk/resourcemanager/attestation/armattestation/fake/privatelinkresources_server.go
  sdk/resourcemanager/attestation/armattestation/fake/providers_server.go
  sdk/resourcemanager/attestation/armattestation/fake/server_factory.go
  sdk/resourcemanager/attestation/armattestation/fake/time_rfc3339.go
  sdk/resourcemanager/attestation/armattestation/go.mod
  sdk/resourcemanager/attestation/armattestation/go.sum
  sdk/resourcemanager/attestation/armattestation/models.go
  sdk/resourcemanager/attestation/armattestation/models_serde.go
  sdk/resourcemanager/attestation/armattestation/operations_client.go
  sdk/resourcemanager/attestation/armattestation/operations_client_example_test.go
  sdk/resourcemanager/attestation/armattestation/options.go
  sdk/resourcemanager/attestation/armattestation/privateendpointconnections_client.go
  sdk/resourcemanager/attestation/armattestation/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/attestation/armattestation/privatelinkresources_client.go
  sdk/resourcemanager/attestation/armattestation/privatelinkresources_client_example_test.go
  sdk/resourcemanager/attestation/armattestation/providers_client.go
  sdk/resourcemanager/attestation/armattestation/providers_client_example_test.go
  sdk/resourcemanager/attestation/armattestation/responses.go
  sdk/resourcemanager/attestation/armattestation/testdata/_metadata.json
  sdk/resourcemanager/attestation/armattestation/time_rfc3339.go
  sdk/resourcemanager/attestation/armattestation/tsp-location.yaml
  sdk/resourcemanager/attestation/armattestation/version.go
Due: eng/pipelines/pullrequest.yml

add code
  sdk/resourcemanager/managementgroups/armmanagementgroups/CHANGELOG.md
  sdk/resourcemanager/managementgroups/armmanagementgroups/README.md
  sdk/resourcemanager/managementgroups/armmanagementgroups/api_client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/autorest.md
  sdk/resourcemanager/managementgroups/armmanagementgroups/build.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/client_factory.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/constants.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/entities_client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/entities_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/api_server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/entities_server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/hierarchysettings_server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/internal.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/management_server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/managementgroupsubscriptions_server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/operations_server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/server_factory.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/time_rfc3339.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/go.mod
  sdk/resourcemanager/managementgroups/armmanagementgroups/go.sum
  sdk/resourcemanager/managementgroups/armmanagementgroups/hierarchysettings_client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/hierarchysettings_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/management_client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/management_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/management_live_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/managementgroupsubscriptions_client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/managementgroupsubscriptions_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/models.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/models_serde.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/operations_client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/operations_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/options.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/responses.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/testdata/_metadata.json
  sdk/resourcemanager/managementgroups/armmanagementgroups/time_rfc3339.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/tsp-location.yaml
  sdk/resourcemanager/managementgroups/armmanagementgroups/version.go
Due: eng/pipelines/pullrequest.yml

upgrade azidentity version
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
Due: eng/pipelines/pullrequest.yml

upgrade azidentity version in files and adls
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
