Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

revert changelog
  sdk/resourcemanager/computelimit/armcomputelimit/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

updating azqueue dependency
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
Due: eng/pipelines/pullrequest.yml

review comment
  sdk/storage/azblob/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

correct version numbers
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azqueue/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

review comments
  sdk/storage/azdatalake/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

updating version numbers
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azfile/internal/exported/version.go
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

updating version.go
  sdk/storage/azdatalake/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Reverted change of adding auth in module installation command
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/setup-environments.yml
  eng/common/pipelines/templates/steps/run-pester-tests.yml
  eng/common/pipelines/templates/steps/verify-restapi-spec-location.yml
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Removed fallback logic of installation module
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

reverted quotation mark change
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Install PS modules from CFS
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/common/TestResources/setup-environments.yml
  eng/common/pipelines/templates/steps/run-pester-tests.yml
  eng/common/pipelines/templates/steps/verify-restapi-spec-location.yml
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
  eng/common/scripts/Verify-Resource-Ref.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Change installation to be required version
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

updating date
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azqueue/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azqueue
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azfile
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

updating dependencies
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
Due: eng/pipelines/pullrequest.yml

overlap fields fix
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/internal/exported/access_conditions.go
Due: eng/pipelines/pullrequest.yml

adding tests
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client_test.go
Due: eng/pipelines/pullrequest.yml

adding AccessTierConditions in delete blob
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/models.go
Due: eng/pipelines/pullrequest.yml

adding comment
  sdk/storage/azblob/blob/models.go
Due: eng/pipelines/pullrequest.yml

updating changelog for STG101 release for azblob
  sdk/storage/azblob/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azblob
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

updating azblob dependency
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
Due: eng/pipelines/pullrequest.yml

updating release date
  sdk/storage/azdatalake/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azdatalake
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

recording.Sleep
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/examples_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/service/client_test.go
Due: eng/pipelines/pullrequest.yml

feedback
  sdk/storage/azblob/blob/examples_test.go
Due: eng/pipelines/pullrequest.yml

Remove duplicate definitions of module constants
  sdk/messaging/eventgrid/azsystemevents/build.go
  sdk/messaging/eventgrid/azsystemevents/internal/version.go
Due: eng/pipelines/pullrequest.yml

remove lint
  sdk/messaging/eventgrid/azsystemevents/custom_events.go
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG with initial preview features
  sdk/resourcemanager/monitor/armslis/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

change regions contacted to use region name, with fallback to identifier
  sdk/data/azcosmos/diagnostics_test.go
  sdk/data/azcosmos/trace_data.go
  sdk/data/azcosmos/trace_json_writer.go
Due: none

order diagnostic keys
  sdk/data/azcosmos/diagnostics_test.go
  sdk/data/azcosmos/trace_json_writer.go
Due: none

remove direct calls
  sdk/data/azcosmos/trace_json_writer.go
Due: none

validate `errors.As` still works on new wrapped error
  sdk/data/azcosmos/diagnostics_test.go
Due: none

refine azcosmos diagnostics output and error coverage
  sdk/data/azcosmos/diagnostics_test.go
Due: none

adjust trace end time
  sdk/data/azcosmos/diagnostics_test.go
  sdk/data/azcosmos/trace.go
Due: none

sleep
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/service/client_test.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/lease/client_test.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azqueue/queue_client_test.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
