Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

handwritten layer
  sdk/storage/azqueue/README.md
  sdk/storage/azqueue/models.go
  sdk/storage/azqueue/queue_client.go
  sdk/storage/azqueue/service_client.go
  sdk/storage/azqueue/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

internal
  sdk/storage/azqueue/internal/base/clients.go
  sdk/storage/azqueue/internal/generated/autorest.md
  sdk/storage/azqueue/internal/generated/messageid_client.go
  sdk/storage/azqueue/internal/generated/messages_client.go
  sdk/storage/azqueue/internal/generated/models.go
  sdk/storage/azqueue/internal/generated/queue_client.go
  sdk/storage/azqueue/internal/generated/service_client.go
  sdk/storage/azqueue/internal/testcommon/common.go
Due: eng/pipelines/pullrequest.yml

tanya feedback
  sdk/storage/azqueue/queue_client.go
  sdk/storage/azqueue/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

joel feedback
  sdk/storage/azqueue/internal/generated/models.go
  sdk/storage/azqueue/internal/generated/queue_client.go
  sdk/storage/azqueue/internal/generated/zz_constants.go
  sdk/storage/azqueue/internal/generated/zz_queue_client.go
  sdk/storage/azqueue/internal/generated/zz_service_client.go
Due: eng/pipelines/pullrequest.yml

version
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

tsp location
  sdk/storage/azqueue/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

remove content-type
  sdk/storage/azqueue/internal/generated/zz_queue_client.go
  sdk/storage/azqueue/internal/generated/zz_responses.go
  sdk/storage/azqueue/internal/generated/zz_service_client.go
Due: eng/pipelines/pullrequest.yml

emitter
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

emitter (#26810)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

internal
  sdk/storage/azfile/internal/base/clients.go
  sdk/storage/azfile/internal/exported/copy_file_nfs_property.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/build.go
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/directory_client.go
  sdk/storage/azfile/internal/generated/file_client.go
  sdk/storage/azfile/internal/generated/models.go
  sdk/storage/azfile/internal/generated/options.go
  sdk/storage/azfile/internal/generated/service_client.go
  sdk/storage/azfile/internal/generated/share_client.go
  sdk/storage/azfile/internal/shared/shared.go
  sdk/storage/azfile/internal/testcommon/common.go
Due: eng/pipelines/pullrequest.yml

generated
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_responses.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/internal/generated/zz_time_rfc1123.go
  sdk/storage/azfile/internal/generated/zz_time_rfc3339.go
  sdk/storage/azfile/internal/generated/zz_xml_helper.go
Due: eng/pipelines/pullrequest.yml

handwritten layer
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/directory/models.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/lease/file_client.go
  sdk/storage/azfile/lease/models.go
  sdk/storage/azfile/lease/share_client.go
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/share/client.go
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azfile/share/models.go
  sdk/storage/azfile/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

update emitter
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_responses.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

tanya feedback
  sdk/storage/azfile/directory/client.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/internal/exported/copy_file_nfs_property.go
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/relay/armrelay/2.0.0 generation from spec commit: 00b39ba3d62a87b463165988c4b281dc2bb825f1
  sdk/resourcemanager/relay/armrelay/CHANGELOG.md
  sdk/resourcemanager/relay/armrelay/README.md
  sdk/resourcemanager/relay/armrelay/autorest.md
  sdk/resourcemanager/relay/armrelay/client_factory.go
  sdk/resourcemanager/relay/armrelay/constants.go
  sdk/resourcemanager/relay/armrelay/fake/hybridconnections_server.go
  sdk/resourcemanager/relay/armrelay/fake/internal.go
  sdk/resourcemanager/relay/armrelay/fake/namespaces_server.go
  sdk/resourcemanager/relay/armrelay/fake/operations_server.go
  sdk/resourcemanager/relay/armrelay/fake/privateendpointconnections_server.go
  sdk/resourcemanager/relay/armrelay/fake/privatelinkresources_server.go
  sdk/resourcemanager/relay/armrelay/fake/server_factory.go
  sdk/resourcemanager/relay/armrelay/fake/time_rfc3339.go
  sdk/resourcemanager/relay/armrelay/fake/wcfrelays_server.go
  sdk/resourcemanager/relay/armrelay/go.mod
  sdk/resourcemanager/relay/armrelay/go.sum
  sdk/resourcemanager/relay/armrelay/hybridconnections_client.go
  sdk/resourcemanager/relay/armrelay/hybridconnections_client_example_test.go
  sdk/resourcemanager/relay/armrelay/hybridconnections_live_test.go
  sdk/resourcemanager/relay/armrelay/models.go
  sdk/resourcemanager/relay/armrelay/models_serde.go
  sdk/resourcemanager/relay/armrelay/namespaces_client.go
  sdk/resourcemanager/relay/armrelay/namespaces_client_example_test.go
  sdk/resourcemanager/relay/armrelay/namespaces_live_test.go
  sdk/resourcemanager/relay/armrelay/operations_client.go
  sdk/resourcemanager/relay/armrelay/operations_client_example_test.go
  sdk/resourcemanager/relay/armrelay/operations_live_test.go
  sdk/resourcemanager/relay/armrelay/options.go
  sdk/resourcemanager/relay/armrelay/privateendpointconnections_client.go
  sdk/resourcemanager/relay/armrelay/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/relay/armrelay/privatelinkresources_client.go
  sdk/resourcemanager/relay/armrelay/privatelinkresources_client_example_test.go
  sdk/resourcemanager/relay/armrelay/responses.go
  sdk/resourcemanager/relay/armrelay/time_rfc3339.go
  sdk/resourcemanager/relay/armrelay/version.go
  sdk/resourcemanager/relay/armrelay/wcfrelays_client.go
  sdk/resourcemanager/relay/armrelay/wcfrelays_client_example_test.go
  sdk/resourcemanager/relay/armrelay/wcfrelays_live_test.go
Due: eng/pipelines/pullrequest.yml

Go SDK Change detector (#26802)
  eng/swagger_to_sdk_config.json
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/README.md
  eng/tools/generator/cmd/changelog/changelogCmd.go
  eng/tools/generator/cmd/changelog/changelogCmd_test.go
  eng/tools/generator/version.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/cdn/armcdn/afdx_live_test.go
  sdk/resourcemanager/cdn/armcdn/assets.json
Due: eng/pipelines/pullrequest.yml

Update documentation/development/breaking-changes/sdk-breaking-changes-guide-migration.md
  documentation/development/breaking-changes/sdk-breaking-changes-guide-migration.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update documentation/development/breaking-changes/sdk-breaking-changes-guide.md
  documentation/development/breaking-changes/sdk-breaking-changes-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Handle multiple sync tokens (#26772)
  sdk/data/azappconfig/internal/synctoken/policy.go
  sdk/data/azappconfig/internal/synctoken/policy_test.go
Due: eng/pipelines/pullrequest.yml

remove file
  regenerate-sdk-result.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[azqueue] migrate to typespec (#26561)
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/README.md
  sdk/storage/azqueue/internal/base/clients.go
  sdk/storage/azqueue/internal/exported/version.go
  sdk/storage/azqueue/internal/generated/autorest.md
  sdk/storage/azqueue/internal/generated/build.go
  sdk/storage/azqueue/internal/generated/messageid_client.go
  sdk/storage/azqueue/internal/generated/messages_client.go
  sdk/storage/azqueue/internal/generated/queue_client.go
  sdk/storage/azqueue/internal/generated/service_client.go
  sdk/storage/azqueue/internal/generated/zz_constants.go
  sdk/storage/azqueue/internal/generated/zz_messageid_client.go
  sdk/storage/azqueue/internal/generated/zz_messages_client.go
  sdk/storage/azqueue/internal/generated/zz_models.go
  sdk/storage/azqueue/internal/generated/zz_models_serde.go
  sdk/storage/azqueue/internal/generated/zz_options.go
  sdk/storage/azqueue/internal/generated/zz_queue_client.go
  sdk/storage/azqueue/internal/generated/zz_responses.go
  sdk/storage/azqueue/internal/generated/zz_service_client.go
  sdk/storage/azqueue/internal/generated/zz_time_rfc1123.go
  sdk/storage/azqueue/internal/generated/zz_time_rfc3339.go
  sdk/storage/azqueue/internal/generated/zz_xml_helper.go
  sdk/storage/azqueue/internal/testcommon/common.go
  sdk/storage/azqueue/models.go
  sdk/storage/azqueue/queue_client.go
  sdk/storage/azqueue/service_client.go
  sdk/storage/azqueue/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

fix: add OTel tracing spans to ReadManyItems internal queries
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_container_read_many_test.go
Due: none

chore: add changelog entry for ReadManyItems tracing fix
  sdk/data/azcosmos/CHANGELOG.md
Due: none

fix: use err instead of spanErr to match codebase pattern
  sdk/data/azcosmos/cosmos_container_read_many.go
Due: none

test: add error-path span test and RU charge assertion
  sdk/data/azcosmos/cosmos_container_read_many_test.go
Due: none

chore: add PR back-reference to changelog entry
  sdk/data/azcosmos/CHANGELOG.md
Due: none

chore: go fmt
  sdk/data/azcosmos/cosmos_container_read_many_test.go
Due: none

Fix compile error in eventgrid_event.go after time helper rename
  sdk/messaging/eventgrid/azsystemevents/eventgrid_event.go
Due: eng/pipelines/pullrequest.yml

Cosmos: fix excess GetDatabaseAccount calls and default-endpoint fallback (#25468)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_dbaccount_refresh_test.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_policy.go
  sdk/data/azcosmos/cosmos_location_cache.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
Due: none

joel feedback
  sdk/storage/azfile/share/client.go
  sdk/storage/azfile/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Fix servicebus test: Update -> BeginUpdate (LRO change)
  sdk/resourcemanager/servicebus/armservicebus/namespace_live_test.go
Due: eng/pipelines/pullrequest.yml

SetDefaultMatcher cleanup
  sdk/storage/azfile/internal/testcommon/common.go
  sdk/storage/azfile/share/client_test.go
Due: eng/pipelines/pullrequest.yml

azcosmos: add 5xx retry policy for transient server errors
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
Due: none

azcosmos: add 429 throttle retry policy
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_options.go
  sdk/data/azcosmos/cosmos_http_constants.go
  sdk/data/azcosmos/cosmos_throttle_retry_policy.go
  sdk/data/azcosmos/cosmos_throttle_retry_policy_test.go
Due: none

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
