Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Add azsdk mcp to go repo
  .gitignore
  .vscode/mcp.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update documentation/sdk-breaking-changes-guide.md
  documentation/sdk-breaking-changes-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/playwright/armplaywright/0.1.0 generation from spec commit: 81cb525ba1985326c5607fc368abfc64ff9f5aa2
  sdk/resourcemanager/playwright/armplaywright/CHANGELOG.md
  sdk/resourcemanager/playwright/armplaywright/LICENSE.txt
  sdk/resourcemanager/playwright/armplaywright/README.md
  sdk/resourcemanager/playwright/armplaywright/ci.yml
  sdk/resourcemanager/playwright/armplaywright/client_factory.go
  sdk/resourcemanager/playwright/armplaywright/constants.go
  sdk/resourcemanager/playwright/armplaywright/fake/internal.go
  sdk/resourcemanager/playwright/armplaywright/fake/operations_server.go
  sdk/resourcemanager/playwright/armplaywright/fake/quotas_server.go
  sdk/resourcemanager/playwright/armplaywright/fake/server_factory.go
  sdk/resourcemanager/playwright/armplaywright/fake/workspacequotas_server.go
  sdk/resourcemanager/playwright/armplaywright/fake/workspaces_server.go
  sdk/resourcemanager/playwright/armplaywright/go.mod
  sdk/resourcemanager/playwright/armplaywright/go.sum
  sdk/resourcemanager/playwright/armplaywright/models.go
  sdk/resourcemanager/playwright/armplaywright/models_serde.go
  sdk/resourcemanager/playwright/armplaywright/operations_client.go
  sdk/resourcemanager/playwright/armplaywright/operations_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/options.go
  sdk/resourcemanager/playwright/armplaywright/quotas_client.go
  sdk/resourcemanager/playwright/armplaywright/quotas_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/responses.go
  sdk/resourcemanager/playwright/armplaywright/testdata/_metadata.json
  sdk/resourcemanager/playwright/armplaywright/time_rfc3339.go
  sdk/resourcemanager/playwright/armplaywright/tsp-location.yaml
  sdk/resourcemanager/playwright/armplaywright/workspacequotas_client.go
  sdk/resourcemanager/playwright/armplaywright/workspacequotas_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/workspaces_client.go
  sdk/resourcemanager/playwright/armplaywright/workspaces_client_example_test.go
Due: eng/pipelines/pullrequest.yml

regenerate
  sdk/resourcemanager/playwright/armplaywright/README.md
Due: eng/pipelines/pullrequest.yml

changes for azqueue v2 beta release
  sdk/storage/azqueue/README.md
  sdk/storage/azqueue/constants.go
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
  sdk/storage/azqueue/models.go
  sdk/storage/azqueue/queue_client.go
  sdk/storage/azqueue/queue_client_test.go
  sdk/storage/azqueue/responses.go
  sdk/storage/azqueue/samples_test.go
  sdk/storage/azqueue/service_client.go
  sdk/storage/azqueue/service_client_test.go
Due: eng/pipelines/pullrequest.yml

update asset
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
Due: eng/pipelines/pullrequest.yml

missed v2 import in queue_client.go
  sdk/storage/azqueue/internal/base/clients.go
Due: eng/pipelines/pullrequest.yml

Prepare azidentity v1.11.0-beta.1 for release (#24906)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Add copilot instructions for sdk release
  .github/copilot-instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update sdk/resourcemanager/playwright/armplaywright/CHANGELOG.md
  sdk/resourcemanager/playwright/armplaywright/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/playwright/armplaywright/0.1.0 (#24921)
  sdk/resourcemanager/playwright/armplaywright/CHANGELOG.md
  sdk/resourcemanager/playwright/armplaywright/LICENSE.txt
  sdk/resourcemanager/playwright/armplaywright/README.md
  sdk/resourcemanager/playwright/armplaywright/ci.yml
  sdk/resourcemanager/playwright/armplaywright/client_factory.go
  sdk/resourcemanager/playwright/armplaywright/constants.go
  sdk/resourcemanager/playwright/armplaywright/fake/internal.go
  sdk/resourcemanager/playwright/armplaywright/fake/operations_server.go
  sdk/resourcemanager/playwright/armplaywright/fake/quotas_server.go
  sdk/resourcemanager/playwright/armplaywright/fake/server_factory.go
  sdk/resourcemanager/playwright/armplaywright/fake/workspacequotas_server.go
  sdk/resourcemanager/playwright/armplaywright/fake/workspaces_server.go
  sdk/resourcemanager/playwright/armplaywright/go.mod
  sdk/resourcemanager/playwright/armplaywright/go.sum
  sdk/resourcemanager/playwright/armplaywright/models.go
  sdk/resourcemanager/playwright/armplaywright/models_serde.go
  sdk/resourcemanager/playwright/armplaywright/operations_client.go
  sdk/resourcemanager/playwright/armplaywright/operations_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/options.go
  sdk/resourcemanager/playwright/armplaywright/quotas_client.go
  sdk/resourcemanager/playwright/armplaywright/quotas_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/responses.go
  sdk/resourcemanager/playwright/armplaywright/testdata/_metadata.json
  sdk/resourcemanager/playwright/armplaywright/time_rfc3339.go
  sdk/resourcemanager/playwright/armplaywright/tsp-location.yaml
  sdk/resourcemanager/playwright/armplaywright/workspacequotas_client.go
  sdk/resourcemanager/playwright/armplaywright/workspacequotas_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/workspaces_client.go
  sdk/resourcemanager/playwright/armplaywright/workspaces_client_example_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/dashboard/armdashboard/2.0.0-beta.1 generation from spec commit: f4654aaad4541f7684d15bafaeaede87f9aac17b
  sdk/resourcemanager/dashboard/armdashboard/CHANGELOG.md
  sdk/resourcemanager/dashboard/armdashboard/README.md
  sdk/resourcemanager/dashboard/armdashboard/autorest.md
  sdk/resourcemanager/dashboard/armdashboard/build.go
  sdk/resourcemanager/dashboard/armdashboard/client_factory.go
  sdk/resourcemanager/dashboard/armdashboard/constants.go
  sdk/resourcemanager/dashboard/armdashboard/fake/grafana_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/integrationfabrics_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/internal.go
  sdk/resourcemanager/dashboard/armdashboard/fake/manageddashboards_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/managedprivateendpoints_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/operations_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/privateendpointconnections_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/privatelinkresources_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/server_factory.go
  sdk/resourcemanager/dashboard/armdashboard/fake/time_rfc3339.go
  sdk/resourcemanager/dashboard/armdashboard/go.mod
  sdk/resourcemanager/dashboard/armdashboard/go.sum
  sdk/resourcemanager/dashboard/armdashboard/grafana_client.go
  sdk/resourcemanager/dashboard/armdashboard/grafana_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/integrationfabrics_client.go
  sdk/resourcemanager/dashboard/armdashboard/integrationfabrics_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/manageddashboards_client.go
  sdk/resourcemanager/dashboard/armdashboard/manageddashboards_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/managedprivateendpoints_client.go
  sdk/resourcemanager/dashboard/armdashboard/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/models.go
  sdk/resourcemanager/dashboard/armdashboard/models_serde.go
  sdk/resourcemanager/dashboard/armdashboard/operations_client.go
  sdk/resourcemanager/dashboard/armdashboard/operations_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/options.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/privatelinkresources_client.go
  sdk/resourcemanager/dashboard/armdashboard/privatelinkresources_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/responses.go
  sdk/resourcemanager/dashboard/armdashboard/testdata/_metadata.json
  sdk/resourcemanager/dashboard/armdashboard/time_rfc3339.go
  sdk/resourcemanager/dashboard/armdashboard/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/dashboard/armdashboard/2.0.0-beta.1 generation from spec commit: f4654aaad4541f7684d15bafaeaede87f9aac17b
  sdk/resourcemanager/dashboard/armdashboard/CHANGELOG.md
  sdk/resourcemanager/dashboard/armdashboard/README.md
  sdk/resourcemanager/dashboard/armdashboard/autorest.md
  sdk/resourcemanager/dashboard/armdashboard/build.go
  sdk/resourcemanager/dashboard/armdashboard/client_factory.go
  sdk/resourcemanager/dashboard/armdashboard/constants.go
  sdk/resourcemanager/dashboard/armdashboard/fake/grafana_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/integrationfabrics_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/internal.go
  sdk/resourcemanager/dashboard/armdashboard/fake/manageddashboards_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/managedprivateendpoints_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/operations_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/privateendpointconnections_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/privatelinkresources_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/server_factory.go
  sdk/resourcemanager/dashboard/armdashboard/fake/time_rfc3339.go
  sdk/resourcemanager/dashboard/armdashboard/go.mod
  sdk/resourcemanager/dashboard/armdashboard/grafana_client.go
  sdk/resourcemanager/dashboard/armdashboard/grafana_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/integrationfabrics_client.go
  sdk/resourcemanager/dashboard/armdashboard/integrationfabrics_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/manageddashboards_client.go
  sdk/resourcemanager/dashboard/armdashboard/manageddashboards_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/managedprivateendpoints_client.go
  sdk/resourcemanager/dashboard/armdashboard/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/models.go
  sdk/resourcemanager/dashboard/armdashboard/models_serde.go
  sdk/resourcemanager/dashboard/armdashboard/operations_client.go
  sdk/resourcemanager/dashboard/armdashboard/operations_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/options.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/privatelinkresources_client.go
  sdk/resourcemanager/dashboard/armdashboard/privatelinkresources_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/responses.go
  sdk/resourcemanager/dashboard/armdashboard/testdata/_metadata.json
  sdk/resourcemanager/dashboard/armdashboard/time_rfc3339.go
  sdk/resourcemanager/dashboard/armdashboard/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

update asset
  sdk/resourcemanager/compute/armcompute/assets.json
  sdk/resourcemanager/compute/armcompute/snapshot_live_test.go
  sdk/resourcemanager/compute/armcompute/virtualmachine_live_test.go
  sdk/resourcemanager/compute/armcompute/virtualmachinescaleset_live_test.go
Due: eng/pipelines/pullrequest.yml

update to use mcp tool
  .github/instructions/go-sdk-automation-analysis.instructions.md
  .github/instructions/go-sdk-generation.instructions.md
  eng/scripts/Check-SDKGenerationPrerequisites.ps1
  eng/scripts/Prepare-GenerationConfig.ps1
  eng/tools/mcp/CHANGELOG.md
  eng/tools/mcp/README.md
  eng/tools/mcp/go.mod
  eng/tools/mcp/go.sum
  eng/tools/mcp/main.go
  eng/tools/mcp/registry.go
  eng/tools/mcp/tools/environment_checker.go
  eng/tools/mcp/tools/environment_checker_test.go
  eng/tools/mcp/tools/sdk_generator.go
  eng/tools/mcp/tools/sdk_generator_test.go
  eng/tools/mcp/version.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/eventgrid/armeventgrid/eventgrid_live_test.go
Due: eng/pipelines/pullrequest.yml

update
  .gitignore
  eng/tools/mcp/tools/sdk_generator.go
  eng/tools/mcp/tools/sdk_generator_test.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update asset
  sdk/resourcemanager/msi/armmsi/assets.json
Due: eng/pipelines/pullrequest.yml

update
  eng/tools/mcp/tools/environment_checker.go
  eng/tools/mcp/tools/environment_checker_test.go
Due: eng/pipelines/pullrequest.yml

rollback global setting
  .github/copilot-instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update
  .github/instructions/go-sdk-breaking-changes-review.instructions.md
  documentation/sdk-breaking-changes-guide.md
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/mcp/tools/sdk_generator.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/2.0.0 generation from spec commit: 44319b51c6f952fdc9543d3dc4fdd9959350d102 (#24884)
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/CHANGELOG.md
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/autorest.md
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/build.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/client_factory.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusterbackupstatus_client.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusterbackupstatus_client_example_test.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusterprivateendpointconnections_client.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusterprivateendpointconnections_client_example_test.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusterprivatelinkresources_client.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusterprivatelinkresources_client_example_test.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusterrestorestatus_client.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusterrestorestatus_client_example_test.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusters_client.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusters_client_example_test.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/constants.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/dedicatedhsm_client.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/dedicatedhsm_client_example_test.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/cloudhsmclusterbackupstatus_server.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/cloudhsmclusterprivateendpointconnections_server.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/cloudhsmclusterprivatelinkresources_server.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/cloudhsmclusterrestorestatus_server.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/cloudhsmclusters_server.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/dedicatedhsm_server.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/internal.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/operations_server.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/privateendpointconnections_server.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/server_factory.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/fake/time_rfc3339.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/models.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/models_serde.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/operations_client.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/operations_client_example_test.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/options.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/privateendpointconnections_client.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/responses.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/testdata/_metadata.json
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/time_rfc3339.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/resourcemanager/computeschedule/armcomputeschedule/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/computeschedule/armcomputeschedule/1.1.0 (#24737)
  sdk/resourcemanager/computeschedule/armcomputeschedule/CHANGELOG.md
  sdk/resourcemanager/computeschedule/armcomputeschedule/_metadata.json
  sdk/resourcemanager/computeschedule/armcomputeschedule/autorest.md
  sdk/resourcemanager/computeschedule/armcomputeschedule/build.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/client_factory.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/constants.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/internal.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/operations_server.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/scheduledactions_server.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/server_factory.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/time_rfc3339.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/models.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/models_serde.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/operation_live_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/operations_client.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/operations_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/options.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/responses.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactions_client.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactions_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/time_rfc3339.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

update changelog and go get
  eng/tools/generator/cmd/v2/common/changelogProcessor.go
  eng/tools/generator/cmd/v2/common/changelogProcessor_test.go
  eng/tools/generator/cmd/v2/common/generation.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of azidentity
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of azidentity (#24930)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

typespec conversion
  sdk/monitor/ingestion/azlogs/CHANGELOG.md
  sdk/monitor/ingestion/azlogs/README.md
  sdk/monitor/ingestion/azlogs/autorest.md
  sdk/monitor/ingestion/azlogs/build.go
  sdk/monitor/ingestion/azlogs/client.go
  sdk/monitor/ingestion/azlogs/client_test.go
  sdk/monitor/ingestion/azlogs/cloud_config.go
  sdk/monitor/ingestion/azlogs/custom_client.go
  sdk/monitor/ingestion/azlogs/example_test.go
  sdk/monitor/ingestion/azlogs/fake/internal.go
  sdk/monitor/ingestion/azlogs/fake/server.go
  sdk/monitor/ingestion/azlogs/fake/server_test.go
  sdk/monitor/ingestion/azlogs/go.mod
  sdk/monitor/ingestion/azlogs/go.sum
  sdk/monitor/ingestion/azlogs/options.go
  sdk/monitor/ingestion/azlogs/responses.go
  sdk/monitor/ingestion/azlogs/testdata/_metadata.json
  sdk/monitor/ingestion/azlogs/tsp-location.yaml
  sdk/monitor/ingestion/azlogs/utils_test.go
  sdk/monitor/ingestion/azlogs/version.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/computeschedule/armcomputeschedule/1.2.0-beta.1 generation from spec commit: a29efddd350bf7554c30797af1d44fa3504519e6
  sdk/resourcemanager/computeschedule/armcomputeschedule/CHANGELOG.md
  sdk/resourcemanager/computeschedule/armcomputeschedule/README.md
  sdk/resourcemanager/computeschedule/armcomputeschedule/client_factory.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/constants.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/occurrenceextension_server.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/occurrences_server.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/scheduledactionextension_server.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/scheduledactions_server.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/fake/server_factory.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/models.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/models_serde.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/occurrenceextension_client.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/occurrenceextension_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/occurrences_client.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/occurrences_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/operations_client.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/operations_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/options.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/responses.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactionextension_client.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactionextension_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactions_client.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactions_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/testdata/_metadata.json
  sdk/resourcemanager/computeschedule/armcomputeschedule/time_rfc3339.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

some refactor
  .github/copilot-instructions.md
  .github/prompts/go-sdk-breaking-changes-review.prompts.md
  .github/prompts/go-sdk-generation.prompts.md
  eng/tools/generator/changelog/changelog.go
  eng/tools/generator/changelog/changelog_filter.go
  eng/tools/generator/changelog/changelog_filter_test.go
  eng/tools/generator/changelog/changelog_test.go
  eng/tools/generator/changelog/changelog_tool.go
  eng/tools/generator/changelog/changelog_tool_test.go
  eng/tools/generator/changelog/testdata/new/enum/enumfilter.go
  eng/tools/generator/changelog/testdata/new/interfacetoany/interfacetoanyfilter.go
  eng/tools/generator/changelog/testdata/new/lro/lrofilter.go
  eng/tools/generator/changelog/testdata/new/non-export/nonexport.go
  eng/tools/generator/changelog/testdata/new/operation/funcfilter.go
  eng/tools/generator/changelog/testdata/new/page/page.go
  eng/tools/generator/changelog/testdata/new/parameter/parameter.go
  eng/tools/generator/changelog/testdata/new/toany/toany.go
  eng/tools/generator/changelog/testdata/old/enum/enumfilter.go
  eng/tools/generator/changelog/testdata/old/interfacetoany/interfacetoanyfilter.go
  eng/tools/generator/changelog/testdata/old/lro/lrofilter.go
  eng/tools/generator/changelog/testdata/old/non-export/nonexport.go
  eng/tools/generator/changelog/testdata/old/operation/funcfilter.go
  eng/tools/generator/changelog/testdata/old/page/page.go
  eng/tools/generator/changelog/testdata/old/parameter/parameter.go
  eng/tools/generator/changelog/testdata/old/toany/toany.go
  eng/tools/generator/cmd/issue/issueCmd.go
  eng/tools/generator/cmd/v2/common/changelogProcessor.go
  eng/tools/generator/cmd/v2/common/changelogProcessor_test.go
  eng/tools/generator/cmd/v2/common/fileProcessor.go
  eng/tools/generator/cmd/v2/common/fileProcessor_test.go
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/config/config.go
  eng/tools/generator/config/option.go
  eng/tools/generator/config/option_test.go
  eng/tools/generator/config/refresh.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix issue
  eng/tools/generator/changelog/changelog_tool.go
  eng/tools/generator/changelog/changelog_tool_test.go
Due: eng/pipelines/pullrequest.yml

update
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/mcp/tools/sdk_generator.go
Due: eng/pipelines/pullrequest.yml

fix partition key ranges err handling
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_test.go
Due: none
