Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Add Go v2 (azcosmos/v2) planning and API-surface design docs
  sdk/data/azcosmos/docs/v2/go-v2-api-surface.md
  sdk/data/azcosmos/docs/v2/go-v2-planning.md
Due: none

Remove effort estimates from Go v2 planning doc
  sdk/data/azcosmos/docs/v2/go-v2-planning.md
Due: none

Increment package version after release of data/azcosmos
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

[Discovery] Release armdiscovery as public preview 0.1.0
  sdk/resourcemanager/discovery/armdiscovery/CHANGELOG.md
  sdk/resourcemanager/discovery/armdiscovery/version.go
Due: eng/pipelines/pullrequest.yml

[Service Bus] Add topic SQLFilterCount and CorrelationFilterCount runtime properties
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/admin/admin_client_topic.go
  sdk/messaging/azservicebus/admin/admin_client_topic_filtercount_live_test.go
  sdk/messaging/azservicebus/admin/admin_client_topic_filtercount_test.go
  sdk/messaging/azservicebus/internal/atom/entity_manager.go
  sdk/messaging/azservicebus/internal/atom/models.go
  sdk/messaging/azservicebus/internal/constants.go
Due: eng/pipelines/pullrequest.yml

Clarify shallow checkout constraint
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update azblob changelog for perf enhancements
  sdk/storage/azblob/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Test parallel blob setup cancellation
  sdk/storage/azblob/testdata/perf/list_blobs.go
  sdk/storage/azblob/testdata/perf/list_blobs_test.go
Due: eng/pipelines/pullrequest.yml

ci: update management-plane PR review agentic workflow
  .github/aw/actions-lock.json
  .github/skills/query-release-plan/SKILL.md
  .github/skills/query-release-plan/scripts/query_release_plan.py
  .github/skills/query-released-azure-lib/SKILL.md
  .github/skills/query-released-azure-lib/scripts/query_released_azure_lib.py
  .github/workflows/mgmt-review.lock.yml
  .github/workflows/mgmt-review.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Improve azblob perf runner reliability and coverage
  sdk/internal/perf/README.md
  sdk/internal/perf/call_type_latency.go
  sdk/internal/perf/coverage_edges_test.go
  sdk/internal/perf/implementation.go
  sdk/internal/perf/latency_stats.go
  sdk/internal/perf/operation_result.go
  sdk/internal/perf/perf.go
  sdk/internal/perf/perf_options_test.go
  sdk/internal/perf/perf_runner.go
  sdk/internal/perf/profile.go
  sdk/internal/perf/profile_test.go
  sdk/internal/perf/proxy_edges_test.go
  sdk/internal/perf/proxy_lifecycle_test.go
  sdk/internal/perf/recording.go
  sdk/internal/perf/reservoir.go
  sdk/internal/perf/result_output.go
  sdk/internal/perf/runner_lifecycle_test.go
  sdk/internal/perf/runner_output_test.go
  sdk/internal/perf/workload_config_test.go
  sdk/storage/azblob/testdata/perf/.gitignore
  sdk/storage/azblob/testdata/perf/download_blob.go
  sdk/storage/azblob/testdata/perf/harness_lifecycle_test.go
  sdk/storage/azblob/testdata/perf/list_blobs.go
  sdk/storage/azblob/testdata/perf/registration_test.go
  sdk/storage/azblob/testdata/perf/shared.go
  sdk/storage/azblob/testdata/perf/shared_test.go
  sdk/storage/azblob/testdata/perf/transfer_test.go
  sdk/storage/azblob/testdata/perf/upload_blob.go
Due: eng/pipelines/pullrequest.yml

ci: address review comments on mgmt-review workflow
  .github/skills/query-release-plan/scripts/query_release_plan.py
  .github/skills/query-released-azure-lib/scripts/query_released_azure_lib.py
  .github/workflows/mgmt-review.lock.yml
  .github/workflows/mgmt-review.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Elide embedded TopicRuntimeProperties field in filter-count test (staticcheck QF1008)
  sdk/messaging/azservicebus/admin/admin_client_topic_filtercount_test.go
Due: eng/pipelines/pullrequest.yml

Address PR review: add ATOM-XML deserialization tests for topic filter counts + document zero-when-absent
  sdk/messaging/azservicebus/admin/admin_client_topic.go
  sdk/messaging/azservicebus/admin/admin_client_topic_filtercount_test.go
Due: eng/pipelines/pullrequest.yml

Revert unexport of ReadOnClosedBodyMessage to preserve GA public API
  sdk/storage/azfile/file/retry_reader.go
Due: eng/pipelines/pullrequest.yml

Add CHANGELOG entry for structured message CRC64 content validation
  sdk/storage/azfile/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[azfile] Send framed structured-message body in UploadRange
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
Due: eng/pipelines/pullrequest.yml

[azfile] Fix staticcheck SA1008 in UploadRange structured-message test
  sdk/storage/azfile/file/client_test.go
Due: eng/pipelines/pullrequest.yml

[azdatalake] Add CHANGELOG entry for structured message CRC64 content validation
  sdk/storage/azdatalake/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Apply suggestions from code review
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/service/client.go
Due: eng/pipelines/pullrequest.yml

FetcherForNextLink can inject query parameters
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/exported/request.go
  sdk/azcore/internal/exported/request_test.go
  sdk/azcore/runtime/pager.go
  sdk/azcore/runtime/pager_test.go
  sdk/azcore/runtime/request.go
  sdk/azcore/runtime/request_test.go
Due: eng/pipelines/pullrequest.yml

azcosmos: add the v2 error and response model
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/errors.go
  sdk/data/azcosmos/errors_test.go
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
  sdk/data/azcosmos/response.go
Due: none

azcosmos: add PartitionKey
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/partition_key.go
  sdk/data/azcosmos/partition_key_test.go
Due: none

azcosmos: add client construction
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/container_client.go
  sdk/data/azcosmos/credential.go
  sdk/data/azcosmos/database_client.go
Due: none

[DO NOT MERGE] dummy azcosmos change to validate feature branch protections
  sdk/data/azcosmos/cosmos_client.go
Due: none

azcosmos: address review of client construction
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/client_test.go
Due: none

azcosmos: add ReadItem and CreateItem
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/container_client_item.go
  sdk/data/azcosmos/container_client_item_test.go
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/errors.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
  sdk/data/azcosmos/read_consistency_strategy.go
Due: none

azcosmos: add the v2 capability matrix and sign-off notes
  sdk/data/azcosmos/docs/v2-capability-matrix.md
  sdk/data/azcosmos/read_consistency_strategy.go
Due: none

azcosmos: drop the migration guide stub and restore ci.yml
  eng/config.json
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/ci.yml
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/driver.go
  sdk/data/azcosmos/migrationguide.md
Due: eng/pipelines/pullrequest.yml

azcosmos: restore the coverage goal
  eng/config.json
Due: eng/pipelines/pullrequest.yml

azcosmos: drop the capability matrix reference to the migration guide stub
  sdk/data/azcosmos/docs/v2-capability-matrix.md
Due: none

[azfile] Propagate non-EOF read errors at segment boundaries in SMEncoder
  sdk/storage/azfile/internal/shared/structured_message.go
  sdk/storage/azfile/internal/shared/structured_message_test.go
Due: eng/pipelines/pullrequest.yml

ci: reduce mgmt review threat detection false positives
  .github/workflows/mgmt-review.lock.yml
  .github/workflows/mgmt-review.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

go fmt
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/service/client.go
Due: eng/pipelines/pullrequest.yml

[Storage] Add structured message CRC64 content validation for azfile (#27261)
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/file/responses.go
  sdk/storage/azfile/file/retry_reader.go
  sdk/storage/azfile/fileerror/error_codes.go
  sdk/storage/azfile/internal/exported/transfer_validation_option.go
  sdk/storage/azfile/internal/generated/models.go
  sdk/storage/azfile/internal/shared/structured_message.go
  sdk/storage/azfile/internal/shared/structured_message_test.go
Due: eng/pipelines/pullrequest.yml

azcosmos: link the changelog entries to this pull request
  sdk/data/azcosmos/CHANGELOG.md
Due: none

azcosmos: link the changelog entry to this pull request
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
