Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Adjusted emulator tests to also consider ChangeFeed reads using a PartitionKey
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Implement tests for PartitionKey and Container ChangeFeed reads
  sdk/data/azcosmos/cosmos_container_test.go
Due: none

Revised tests to reflect new ContinuationTokenForPartitionKey structure
  sdk/data/azcosmos/cosmos_change_feed_continuation_token_for_partition_key_test.go
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
Due: none

Update emulator test for Change FeedForPartitioKey
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Revised structure of ContinuationTokenForPartitionKey to more closely match CompositeContinuationToken
  sdk/data/azcosmos/cosmos_change_feed_continuation_token_for_partition_key.go
Due: none

Use "ContinuationToken" as once source of truth for CompositeTokens and Tokens for PartitionKeys
  sdk/data/azcosmos/cosmos_change_feed_response.go
Due: none

Resolved rebasing conflicts
  sdk/data/azcosmos/cosmos_change_feed_continuation_token_for_partition_key_test.go
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Upgrade TypeSpec emitter packages to latest versions (#25070)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/0.5.0 generation from spec commit: ba99beec358a40ee08dae7f12f6a989aad6ce6d1
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/CHANGELOG.md
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applications_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applications_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applicationtypes_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applicationtypes_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applicationtypeversions_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applicationtypeversions_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/constants.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/go.mod
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/go.sum
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedapplymaintenancewindow_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedapplymaintenancewindow_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedazresiliencystatus_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedazresiliencystatus_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedclusters_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedclusters_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedclusterversion_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedclusterversion_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedmaintenancewindowstatus_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedmaintenancewindowstatus_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedunsupportedvmsizes_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedunsupportedvmsizes_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/models.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/models_serde.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/nodetypes_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/nodetypes_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/nodetypeskus_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/nodetypeskus_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operationresults_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operationresults_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operations_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operations_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operationstatus_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operationstatus_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/services_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/services_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/testdata/_metadata.json
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/tsp-location.yaml
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/version.go
Due: eng/pipelines/pullrequest.yml

Add doc for SDK automation TSG and SDK breaking change review guide
  documentation/sdk-automation-tsg.md
  documentation/sdk-breaking-changes-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update documentation/sdk-breaking-changes-guide.md
  documentation/sdk-breaking-changes-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add parse link key
  eng/tools/generator/cmd/issue/request/request.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/0.5.0 generation from spec commit: ba99beec358a40ee08dae7f12f6a989aad6ce6d1 (#25072)
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/CHANGELOG.md
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applications_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applications_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applicationtypes_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applicationtypes_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applicationtypeversions_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applicationtypeversions_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/constants.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/go.mod
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/go.sum
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedapplymaintenancewindow_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedapplymaintenancewindow_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedazresiliencystatus_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedazresiliencystatus_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedclusters_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedclusters_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedclusterversion_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedclusterversion_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedmaintenancewindowstatus_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedmaintenancewindowstatus_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedunsupportedvmsizes_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/managedunsupportedvmsizes_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/models.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/models_serde.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/nodetypes_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/nodetypes_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/nodetypeskus_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/nodetypeskus_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operationresults_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operationresults_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operations_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operations_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operationstatus_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/operationstatus_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/services_client.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/services_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/testdata/_metadata.json
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/tsp-location.yaml
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/version.go
Due: eng/pipelines/pullrequest.yml

Update Changelog
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Resolve Copilot suggestions
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
Due: none

test
  sdk/azcore/core_test.go
Due: eng/pipelines/pullrequest.yml

feedback
  sdk/azcore/core_test.go
Due: eng/pipelines/pullrequest.yml

update readme
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/README.md
Due: eng/pipelines/pullrequest.yml

Update CODEOWNERS for Monitor Query Logs
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update CODEOWNERS for Monitor Query Logs (#25081)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update API version policy to handle path params
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/runtime/policy_api_version.go
  sdk/azcore/runtime/policy_api_version_test.go
Due: eng/pipelines/pullrequest.yml

IPv6 Client Test (#25076)
  sdk/azcore/core_test.go
Due: eng/pipelines/pullrequest.yml

Update CODEOWNERS headers
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

run to refer to
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

change to regex
  eng/tools/generator/cmd/issue/request/request.go
Due: eng/pipelines/pullrequest.yml

add parse link key (#25075)
  eng/tools/generator/cmd/issue/request/request.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
