Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

azcosmos: include Go SDK identity in user agent
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/driver_native_test.go
  sdk/data/azcosmos/user_agent_native_test.go
  sdk/data/azcosmos/version.go
Due: none

azcosmos: allow SDK identity terms in spelling checks
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/user_agent_native_test.go
  sdk/data/azcosmos/version.go
Due: none

azcosmos: link SDK identity changelog to PR
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Allow deletion of resources that dont have prefix, Ensure all locks are found and removed before attempting delete
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azcosmos: include Go SDK identity in user agent (#27627)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/driver_native_test.go
  sdk/data/azcosmos/user_agent_native_test.go
  sdk/data/azcosmos/version.go
Due: none

Allow relative links in plugin skills
  eng/common/scripts/allow-relative-links.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Document beta API renames
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Test EventGridEvent UTC serialization
  sdk/messaging/eventgrid/azsystemevents/system_events2_test.go
Due: eng/pipelines/pullrequest.yml

Move SAS URL query merging into shared sdk/storage/internal/sasurl package
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/service/client.go
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/share/client.go
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/queue_client.go
  sdk/storage/azqueue/service_client.go
  sdk/storage/internal/CHANGELOG.md
  sdk/storage/internal/sasurl/sasurl.go
  sdk/storage/internal/sasurl/sasurl_test.go
Due: eng/pipelines/pullrequest.yml

[Storage] Add sasurl package to sdk/storage/internal
  sdk/storage/internal/CHANGELOG.md
  sdk/storage/internal/sasurl/sasurl.go
  sdk/storage/internal/sasurl/sasurl_test.go
Due: eng/pipelines/pullrequest.yml

Update azcore to v1.23.2 in azblob, azfile, azqueue, azdatalake
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
Due: eng/pipelines/pullrequest.yml

Preserve URL fragment when appending SAS query
  sdk/storage/internal/sasurl/sasurl.go
  sdk/storage/internal/sasurl/sasurl_test.go
Due: eng/pipelines/pullrequest.yml

Depend on sdk/storage/internal pseudo-version instead of local replace
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
Due: eng/pipelines/pullrequest.yml

Fix strict-mode CI YAML count in package properties
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/tests/Package-Properties.Tests.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Storage] Add sasurl package to sdk/storage/internal (#27632)
  sdk/storage/internal/CHANGELOG.md
  sdk/storage/internal/sasurl/sasurl.go
  sdk/storage/internal/sasurl/sasurl_test.go
Due: eng/pipelines/pullrequest.yml

Regenerate azblob clients from the combined STG105 TypeSpec
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_models_serde.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_responses.go
  sdk/storage/azblob/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Added support for session (#27292)
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_session_test.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/common.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_internal_test.go
  sdk/storage/azblob/container/export_test.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/base/clients_session_test.go
  sdk/storage/azblob/internal/base/session_provider_container.go
  sdk/storage/azblob/internal/base/session_provider_container_test.go
  sdk/storage/azblob/internal/exported/session.go
  sdk/storage/azblob/internal/exported/session_policy.go
  sdk/storage/azblob/internal/exported/session_policy_test.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/internal/shared/shared_test.go
  sdk/storage/azblob/internal/testcommon/common.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/service/client.go
Due: eng/pipelines/pullrequest.yml

Added support for data locality (#27352)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_layout_session_apis_test.go
  sdk/storage/azblob/blob/client_layout_session_test.go
  sdk/storage/azblob/blob/client_layout_test.go
  sdk/storage/azblob/blob/client_session_apis_test.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/layout.go
  sdk/storage/azblob/blob/layout_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/blob/retry_reader_layout_test.go
  sdk/storage/azblob/blob/utils.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/base/session_provider_container.go
  sdk/storage/azblob/internal/base/session_provider_container_test.go
  sdk/storage/azblob/internal/exported/session.go
  sdk/storage/azblob/internal/generated/responses.go
  sdk/storage/azblob/internal/shared/layout_policy.go
  sdk/storage/azblob/internal/shared/layout_policy_test.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/pageblob/client.go
Due: eng/pipelines/pullrequest.yml

Updates to session provider and error handling (#27451)
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/exported/log_events.go
  sdk/storage/azblob/log.go
Due: eng/pipelines/pullrequest.yml

Gate GetLayout on the download hint, and document the flow
  sdk/storage/azblob/DOWNLOAD_FLOW.md
  sdk/storage/azblob/blob/client_layout_test.go
Due: eng/pipelines/pullrequest.yml

Correct azsystemevents release notes
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

azcosmos: add layered operation options and shared runtime
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/azurecosmosdriver.h
  sdk/data/azcosmos/cgo_native.go
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/completion_native.go
  sdk/data/azcosmos/container_client_item.go
  sdk/data/azcosmos/container_client_item_test.go
  sdk/data/azcosmos/convert_native.go
  sdk/data/azcosmos/convert_native_test.go
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/driver.go
  sdk/data/azcosmos/driver_config.go
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/emulator_test.go
  sdk/data/azcosmos/errors.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
  sdk/data/azcosmos/item_request.go
  sdk/data/azcosmos/operation_native.go
  sdk/data/azcosmos/operation_native_test.go
  sdk/data/azcosmos/operation_options.go
  sdk/data/azcosmos/operation_options_emulator_test.go
  sdk/data/azcosmos/operation_options_native_test.go
  sdk/data/azcosmos/operation_options_test.go
  sdk/data/azcosmos/patch_tracking.go
  sdk/data/azcosmos/response.go
  sdk/data/azcosmos/runtime.go
  sdk/data/azcosmos/runtime_native.go
  sdk/data/azcosmos/runtime_native_test.go
  sdk/data/azcosmos/runtime_stub.go
  sdk/data/azcosmos/runtime_stub_test.go
Due: none

azcosmos: add single-partition query pagination
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/completion_native.go
  sdk/data/azcosmos/container_client_query.go
  sdk/data/azcosmos/driver_stub.go
  sdk/data/azcosmos/emulator_query_test.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/internal/testdata/emulator-config.json
  sdk/data/azcosmos/query.go
  sdk/data/azcosmos/query_native.go
  sdk/data/azcosmos/query_native_test.go
  sdk/data/azcosmos/query_test.go
  sdk/data/azcosmos/response.go
Due: none

azcosmos: allow Cosmos collection path in spelling checks
  sdk/data/azcosmos/emulator_query_test.go
Due: none

azcosmos: link query changelog to PR 27634
  sdk/data/azcosmos/CHANGELOG.md
Due: none

azcosmos: address query pre-push lint findings
  sdk/data/azcosmos/emulator_query_test.go
  sdk/data/azcosmos/query.go
  sdk/data/azcosmos/query_native.go
Due: none

azcosmos: allow linter name in query spelling checks
  sdk/data/azcosmos/query_native.go
Due: none

azcosmos: suppress generated feed-range lint false positive
  sdk/data/azcosmos/query_native.go
Due: none

azcosmos: add logical-partition query paging
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/completion_native.go
  sdk/data/azcosmos/container_client_query.go
  sdk/data/azcosmos/driver_stub.go
  sdk/data/azcosmos/emulator_query_test.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/internal/testdata/emulator-config.json
  sdk/data/azcosmos/query.go
  sdk/data/azcosmos/query_native.go
  sdk/data/azcosmos/query_native_test.go
  sdk/data/azcosmos/query_test.go
  sdk/data/azcosmos/response.go
Due: none

azcosmos: link query changelog to replacement PR
  sdk/data/azcosmos/CHANGELOG.md
Due: none

azcosmos: link content response change to originating PR
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Require complete successful issue-investigation handoffs
  .github/scripts/issue-investigation.cjs
  .github/scripts/issue-investigation.test.cjs
  .github/workflows/issue-investigation.lock.yml
  .github/workflows/issue-investigation.md
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Record the two ListBlobs startFrom tests
  sdk/storage/azblob/assets.json
Due: eng/pipelines/pullrequest.yml

Point tsp-location at the trimmed STG105 specification
  sdk/storage/azblob/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Refine Secret Store extension service name
  sdk/resourcemanager/secretsstoreextension/armsecretsstoreextension/README.md
Due: eng/pipelines/pullrequest.yml

Link Secret Store extension documentation
  sdk/resourcemanager/secretsstoreextension/armsecretsstoreextension/README.md
Due: eng/pipelines/pullrequest.yml

Move Secret Store documentation link
  sdk/resourcemanager/secretsstoreextension/armsecretsstoreextension/README.md
Due: eng/pipelines/pullrequest.yml

Add transport package
  sdk/internal/CHANGELOG.md
  sdk/internal/transport/transport.go
  sdk/internal/transport/transport_other.go
  sdk/internal/transport/transport_wasm.go
  sdk/internal/version.go
Due: eng/pipelines/pullrequest.yml

azcosmos: preserve setup activity ID on exhausted query
  sdk/data/azcosmos/query_native.go
  sdk/data/azcosmos/query_native_test.go
Due: none

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
