Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

[Release] sdk/resourcemanager/avs/armavs/2.1.0 generation from spec commit: d8abc16a5028c51c10dac73809d907a07bbf25b1
  sdk/resourcemanager/avs/armavs/CHANGELOG.md
  sdk/resourcemanager/avs/armavs/constants.go
  sdk/resourcemanager/avs/armavs/scriptexecutions_client_example_test.go
  sdk/resourcemanager/avs/armavs/testdata/_metadata.json
  sdk/resourcemanager/avs/armavs/tsp-location.yaml
  sdk/resourcemanager/avs/armavs/version.go
Due: eng/pipelines/pullrequest.yml

update changelog
  sdk/resourcemanager/avs/armavs/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/avs/armavs/scriptexecutions_client_example_test.go
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/avs/armavs/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/avs/armavs/2.1.0 (#25025)
  sdk/resourcemanager/avs/armavs/CHANGELOG.md
  sdk/resourcemanager/avs/armavs/constants.go
  sdk/resourcemanager/avs/armavs/scriptexecutions_client_example_test.go
  sdk/resourcemanager/avs/armavs/testdata/_metadata.json
  sdk/resourcemanager/avs/armavs/tsp-location.yaml
  sdk/resourcemanager/avs/armavs/version.go
Due: eng/pipelines/pullrequest.yml

Ignore failures when new package isn't indexed yet. (#25017)
  eng/common/pipelines/templates/jobs/npm-publish.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

errorinfo.NonRetriable() doesn't wrap errors which are already NonRetriable (#25021)
  sdk/internal/CHANGELOG.md
  sdk/internal/errorinfo/errorinfo.go
  sdk/internal/errorinfo/errorinfo_test.go
  sdk/internal/version.go
Due: eng/pipelines/pullrequest.yml

cosmos: enable support for reading the change feed for through feed ranges (#24898)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token.go
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token_test.go
  sdk/data/azcosmos/cosmos_change_feed_range.go
  sdk/data/azcosmos/cosmos_change_feed_range_test.go
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_change_feed_request_options_test.go
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/cosmos_feed_range.go
  sdk/data/azcosmos/cosmos_http_constants.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Sync eng/common directory with azure-sdk-tools for PR 11373 (#25019)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/avs/armavs/2.1.1 generation from spec commit: fd0f618cd77ad56b7933915546c27f07e11f1f03
  sdk/resourcemanager/avs/armavs/CHANGELOG.md
  sdk/resourcemanager/avs/armavs/scriptexecutions_client_example_test.go
  sdk/resourcemanager/avs/armavs/tsp-location.yaml
  sdk/resourcemanager/avs/armavs/version.go
Due: eng/pipelines/pullrequest.yml

BearerTokenPolicy ensures authN errors are NonRetriable (#25022)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/policy_bearer_token.go
  sdk/azcore/runtime/policy_bearer_token_test.go
Due: eng/pipelines/pullrequest.yml

pr feedback
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/internal/mock_query_engine.go
Due: none

Increment package version after release of internal
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Due: eng/pipelines/pullrequest.yml

Prepare azcore v1.18.2 for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of internal (#25032)
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Due: eng/pipelines/pullrequest.yml

tidy perf tests
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

Update for KeyVault CODEOWNERS
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[AutoPR sdk-resourcemanager/mongocluster/armmongocluster]-generated-from-SDK Generation - Go-5128474 (#24997), 1.1.0-beta.1
  sdk/resourcemanager/mongocluster/armmongocluster/CHANGELOG.md
  sdk/resourcemanager/mongocluster/armmongocluster/constants.go
  sdk/resourcemanager/mongocluster/armmongocluster/firewallrules_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/firewallrules_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/models.go
  sdk/resourcemanager/mongocluster/armmongocluster/models_serde.go
  sdk/resourcemanager/mongocluster/armmongocluster/mongoclusters_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/mongoclusters_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/operations_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/operations_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/privateendpointconnections_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/privatelinks_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/privatelinks_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/replicas_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/replicas_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/testdata/_metadata.json
  sdk/resourcemanager/mongocluster/armmongocluster/tsp-location.yaml
  sdk/resourcemanager/mongocluster/armmongocluster/users_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/users_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/version.go
Due: eng/pipelines/pullrequest.yml

Add GetPartitionProperties to PartitionClient instance #25038
  sdk/messaging/azeventhubs/partition_client.go
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/messaging/azeventhubs/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Prepare azcore v1.18.2 for release (#25033)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

Update for KeyVault CODEOWNERS (#25034)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of azcore
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of azcore (#25040)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

Update CODEOWNERS for Monitor Query Metrics
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update CODEOWNERS for Monitor Query Metrics (#25042)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

cosmos: Merge 1.5.0 beta branch to main (#25018)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
  sdk/data/azcosmos/version.go
Due: none

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
