Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

advance the release date; why wait?
  sdk/azidentity/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Prepare azidentity v1.14.0-beta.2 for release (#25573)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
Due: eng/pipelines/pullrequest.yml

Increment package version after release of azidentity
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of data/azcosmos
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

minor
  .github/copilot-instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of ai/azopenai
  sdk/ai/azopenai/CHANGELOG.md
  sdk/ai/azopenai/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of azidentity (#25585)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Updating go.mod rule to take into account some of the exceptions, in our tree.
  .github/instructions/go-mod-standards.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Apply suggestions from code review
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove trailing whitespace
  .github/instructions/go-mod-standards.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/iothub/armiothub/1.4.0-beta.1 generation from spec commit: 1d3ac611f503e05650fb85520582b06140d2599e
  sdk/resourcemanager/iothub/armiothub/CHANGELOG.md
  sdk/resourcemanager/iothub/armiothub/README.md
  sdk/resourcemanager/iothub/armiothub/autorest.md
  sdk/resourcemanager/iothub/armiothub/certificates_client.go
  sdk/resourcemanager/iothub/armiothub/certificates_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/client.go
  sdk/resourcemanager/iothub/armiothub/client_example_test.go
  sdk/resourcemanager/iothub/armiothub/client_factory.go
  sdk/resourcemanager/iothub/armiothub/constants.go
  sdk/resourcemanager/iothub/armiothub/fake/certificates_server.go
  sdk/resourcemanager/iothub/armiothub/fake/internal.go
  sdk/resourcemanager/iothub/armiothub/fake/operations_server.go
  sdk/resourcemanager/iothub/armiothub/fake/privateendpointconnections_server.go
  sdk/resourcemanager/iothub/armiothub/fake/privatelinkresources_server.go
  sdk/resourcemanager/iothub/armiothub/fake/resource_server.go
  sdk/resourcemanager/iothub/armiothub/fake/resourceprovidercommon_server.go
  sdk/resourcemanager/iothub/armiothub/fake/server.go
  sdk/resourcemanager/iothub/armiothub/fake/server_factory.go
  sdk/resourcemanager/iothub/armiothub/fake/time_rfc1123.go
  sdk/resourcemanager/iothub/armiothub/fake/time_rfc3339.go
  sdk/resourcemanager/iothub/armiothub/go.mod
  sdk/resourcemanager/iothub/armiothub/go.sum
  sdk/resourcemanager/iothub/armiothub/models.go
  sdk/resourcemanager/iothub/armiothub/models_serde.go
  sdk/resourcemanager/iothub/armiothub/operations_client.go
  sdk/resourcemanager/iothub/armiothub/operations_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/options.go
  sdk/resourcemanager/iothub/armiothub/privateendpointconnections_client.go
  sdk/resourcemanager/iothub/armiothub/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/privatelinkresources_client.go
  sdk/resourcemanager/iothub/armiothub/privatelinkresources_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/resource_client.go
  sdk/resourcemanager/iothub/armiothub/resource_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/resourceprovidercommon_client.go
  sdk/resourcemanager/iothub/armiothub/resourceprovidercommon_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/responses.go
  sdk/resourcemanager/iothub/armiothub/time_rfc1123.go
  sdk/resourcemanager/iothub/armiothub/time_rfc3339.go
  sdk/resourcemanager/iothub/armiothub/version.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/iothub/armiothub/iothub_live_test.go
Due: eng/pipelines/pullrequest.yml

reported error NoRegisteredProviderFound
  sdk/resourcemanager/iothub/armiothub/iothub_live_test.go
Due: eng/pipelines/pullrequest.yml

Update CODEOWNERS to include swagger_to_sdk_config.json (#25578)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/iothub/armiothub/1.4.0-beta.1 (#25592)
  sdk/resourcemanager/iothub/armiothub/CHANGELOG.md
  sdk/resourcemanager/iothub/armiothub/README.md
  sdk/resourcemanager/iothub/armiothub/autorest.md
  sdk/resourcemanager/iothub/armiothub/certificates_client.go
  sdk/resourcemanager/iothub/armiothub/certificates_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/client.go
  sdk/resourcemanager/iothub/armiothub/client_example_test.go
  sdk/resourcemanager/iothub/armiothub/client_factory.go
  sdk/resourcemanager/iothub/armiothub/constants.go
  sdk/resourcemanager/iothub/armiothub/fake/certificates_server.go
  sdk/resourcemanager/iothub/armiothub/fake/internal.go
  sdk/resourcemanager/iothub/armiothub/fake/operations_server.go
  sdk/resourcemanager/iothub/armiothub/fake/privateendpointconnections_server.go
  sdk/resourcemanager/iothub/armiothub/fake/privatelinkresources_server.go
  sdk/resourcemanager/iothub/armiothub/fake/resource_server.go
  sdk/resourcemanager/iothub/armiothub/fake/resourceprovidercommon_server.go
  sdk/resourcemanager/iothub/armiothub/fake/server.go
  sdk/resourcemanager/iothub/armiothub/fake/server_factory.go
  sdk/resourcemanager/iothub/armiothub/fake/time_rfc1123.go
  sdk/resourcemanager/iothub/armiothub/fake/time_rfc3339.go
  sdk/resourcemanager/iothub/armiothub/go.mod
  sdk/resourcemanager/iothub/armiothub/go.sum
  sdk/resourcemanager/iothub/armiothub/iothub_live_test.go
  sdk/resourcemanager/iothub/armiothub/models.go
  sdk/resourcemanager/iothub/armiothub/models_serde.go
  sdk/resourcemanager/iothub/armiothub/operations_client.go
  sdk/resourcemanager/iothub/armiothub/operations_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/options.go
  sdk/resourcemanager/iothub/armiothub/privateendpointconnections_client.go
  sdk/resourcemanager/iothub/armiothub/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/privatelinkresources_client.go
  sdk/resourcemanager/iothub/armiothub/privatelinkresources_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/resource_client.go
  sdk/resourcemanager/iothub/armiothub/resource_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/resourceprovidercommon_client.go
  sdk/resourcemanager/iothub/armiothub/resourceprovidercommon_client_example_test.go
  sdk/resourcemanager/iothub/armiothub/responses.go
  sdk/resourcemanager/iothub/armiothub/time_rfc1123.go
  sdk/resourcemanager/iothub/armiothub/time_rfc3339.go
  sdk/resourcemanager/iothub/armiothub/version.go
Due: eng/pipelines/pullrequest.yml

Update CODEOWNERS with new entries and modifications (#25568)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add build cmd into generator tool and add back force stable flag (#25570)
  eng/swagger_to_sdk_config.json
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/README.md
  eng/tools/generator/cmd/build/buildCmd.go
  eng/tools/generator/cmd/build/buildCmd_test.go
  eng/tools/generator/cmd/v2/common/cmdProcessor.go
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/cmd/v2/release/releaseCmd.go
  eng/tools/generator/go.mod
  eng/tools/generator/main.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update version and release date
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/version.go
Due: eng/pipelines/pullrequest.yml

update version and release date (#25596)
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/version.go
Due: eng/pipelines/pullrequest.yml

phase 3 implementation - Download Validation
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/internal/exported/structured_message_response_reader.go
  sdk/storage/azblob/internal/exported/structured_message_response_reader_test.go
Due: eng/pipelines/pullrequest.yml

update asset.json
  sdk/resourcemanager/network/armnetwork/assets.json
Due: eng/pipelines/pullrequest.yml

update asset.json
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
Due: eng/pipelines/pullrequest.yml

refactor
  sdk/data/azcosmos/cosmos_container_query_engine.go
Due: none

[AutoPR sdk-resourcemanager/computelimit/armcomputelimit]-generated-from-SDK Generation - Go-5543507 (#25565)
  sdk/resourcemanager/computelimit/armcomputelimit/CHANGELOG.md
  sdk/resourcemanager/computelimit/armcomputelimit/LICENSE.txt
  sdk/resourcemanager/computelimit/armcomputelimit/README.md
  sdk/resourcemanager/computelimit/armcomputelimit/ci.yml
  sdk/resourcemanager/computelimit/armcomputelimit/client_factory.go
  sdk/resourcemanager/computelimit/armcomputelimit/constants.go
  sdk/resourcemanager/computelimit/armcomputelimit/fake/guestsubscriptions_server.go
  sdk/resourcemanager/computelimit/armcomputelimit/fake/internal.go
  sdk/resourcemanager/computelimit/armcomputelimit/fake/operations_server.go
  sdk/resourcemanager/computelimit/armcomputelimit/fake/server_factory.go
  sdk/resourcemanager/computelimit/armcomputelimit/fake/sharedlimits_server.go
  sdk/resourcemanager/computelimit/armcomputelimit/go.mod
  sdk/resourcemanager/computelimit/armcomputelimit/go.sum
  sdk/resourcemanager/computelimit/armcomputelimit/guestsubscriptions_client.go
  sdk/resourcemanager/computelimit/armcomputelimit/guestsubscriptions_client_example_test.go
  sdk/resourcemanager/computelimit/armcomputelimit/models.go
  sdk/resourcemanager/computelimit/armcomputelimit/models_serde.go
  sdk/resourcemanager/computelimit/armcomputelimit/operations_client.go
  sdk/resourcemanager/computelimit/armcomputelimit/operations_client_example_test.go
  sdk/resourcemanager/computelimit/armcomputelimit/options.go
  sdk/resourcemanager/computelimit/armcomputelimit/responses.go
  sdk/resourcemanager/computelimit/armcomputelimit/sharedlimits_client.go
  sdk/resourcemanager/computelimit/armcomputelimit/sharedlimits_client_example_test.go
  sdk/resourcemanager/computelimit/armcomputelimit/testdata/_metadata.json
  sdk/resourcemanager/computelimit/armcomputelimit/time_rfc3339.go
  sdk/resourcemanager/computelimit/armcomputelimit/tsp-location.yaml
  sdk/resourcemanager/computelimit/armcomputelimit/version.go
Due: eng/pipelines/pullrequest.yml

Update doc to add more breaking change items from TypeSpec migration (#25348)
  documentation/development/breaking-changes/sdk-breaking-changes-guide-migration.md
  documentation/development/breaking-changes/sdk-breaking-changes-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add live test
  sdk/resourcemanager/networkcloud/armnetworkcloud/assets.json
  sdk/resourcemanager/networkcloud/armnetworkcloud/go.mod
  sdk/resourcemanager/networkcloud/armnetworkcloud/go.sum
  sdk/resourcemanager/networkcloud/armnetworkcloud/operations_live_test.go
  sdk/resourcemanager/networkcloud/armnetworkcloud/utils_test.go
Due: eng/pipelines/pullrequest.yml
