Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

feedback
  sdk/ai/azopenai/MIGRATION.md
Due: eng/pipelines/pullrequest.yml

update version.go
  sdk/data/azcosmos/version.go
Due: none

Apply suggestions from code review
  sdk/ai/azopenai/MIGRATION.md
Due: eng/pipelines/pullrequest.yml

Updating with latest changes, need to merge my branch into the official branch they're using (grangasamy/FixingSDKAndAddNewEvents)
  sdk/messaging/eventgrid/azsystemevents/constants.go
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/system_events.go
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Update to latest commit from my branch
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Updated with my renames in grangasamy/FixingSDKAndAddNewEvents
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Include markdown files in sparse checkout for analyze links
  eng/pipelines/templates/steps/sparse-checkout-for-servicedirectory.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Improving migration guide intro. (#24456)
  sdk/ai/azopenai/MIGRATION.md
Due: eng/pipelines/pullrequest.yml

GeoDR, ready for review!
  sdk/messaging/azeventhubs/checkpoint_store.go
  sdk/messaging/azeventhubs/checkpoints/blob_store.go
  sdk/messaging/azeventhubs/checkpoints/blob_store_test.go
  sdk/messaging/azeventhubs/consumer_client_internal_test.go
  sdk/messaging/azeventhubs/consumer_client_unit_test.go
  sdk/messaging/azeventhubs/event_data.go
  sdk/messaging/azeventhubs/event_data_test.go
  sdk/messaging/azeventhubs/example_checkpoint_migration_test.go
  sdk/messaging/azeventhubs/geodr_test.go
  sdk/messaging/azeventhubs/go.mod
  sdk/messaging/azeventhubs/go.sum
  sdk/messaging/azeventhubs/inmemory_checkpoint_store_test.go
  sdk/messaging/azeventhubs/internal/constants.go
  sdk/messaging/azeventhubs/internal/eh/errors_eh.go
  sdk/messaging/azeventhubs/internal/eh/stress/tests/shared.go
  sdk/messaging/azeventhubs/internal/errors.go
  sdk/messaging/azeventhubs/internal/namespace_eh.go
  sdk/messaging/azeventhubs/internal/rpc.go
  sdk/messaging/azeventhubs/internal/test/test_helpers.go
  sdk/messaging/azeventhubs/main_test.go
  sdk/messaging/azeventhubs/mgmt.go
  sdk/messaging/azeventhubs/partition_client.go
  sdk/messaging/azeventhubs/processor.go
  sdk/messaging/azeventhubs/processor_test.go
  sdk/messaging/azeventhubs/processor_unit_test.go
  sdk/messaging/azeventhubs/producer_client.go
Due: eng/pipelines/pullrequest.yml

Update changelog to include some more information.
  sdk/messaging/azeventhubs/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Go mod tidy perf tests (#24473)
  sdk/data/aztables/testdata/perf/go.mod
  sdk/data/aztables/testdata/perf/go.sum
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

Updated to latest commit for this release.
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Updating changelog
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

badly placed break means that multiple additionaltriggeringpaths won't work
  eng/common/scripts/Package-Properties.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix the copying of the artifacts so that we will recopy the entire sdk/ folder if necessary
  eng/scripts/apiview-helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

go mod tidy
  sdk/resourcemanager/storageactions/armstorageactions/go.mod
  sdk/resourcemanager/storageactions/armstorageactions/go.sum
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/carbonoptimization/armcarbonoptimization/0.1.0 generation from spec commit: f826fcc6b9affea959b4c0f0f781b9413c776f20
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/CHANGELOG.md
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/LICENSE.txt
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/README.md
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/carbonservice_client.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/carbonservice_client_example_test.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/ci.yml
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/client_factory.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/constants.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/date_type.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/fake/carbonservice_server.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/fake/date_type.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/fake/internal.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/fake/operations_server.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/fake/polymorphic_helpers.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/fake/server_factory.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/go.mod
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/go.sum
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/interfaces.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/models.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/models_serde.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/operations_client.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/operations_client_example_test.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/options.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/polymorphic_helpers.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/responses.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

update readme
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/README.md
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/storageactions/armstorageactions/0.2.0 (#24471)
  sdk/resourcemanager/storageactions/armstorageactions/CHANGELOG.md
  sdk/resourcemanager/storageactions/armstorageactions/autorest.md
  sdk/resourcemanager/storageactions/armstorageactions/client_factory.go
  sdk/resourcemanager/storageactions/armstorageactions/constants.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/internal.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/operations_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/server_factory.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/storagetaskassignment_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/storagetasks_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/storagetasksreport_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/time_rfc3339.go
  sdk/resourcemanager/storageactions/armstorageactions/models.go
  sdk/resourcemanager/storageactions/armstorageactions/models_serde.go
  sdk/resourcemanager/storageactions/armstorageactions/operations_client.go
  sdk/resourcemanager/storageactions/armstorageactions/operations_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/options.go
  sdk/resourcemanager/storageactions/armstorageactions/responses.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetaskassignment_client.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetaskassignment_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasks_client.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasks_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasksreport_client.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasksreport_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/time_rfc3339.go
Due: eng/pipelines/pullrequest.yml

update date
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/0.1.0 generation from spec commit: b713df239eb640a56fb4b4db9648ad4bf1388e3b
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/CHANGELOG.md
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/LICENSE.txt
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/README.md
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/ci.yml
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/client_factory.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/constants.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/fake/gateways_server.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/fake/internal.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/fake/operations_server.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/fake/operatorapiconnections_server.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/fake/operatorapiplans_server.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/fake/server_factory.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/fake/time_rfc3339.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/gateways_client.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/gateways_client_example_test.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/go.mod
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/go.sum
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/models.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/models_serde.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/operations_client.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/operations_client_example_test.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/operatorapiconnections_client.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/operatorapiconnections_client_example_test.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/operatorapiplans_client.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/operatorapiplans_client_example_test.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/options.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/responses.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/time_rfc3339.go
  sdk/resourcemanager/programmableconnectivity/armprogrammableconnectivity/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

update ClientFactory params in readme
  eng/tools/generator/cmd/v2/common/constants.go
  eng/tools/generator/cmd/v2/common/fileProcessor.go
  eng/tools/generator/cmd/v2/common/fileProcessor_test.go
  eng/tools/generator/cmd/v2/common/generation.go
  sdk/resourcemanager/quota/armquota/README.md
Due: eng/pipelines/pullrequest.yml

update
  sdk/resourcemanager/quota/armquota/README.md
Due: eng/pipelines/pullrequest.yml

[Cosmos] Pass request context through on GEM requests (#24465)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_global_endpoint_manager_policy.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/version.go
Due: none

Fix additional TriggerPaths not being honored in Get-PrPkgProperties (#24479)
  eng/common/scripts/Package-Properties.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

some tidy up to Cosmos query engine API
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/unstable/queryengine/cosmos_query_engine.go
Due: none

pass completed state through PipelineResult
  sdk/data/azcosmos/internal/mock_query_engine.go
Due: none

Type names were close, but not quite right...
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Adding some simple tests for deserializing the system events, using the JSON examples from their PR.
  sdk/messaging/eventgrid/azsystemevents/system_events5_test.go
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/call_ended.json
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/call_participant_added.json
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/call_participant_removed.json
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/call_started.json
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/chat_azure_bot_command_received_in_thread.json
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/chat_typing_indicator_received_in_thread.json
Due: eng/pipelines/pullrequest.yml

Prepare deprecation release for azopenaiassistants and azopenaiextensions.
  sdk/ai/azopenaiassistants/CHANGELOG.md
  sdk/ai/azopenaiassistants/README.md
  sdk/ai/azopenaiassistants/go.mod
  sdk/ai/azopenaiextensions/CHANGELOG.md
  sdk/ai/azopenaiextensions/README.md
  sdk/ai/azopenaiextensions/go.mod
Due: eng/pipelines/pullrequest.yml

fix
  sdk/ai/azopenaiassistants/CHANGELOG.md
  sdk/ai/azopenaiextensions/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[Storage] Changelog changes and version upgrades for azblob and azidentity (#24454)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

matching latest example updates from branch
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/call_ended.json
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/call_participant_removed.json
Due: eng/pipelines/pullrequest.yml

build: enable pushing emitter nuget packages (#24484)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[azsystemevents] 2025-05 system events update (#24478)
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/constants.go
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/system_events.go
  sdk/messaging/eventgrid/azsystemevents/system_events5_test.go
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/call_ended.json
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/call_participant_added.json
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/call_participant_removed.json
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/call_started.json
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/chat_azure_bot_command_received_in_thread.json
  sdk/messaging/eventgrid/azsystemevents/testdata/examples/chat_typing_indicator_received_in_thread.json
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml
