Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

bump proxy to one that includes our multipart/formdata fix
  eng/common/testproxy/target_version.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update CODEOWNERS for Search service
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update CODEOWNERS for Search service (#25294)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update codeowners entry for Redis Cache (#25246)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 12061 (#25235)
  eng/common/testproxy/target_version.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update docs
  documentation/developer_setup.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/compute/armrecommender/0.1.0 (#25293)
  sdk/resourcemanager/compute/armrecommender/CHANGELOG.md
  sdk/resourcemanager/compute/armrecommender/LICENSE.txt
  sdk/resourcemanager/compute/armrecommender/README.md
  sdk/resourcemanager/compute/armrecommender/ci.yml
  sdk/resourcemanager/compute/armrecommender/client_factory.go
  sdk/resourcemanager/compute/armrecommender/constants.go
  sdk/resourcemanager/compute/armrecommender/fake/internal.go
  sdk/resourcemanager/compute/armrecommender/fake/operations_server.go
  sdk/resourcemanager/compute/armrecommender/fake/server_factory.go
  sdk/resourcemanager/compute/armrecommender/fake/spotplacementscores_server.go
  sdk/resourcemanager/compute/armrecommender/go.mod
  sdk/resourcemanager/compute/armrecommender/go.sum
  sdk/resourcemanager/compute/armrecommender/models.go
  sdk/resourcemanager/compute/armrecommender/models_serde.go
  sdk/resourcemanager/compute/armrecommender/operations_client.go
  sdk/resourcemanager/compute/armrecommender/operations_client_example_test.go
  sdk/resourcemanager/compute/armrecommender/options.go
  sdk/resourcemanager/compute/armrecommender/responses.go
  sdk/resourcemanager/compute/armrecommender/spotplacementscores_client.go
  sdk/resourcemanager/compute/armrecommender/spotplacementscores_client_example_test.go
  sdk/resourcemanager/compute/armrecommender/testdata/_metadata.json
  sdk/resourcemanager/compute/armrecommender/time_rfc3339.go
  sdk/resourcemanager/compute/armrecommender/tsp-location.yaml
  sdk/resourcemanager/compute/armrecommender/version.go
Due: eng/pipelines/pullrequest.yml

update date
  sdk/resourcemanager/compute/armrecommender/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Remove CODEOWNERS and service labels instructions until it can be inserted into a more contextually appropriate location for the user
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

version update
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/version.go
Due: eng/pipelines/pullrequest.yml

create file with data
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/models.go
Due: eng/pipelines/pullrequest.yml

Add AAD scope changes.
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/emulator_cosmos_aad_test.go
Due: none

recordings
  sdk/storage/azfile/assets.json
Due: eng/pipelines/pullrequest.yml

remove commented code
  sdk/storage/azfile/file/client.go
Due: eng/pipelines/pullrequest.yml

remove code
  sdk/resourcemanager/computerecommender/armcomputerecommender/CHANGELOG.md
  sdk/resourcemanager/computerecommender/armcomputerecommender/LICENSE.txt
  sdk/resourcemanager/computerecommender/armcomputerecommender/README.md
  sdk/resourcemanager/computerecommender/armcomputerecommender/ci.yml
  sdk/resourcemanager/computerecommender/armcomputerecommender/client_factory.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/constants.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/fake/internal.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/fake/operations_server.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/fake/server_factory.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/fake/spotplacementscores_server.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/go.mod
  sdk/resourcemanager/computerecommender/armcomputerecommender/go.sum
  sdk/resourcemanager/computerecommender/armcomputerecommender/models.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/models_serde.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/operations_client.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/operations_client_example_test.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/options.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/responses.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/spotplacementscores_client.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/spotplacementscores_client_example_test.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/testdata/_metadata.json
  sdk/resourcemanager/computerecommender/armcomputerecommender/time_rfc3339.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/tsp-location.yaml
  sdk/resourcemanager/computerecommender/armcomputerecommender/version.go
Due: eng/pipelines/pullrequest.yml

add deprecated info
  sdk/resourcemanager/computerecommender/armcomputerecommender/CHANGELOG.md
  sdk/resourcemanager/computerecommender/armcomputerecommender/README.md
  sdk/resourcemanager/computerecommender/armcomputerecommender/go.mod
Due: eng/pipelines/pullrequest.yml

Update sdk/resourcemanager/computerecommender/armcomputerecommender/go.mod
  sdk/resourcemanager/computerecommender/armcomputerecommender/go.mod
Due: eng/pipelines/pullrequest.yml

update version
  sdk/resourcemanager/computerecommender/armcomputerecommender/version.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/quota/armquota/groupquotasubscriptions_client_example_test.go
Due: eng/pipelines/pullrequest.yml

[Storage]User delegation SAS for Azfiles and AzQueues & createFile with Data (#25297)
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/constants.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/internal/exported/user_delegation_credential.go
  sdk/storage/azfile/sas/account.go
  sdk/storage/azfile/sas/query_params.go
  sdk/storage/azfile/sas/service.go
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/service/models.go
  sdk/storage/azqueue/internal/exported/user_delegation_credential.go
  sdk/storage/azqueue/queue_client_test.go
  sdk/storage/azqueue/sas/account.go
  sdk/storage/azqueue/sas/query_params.go
  sdk/storage/azqueue/sas/service.go
Due: eng/pipelines/pullrequest.yml

Making SMB Directory leases configurable on a share level
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azfile/share/models.go
Due: eng/pipelines/pullrequest.yml

recordings
  sdk/storage/azdatalake/assets.json
Due: eng/pipelines/pullrequest.yml

Remove CODEOWNERS and service labels instructions until it can be inserted into a more contextually appropriate location for the user (#25306)
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Updated changelog.
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Updated logs
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Skip updating pull request URL in work item when value is empty
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 12214 (#25310)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add deprecated info about armcomputerecommender (#25301)
  sdk/resourcemanager/computerecommender/armcomputerecommender/CHANGELOG.md
  sdk/resourcemanager/computerecommender/armcomputerecommender/README.md
  sdk/resourcemanager/computerecommender/armcomputerecommender/go.mod
  sdk/resourcemanager/computerecommender/armcomputerecommender/version.go
Due: eng/pipelines/pullrequest.yml

update changelog
  eng/tools/generator/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Add owner for App Configuration
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[azappconfig] Fix nil sync token cause nil ref panic bug
  sdk/data/azappconfig/client.go
Due: eng/pipelines/pullrequest.yml

[Go] Secure tsp-client usage in automation scripts, generator tooling (#25312)
  .gitignore
  eng/pipelines/mgmt-auto-release.yml
  eng/scripts/automation_init.sh
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/cmd/v2/common/cmdProcessor.go
  eng/tools/generator/version.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Making SMB Directory leases configurable on a share level (#25302)
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azfile/share/models.go
Due: eng/pipelines/pullrequest.yml

fix FuncFilter
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/changelog/changelog_filter.go
Due: eng/pipelines/pullrequest.yml

don't deprecate previous api
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client.go
Due: eng/pipelines/pullrequest.yml
