Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      ServiceDirectory: ${{ parameters.Service }}

[Release] sdk/resourcemanager/onlineexperimentation/onlineexperimentation/0.1.0 (#24756)
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/CHANGELOG.md
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/README.md
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/_metadata.json
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/client_factory.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/fake/server_factory.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/fake/workspaces_server.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/go.mod
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/go.sum
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/models.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/models_serde.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/operations_client_example_test.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/options.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/responses.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/tsp-location.yaml
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/workspaces_client.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/workspaces_client_example_test.go
Due: eng/pipelines/pullrequest.yml

fakes
  eng/config.json
  sdk/security/keyvault/azcertificates/_metadata.json
  sdk/security/keyvault/azcertificates/client.go
  sdk/security/keyvault/azcertificates/fake/custom_server.go
  sdk/security/keyvault/azcertificates/fake/internal.go
  sdk/security/keyvault/azcertificates/fake/server.go
  sdk/security/keyvault/azcertificates/fake/server_test.go
  sdk/security/keyvault/azcertificates/go.mod
  sdk/security/keyvault/azcertificates/go.sum
  sdk/security/keyvault/azcertificates/internal/transforms.go
  sdk/security/keyvault/azcertificates/testdata/perf/go.mod
  sdk/security/keyvault/azcertificates/testdata/perf/go.sum
  sdk/security/keyvault/azcertificates/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

fakes
  eng/config.json
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/backup/_metadata.json
  sdk/security/keyvault/azadmin/backup/client.go
  sdk/security/keyvault/azadmin/backup/custom_client.go
  sdk/security/keyvault/azadmin/backup/fake/custom_server.go
  sdk/security/keyvault/azadmin/backup/fake/internal.go
  sdk/security/keyvault/azadmin/backup/fake/server.go
  sdk/security/keyvault/azadmin/backup/fake/server_test.go
  sdk/security/keyvault/azadmin/backup/models_serde.go
  sdk/security/keyvault/azadmin/backup/time_unix.go
  sdk/security/keyvault/azadmin/backup/tsp-location.yaml
  sdk/security/keyvault/azadmin/build.go
  sdk/security/keyvault/azadmin/go.mod
  sdk/security/keyvault/azadmin/go.sum
  sdk/security/keyvault/azadmin/internal/generate/transforms.go
  sdk/security/keyvault/azadmin/rbac/_metadata.json
  sdk/security/keyvault/azadmin/rbac/client.go
  sdk/security/keyvault/azadmin/rbac/fake/custom_server.go
  sdk/security/keyvault/azadmin/rbac/fake/internal.go
  sdk/security/keyvault/azadmin/rbac/fake/server.go
  sdk/security/keyvault/azadmin/rbac/fake/server_test.go
  sdk/security/keyvault/azadmin/rbac/models_serde.go
  sdk/security/keyvault/azadmin/rbac/tsp-location.yaml
  sdk/security/keyvault/azadmin/settings/_metadata.json
  sdk/security/keyvault/azadmin/settings/client.go
  sdk/security/keyvault/azadmin/settings/fake/custom_server.go
  sdk/security/keyvault/azadmin/settings/fake/internal.go
  sdk/security/keyvault/azadmin/settings/fake/server.go
  sdk/security/keyvault/azadmin/settings/fake/server_test.go
  sdk/security/keyvault/azadmin/settings/models_serde.go
  sdk/security/keyvault/azadmin/settings/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

go mod tidy
  sdk/security/keyvault/azcertificates/go.mod
  sdk/security/keyvault/azcertificates/go.sum
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/mongocluster/armmongocluster/1.1.0-beta.1 generation from spec commit: 0bf123645e53f9006c15a962087c9073d7fd455f (#24735)
  sdk/resourcemanager/mongocluster/armmongocluster/CHANGELOG.md
  sdk/resourcemanager/mongocluster/armmongocluster/_metadata.json
  sdk/resourcemanager/mongocluster/armmongocluster/client_factory.go
  sdk/resourcemanager/mongocluster/armmongocluster/constants.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/firewallrules_server.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/internal.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/mongoclusters_server.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/operations_server.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/privateendpointconnections_server.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/privatelinks_server.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/replicas_server.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/server_factory.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/time_rfc3339.go
  sdk/resourcemanager/mongocluster/armmongocluster/fake/users_server.go
  sdk/resourcemanager/mongocluster/armmongocluster/go.mod
  sdk/resourcemanager/mongocluster/armmongocluster/go.sum
  sdk/resourcemanager/mongocluster/armmongocluster/interfaces.go
  sdk/resourcemanager/mongocluster/armmongocluster/models.go
  sdk/resourcemanager/mongocluster/armmongocluster/models_serde.go
  sdk/resourcemanager/mongocluster/armmongocluster/mongoclusters_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/mongoclusters_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/operations_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/operations_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/options.go
  sdk/resourcemanager/mongocluster/armmongocluster/polymorphic_helpers.go
  sdk/resourcemanager/mongocluster/armmongocluster/privateendpointconnections_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/privatelinks_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/privatelinks_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/replicas_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/replicas_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/responses.go
  sdk/resourcemanager/mongocluster/armmongocluster/tsp-location.yaml
  sdk/resourcemanager/mongocluster/armmongocluster/users_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/users_client_example_test.go
Due: eng/pipelines/pullrequest.yml

fakes
  sdk/security/keyvault/azkeys/_metadata.json
  sdk/security/keyvault/azkeys/client.go
  sdk/security/keyvault/azkeys/fake/custom_server.go
  sdk/security/keyvault/azkeys/fake/internal.go
  sdk/security/keyvault/azkeys/fake/server.go
  sdk/security/keyvault/azkeys/fake/server_test.go
  sdk/security/keyvault/azkeys/go.mod
  sdk/security/keyvault/azkeys/go.sum
  sdk/security/keyvault/azkeys/internal/transforms.go
  sdk/security/keyvault/azkeys/testdata/perf/go.mod
  sdk/security/keyvault/azkeys/testdata/perf/go.sum
  sdk/security/keyvault/azkeys/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

perf tests
  sdk/security/keyvault/azcertificates/testdata/perf/go.mod
  sdk/security/keyvault/azcertificates/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

fakes
  eng/config.json
  sdk/security/keyvault/azsecrets/_metadata.json
  sdk/security/keyvault/azsecrets/client.go
  sdk/security/keyvault/azsecrets/fake/custom_server.go
  sdk/security/keyvault/azsecrets/fake/internal.go
  sdk/security/keyvault/azsecrets/fake/server.go
  sdk/security/keyvault/azsecrets/fake/server_test.go
  sdk/security/keyvault/azsecrets/go.mod
  sdk/security/keyvault/azsecrets/go.sum
  sdk/security/keyvault/azsecrets/internal/transforms.go
  sdk/security/keyvault/azsecrets/testdata/perf/go.mod
  sdk/security/keyvault/azsecrets/testdata/perf/go.sum
  sdk/security/keyvault/azsecrets/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

mod tidy
  sdk/security/keyvault/azkeys/go.sum
Due: eng/pipelines/pullrequest.yml

Add support for BypassIntegratedCache option
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_dedicated_gateway_request_options.go
  sdk/data/azcosmos/cosmos_http_constants.go
  sdk/data/azcosmos/cosmos_item_request_options.go
  sdk/data/azcosmos/cosmos_item_request_options_test.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/cosmos_query_request_options_test.go
Due: none

Update CHANGELOG
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Fix lint and add more tests
  sdk/data/azcosmos/cosmos_item_request_options_test.go
  sdk/data/azcosmos/cosmos_query_request_options_test.go
Due: none

Update sdk/data/azcosmos/cosmos_item_request_options_test.go
  sdk/data/azcosmos/cosmos_item_request_options_test.go
Due: none

[Release] sdk/resourcemanager/weightsandbiases/armweightsandbiases/1.0.0 (#24576)
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/CHANGELOG.md
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/constants.go
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/fake/instances_server.go
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/fake/time_rfc3339.go
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/instances_client.go
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/instances_client_example_test.go
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/models.go
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/operations_client.go
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/operations_client_example_test.go
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

update jsonfile
  eng/emitter-package-lock.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add support for BypassIntegratedCache option (#24772)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_dedicated_gateway_request_options.go
  sdk/data/azcosmos/cosmos_http_constants.go
  sdk/data/azcosmos/cosmos_item_request_options.go
  sdk/data/azcosmos/cosmos_item_request_options_test.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/cosmos_query_request_options_test.go
Due: none

prep for release
  sdk/security/keyvault/internal/CHANGELOG.md
  sdk/security/keyvault/internal/constants.go
  sdk/security/keyvault/internal/go.mod
  sdk/security/keyvault/internal/go.sum
Due: eng/pipelines/pullrequest.yml

date
  sdk/security/keyvault/internal/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Use AuthToken for cal to Search API (#24774)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/dashboard/armdashboard/2.0.0-beta.1 generation from spec commit: d0d3a9b4fe0fce880fded7a617e71f84406bacbd
  sdk/resourcemanager/dashboard/armdashboard/CHANGELOG.md
  sdk/resourcemanager/dashboard/armdashboard/README.md
  sdk/resourcemanager/dashboard/armdashboard/autorest.md
  sdk/resourcemanager/dashboard/armdashboard/client_factory.go
  sdk/resourcemanager/dashboard/armdashboard/constants.go
  sdk/resourcemanager/dashboard/armdashboard/dashboards_client.go
  sdk/resourcemanager/dashboard/armdashboard/dashboards_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/fake/dashboards_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/grafana_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/integrationfabrics_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/internal.go
  sdk/resourcemanager/dashboard/armdashboard/fake/manageddashboards_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/managedprivateendpoints_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/operations_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/privateendpointconnections_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/privatelinkresources_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/server_factory.go
  sdk/resourcemanager/dashboard/armdashboard/fake/time_rfc3339.go
  sdk/resourcemanager/dashboard/armdashboard/go.mod
  sdk/resourcemanager/dashboard/armdashboard/go.sum
  sdk/resourcemanager/dashboard/armdashboard/grafana_client.go
  sdk/resourcemanager/dashboard/armdashboard/grafana_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/integrationfabrics_client.go
  sdk/resourcemanager/dashboard/armdashboard/integrationfabrics_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/manageddashboards_client.go
  sdk/resourcemanager/dashboard/armdashboard/manageddashboards_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/managedprivateendpoints_client.go
  sdk/resourcemanager/dashboard/armdashboard/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/models.go
  sdk/resourcemanager/dashboard/armdashboard/models_serde.go
  sdk/resourcemanager/dashboard/armdashboard/operations_client.go
  sdk/resourcemanager/dashboard/armdashboard/operations_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/options.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/privatelinkresources_client.go
  sdk/resourcemanager/dashboard/armdashboard/privatelinkresources_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/responses.go
  sdk/resourcemanager/dashboard/armdashboard/time_rfc3339.go
Due: eng/pipelines/pullrequest.yml

update date
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

fix panic on authentication failure
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
Due: eng/pipelines/pullrequest.yml

fix panic on authentication failure
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/planetarycomputer/armplanetarycomputer/0.1.0 (#24654)
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/CHANGELOG.md
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/LICENSE.txt
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/README.md
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/ci.yml
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/client_factory.go
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/constants.go
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/fake/geocatalogs_server.go
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/fake/internal.go
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/fake/server_factory.go
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/geocatalogs_client.go
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/geocatalogs_client_example_test.go
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/go.mod
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/go.sum
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/models.go
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/models_serde.go
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/options.go
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/responses.go
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/time_rfc3339.go
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

remove unsupported test
  sdk/resourcemanager/resources/armresources/deployments_client_live_test.go
Due: eng/pipelines/pullrequest.yml

remove unsupported test
  sdk/resourcemanager/appconfiguration/armappconfiguration/appconfiguration_live_test.go
Due: eng/pipelines/pullrequest.yml

update asset
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
Due: eng/pipelines/pullrequest.yml

update asset
  sdk/resourcemanager/recoveryservices/armrecoveryservices/assets.json
Due: eng/pipelines/pullrequest.yml

update asset
  sdk/resourcemanager/appconfiguration/armappconfiguration/assets.json
Due: eng/pipelines/pullrequest.yml

remove unsupported test
  sdk/resourcemanager/resources/armresources/deployments_client_live_test.go
  sdk/resourcemanager/resources/armresources/go.mod
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/appconfiguration/armappconfiguration/appconfiguration_live_test.go
Due: eng/pipelines/pullrequest.yml

move _metadata.json into testdata folder
  sdk/resourcemanager/avs/armavs/testdata/_metadata.json
  sdk/resourcemanager/mongocluster/armmongocluster/testdata/_metadata.json
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/testdata/_metadata.json
  sdk/security/keyvault/azadmin/backup/testdata/_metadata.json
  sdk/security/keyvault/azadmin/rbac/testdata/_metadata.json
  sdk/security/keyvault/azadmin/settings/testdata/_metadata.json
  sdk/security/keyvault/azcertificates/testdata/_metadata.json
  sdk/security/keyvault/azkeys/testdata/_metadata.json
  sdk/security/keyvault/azsecrets/testdata/_metadata.json
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/chaos/armchaos/assets.json
  sdk/resourcemanager/chaos/armchaos/capabilities_live_test.go
  sdk/resourcemanager/chaos/armchaos/operations_live_test.go
  sdk/resourcemanager/chaos/armchaos/targets_live_test.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
