Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Create a nw version to test
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  sdk/template/aztemplate/CHANGELOG.md
  sdk/template/aztemplate/version.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of azcore
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

update
  documentation/sdk-automation-tsg.md
  documentation/sdk-breaking-changes-guide-migration.md
  documentation/sdk-breaking-changes-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Mark package as released for Go (#25134)
  eng/pipelines/templates/jobs/archetype-go-release.yml
  sdk/template/aztemplate/CHANGELOG.md
  sdk/template/aztemplate/version.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of azcore (#25135)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

Add Powershell Installation Instructions for Copilot (#25117)
  .github/copilot-instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update changelog parsing to round-trip header
  eng/common/scripts/ChangeLog-Operations.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update package release status completion to process multiple packages
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update changelog parsing to round-trip header (#25137)
  eng/common/scripts/ChangeLog-Operations.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 11807 (#25140)
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add test and react to headers
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/cosmos_http_constants.go
Due: none

fix analyze
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
Due: none

Add Allow Tentative Writes Header (#25127)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_policy.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/cosmos_http_constants.go
Due: none

prompt files for labels and codeowners
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
  eng/common/instructions/azsdk-tools/validate-service-label.instruction.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update eng/common/instructions/azsdk-tools/validate-service-label.instruction.md
  eng/common/instructions/azsdk-tools/validate-service-label.instruction.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Identity] Disable interactive prompts in AzureDeveloperCliCredential token commands (#25091)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/azure_developer_cli_credential.go
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 11802 (#25138)
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
  eng/common/instructions/azsdk-tools/validate-service-label.instruction.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Standardized CODEOWNERS File Request (#25082)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update link
  documentation/sdk-breaking-changes-guide-migration.md
  documentation/sdk-breaking-changes-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/playwright/armplaywright/1.0.0 generation from spec commit: 3162ea117ad7356eed02e0a16940b6c263dd0e90
  sdk/resourcemanager/playwright/armplaywright/CHANGELOG.md
  sdk/resourcemanager/playwright/armplaywright/constants.go
  sdk/resourcemanager/playwright/armplaywright/go.mod
  sdk/resourcemanager/playwright/armplaywright/go.sum
  sdk/resourcemanager/playwright/armplaywright/models.go
  sdk/resourcemanager/playwright/armplaywright/models_serde.go
  sdk/resourcemanager/playwright/armplaywright/operations_client.go
  sdk/resourcemanager/playwright/armplaywright/operations_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/quotas_client.go
  sdk/resourcemanager/playwright/armplaywright/quotas_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/testdata/_metadata.json
  sdk/resourcemanager/playwright/armplaywright/tsp-location.yaml
  sdk/resourcemanager/playwright/armplaywright/version.go
  sdk/resourcemanager/playwright/armplaywright/workspacequotas_client.go
  sdk/resourcemanager/playwright/armplaywright/workspacequotas_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/workspaces_client.go
  sdk/resourcemanager/playwright/armplaywright/workspaces_client_example_test.go
Due: eng/pipelines/pullrequest.yml

changes to blob spec document, and adding startFrom to listblob api
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_models_serde.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
Due: eng/pipelines/pullrequest.yml

changes to blob spec document, and adding startFrom to listblob api (#25147)
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_models_serde.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/playwright/armplaywright/1.0.0 generation from spec commit: bd1d56e67e0e8d45fac093017d018118bc61d4c6
  sdk/resourcemanager/playwright/armplaywright/CHANGELOG.md
  sdk/resourcemanager/playwright/armplaywright/constants.go
  sdk/resourcemanager/playwright/armplaywright/go.mod
  sdk/resourcemanager/playwright/armplaywright/go.sum
  sdk/resourcemanager/playwright/armplaywright/models.go
  sdk/resourcemanager/playwright/armplaywright/models_serde.go
  sdk/resourcemanager/playwright/armplaywright/operations_client.go
  sdk/resourcemanager/playwright/armplaywright/operations_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/quotas_client.go
  sdk/resourcemanager/playwright/armplaywright/quotas_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/testdata/_metadata.json
  sdk/resourcemanager/playwright/armplaywright/tsp-location.yaml
  sdk/resourcemanager/playwright/armplaywright/version.go
  sdk/resourcemanager/playwright/armplaywright/workspacequotas_client.go
  sdk/resourcemanager/playwright/armplaywright/workspacequotas_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/workspaces_client.go
  sdk/resourcemanager/playwright/armplaywright/workspaces_client_example_test.go
Due: eng/pipelines/pullrequest.yml

blob tags conditional headers
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/internal/exported/access_conditions.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_blob_client.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/playwright/armplaywright/1.0.0 generation from spec commit: 3162ea117ad7356eed02e0a16940b6c263dd0e90 (#25146)
  sdk/resourcemanager/playwright/armplaywright/CHANGELOG.md
  sdk/resourcemanager/playwright/armplaywright/constants.go
  sdk/resourcemanager/playwright/armplaywright/go.mod
  sdk/resourcemanager/playwright/armplaywright/go.sum
  sdk/resourcemanager/playwright/armplaywright/models.go
  sdk/resourcemanager/playwright/armplaywright/models_serde.go
  sdk/resourcemanager/playwright/armplaywright/operations_client.go
  sdk/resourcemanager/playwright/armplaywright/operations_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/quotas_client.go
  sdk/resourcemanager/playwright/armplaywright/quotas_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/testdata/_metadata.json
  sdk/resourcemanager/playwright/armplaywright/tsp-location.yaml
  sdk/resourcemanager/playwright/armplaywright/version.go
  sdk/resourcemanager/playwright/armplaywright/workspacequotas_client.go
  sdk/resourcemanager/playwright/armplaywright/workspacequotas_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/workspaces_client.go
  sdk/resourcemanager/playwright/armplaywright/workspaces_client_example_test.go
Due: eng/pipelines/pullrequest.yml

Update API review conditions for client and mgmt packages
  eng/common/scripts/Create-APIReview.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

snake case
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml
