Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Preparing release.
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/internal/version.go
Due: eng/pipelines/pullrequest.yml

mod tidy perf
  sdk/data/aztables/testdata/perf/go.mod
  sdk/data/aztables/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

Prep aztables for v1.4.1 release (#25616)
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/go.mod
  sdk/data/aztables/go.sum
  sdk/data/aztables/internal/version.go
  sdk/data/aztables/testdata/perf/go.mod
  sdk/data/aztables/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

change create read many signature
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
Due: none

Increment package version after release of data/aztables
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/internal/version.go
Due: eng/pipelines/pullrequest.yml

Updating go.mod rule to take into account some of the exceptions (#25590)
  .github/instructions/go-mod-standards.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of data/aztables (#25618)
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/internal/version.go
Due: eng/pipelines/pullrequest.yml

improvements
  eng/common/pipelines/copilot-instruction-evals.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools repository
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools repository (#25620)
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Check user exists before assigning
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Deprecating SDK for hdinsightcontainers(HDInsightOnAks) (#25614)
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/CHANGELOG.md
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/README.md
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/constants.go
  sdk/resourcemanager/hdinsightcontainers/armhdinsightcontainers/go.mod
Due: eng/pipelines/pullrequest.yml

Upgrade emitter and TypeSpec packages to latest versions (#25623)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove duplicated changelog
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Add package.json for js-sdk-release-tools with dependency on @azure-tools/js-sdk-release-tools version 2.14.9
  eng/common/js-sdk-release-tools/package-lock.json
  eng/common/js-sdk-release-tools/package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Check user exists before assigning (#25621)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Don't diff against a baseline. Assume spelling is correct before upgrade.
  eng/common/pipelines/templates/steps/check-spelling.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add cspell upgrade check in check-spelling.yml
  eng/common/pipelines/templates/steps/check-spelling.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove changelog
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Remove version 8.0.0 details from CHANGELOG
  sdk/resourcemanager/netapp/armnetapp/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

go fmt
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/certificateobjectglobalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/certificateobjectlocalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fake/certificateobjectglobalrulestack_server.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fake/certificateobjectlocalrulestack_server.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fake/firewalls_server.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fake/firewallstatus_server.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fake/fqdnlistglobalrulestack_server.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fake/fqdnlistlocalrulestack_server.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fake/globalrulestack_server.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fake/localrules_server.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fake/localrulestacks_server.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fake/metricsobjectfirewall_server.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fake/operations_server.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fake/paloaltonetworkscloudngfwoperations_server.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fake/postrules_server.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fake/prefixlistglobalrulestack_server.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fake/prefixlistlocalrulestack_server.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fake/prerules_server.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/firewalls_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fqdnlistglobalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/fqdnlistlocalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/globalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/localrules_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/localrulestacks_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/metricsobjectfirewall_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/postrules_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/prefixlistglobalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/prefixlistlocalrulestack_client_example_test.go
  sdk/resourcemanager/paloaltonetworksngfw/armpanngfw/prerules_client_example_test.go
Due: eng/pipelines/pullrequest.yml

[AutoPR sdk-resourcemanager/netapp/armnetapp]-generated-from-SDK Generation - Go-5574879 (#25626)
  sdk/resourcemanager/netapp/armnetapp/CHANGELOG.md
  sdk/resourcemanager/netapp/armnetapp/constants.go
  sdk/resourcemanager/netapp/armnetapp/fake/volumes_server.go
  sdk/resourcemanager/netapp/armnetapp/models.go
  sdk/resourcemanager/netapp/armnetapp/models_serde.go
  sdk/resourcemanager/netapp/armnetapp/options.go
  sdk/resourcemanager/netapp/armnetapp/responses.go
  sdk/resourcemanager/netapp/armnetapp/testdata/_metadata.json
  sdk/resourcemanager/netapp/armnetapp/tsp-location.yaml
  sdk/resourcemanager/netapp/armnetapp/volumes_client.go
  sdk/resourcemanager/netapp/armnetapp/volumes_client_example_test.go
Due: eng/pipelines/pullrequest.yml

feat(retry): add configurable link recovery delay
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/internal/exported/retry_options.go
  sdk/messaging/azeventhubs/internal/links_recover.go
  sdk/messaging/azeventhubs/internal/links_test.go
  sdk/messaging/azeventhubs/internal/links_unit_test.go
  sdk/messaging/azeventhubs/internal/utils/retrier.go
  sdk/messaging/azeventhubs/internal/utils/retrier_test.go
Due: eng/pipelines/pullrequest.yml

Bump js-yaml (#25631)
  eng/common/tsp-client/package-lock.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/newrelic/armnewrelicobservability/monitoredsubscriptions_client_example_test.go
Due: eng/pipelines/pullrequest.yml

gofmt
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/accounts_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/connectedpartnerresources_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/monitoredsubscriptions_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/monitors_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/operations_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/organizations_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/plans_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/tagrules_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/monitors_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/plans_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/saas_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/tagrules_client_example_test.go
Due: eng/pipelines/pullrequest.yml
