Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Update CHANGELOG
  sdk/storage/azdatalake/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

don't deprecate previous api - directory
  sdk/storage/azdatalake/directory/client.go
Due: eng/pipelines/pullrequest.yml

add test case
  eng/tools/generator/changelog/changelog_filter_test.go
  eng/tools/generator/changelog/testdata/new/operation/funcfilter.go
  eng/tools/generator/changelog/testdata/old/operation/funcfilter.go
Due: eng/pipelines/pullrequest.yml

Fix `FuncFilter` to be compatible with unchanged parameter signatures. (#25316)
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/changelog/changelog_filter.go
  eng/tools/generator/changelog/changelog_filter_test.go
  eng/tools/generator/changelog/testdata/new/operation/funcfilter.go
  eng/tools/generator/changelog/testdata/old/operation/funcfilter.go
Due: eng/pipelines/pullrequest.yml

Remove emulator test setting to true
  sdk/data/azcosmos/emulator_cosmos_aad_test.go
Due: none

update release date
  eng/tools/generator/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

reorder
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/storagecache/armstoragecache/amlfilesystem_live_test.go
  sdk/resourcemanager/storagecache/armstoragecache/storagecache_live_test.go
Due: eng/pipelines/pullrequest.yml

update to go 1.24.7 and release generator
  eng/pipelines/mgmt-auto-release.yml
  eng/scripts/automation_init.sh
  eng/tools/generator/CHANGELOG.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update to go 1.24.7 and release generator (#25319)
  eng/pipelines/mgmt-auto-release.yml
  eng/scripts/automation_init.sh
  eng/tools/generator/CHANGELOG.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update type of tag value
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/examples_test.go
  sdk/data/azappconfig/options.go
  sdk/data/azappconfig/setting.go
Due: eng/pipelines/pullrequest.yml

Set pr creator to empty when it's bot
  eng/common/scripts/Get-PullRequestCreator.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of azidentity (#25263)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Remove API Lifecycle prompt from release plan creation instructions (#25317)
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Selecting ManagedIdentityCredential disables DefaultAzureCredential's IMDS probe
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Log output from mcp installer script as json-rpc
  eng/common/mcp/azure-sdk-mcp.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 12222 (#25323)
  eng/common/scripts/Submit-PullRequest.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add DevOps logging support for invoke helper (#25322)
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/logging.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/1.0.0 generation from spec commit: 5db1734537e487a8e4f62947d520d6b5b040523a
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/CHANGELOG.md
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/README.md
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/bgppeers_client.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/constants.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/fake/bgppeers_server.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/fake/loadbalancers_server.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/fake/operations_server.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/fake/services_server.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/fake/storageclass_server.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/fake/time_rfc3339.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/go.mod
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/go.sum
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/loadbalancers_client.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/models.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/services_client.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/storageclass_client.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/storageclass_client_example_test.go
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/testdata/_metadata.json
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/tsp-location.yaml
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/version.go
Due: eng/pipelines/pullrequest.yml

revert version
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/CHANGELOG.md
  sdk/resourcemanager/containerorchestratorruntime/armcontainerorchestratorruntime/version.go
Due: eng/pipelines/pullrequest.yml
