Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

more fixes from copilot review
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_properties_cache.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_container_read_many_test.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
Due: none

[EventGrid] Regenerate system events for May 2026 release
  sdk/messaging/eventgrid/azsystemevents/constants.go
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/testdata/_metadata.json
  sdk/messaging/eventgrid/azsystemevents/time_rfc3339.go
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

add test to verify cache is always used
  sdk/data/azcosmos/cosmos_feed_range_test.go
Due: none

Update cosmos_container.go
  sdk/data/azcosmos/cosmos_container.go
Due: none

directly add cache to unit tests
  sdk/data/azcosmos/cosmos_container.go
Due: none

invalidate pk range cache on container recreate
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_container_read_many_test.go
Due: none

update (#26755)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update cosmos_container_properties_cache.go
  sdk/data/azcosmos/cosmos_container_properties_cache.go
Due: none

add full refresh tests
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: none

410 tests
  sdk/data/azcosmos/cosmos_container_read_many_test.go
Due: none

generated
  sdk/storage/azqueue/internal/generated/zz_constants.go
  sdk/storage/azqueue/internal/generated/zz_messageid_client.go
  sdk/storage/azqueue/internal/generated/zz_messages_client.go
  sdk/storage/azqueue/internal/generated/zz_models.go
  sdk/storage/azqueue/internal/generated/zz_models_serde.go
  sdk/storage/azqueue/internal/generated/zz_options.go
  sdk/storage/azqueue/internal/generated/zz_queue_client.go
  sdk/storage/azqueue/internal/generated/zz_responses.go
  sdk/storage/azqueue/internal/generated/zz_service_client.go
  sdk/storage/azqueue/internal/generated/zz_time_rfc1123.go
  sdk/storage/azqueue/internal/generated/zz_time_rfc3339.go
  sdk/storage/azqueue/internal/generated/zz_xml_helper.go
Due: eng/pipelines/pullrequest.yml

internal
  sdk/storage/azqueue/internal/base/clients.go
  sdk/storage/azqueue/internal/generated/autorest.md
  sdk/storage/azqueue/internal/generated/messageid_client.go
  sdk/storage/azqueue/internal/generated/messages_client.go
  sdk/storage/azqueue/internal/generated/models.go
  sdk/storage/azqueue/internal/generated/queue_client.go
  sdk/storage/azqueue/internal/generated/service_client.go
  sdk/storage/azqueue/internal/testcommon/common.go
Due: eng/pipelines/pullrequest.yml

fix: resolve pkDef inside retry loop and add nil guard for container cache
  sdk/data/azcosmos/cosmos_container_properties_cache.go
  sdk/data/azcosmos/cosmos_container_read_many.go
Due: none

handwritten layer
  sdk/storage/azqueue/README.md
  sdk/storage/azqueue/models.go
  sdk/storage/azqueue/queue_client.go
  sdk/storage/azqueue/service_client.go
  sdk/storage/azqueue/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[Refresh sdk-resourcemanager/dynatrace/armdynatrace]-generated-from-SDK Generation - Go-6034399 (#26338)
  sdk/resourcemanager/dynatrace/armdynatrace/CHANGELOG.md
  sdk/resourcemanager/dynatrace/armdynatrace/README.md
  sdk/resourcemanager/dynatrace/armdynatrace/assets.json
  sdk/resourcemanager/dynatrace/armdynatrace/autorest.md
  sdk/resourcemanager/dynatrace/armdynatrace/build.go
  sdk/resourcemanager/dynatrace/armdynatrace/client_factory.go
  sdk/resourcemanager/dynatrace/armdynatrace/constants.go
  sdk/resourcemanager/dynatrace/armdynatrace/creationsupported_client.go
  sdk/resourcemanager/dynatrace/armdynatrace/creationsupported_client_example_test.go
  sdk/resourcemanager/dynatrace/armdynatrace/dynatrace_live_test.go
  sdk/resourcemanager/dynatrace/armdynatrace/fake/creationsupported_server.go
  sdk/resourcemanager/dynatrace/armdynatrace/fake/internal.go
  sdk/resourcemanager/dynatrace/armdynatrace/fake/monitoredsubscriptions_server.go
  sdk/resourcemanager/dynatrace/armdynatrace/fake/monitors_server.go
  sdk/resourcemanager/dynatrace/armdynatrace/fake/operations_server.go
  sdk/resourcemanager/dynatrace/armdynatrace/fake/server_factory.go
  sdk/resourcemanager/dynatrace/armdynatrace/fake/singlesignon_server.go
  sdk/resourcemanager/dynatrace/armdynatrace/fake/tagrules_server.go
  sdk/resourcemanager/dynatrace/armdynatrace/fake/time_rfc3339.go
  sdk/resourcemanager/dynatrace/armdynatrace/models.go
  sdk/resourcemanager/dynatrace/armdynatrace/models_serde.go
  sdk/resourcemanager/dynatrace/armdynatrace/monitoredsubscriptions_client.go
  sdk/resourcemanager/dynatrace/armdynatrace/monitoredsubscriptions_client_example_test.go
  sdk/resourcemanager/dynatrace/armdynatrace/monitors_client.go
  sdk/resourcemanager/dynatrace/armdynatrace/monitors_client_example_test.go
  sdk/resourcemanager/dynatrace/armdynatrace/operations_client.go
  sdk/resourcemanager/dynatrace/armdynatrace/operations_client_example_test.go
  sdk/resourcemanager/dynatrace/armdynatrace/options.go
  sdk/resourcemanager/dynatrace/armdynatrace/responses.go
  sdk/resourcemanager/dynatrace/armdynatrace/singlesignon_client.go
  sdk/resourcemanager/dynatrace/armdynatrace/singlesignon_client_example_test.go
  sdk/resourcemanager/dynatrace/armdynatrace/tagrules_client.go
  sdk/resourcemanager/dynatrace/armdynatrace/tagrules_client_example_test.go
  sdk/resourcemanager/dynatrace/armdynatrace/testdata/_metadata.json
  sdk/resourcemanager/dynatrace/armdynatrace/time_rfc3339.go
  sdk/resourcemanager/dynatrace/armdynatrace/tsp-location.yaml
  sdk/resourcemanager/dynatrace/armdynatrace/version.go
Due: eng/pipelines/pullrequest.yml

chore: upgrade typespec-go emitter and TypeSpec packages to latest versions (#26759)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/servicefabric/armservicefabric/assets.json
  sdk/resourcemanager/servicefabric/armservicefabric/servicefabric_live_test.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/datafactory/armdatafactory/assets.json
  sdk/resourcemanager/datafactory/armdatafactory/datafactory_live_test.go
Due: eng/pipelines/pullrequest.yml

updating dependencies
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
Due: eng/pipelines/pullrequest.yml

Add Storage Mover and Project resource tests
  sdk/resourcemanager/storagemover/armstoragemover/agent_live_test.go
  sdk/resourcemanager/storagemover/armstoragemover/agents_live_test.go
  sdk/resourcemanager/storagemover/armstoragemover/assets.json
  sdk/resourcemanager/storagemover/armstoragemover/endpoints_live_test.go
  sdk/resourcemanager/storagemover/armstoragemover/jobdefinition_jobrun_live_test.go
  sdk/resourcemanager/storagemover/armstoragemover/jobdefinition_schedule_live_test.go
  sdk/resourcemanager/storagemover/armstoragemover/jobruns_live_test.go
  sdk/resourcemanager/storagemover/armstoragemover/projects_collection_live_test.go
  sdk/resourcemanager/storagemover/armstoragemover/projects_resource_live_test.go
  sdk/resourcemanager/storagemover/armstoragemover/scenario_helpers_test.go
  sdk/resourcemanager/storagemover/armstoragemover/storagemover_live_test.go
  sdk/resourcemanager/storagemover/armstoragemover/storagemovers_collection_live_test.go
  sdk/resourcemanager/storagemover/armstoragemover/storagemovers_resource_live_test.go
Due: eng/pipelines/pullrequest.yml

Fix preview API version detection for const-based codegen pattern (#26761)
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/version.go
  eng/tools/generator/version/version_tool.go
  eng/tools/generator/version/version_tool_test.go
Due: eng/pipelines/pullrequest.yml

updating changelog for stg101 GA
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

updating dependencies
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

Implement 100c changes as per .NET SDK design
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/common.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/base/expect_continue.go
  sdk/storage/azblob/internal/base/expect_continue_test.go
  sdk/storage/azblob/internal/exported/expect_continue.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/models.go
Due: eng/pipelines/pullrequest.yml

share caches among clients to same endpoint
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_container_read_many_test.go
  sdk/data/azcosmos/cosmos_feed_range_test.go
  sdk/data/azcosmos/cosmos_global_cache_registry.go
  sdk/data/azcosmos/cosmos_global_cache_registry_test.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: none

additional tests
  sdk/data/azcosmos/cosmos_global_cache_registry_test.go
Due: none

fix race conditions
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_global_cache_registry.go
  sdk/data/azcosmos/cosmos_global_cache_registry_test.go
Due: none

add normalization
  sdk/data/azcosmos/cosmos_global_cache_registry.go
  sdk/data/azcosmos/cosmos_global_cache_registry_test.go
Due: none

feat(azcosmos_perf): add Go performance testing tool with ChangeFeed and ReadMany ops
  sdk/data/azcosmos_perf/CHANGELOG.md
  sdk/data/azcosmos_perf/LICENSE.txt
  sdk/data/azcosmos_perf/README.md
  sdk/data/azcosmos_perf/ci.yml
  sdk/data/azcosmos_perf/cmd/cosmos-perf/main.go
  sdk/data/azcosmos_perf/entrypoint.sh
  sdk/data/azcosmos_perf/go.mod
  sdk/data/azcosmos_perf/go.sum
  sdk/data/azcosmos_perf/internal/config/config.go
  sdk/data/azcosmos_perf/internal/operations/change_feed.go
  sdk/data/azcosmos_perf/internal/operations/create_item.go
  sdk/data/azcosmos_perf/internal/operations/operations.go
  sdk/data/azcosmos_perf/internal/operations/query_items.go
  sdk/data/azcosmos_perf/internal/operations/read_item.go
  sdk/data/azcosmos_perf/internal/operations/read_many_items.go
  sdk/data/azcosmos_perf/internal/operations/upsert_item.go
  sdk/data/azcosmos_perf/internal/runner/runner.go
  sdk/data/azcosmos_perf/internal/seed/seed.go
  sdk/data/azcosmos_perf/internal/setup/setup.go
  sdk/data/azcosmos_perf/internal/stats/stats.go
  sdk/data/azcosmos_perf/run_perf.sh
Due: eng/pipelines/pullrequest.yml

feat(azcosmos_perf): persist panic stack trace to ADX error_message source
  sdk/data/azcosmos_perf/internal/runner/runner.go
  sdk/data/azcosmos_perf/internal/stats/stats.go
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Perf testing
  sdk/storage/azblob/blockblob/structured_message_bench_test.go
Due: eng/pipelines/pullrequest.yml

Add VMSS Lifecycle Hook events (PR #40499)
  sdk/messaging/eventgrid/azsystemevents/constants.go
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/system_events.go
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Lint issues resolve
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/pageblob/client_test.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): Read max-message-batch-size vendor property for batch sizing (#26530)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/amqp_test_utils.go
  sdk/messaging/azservicebus/internal/amqpwrap/amqpwrap.go
  sdk/messaging/azservicebus/internal/amqpwrap/mock_amqp_test.go
  sdk/messaging/azservicebus/internal/mock/emulation/mock_data_sender.go
  sdk/messaging/azservicebus/internal/mock/mock_amqp.go
  sdk/messaging/azservicebus/internal/rpc_test.go
  sdk/messaging/azservicebus/sender.go
  sdk/messaging/azservicebus/sender_unit_test.go
Due: eng/pipelines/pullrequest.yml

[Cosmos] add container cache and pk range cache (#26723)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_collection_routing_map.go
  sdk/data/azcosmos/cosmos_collection_routing_map_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_properties_cache.go
  sdk/data/azcosmos/cosmos_container_properties_cache_test.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_container_read_many_test.go
  sdk/data/azcosmos/cosmos_feed_range_test.go
  sdk/data/azcosmos/cosmos_global_cache_registry.go
  sdk/data/azcosmos/cosmos_global_cache_registry_test.go
  sdk/data/azcosmos/cosmos_http_constants.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
  sdk/data/azcosmos/cosmos_pk_range_gone_test.go
  sdk/data/azcosmos/internal/epk/epk.go
  sdk/data/azcosmos/internal/epk/epk_test.go
  sdk/data/azcosmos/partition_key.go
  sdk/data/azcosmos/partition_key_test.go
Due: none

generated
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_responses.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/internal/generated/zz_time_rfc1123.go
  sdk/storage/azfile/internal/generated/zz_time_rfc3339.go
  sdk/storage/azfile/internal/generated/zz_xml_helper.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
