Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

fix test
  sdk/resourcemanager/keyvault/armkeyvault/vaults_client_example_test.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/keyvault/armkeyvault/privateendpointconnections_client_example_test.go
Due: eng/pipelines/pullrequest.yml

Update CODEOWNERS to remove ArcturusZhang
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update AppConfig dependencies
  sdk/data/azappconfig/go.mod
  sdk/data/azappconfig/go.sum
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 12478 (#25439)
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Reorder error and warning log line processing (#25438)
  eng/common/scripts/logging.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove gocov dependency (#25377)
  eng/pipelines/templates/steps/build-test.yml
  eng/scripts/MgmtTestLib.ps1
  eng/scripts/test.ps1
  eng/tools/internal/coverage/coverage.go
  eng/tools/internal/coverage/coverage_test.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update scripts (#25470)
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Detect-Api-Changes.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[AutoPR sdk-resourcemanager/mongocluster/armmongocluster]-generated-from-SDK Generation - Go-5459676
  sdk/resourcemanager/mongocluster/armmongocluster/CHANGELOG.md
  sdk/resourcemanager/mongocluster/armmongocluster/firewallrules_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/firewallrules_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/go.mod
  sdk/resourcemanager/mongocluster/armmongocluster/go.sum
  sdk/resourcemanager/mongocluster/armmongocluster/mongoclusters_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/mongoclusters_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/operations_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/operations_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/privateendpointconnections_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/privatelinks_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/privatelinks_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/replicas_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/replicas_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/testdata/_metadata.json
  sdk/resourcemanager/mongocluster/armmongocluster/tsp-location.yaml
  sdk/resourcemanager/mongocluster/armmongocluster/users_client.go
  sdk/resourcemanager/mongocluster/armmongocluster/users_client_example_test.go
  sdk/resourcemanager/mongocluster/armmongocluster/version.go
Due: eng/pipelines/pullrequest.yml

fix tests - Fix variable name conflicts and type mismatches in fake DpsCertificate server
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/fake/dpscertificate_server.go
Due: eng/pipelines/pullrequest.yml

Update CODEOWNERS to remove ArcturusZhang (#25466)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/version.go
  sdk/resourcemanager/hybridconnectivity/armhybridconnectivity/version.go
  sdk/resourcemanager/iotoperations/armiotoperations/version.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/version.go
Due: eng/pipelines/pullrequest.yml

gofmt
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/agriservice_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/experiments_client_example_test.go
  sdk/resourcemanager/cloudhealth/armcloudhealth/healthmodels_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactions_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/grafana_client_example_test.go
  sdk/resourcemanager/dell/armdellstorage/filesystems_client_example_test.go
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/cloudhsmclusters_client_example_test.go
  sdk/resourcemanager/iotoperations/armiotoperations/brokerauthentication_client_example_test.go
  sdk/resourcemanager/iotoperations/armiotoperations/brokerauthorization_client_example_test.go
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/workspaces_client_example_test.go
  sdk/resourcemanager/pineconevectordb/armpineconevectordb/organizations_client_example_test.go
  sdk/resourcemanager/planetarycomputer/armplanetarycomputer/geocatalogs_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/storagepools_client_example_test.go
  sdk/resourcemanager/servicefabricmanagedclusters/armservicefabricmanagedclusters/applications_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasks_client_example_test.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/sapvirtualinstances_client_example_test.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/mysql/armmysqlflexibleservers/longrunningbackups_client_example_test.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/mysql/armmysqlflexibleservers/longrunningbackup_client_example_test.go
  sdk/resourcemanager/mysql/armmysqlflexibleservers/longrunningbackups_client_example_test.go
Due: eng/pipelines/pullrequest.yml

revert
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Apply suggestion from @JiaqiZhang-Dev
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

go mod tidy
  sdk/resourcemanager/computefleet/armcomputefleet/go.mod
  sdk/resourcemanager/dataprotection/armdataprotection/go.mod
  sdk/resourcemanager/dataprotection/armdataprotection/go.sum
  sdk/resourcemanager/oracledatabase/armoracledatabase/autonomousdatabasecharactersets_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/autonomousdatabasenationalcharactersets_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/autonomousdatabaseversions_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/dbsystems_client_example_test.go
  sdk/resourcemanager/oracledatabase/armoracledatabase/go.mod
  sdk/resourcemanager/oracledatabase/armoracledatabase/virtualnetworkaddresses_client_example_test.go
  sdk/resourcemanager/storagemover/armstoragemover/go.mod
  sdk/resourcemanager/storagemover/armstoragemover/go.sum
Due: eng/pipelines/pullrequest.yml

go mod tidy
  sdk/resourcemanager/dataprotection/armdataprotection/go.sum
Due: eng/pipelines/pullrequest.yml

Don't specify Go patch version
  eng/pipelines/mgmt-auto-release.yml
  eng/pipelines/templates/variables/globals.yml
  eng/scripts/automation_init.sh
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove extraneous unconditional bicep invocation
  eng/common/TestResources/TestResources-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update spelling
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/client_test.go
Due: eng/pipelines/pullrequest.yml

update Go versions
  eng/pipelines/mgmt-auto-release.yml
  eng/pipelines/templates/variables/globals.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove extraneous unconditional bicep invocation (#25478)
  eng/common/TestResources/TestResources-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Use go versions pre-installed on agents (#25477)
  eng/pipelines/templates/variables/globals.yml
  eng/scripts/automation_init.sh
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add option to skip exiting
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Make SDK Release Steps common
  eng/common/instructions/copilot/sdk-release.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

react to comments and add useragent
  sdk/data/azcosmos/workloads/README.md
  sdk/data/azcosmos/workloads/main/main.go
  sdk/data/azcosmos/workloads/setup_env.sh
  sdk/data/azcosmos/workloads/workload_config.go
  sdk/data/azcosmos/workloads/workload_utils.go
Due: none

Reference SDK release steps from common
  .github/copilot-instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Only checkout PerfAutomation from azure-sdk-tools - Other files in azure-sdk-tools repo are unnecessary - Unnecessary checkout hurts perf and increases security footprint
  eng/common/pipelines/templates/jobs/perf.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml
