Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

feat(azservicebus): return a pager from ListSessions and recover on connection errors
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/client.go
  sdk/messaging/azservicebus/client_list_sessions_live_test.go
  sdk/messaging/azservicebus/client_list_sessions_unit_test.go
  sdk/messaging/azservicebus/example_client_test.go
  sdk/messaging/azservicebus/internal/amqp_test_utils.go
  sdk/messaging/azservicebus/internal/mgmt_get_sessions_test.go
  sdk/messaging/azservicebus/internal/mock/mock_namespace.go
  sdk/messaging/azservicebus/internal/namespace.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): end session listing on an empty page and capture the recovery revision atomically
  sdk/messaging/azservicebus/client.go
  sdk/messaging/azservicebus/client_list_sessions_unit_test.go
  sdk/messaging/azservicebus/internal/amqpLinks.go
  sdk/messaging/azservicebus/internal/amqp_test_utils.go
  sdk/messaging/azservicebus/internal/mock/mock_namespace.go
  sdk/messaging/azservicebus/internal/namespace.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): inspect RPCError for the 404 fallback, retain revision on link failure, example uses log.Fatalf
  sdk/messaging/azservicebus/client.go
  sdk/messaging/azservicebus/example_client_test.go
  sdk/messaging/azservicebus/internal/mgmt.go
  sdk/messaging/azservicebus/internal/mgmt_get_sessions_test.go
Due: eng/pipelines/pullrequest.yml

cosmos: Rename ChangeFeedResponse.Documents to Items and align with data types in other responses
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_change_feed.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/cosmos_feed_range_test.go
  sdk/data/azcosmos/cosmos_get_feed_ranges_options.go
  sdk/data/azcosmos/emulator_cosmos_change_feed_split_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

cosmos: Rename ChangeFeedResponse.Documents to Items and align with data types in other responses (#27175)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_change_feed.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/cosmos_feed_range_test.go
  sdk/data/azcosmos/cosmos_get_feed_ranges_options.go
  sdk/data/azcosmos/emulator_cosmos_change_feed_split_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Updated to align with review comments.
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

cosmos: Additional beta API renames
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_change_feed_split_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_change_feed.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/cosmos_feed_range.go
  sdk/data/azcosmos/cosmos_feed_range_test.go
  sdk/data/azcosmos/cosmos_get_feed_ranges_options.go
  sdk/data/azcosmos/cosmos_read_many_request_options.go
  sdk/data/azcosmos/emulator_cosmos_change_feed_split_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

cosmos: Additional beta API renames (#27183)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_change_feed_split_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_change_feed.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/cosmos_feed_range.go
  sdk/data/azcosmos/cosmos_feed_range_test.go
  sdk/data/azcosmos/cosmos_get_feed_ranges_options.go
  sdk/data/azcosmos/cosmos_read_many_request_options.go
  sdk/data/azcosmos/emulator_cosmos_change_feed_split_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Update release pending status and pipeline URL in release plan
  eng/common/pipelines/templates/stages/archetype-auto-release-prepare.yml
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of data/azcosmos
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

update autorelease resolve step as authenticated step
  eng/common/pipelines/templates/stages/archetype-auto-release-prepare.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

make prefix check optional
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Move Vally eval suite to repo-root azsdk-evals
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/workflow-eval.yml
  eng/common/scripts/allow-relative-links.txt
  eng/common/scripts/eval/package-lock.json
  eng/common/scripts/eval/package.json
  eng/common/scripts/eval/test/init-eval-git-fixtures.test.ts
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

feat(azservicebus): add RetryOptions.TryTimeout option
  sdk/messaging/azservicebus/internal/exported/retry_options.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): make TryTimeout opt-in (disabled by default)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/exported/retry_options.go
  sdk/messaging/azservicebus/internal/utils/retrier.go
  sdk/messaging/azservicebus/internal/utils/retrier_test.go
Due: eng/pipelines/pullrequest.yml

feat(azservicebus): bound each retry attempt by TryTimeout (.NET parity)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/utils/retrier.go
  sdk/messaging/azservicebus/internal/utils/retrier_test.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): classify an exhausted per-attempt TryTimeout as a retryable timeout
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/errors.go
  sdk/messaging/azservicebus/internal/errors_test.go
  sdk/messaging/azservicebus/internal/utils/retrier.go
  sdk/messaging/azservicebus/internal/utils/retrier_test.go
Due: eng/pipelines/pullrequest.yml

docs(azservicebus): correct TryTimeout doc that claimed independence from the caller context
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/exported/retry_options.go
  sdk/messaging/azservicebus/internal/utils/retrier.go
  sdk/messaging/azservicebus/internal/utils/retrier_test.go
Due: eng/pipelines/pullrequest.yml

Apply suggestion from @kazrael2119
  sdk/resourcemanager/monitor/armmonitor/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

release(databricks): armdatabricks v2.0.0 (stable) (#27061)
  sdk/resourcemanager/databricks/armdatabricks/CHANGELOG.md
  sdk/resourcemanager/databricks/armdatabricks/version.go
Due: eng/pipelines/pullrequest.yml

release(databoxedge): armdataboxedge v2.0.0 (stable) (#27060)
  sdk/resourcemanager/databoxedge/armdataboxedge/CHANGELOG.md
  sdk/resourcemanager/databoxedge/armdataboxedge/version.go
Due: eng/pipelines/pullrequest.yml

release(databox): armdatabox v3.0.0 (stable) (#27059)
  sdk/resourcemanager/databox/armdatabox/CHANGELOG.md
  sdk/resourcemanager/databox/armdatabox/version.go
Due: eng/pipelines/pullrequest.yml

[Refresh] armdataboundaries v1.0.0 (stable) (#27058)
  sdk/resourcemanager/databoundaries/armdataboundaries/CHANGELOG.md
  sdk/resourcemanager/databoundaries/armdataboundaries/version.go
Due: eng/pipelines/pullrequest.yml

release(costmanagement): armcostmanagement v3.0.0 (stable) (#27057)
  sdk/resourcemanager/costmanagement/armcostmanagement/CHANGELOG.md
  sdk/resourcemanager/costmanagement/armcostmanagement/version.go
Due: eng/pipelines/pullrequest.yml

release(consumption): armconsumption v2.0.0 (stable) (#27055)
  sdk/resourcemanager/consumption/armconsumption/CHANGELOG.md
  sdk/resourcemanager/consumption/armconsumption/version.go
Due: eng/pipelines/pullrequest.yml

release(communication): armcommunication v3.0.0 (stable) (#27054)
  sdk/resourcemanager/communication/armcommunication/CHANGELOG.md
  sdk/resourcemanager/communication/armcommunication/version.go
Due: eng/pipelines/pullrequest.yml

[Refresh] armcertificateregistration v1.0.0 (stable) (#27053)
  sdk/resourcemanager/certificateregistration/armcertificateregistration/CHANGELOG.md
  sdk/resourcemanager/certificateregistration/armcertificateregistration/version.go
Due: eng/pipelines/pullrequest.yml

release(cdn): armcdn v3.0.0 (stable) (#27052)
  sdk/resourcemanager/cdn/armcdn/CHANGELOG.md
  sdk/resourcemanager/cdn/armcdn/version.go
Due: eng/pipelines/pullrequest.yml

release(billing): armbilling v2.0.0 (stable) (#27051)
  sdk/resourcemanager/billing/armbilling/CHANGELOG.md
  sdk/resourcemanager/billing/armbilling/version.go
Due: eng/pipelines/pullrequest.yml

[Refresh] armautomation v1.0.0 (stable) (#27050)
  sdk/resourcemanager/automation/armautomation/CHANGELOG.md
  sdk/resourcemanager/automation/armautomation/version.go
Due: eng/pipelines/pullrequest.yml

release(attestation): armattestation v2.0.0 (stable) (#27049)
  sdk/resourcemanager/attestation/armattestation/CHANGELOG.md
  sdk/resourcemanager/attestation/armattestation/version.go
Due: eng/pipelines/pullrequest.yml

Regenerate azfile and azqueue from TypeSpec for stg103-104
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_responses.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/tsp-location.yaml
  sdk/storage/azqueue/internal/generated/zz_models_serde.go
  sdk/storage/azqueue/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Regenerate azblob from 2026-12-06 swagger with service version 2026-10-06 (#27171)
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_responses.go
Due: eng/pipelines/pullrequest.yml

Bump azcore to v1.22.0 in azqueue
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
Due: eng/pipelines/pullrequest.yml

Add test and changelog for access tier headers in blob download response
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blob/client_test.go
Due: eng/pipelines/pullrequest.yml

Add MD5/CRC64 combined return support for blob put operations
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/responses.go
  sdk/storage/azblob/pageblob/client_test.go
Due: eng/pipelines/pullrequest.yml

Update test recordings for MD5/CRC64 combined return tests
  sdk/storage/azblob/assets.json
Due: eng/pipelines/pullrequest.yml
