Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

adding cost control tests for 2026-09-15-preview sdk
  sdk/resourcemanager/cognitiveservices/armcognitiveservices/assets.json
  sdk/resourcemanager/cognitiveservices/armcognitiveservices/costcontrols_live_test.go
  sdk/resourcemanager/cognitiveservices/armcognitiveservices/costcontrols_test.go
  sdk/resourcemanager/cognitiveservices/armcognitiveservices/go.mod
  sdk/resourcemanager/cognitiveservices/armcognitiveservices/go.sum
  sdk/resourcemanager/cognitiveservices/armcognitiveservices/utils_test.go
Due: eng/pipelines/pullrequest.yml

azcosmos: add logical-partition query paging (#27635)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/completion_native.go
  sdk/data/azcosmos/container_client_query.go
  sdk/data/azcosmos/driver_stub.go
  sdk/data/azcosmos/emulator_query_test.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/internal/testdata/emulator-config.json
  sdk/data/azcosmos/query.go
  sdk/data/azcosmos/query_native.go
  sdk/data/azcosmos/query_native_test.go
  sdk/data/azcosmos/query_test.go
  sdk/data/azcosmos/response.go
Due: none

Increment package version after release of messaging/eventgrid/azsystemevents
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/version.go
Due: eng/pipelines/pullrequest.yml

Add Copilot code review skill for Go SDK
  .github/skills/code-review/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add transport package (#27638)
  sdk/internal/CHANGELOG.md
  sdk/internal/transport/transport.go
  sdk/internal/transport/transport_other.go
  sdk/internal/transport/transport_wasm.go
  sdk/internal/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of internal
  sdk/internal/CHANGELOG.md
  sdk/internal/version.go
Due: eng/pipelines/pullrequest.yml

Use default HTTP client from sdk/internal
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/runtime/pipeline.go
  sdk/azcore/runtime/transport_default_dialer_other.go
  sdk/azcore/runtime/transport_default_dialer_wasm.go
  sdk/azcore/runtime/transport_default_http_client.go
Due: eng/pipelines/pullrequest.yml

mod tidy perf tests
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

update skill and PR template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/instructions/go-code.instructions.md
  .github/instructions/go-tests.instructions.md
  .github/skills/code-review/SKILL.md
  AGENTS.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove references to autorest from contributing.md
  CONTRIBUTING.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Use default HTTP client from sdk/internal (#27647)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/runtime/pipeline.go
  sdk/azcore/runtime/transport_default_dialer_other.go
  sdk/azcore/runtime/transport_default_dialer_wasm.go
  sdk/azcore/runtime/transport_default_http_client.go
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

refine client naming
  .github/skills/code-review/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix skill name to match directory name
  .github/skills/code-review/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

refine
  .github/instructions/go-code.instructions.md
  .github/instructions/go-tests.instructions.md
  .github/skills/code-review/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Refine review skill security and compatibility guidance
  .github/skills/code-review/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

refine ARM vs data-plane naming
  .github/skills/code-review/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

more refinements
  .github/instructions/go-tests.instructions.md
  .github/skills/code-review/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

changelogs for new release
  sdk/storage/internal/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

changelogs for new release (#27649)
  sdk/storage/internal/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

refine options clause
  .github/skills/code-review/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

refine naming table
  .github/skills/code-review/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

more refinement
  .github/skills/code-review/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Depend on released sdk/storage/internal v0.1.0
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
Due: eng/pipelines/pullrequest.yml

Fixed a few SAS bugs in client files. Incorrectly appending a duplicate ? and not treating versioned blobs correctly (#27592)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/exported/version.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/filesystem/client_test.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azfile/share/client.go
  sdk/storage/azfile/share/client_test.go
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
  sdk/storage/azqueue/queue_client.go
  sdk/storage/azqueue/queue_client_test.go
  sdk/storage/azqueue/service_client.go
  sdk/storage/azqueue/service_client_test.go
Due: eng/pipelines/pullrequest.yml

Prepare azblob 1.8.2 release
  sdk/storage/azblob/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Prepare azfile 1.7.1-beta.2 release
  sdk/storage/azfile/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Prepare azblob 1.8.2 release (#27651)
  sdk/storage/azblob/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azblob
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

[azdatalake] Update azblob to v1.8.2 for service.Client GetSASURL fix
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/service/client_test.go
Due: eng/pipelines/pullrequest.yml

Add packageType to mark-released and api-review create.
  eng/common/scripts/Mark-PackageReleased.ps1
  eng/common/scripts/tests/Mark-PackageReleased.Tests.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add packageType to `package get-approval-status`
  eng/common/scripts/Get-PackageApprovalStatus.ps1
  eng/common/scripts/tests/Get-PackageApprovalStatus.Tests.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Rebase fixes.
  eng/common/scripts/Get-PackageApprovalStatus.ps1
  eng/common/scripts/Mark-PackageReleased.ps1
  eng/common/scripts/tests/Get-PackageApprovalStatus.Tests.ps1
  eng/common/scripts/tests/Mark-PackageReleased.Tests.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Code review feedback.
  eng/common/scripts/Get-PackageApprovalStatus.ps1
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Mark-PackageReleased.ps1
  eng/common/scripts/tests/Get-PackageApprovalStatus.Tests.ps1
  eng/common/scripts/tests/Mark-PackageReleased.Tests.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Route Cosmos reviews to shared SDK team
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Route Cosmos reviews to shared SDK team (#27658)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add language-aware TypeSpec naming guidance
  eng/common/pipelines/skill-eval.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Clarify TypeSpec naming integration and consolidate authoring evaluations
  eng/common/pipelines/skill-eval.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Extract shared TypeSpec naming skill and tool-based customization
  eng/common/pipelines/skill-eval.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Use plan IDs and SDK PR links for release status
  eng/common/pipelines/templates/stages/archetype-auto-release-prepare.yml
  eng/common/pipelines/templates/steps/mark-release-completion.yml
  eng/common/scripts/AutoRelease-Operations.ps1
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix release-plan status correlation
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
