Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

update config for other keyvault package
  sdk/security/keyvault/azcertificates/testdata/_metadata.json
  sdk/security/keyvault/azcertificates/tsp-location.yaml
  sdk/security/keyvault/azkeys/testdata/_metadata.json
  sdk/security/keyvault/azkeys/tsp-location.yaml
  sdk/security/keyvault/azsecrets/testdata/_metadata.json
  sdk/security/keyvault/azsecrets/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[App Configuration] fix lint error and remove build tags for go 1.18 (#25683)
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/constants.go
  sdk/data/azappconfig/doc.go
  sdk/data/azappconfig/examples_test.go
  sdk/data/azappconfig/internal/auth/policy_hmac_auth.go
  sdk/data/azappconfig/internal/auth/policy_hmac_auth_test.go
  sdk/data/azappconfig/internal/exported/sync_token.go
  sdk/data/azappconfig/internal/exported/sync_token_test.go
  sdk/data/azappconfig/internal/generated/custom_client.go
  sdk/data/azappconfig/internal/generated/zz_azureappconfiguration_client.go
  sdk/data/azappconfig/internal/generated/zz_constants.go
  sdk/data/azappconfig/internal/generated/zz_models.go
  sdk/data/azappconfig/internal/generated/zz_models_serde.go
  sdk/data/azappconfig/internal/generated/zz_options.go
  sdk/data/azappconfig/internal/generated/zz_responses.go
  sdk/data/azappconfig/internal/generated/zz_time_rfc3339.go
  sdk/data/azappconfig/internal/synctoken/cache.go
  sdk/data/azappconfig/internal/synctoken/cache_test.go
  sdk/data/azappconfig/internal/synctoken/policy.go
  sdk/data/azappconfig/internal/synctoken/policy_test.go
  sdk/data/azappconfig/options.go
  sdk/data/azappconfig/response_types.go
  sdk/data/azappconfig/setting.go
  sdk/data/azappconfig/setting_selector.go
  sdk/data/azappconfig/snapshot.go
  sdk/data/azappconfig/utils_test.go
  sdk/data/azappconfig/version.go
Due: eng/pipelines/pullrequest.yml

Fix EncryptionConfiguration JSON unmarshaling case sensitivity
  sdk/resourcemanager/datafactory/armdatafactory/models_serde.go
Due: eng/pipelines/pullrequest.yml

refactor: import
  sdk/resourcemanager/datafactory/armdatafactory/models_serde.go
Due: eng/pipelines/pullrequest.yml

Bump @azure-tools/typespec-client-generator-cli (#25671)
  eng/common/tsp-client/package-lock.json
  eng/common/tsp-client/package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 13202 (#25723)
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
  eng/common/scripts/Save-Package-Properties.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Token counts aren't contractual for our client, no need to test for it.
  sdk/ai/azopenai/client_chat_completions_test.go
Due: eng/pipelines/pullrequest.yml

update version
  sdk/resourcemanager/containerregistry/armcontainerregistry/autorest.md
  sdk/resourcemanager/containerregistry/armcontainerregistry/version.go
Due: eng/pipelines/pullrequest.yml

update version
  sdk/resourcemanager/containerregistry/armcontainerregistry/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Fix wrong versioning logic
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/cmd/v2/common/cmdProcessor.go
  eng/tools/generator/cmd/v2/common/fileProcessor.go
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/cmd/version/versionCmd.go
  eng/tools/generator/version.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/containerregistry/armcontainerregistry/3.0.0-beta.1 generation from spec commit: 523ccabf440d8cf1c5b0ea18a8ad1ffedf4902ac
  sdk/resourcemanager/containerregistry/armcontainerregistry/agentpools_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/autorest.md
  sdk/resourcemanager/containerregistry/armcontainerregistry/cacherules_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/connectedregistries_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/credentialsets_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/operations_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/registries_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/replications_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/runs_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/scopemaps_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/taskruns_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/tasks_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/tokens_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/webhooks_client_example_test.go
Due: eng/pipelines/pullrequest.yml

cosmos: Fix conditional check for error logging
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
Due: none

failing test for location cache issue
  sdk/data/azcosmos/cosmos_location_cache_test.go
Due: none

fix issues with read location fallback selection
  sdk/data/azcosmos/cosmos_location_cache.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
Due: none

we should actually mark that we added the fallback even if it's unavailable
  sdk/data/azcosmos/cosmos_location_cache.go
Due: none

Scrubbing a test that was testing more of the internals of the service, instead of the client.
  sdk/ai/azopenai/client_chat_completions_test.go
Due: eng/pipelines/pullrequest.yml

test fixes
  sdk/data/azcosmos/cosmos_location_cache.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
Due: none

Disable older-style 'completions' calls until we can find a compatible model.
  sdk/ai/azopenai/client_completions_test.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
