Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

azcosmos: address PR review comments on F1 change-feed
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token.go
  sdk/data/azcosmos/cosmos_change_feed_split_test.go
  sdk/data/azcosmos/cosmos_container_change_feed.go
  sdk/data/azcosmos/cosmos_container_test.go
Due: none

Split github workflow and github skills sync into two pipelines
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Delete-RemoteBranches.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update eng/common workflow enforcer branch skip detection
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azcosmos: address xinlian12 review comments + thread priority/throughput options post-merge
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_container_change_feed.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/cosmos_feed_range_test.go
Due: none

small nits
  sdk/data/azcosmos/cosmos_collection_routing_map.go
  sdk/data/azcosmos/cosmos_http_constants.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: none

Update cosmos_http_constants.go
  sdk/data/azcosmos/cosmos_http_constants.go
Due: none

add tests with empty pages
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: none

code
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/examples_test.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/retry_reader_test.go
  sdk/storage/azdatalake/internal/generated/filesystem_client.go
  sdk/storage/azdatalake/internal/generated/options.go
  sdk/storage/azdatalake/internal/generated/path_client.go
  sdk/storage/azdatalake/internal/generated/service_client.go
  sdk/storage/azdatalake/internal/generated/zz_constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_models.go
  sdk/storage/azdatalake/internal/generated/zz_models_serde.go
  sdk/storage/azdatalake/internal/generated/zz_options.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_responses.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/generated/zz_time_rfc1123.go
  sdk/storage/azdatalake/internal/testcommon/common.go
  sdk/storage/azdatalake/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Update cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
Due: none

updating changelog date for azdatalake and azqueue
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azqueue/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Upgrade @azure-tools/typespec-go from 0.12.0 to 0.13.0 (#26782)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

changelog fix
  sdk/storage/azqueue/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

structured message encoder/decoder core library with tests (#26224)
  sdk/storage/azblob/internal/shared/structured_message.go
  sdk/storage/azblob/internal/shared/structured_message_test.go
Due: eng/pipelines/pullrequest.yml

[Storage] [Feature] Content Validation upload integration (#26281)
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/internal/exported/transfer_validation_option.go
  sdk/storage/azblob/internal/generated/models.go
  sdk/storage/azblob/pageblob/client.go
Due: eng/pipelines/pullrequest.yml

[Storage][Feature] [Content Validation] download validation (#26311)
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/internal/exported/transfer_validation_option.go
  sdk/storage/azblob/internal/shared/structured_message_test.go
Due: eng/pipelines/pullrequest.yml

Integration tests for crc64 across all blob types
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/shared/structured_message.go
  sdk/storage/azblob/internal/shared/structured_message_test.go
  sdk/storage/azblob/pageblob/client_test.go
Due: eng/pipelines/pullrequest.yml

Feature/cv perf benchmarks (#26765)
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/structured_message_bench_test.go
  sdk/storage/azblob/internal/shared/structured_message_bench_test.go
  sdk/storage/azblob/pageblob/client_test.go
Due: eng/pipelines/pullrequest.yml

examples, documentation and edge cases tests
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blob/examples_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/examples_test.go
  sdk/storage/azblob/pageblob/client_test.go
Due: eng/pipelines/pullrequest.yml

STG 101: Updating changelog date for azdatalake and azqueue (#26784)
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azqueue/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

copilot's comments addressed
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/internal/exported/transfer_validation_option.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azqueue
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azdatalake
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azqueue (#26787)
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azdatalake (#26788)
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azblob (#26776)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azfile (#26779)
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Changelog update for STG 101 GA
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Changelog update for STG 101 GA (#26789)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

address comments
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix remaining tests
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/internal/generated/models.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_models_serde.go
  sdk/storage/azdatalake/internal/generated/zz_options.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/path/models.go
  sdk/storage/azdatalake/internal/testcommon/common.go
Due: eng/pipelines/pullrequest.yml

Cosmos: Fix partition key range cache to use change-feed pagination (#26777)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_collection_routing_map.go
  sdk/data/azcosmos/cosmos_container_read_many_test.go
  sdk/data/azcosmos/cosmos_feed_range_test.go
  sdk/data/azcosmos/cosmos_http_constants.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: none

[Storage] Add Structured Message CRC64 content validation for blob upload and download (#26785)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blob/examples_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/examples_test.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/blockblob/structured_message_bench_test.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/internal/exported/transfer_validation_option.go
  sdk/storage/azblob/internal/generated/models.go
  sdk/storage/azblob/internal/shared/structured_message.go
  sdk/storage/azblob/internal/shared/structured_message_bench_test.go
  sdk/storage/azblob/internal/shared/structured_message_test.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/pageblob/client_test.go
Due: eng/pipelines/pullrequest.yml

fix(azcosmos): GetChangeFeed split-resilient via overlap match, 410/Gone retry, multi-range continuation queue (#26767) (#26768)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token.go
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_change_feed_request_options_test.go
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_change_feed_split_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_change_feed.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/cosmos_feed_range.go
  sdk/data/azcosmos/cosmos_feed_range_test.go
  sdk/data/azcosmos/emulator_cosmos_change_feed_split_test.go
Due: none

fix(azcosmos): remove no-op PopulateCompositeContinuationToken from ChangeFeedResponse
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
  sdk/data/azcosmos/cosmos_container_change_feed.go
Due: none

Update sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/CHANGELOG.md
Due: none

fix(azcosmos): remove no-op PopulateCompositeContinuationToken from ChangeFeedResponse (#26792)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
  sdk/data/azcosmos/cosmos_container_change_feed.go
Due: none
