Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      ServiceDirectory: ${{ parameters.Service }}

Removed magical number to follow coding convention and fixed up comments
  sdk/data/azcosmos/cosmos_change_feed_range_test.go
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
Due: none

Fixed time formatting error for IfModifiedSince headers
  sdk/data/azcosmos/cosmos_change_feed_request_options_test.go
Due: none

Tidying up integration test code
  sdk/data/azcosmos/cosmos_change_feed_cloud_test.go
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
Due: none

Changing emulator test for Change Feed GetEpkRange
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Prepare azcore v1.18.1 for release (#24907)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

Fixed comments to follow Go Conventions
  sdk/data/azcosmos/cosmos_container.go
Due: none

Updat with release date.
  sdk/messaging/azservicebus/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

update
  .github/instructions/go-sdk-generation.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update
  .github/instructions/go-sdk-generation.instructions.md
  eng/scripts/Prepare-GenerationConfig.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update
  .github/instructions/go-sdk-generation.instructions.md
  documentation/sdk-breaking-changes-guide.md
  eng/scripts/Prepare-GenerationConfig.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Release pipeline verifies major version suffix
  eng/pipelines/templates/jobs/archetype-go-release.yml
  eng/scripts/Language-Settings.ps1
  eng/scripts/validate_go_mod_major_version.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of azcore
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

don't push/pop working directory
  eng/scripts/validate_go_mod_major_version.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove hasError
  eng/scripts/validate_go_mod_major_version.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of azcore (#24912)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

Release pipeline verifies major version suffix (#24910)
  eng/pipelines/templates/jobs/archetype-go-release.yml
  eng/scripts/Language-Settings.ps1
  eng/scripts/validate_go_mod_major_version.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add automatic composite continuation token support for feed range operations
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_container.go
Due: none

add comprehensive tests for composite continuation token functionality
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
  sdk/data/azcosmos/cosmos_container_test.go
Due: none

Updated emulator tests with three scenarios: composite tokens, simple ETags, and If-Modified-Since
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

updating deps to latest
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
Due: eng/pipelines/pullrequest.yml

Consolidated CompositeContinuationToken logic
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token_test.go
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
  sdk/data/azcosmos/cosmos_container.go
Due: none

[azservicebus] update for release (#24909)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/go.mod
  sdk/messaging/azservicebus/go.sum
Due: eng/pipelines/pullrequest.yml

Disable codeql for linter pipeline (#24913)
  eng/common/pipelines/codeowners-linter.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Updated CHANGELOG.md
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Fix path to major version mod script
  eng/pipelines/templates/jobs/archetype-go-release.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix path to major version mod script (#24915)
  eng/pipelines/templates/jobs/archetype-go-release.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Privatized and relocated findPartitionKeyRangeID
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_feed_partition_range_util.go
  sdk/data/azcosmos/cosmos_feed_range.go
Due: none

Refactored ChangeFeed read method to primarily be accessed through GetChangeFeed, which internally calls getChangeFeedForEPKRange when provided a FeedRange or CompositeConitnuationToken
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Cleaned up miscellaneous comments
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token_test.go
  sdk/data/azcosmos/cosmos_change_feed_range_test.go
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_change_feed_request_options_test.go
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_test.go
Due: none

Additional miscellaneous comment cleaned up
  sdk/data/azcosmos/cosmos_change_feed_range_test.go
Due: none

Increment package version after release of messaging/azservicebus
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of messaging/azservicebus (#24917)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Due: eng/pipelines/pullrequest.yml

update
  .github/instructions/go-sdk-breaking-changes-review.instructions.md
  documentation/sdk-breaking-changes-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
