Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

adding GetSystemProperties
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/directory/models.go
  sdk/storage/azdatalake/directory/responses.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/responses.go
  sdk/storage/azdatalake/internal/path/models.go
  sdk/storage/azdatalake/internal/path/responses.go
Due: eng/pipelines/pullrequest.yml

Adding tests
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client_test.go
Due: eng/pipelines/pullrequest.yml

fixing service version in azdatalake generated code
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/generated_blob/autorest.md
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azqueue/internal/generated/autorest.md
Due: eng/pipelines/pullrequest.yml

Update CODEOWNERS
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

adding support for soft deleted blobs and blob versions during resource cleanup
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Apply suggestions from code review
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

datalake codegen
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
Due: eng/pipelines/pullrequest.yml

api version optional/removed
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove mapping
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

version header fix
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/filesystem_client.go
  sdk/storage/azdatalake/internal/generated/path_client.go
  sdk/storage/azdatalake/internal/generated/service_client.go
Due: eng/pipelines/pullrequest.yml

Add SYSTEM_ACCESSTOKEN to Git release step
  eng/common/pipelines/templates/steps/create-tags-and-git-release.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add SYSTEM_ACCESSTOKEN to publish-blobs.yml
  eng/common/pipelines/templates/steps/publish-blobs.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove PR condition because it is alwasy empty for PRs from forks
  .github/workflows/post-apiview.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove check enforcer override
  .github/workflows/mgmt-review.lock.yml
  .github/workflows/mgmt-review.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

upgrade to 0.68.1
  .github/aw/actions-lock.json
  .github/workflows/mgmt-review.lock.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update
  sdk/data/azappconfig/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

adding recordings
  sdk/storage/azdatalake/assets.json
Due: eng/pipelines/pullrequest.yml

simplify implementation
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_offers.go
  sdk/data/azcosmos/cosmos_query_response.go
  sdk/data/azcosmos/cosmos_response.go
  sdk/data/azcosmos/diagnostics.go
  sdk/data/azcosmos/trace.go
  sdk/data/azcosmos/trace_data.go
  sdk/data/azcosmos/trace_json_writer.go
Due: none

add test coverage
  sdk/data/azcosmos/diagnostics_test.go
Due: none

Update CODEOWNERS to remove one owner from Custom Providers
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Enhance error message extraction for Azure Developer CLI to support multiple JSON formats
  sdk/azidentity/developer_credential_util.go
  sdk/azidentity/developer_credential_util_test.go
Due: eng/pipelines/pullrequest.yml

Address Copilot feedback
  sdk/azidentity/developer_credential_util.go
  sdk/azidentity/developer_credential_util_test.go
Due: eng/pipelines/pullrequest.yml

update review instuction
  .github/copilot-instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update ignore link
  eng/ignore-links.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix ignore-links: use URL-encoded form for {run_url} placeholder
  eng/ignore-links.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

adding smart access tier
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/container/constants.go
Due: eng/pipelines/pullrequest.yml

more tests
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/service/client_test.go
Due: eng/pipelines/pullrequest.yml

adding recordings
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blockblob/client_test.go
Due: eng/pipelines/pullrequest.yml

Apply suggestion from @raych1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Apply suggestions from code review
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Prep azcore@v1.21.1 for release
  sdk/azcore/CHANGELOG.md
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

mod tidy perf
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

Sync .github directory with azure-sdk-tools repository
  .github/workflows/event-processor.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update ignore-links.txt
  eng/ignore-links.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix(azeventhubs): swap OwnerID/PartitionID log args in BlobStore.ClaimOwnership
  sdk/messaging/azeventhubs/CHANGELOG.md
  sdk/messaging/azeventhubs/checkpoints/blob_store.go
Due: eng/pipelines/pullrequest.yml

fixing generated code in azfile
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/zz_responses.go
Due: eng/pipelines/pullrequest.yml
