Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Increment package version after release of azidentity
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10522 (#24556)
  eng/common/pipelines/templates/steps/check-spelling.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of azidentity (#24634)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Updating changelog to reflect a release date of today.
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10532 (#24635)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/deploy-test-resources.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[azsystemevents] Updated with latest update for 2025-05 events. (#24611)
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/constants.go
  sdk/messaging/eventgrid/azsystemevents/custom_events_test.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate.go
  sdk/messaging/eventgrid/azsystemevents/internal/version.go
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/system_events.go
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Increment package version after release of messaging/eventgrid/azsystemevents
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/internal/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of messaging/eventgrid/azsystemevents (#24638)
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/internal/version.go
Due: eng/pipelines/pullrequest.yml

Support `az bicep build` in New-TestResources (#24637)
  eng/common/TestResources/TestResources-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update readme
  sdk/resourcemanager/purestorageblock/armpurestorageblock/README.md
Due: eng/pipelines/pullrequest.yml

update readme
  sdk/resourcemanager/sitemanager/armsitemanager/README.md
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/neonpostgres/armneonpostgres/organizations_client_example_test.go
Due: eng/pipelines/pullrequest.yml

extend timeout for Analyze
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

change the timeout to only be present when invoking go - pullrequest
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

rename title
  sdk/resourcemanager/sitemanager/armsitemanager/README.md
Due: eng/pipelines/pullrequest.yml

update changelog
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools repository
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Package-Properties.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

updating date for changelog to be targeted release date
  sdk/resourcemanager/iotfirmwaredefense/armiotfirmwaredefense/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools repository (#24642)
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Package-Properties.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add option to perserve auth
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fixes to auto-download/start azsdk mcp
  eng/common/mcp/azure-sdk-mcp.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10664 (#24643)
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fixes to auto-download/start azsdk mcp (#24644)
  eng/common/mcp/azure-sdk-mcp.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

ensure the directory that gets logged is the actual changed packages service directory
  eng/common/pipelines/templates/steps/save-package-properties.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

managed identity test always responds 200
  sdk/azidentity/managed_identity_credential_test.go
Due: eng/pipelines/pullrequest.yml

wip
  sdk/azidentity/testdata/managed-id-test/main.go
Due: eng/pipelines/pullrequest.yml

move query engine out of 'unstable' package
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
  sdk/data/azcosmos/unstable/README.md
Due: none

wip
  sdk/azidentity/live_test.go
  sdk/azidentity/managed_identity_credential_test.go
  sdk/azidentity/test-resources-post.ps1
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10657 (#24647)
  eng/common/pipelines/templates/steps/save-package-properties.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml
