Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

revert dashbord
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/responses.go
  sdk/resourcemanager/dashboard/armdashboard/testdata/_metadata.json
  sdk/resourcemanager/dashboard/armdashboard/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

support sdk review
  .github/copilot-instructions.md
  .github/instructions/sdk-review.instructions.md
  .vscode/mcp.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

authoring instruction
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

quotes
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

generalize
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

compile time expression
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix variables
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

cant use trigger as a job
  eng/common/pipelines/ai-evals-tests.yml
  eng/common/pipelines/templates/jobs/ai-eval-job.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

show params for pipeline
  eng/common/pipelines/ai-evals-tests.yml
  eng/common/pipelines/templates/jobs/ai-eval-job.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

another fix
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix the pipeline variables
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update eng/common/pipelines/templates/jobs/ai-eval-job.yml
  eng/common/pipelines/templates/jobs/ai-eval-job.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

target repo name fix
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of azcore (#25564)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
Due: eng/pipelines/pullrequest.yml

minor
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

prompt improvement
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

test making copilot install for you
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 13193 (#25718)
  eng/common/scripts/Verify-ChangeLogs.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

just wait in the test instead of exposing a WaitGroup
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_policy.go
  sdk/data/azcosmos/cosmos_logging_test.go
Due: none

Sync eng/common directory with azure-sdk-tools for PR 13142 (#25712)
  eng/common/pipelines/ai-evals-tests.yml
  eng/common/pipelines/templates/jobs/ai-eval-job.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

it was the policy one that was unused :facepalm:
  sdk/data/azcosmos/cosmos_global_endpoint_manager_policy.go
Due: none

Fix unhelpful error when no stress packages are found (#25472)
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

just delete the failing logging tests, they're not failing because the logging isn't working
  sdk/data/azcosmos/cosmos_logging_test.go
Due: none

return full package info if the input artifact list is empty
  eng/common/scripts/Save-Package-Properties.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fixed hashset issue
  eng/common/scripts/Save-Package-Properties.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Added artifacts parameter
  eng/common/pipelines/templates/steps/daily-dev-build-variable.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Added optional artifact list to filter the package info to be returned
  eng/common/scripts/Save-Package-Properties.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Apply suggestions from code review
  eng/common/scripts/Save-Package-Properties.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

cosmos: Logging and Region ID canonicalization (#25695)
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/cosmos_http_constants.go
  sdk/data/azcosmos/cosmos_http_constants_generated.go
  sdk/data/azcosmos/cosmos_location_cache.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
  sdk/data/azcosmos/emulator_cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/emulator_cosmos_logging_test.go
  sdk/data/azcosmos/emulator_test.go
  sdk/data/azcosmos/log.go
  sdk/data/azcosmos/region_id.go
  sdk/data/azcosmos/region_id_test.go
  sdk/data/azcosmos/valuelist/generator.go
  sdk/data/azcosmos/valuelist/generator_test.go
  sdk/data/azcosmos/valuelist/go.mod
Due: none

Bump cspell from 9.3.2 to 9.4.0 in /eng/common/spelling (#25720)
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
