Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

update changelog
  sdk/resourcemanager/resources/armpolicy/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Upgrade TypeSpec compiler and Azure tools to latest versions (#26025)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 13968 (#26024)
  eng/common/TestResources/deploy-test-resources.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/postgresql/armpostgresql/postgresql_live_test.go
  sdk/resourcemanager/postgresql/armpostgresql/privateendpointconnections_live_test.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/postgresql/armpostgresql/checknameavailability_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresql/locationbasedperformancetier_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresql/logfiles_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresql/recoverableservers_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresql/serveradministrators_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresql/serverbasedperformancetier_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresql/serverkeys_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresql/serverparameters_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresql/serversecurityalertpolicies_client_example_test.go
  sdk/resourcemanager/postgresql/armpostgresql/serversecurityalertpolicies_live_test.go
  sdk/resourcemanager/postgresql/armpostgresql/virtualnetworkrules_client_example_test.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/postgresql/armpostgresql/assets.json
  sdk/resourcemanager/postgresql/armpostgresql/operations_live_test.go
  sdk/resourcemanager/postgresql/armpostgresql/postgresql_live_test.go
  sdk/resourcemanager/postgresql/armpostgresql/privateendpointconnections_live_test.go
Due: eng/pipelines/pullrequest.yml

go mod tidy
  sdk/resourcemanager/postgresql/armpostgresql/go.mod
Due: eng/pipelines/pullrequest.yml

[AutoPR sdk-resourcemanager/artifactsigning/armartifactsigning]-generated-from-SDK Generation - Go-5867193 (#26013)
  sdk/resourcemanager/artifactsigning/armartifactsigning/CHANGELOG.md
  sdk/resourcemanager/artifactsigning/armartifactsigning/LICENSE.txt
  sdk/resourcemanager/artifactsigning/armartifactsigning/README.md
  sdk/resourcemanager/artifactsigning/armartifactsigning/certificateprofiles_client.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/certificateprofiles_client_example_test.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/ci.yml
  sdk/resourcemanager/artifactsigning/armartifactsigning/client_factory.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/codesigningaccounts_client.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/codesigningaccounts_client_example_test.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/constants.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/fake/certificateprofiles_server.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/fake/codesigningaccounts_server.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/fake/internal.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/fake/operations_server.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/fake/server_factory.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/go.mod
  sdk/resourcemanager/artifactsigning/armartifactsigning/go.sum
  sdk/resourcemanager/artifactsigning/armartifactsigning/models.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/models_serde.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/operations_client.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/operations_client_example_test.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/options.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/responses.go
  sdk/resourcemanager/artifactsigning/armartifactsigning/testdata/_metadata.json
  sdk/resourcemanager/artifactsigning/armartifactsigning/tsp-location.yaml
  sdk/resourcemanager/artifactsigning/armartifactsigning/version.go
Due: eng/pipelines/pullrequest.yml

[AutoPR sdk-resourcemanager/managedops/armmanagedops]-generated-from-SDK Generation - Go-5788710 (#25924)
  sdk/resourcemanager/managedops/armmanagedops/CHANGELOG.md
  sdk/resourcemanager/managedops/armmanagedops/LICENSE.txt
  sdk/resourcemanager/managedops/armmanagedops/README.md
  sdk/resourcemanager/managedops/armmanagedops/ci.yml
  sdk/resourcemanager/managedops/armmanagedops/client.go
  sdk/resourcemanager/managedops/armmanagedops/client_example_test.go
  sdk/resourcemanager/managedops/armmanagedops/client_factory.go
  sdk/resourcemanager/managedops/armmanagedops/constants.go
  sdk/resourcemanager/managedops/armmanagedops/fake/internal.go
  sdk/resourcemanager/managedops/armmanagedops/fake/operations_server.go
  sdk/resourcemanager/managedops/armmanagedops/fake/server.go
  sdk/resourcemanager/managedops/armmanagedops/fake/server_factory.go
  sdk/resourcemanager/managedops/armmanagedops/go.mod
  sdk/resourcemanager/managedops/armmanagedops/go.sum
  sdk/resourcemanager/managedops/armmanagedops/models.go
  sdk/resourcemanager/managedops/armmanagedops/models_serde.go
  sdk/resourcemanager/managedops/armmanagedops/operations_client.go
  sdk/resourcemanager/managedops/armmanagedops/operations_client_example_test.go
  sdk/resourcemanager/managedops/armmanagedops/options.go
  sdk/resourcemanager/managedops/armmanagedops/responses.go
  sdk/resourcemanager/managedops/armmanagedops/testdata/_metadata.json
  sdk/resourcemanager/managedops/armmanagedops/tsp-location.yaml
  sdk/resourcemanager/managedops/armmanagedops/version.go
Due: eng/pipelines/pullrequest.yml

update readme.md
  sdk/resourcemanager/certificateregistration/armcertificateregistration/README.md
Due: eng/pipelines/pullrequest.yml

update readme
  sdk/resourcemanager/domainregistration/armdomainregistration/README.md
Due: eng/pipelines/pullrequest.yml

Add datalake error code for path is too deep
  sdk/storage/azdatalake/datalakeerror/error_codes.go
Due: eng/pipelines/pullrequest.yml

Add unit test for PathIsTooDeep error code (#26030)
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/directory/client_test.go
Due: eng/pipelines/pullrequest.yml

Change the unit test to recordedtestsuite
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/directory/client_test.go
Due: eng/pipelines/pullrequest.yml

Add datalake error code for "pathIsTooDeep" (#26029)
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/datalakeerror/error_codes.go
  sdk/storage/azdatalake/directory/client_test.go
Due: eng/pipelines/pullrequest.yml

[AutoPR sdk-resourcemanager/certificateregistration/armcertificateregistration]-generated-from-SDK Generation - Go-5875612 (#26023)
  sdk/resourcemanager/certificateregistration/armcertificateregistration/CHANGELOG.md
  sdk/resourcemanager/certificateregistration/armcertificateregistration/LICENSE.txt
  sdk/resourcemanager/certificateregistration/armcertificateregistration/README.md
  sdk/resourcemanager/certificateregistration/armcertificateregistration/appservicecertificateorders_client.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/appservicecertificateorders_client_example_test.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/certificateordersdiagnostics_client.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/certificateordersdiagnostics_client_example_test.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/ci.yml
  sdk/resourcemanager/certificateregistration/armcertificateregistration/client_factory.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/constants.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/fake/appservicecertificateorders_server.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/fake/certificateordersdiagnostics_server.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/fake/internal.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/fake/provider_server.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/fake/server_factory.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/go.mod
  sdk/resourcemanager/certificateregistration/armcertificateregistration/go.sum
  sdk/resourcemanager/certificateregistration/armcertificateregistration/models.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/models_serde.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/options.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/provider_client.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/provider_client_example_test.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/responses.go
  sdk/resourcemanager/certificateregistration/armcertificateregistration/testdata/_metadata.json
  sdk/resourcemanager/certificateregistration/armcertificateregistration/tsp-location.yaml
  sdk/resourcemanager/certificateregistration/armcertificateregistration/version.go
Due: eng/pipelines/pullrequest.yml

[AutoPR sdk-resourcemanager/domainregistration/armdomainregistration]-generated-from-SDK Generation - Go-5870461 (#26016)
  sdk/resourcemanager/domainregistration/armdomainregistration/CHANGELOG.md
  sdk/resourcemanager/domainregistration/armdomainregistration/LICENSE.txt
  sdk/resourcemanager/domainregistration/armdomainregistration/README.md
  sdk/resourcemanager/domainregistration/armdomainregistration/ci.yml
  sdk/resourcemanager/domainregistration/armdomainregistration/client_factory.go
  sdk/resourcemanager/domainregistration/armdomainregistration/constants.go
  sdk/resourcemanager/domainregistration/armdomainregistration/domains_client.go
  sdk/resourcemanager/domainregistration/armdomainregistration/domains_client_example_test.go
  sdk/resourcemanager/domainregistration/armdomainregistration/fake/domains_server.go
  sdk/resourcemanager/domainregistration/armdomainregistration/fake/internal.go
  sdk/resourcemanager/domainregistration/armdomainregistration/fake/provider_server.go
  sdk/resourcemanager/domainregistration/armdomainregistration/fake/server_factory.go
  sdk/resourcemanager/domainregistration/armdomainregistration/fake/topleveldomains_server.go
  sdk/resourcemanager/domainregistration/armdomainregistration/go.mod
  sdk/resourcemanager/domainregistration/armdomainregistration/go.sum
  sdk/resourcemanager/domainregistration/armdomainregistration/models.go
  sdk/resourcemanager/domainregistration/armdomainregistration/models_serde.go
  sdk/resourcemanager/domainregistration/armdomainregistration/options.go
  sdk/resourcemanager/domainregistration/armdomainregistration/provider_client.go
  sdk/resourcemanager/domainregistration/armdomainregistration/provider_client_example_test.go
  sdk/resourcemanager/domainregistration/armdomainregistration/responses.go
  sdk/resourcemanager/domainregistration/armdomainregistration/testdata/_metadata.json
  sdk/resourcemanager/domainregistration/armdomainregistration/topleveldomains_client.go
  sdk/resourcemanager/domainregistration/armdomainregistration/topleveldomains_client_example_test.go
  sdk/resourcemanager/domainregistration/armdomainregistration/tsp-location.yaml
  sdk/resourcemanager/domainregistration/armdomainregistration/version.go
Due: eng/pipelines/pullrequest.yml

Replace `azd config list` with `azd auth status` in TROUBLESHOOTING.md
  sdk/azidentity/TROUBLESHOOTING.md
Due: eng/pipelines/pullrequest.yml

React to feedback
  sdk/azidentity/TROUBLESHOOTING.md
Due: eng/pipelines/pullrequest.yml

Replace `azd config list` with `azd auth status` in TROUBLESHOOTING.md (#26032)
  sdk/azidentity/TROUBLESHOOTING.md
Due: eng/pipelines/pullrequest.yml

Fix Build Analyze CI - convert relative links to absolute URLs
  AGENTS.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix broken agents.md link and resolve review comment
  AGENTS.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

updating tests
  sdk/resourcemanager/batch/armbatch/batchmanagement_live_test.go
  sdk/resourcemanager/batch/armbatch/certificate_client_example_test.go
Due: eng/pipelines/pullrequest.yml

Fix broken MIGRATION_GUIDE.md link in README.md
  README.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update some dependencies
  eng/tools/generator/go.mod
  eng/tools/generator/go.sum
Due: eng/pipelines/pullrequest.yml

add license file for internal module
  eng/tools/internal/LICENSE.txt
Due: eng/pipelines/pullrequest.yml

Update some dependencies (#26039)
  eng/tools/generator/go.mod
  eng/tools/generator/go.sum
  eng/tools/internal/LICENSE.txt
Due: eng/pipelines/pullrequest.yml

Update eng\common scripts.
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update eng\common scripts. (#26041)
  eng/common/pipelines/templates/steps/detect-api-changes.yml
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add CODEOWNERS entry for sdk/monitor/ingestion/azlogs
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add CODEOWNERS entry for sdk/monitor/ingestion/azlogs (#26042)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

comment out tests
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

update changelog
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Increment package version after release of resourcemanager/internal (#25797)
  sdk/resourcemanager/internal/CHANGELOG.md
  sdk/resourcemanager/internal/version.go
Due: eng/pipelines/pullrequest.yml
