Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Upgrade emitter and TypeSpec package versions to latest (#27158)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

release(kusto): armkusto v2.4.0 (stable) (#27071)
  sdk/resourcemanager/kusto/armkusto/CHANGELOG.md
  sdk/resourcemanager/kusto/armkusto/version.go
Due: eng/pipelines/pullrequest.yml

release(hardwaresecuritymodules): armhardwaresecuritymodules v3.0.0 (stable) (#27070)
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/CHANGELOG.md
  sdk/resourcemanager/hardwaresecuritymodules/armhardwaresecuritymodules/version.go
Due: eng/pipelines/pullrequest.yml

release(frontdoor): armfrontdoor v2.0.0 (stable) (#27068)
  sdk/resourcemanager/frontdoor/armfrontdoor/CHANGELOG.md
  sdk/resourcemanager/frontdoor/armfrontdoor/version.go
Due: eng/pipelines/pullrequest.yml

release(elastic): armelastic v3.0.0 (stable) (#27067)
  sdk/resourcemanager/elastic/armelastic/CHANGELOG.md
  sdk/resourcemanager/elastic/armelastic/version.go
Due: eng/pipelines/pullrequest.yml

release(edgeorder): armedgeorder v2.0.0 (stable) (#27066)
  sdk/resourcemanager/edgeorder/armedgeorder/CHANGELOG.md
  sdk/resourcemanager/edgeorder/armedgeorder/version.go
Due: eng/pipelines/pullrequest.yml

release(dynatrace): armdynatrace v2.2.0 (stable) (#27065)
  sdk/resourcemanager/dynatrace/armdynatrace/CHANGELOG.md
  sdk/resourcemanager/dynatrace/armdynatrace/version.go
Due: eng/pipelines/pullrequest.yml

[Refresh] armdomainregistration v1.0.0 (stable) (#27064)
  sdk/resourcemanager/domainregistration/armdomainregistration/CHANGELOG.md
  sdk/resourcemanager/domainregistration/armdomainregistration/version.go
Due: eng/pipelines/pullrequest.yml

release(dataprotection): armdataprotection v4.1.0 (stable) (#27063)
  sdk/resourcemanager/dataprotection/armdataprotection/CHANGELOG.md
  sdk/resourcemanager/dataprotection/armdataprotection/version.go
Due: eng/pipelines/pullrequest.yml

release(datafactory): armdatafactory v11.0.0 (stable) (#27062)
  sdk/resourcemanager/datafactory/armdatafactory/CHANGELOG.md
  sdk/resourcemanager/datafactory/armdatafactory/version.go
Due: eng/pipelines/pullrequest.yml

release(guestconfiguration): armguestconfiguration v2.0.0 (stable) (#27069)
  sdk/resourcemanager/guestconfiguration/armguestconfiguration/CHANGELOG.md
  sdk/resourcemanager/guestconfiguration/armguestconfiguration/version.go
Due: eng/pipelines/pullrequest.yml

update
  sdk/resourcemanager/devcenter/armdevcenter/assets.json
  sdk/resourcemanager/devcenter/armdevcenter/devcenter_live_test.go
Due: eng/pipelines/pullrequest.yml

Added ExpirationTime field to Role Assignment response DTO for version 2026-07-01-preview
  sdk/security/keyvault/azadmin/CHANGELOG.md
  sdk/security/keyvault/azadmin/rbac/models.go
  sdk/security/keyvault/azadmin/rbac/models_serde.go
Due: eng/pipelines/pullrequest.yml

Write-Host to prevent DevOps from expanding the logging group in the UI
  eng/common/scripts/Test-CodeownersForArtifacts.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Refine output
  eng/common/scripts/Test-CodeownersForArtifacts.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Structure for $failedPackages
  eng/common/scripts/Test-CodeownersForArtifacts.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Improve codeowners check-package JSON output
  eng/common/scripts/Test-CodeownersForArtifacts.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

s
  eng/common/scripts/Test-CodeownersForArtifacts.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

cosmos: Rename GetContRange API (#27148)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_change_feed_response.go
Due: none

Revert "[AutoPR sdk-resourcemanager/hybridcompute/armhybridcompute]-generated…"
  sdk/resourcemanager/hybridcompute/armhybridcompute/CHANGELOG.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/go.mod
  sdk/resourcemanager/hybridcompute/armhybridcompute/go.sum
  sdk/resourcemanager/hybridcompute/armhybridcompute/management_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/models_serde.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/testdata/_metadata.json
  sdk/resourcemanager/hybridcompute/armhybridcompute/tsp-location.yaml
  sdk/resourcemanager/hybridcompute/armhybridcompute/version.go
Due: eng/pipelines/pullrequest.yml

Revert "[AutoPR sdk-resourcemanager/hybridcompute/armhybridcompute]-generated…" (#27164)
  sdk/resourcemanager/hybridcompute/armhybridcompute/CHANGELOG.md
  sdk/resourcemanager/hybridcompute/armhybridcompute/go.mod
  sdk/resourcemanager/hybridcompute/armhybridcompute/go.sum
  sdk/resourcemanager/hybridcompute/armhybridcompute/management_client_example_test.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/models_serde.go
  sdk/resourcemanager/hybridcompute/armhybridcompute/testdata/_metadata.json
  sdk/resourcemanager/hybridcompute/armhybridcompute/tsp-location.yaml
  sdk/resourcemanager/hybridcompute/armhybridcompute/version.go
Due: eng/pipelines/pullrequest.yml

Add .npmrc file for Azure SDK registry
  eng/common/.npmrc
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Regenerate azblob from 2026-12-06 swagger with service version 2026-10-06
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_responses.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): bound management server-timeout by the caller's deadline
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/mgmt.go
  sdk/messaging/azservicebus/internal/mgmt_test.go
  sdk/messaging/azservicebus/internal/rpc_test.go
Due: eng/pipelines/pullrequest.yml

Cosmos: Merge up changes from 1.4.2 patch (#27165)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
  sdk/data/azcosmos/cosmos_container_properties_cache_test.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/cosmos_http_constants.go
  sdk/data/azcosmos/cosmos_http_constants_generated.go
  sdk/data/azcosmos/cosmos_location_cache.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
  sdk/data/azcosmos/emulator_cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/emulator_cosmos_logging_test.go
  sdk/data/azcosmos/emulator_test.go
  sdk/data/azcosmos/log.go
  sdk/data/azcosmos/region_id.go
  sdk/data/azcosmos/region_id_test.go
  sdk/data/azcosmos/valuelist/generator.go
  sdk/data/azcosmos/valuelist/generator_test.go
  sdk/data/azcosmos/valuelist/go.mod
Due: none

azcosmos: address API review feedback
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_change_feed_range.go
  sdk/data/azcosmos/cosmos_change_feed_range_test.go
  sdk/data/azcosmos/cosmos_feed_range.go
  sdk/data/azcosmos/cosmos_priority_level.go
  sdk/data/azcosmos/cosmos_priority_level_test.go
  sdk/data/azcosmos/diagnostics.go
  sdk/data/azcosmos/version.go
Due: none

cosmos: Include non-default port numbers when normalizing endpoint for cache key
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_global_cache_registry.go
  sdk/data/azcosmos/cosmos_global_cache_registry_test.go
  sdk/data/azcosmos/version.go
Due: none

cosmos: Use weak pointer in process-wide account caches
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_global_cache_registry.go
  sdk/data/azcosmos/cosmos_global_cache_registry_test.go
Due: none

Cosmos: API Review Updates (#27166)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_change_feed_range.go
  sdk/data/azcosmos/cosmos_change_feed_range_test.go
  sdk/data/azcosmos/cosmos_feed_range.go
  sdk/data/azcosmos/cosmos_global_cache_registry.go
  sdk/data/azcosmos/cosmos_global_cache_registry_test.go
  sdk/data/azcosmos/cosmos_priority_level.go
  sdk/data/azcosmos/cosmos_priority_level_test.go
  sdk/data/azcosmos/diagnostics.go
Due: none

Simplified pipeline variables for auto-release
  eng/common/pipelines/templates/stages/archetype-auto-release-prepare.yml
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Removed redundant pipeline variable
  eng/pipelines/templates/jobs/archetype-go-release.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Removed redundant pipeline variable (#27173)
  eng/pipelines/templates/jobs/archetype-go-release.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml
