Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

change file name to .instructions.md
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Revert "change file name to .instructions.md"
  eng/common/instructions/azsdk-tools/validate-service-label.instruction.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

changed name file
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

changed name file (#25151)
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 11839 (#25152)
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add doc
  sdk/azcore/arm/internal/resource/resource_identifier.go
Due: eng/pipelines/pullrequest.yml

Add docs of SDK automation TSG and SDK breaking change review guide (#25073)
  documentation/sdk-automation-tsg.md
  documentation/sdk-breaking-changes-guide-migration.md
  documentation/sdk-breaking-changes-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/workloadorchestration/armworkloadorchestration/1.0.0 generation from spec commit: 4bf96d0b0334d1f2e95205ca8f0d7495f7db2f0f
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/CHANGELOG.md
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/configtemplates_client.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/configtemplates_client_example_test.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/contexts_client.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/contexts_client_example_test.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/diagnostics_client.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/diagnostics_client_example_test.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/dynamicschemaversions_client.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/fake/configtemplates_server.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/fake/contexts_server.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/fake/diagnostics_server.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/fake/dynamicschemaversions_server.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/fake/schemas_server.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/fake/solutions_server.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/fake/targets_server.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/go.mod
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/go.sum
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/models.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/models_serde.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/schemas_client.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/schemas_client_example_test.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/solutions_client.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/solutions_client_example_test.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/targets_client.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/targets_client_example_test.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/tsp-location.yaml
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/version.go
Due: eng/pipelines/pullrequest.yml

Use latest tsp-client version in SDK automation
  eng/scripts/automation_init.sh
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update version
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/CHANGELOG.md
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/version.go
Due: eng/pipelines/pullrequest.yml

Add Allow Tentative Writes Header (#25127)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_policy.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/cosmos_http_constants.go
Due: none

update version for release
  sdk/data/azcosmos/version.go
Due: none

[Release] sdk/resourcemanager/workloadorchestration/armworkloadorchestration/0.2.0 (#25155)
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/CHANGELOG.md
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/configtemplates_client.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/configtemplates_client_example_test.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/contexts_client.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/contexts_client_example_test.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/diagnostics_client.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/diagnostics_client_example_test.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/dynamicschemaversions_client.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/fake/configtemplates_server.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/fake/contexts_server.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/fake/diagnostics_server.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/fake/dynamicschemaversions_server.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/fake/schemas_server.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/fake/solutions_server.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/fake/targets_server.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/go.mod
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/go.sum
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/models.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/models_serde.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/schemas_client.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/schemas_client_example_test.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/solutions_client.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/solutions_client_example_test.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/targets_client.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/targets_client_example_test.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/tsp-location.yaml
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/version.go
Due: eng/pipelines/pullrequest.yml

Add sarathys to CODEOWNERS baseline errors
  .github/CODEOWNERS_baseline_errors.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

chore: use errors.New
  sdk/azidentity/internal/customtokenendpoint/policy.go
Due: eng/pipelines/pullrequest.yml

Add sarathys to CODEOWNERS baseline errors (#25158)
  .github/CODEOWNERS_baseline_errors.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

refactor: cache ca content and transport
  sdk/azidentity/internal/customtokenendpoint/policy.go
  sdk/azidentity/internal/customtokenendpoint/policy_test.go
Due: eng/pipelines/pullrequest.yml

Release Cosmos v1.4.1 (#25159)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_policy.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/cosmos_http_constants.go
  sdk/data/azcosmos/version.go
Due: none

fix: drop isTokenRequest detect, forward all requests to token endpoint
  sdk/azidentity/internal/customtokenendpoint/policy.go
  sdk/azidentity/internal/customtokenendpoint/policy_test.go
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

Enable requiring a value for AZURE_TOKEN_CREDENTIALS
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

test: PathValue is not available
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of data/azcosmos
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

fix resource identifier parsing (#25115)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/internal/resource/resource_identifier.go
  sdk/azcore/arm/internal/resource/resource_identifier_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/workloadorchestration/armworkloadorchestration/1.0.0 generation from spec commit: 54fa57e54fcd3140c4c1aa87166c0057314d932b
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/CHANGELOG.md
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/fake/solutiontemplates_server.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/models.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/models_serde.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/solutiontemplates_client.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/solutiontemplates_client_example_test.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/tsp-location.yaml
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/version.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/workloadorchestration/armworkloadorchestration/0.3.0 (#25164)
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/CHANGELOG.md
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/fake/solutiontemplates_server.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/models.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/models_serde.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/solutiontemplates_client.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/solutiontemplates_client_example_test.go
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/tsp-location.yaml
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/version.go
Due: eng/pipelines/pullrequest.yml

adopt new tsp-client change
  eng/tools/generator/cmd/issue/link/commitLink.go
  eng/tools/generator/cmd/issue/link/directoryLink.go
  eng/tools/generator/cmd/issue/link/fileLink.go
  eng/tools/generator/cmd/issue/link/pullRequestLink.go
  eng/tools/generator/cmd/v2/common/cmdProcessor.go
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/typespec/debug_test.go
  eng/tools/generator/typespec/emitter.go
  eng/tools/generator/typespec/goconfig.go
  eng/tools/generator/typespec/goconfig_test.go
  eng/tools/generator/typespec/tspconfig.go
  eng/tools/generator/typespec/tspconfig_test.go
  eng/tools/generator/typespec/tsplocation.go
  eng/tools/generator/typespec/typespec-go.go
Due: eng/pipelines/pullrequest.yml

update test
  eng/tools/generator/typespec/tspconfig_test.go
Due: eng/pipelines/pullrequest.yml

Update eng/tools/generator/typespec/tspconfig.go
  eng/tools/generator/typespec/tspconfig.go
Due: eng/pipelines/pullrequest.yml

update
  eng/tools/generator/typespec/goconfig_test.go
Due: eng/pipelines/pullrequest.yml

refactor: rename AZURE_KUBERNETES_TOKEN_ENDPOINT to AZURE_KUBERNETES_TOKEN_PROXY
  sdk/azidentity/internal/customtokenproxy/policy.go
  sdk/azidentity/internal/customtokenproxy/policy_test.go
  sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

fix: use rewriteRequestURL implementations from Go upstream
  sdk/azidentity/internal/customtokenproxy/policy.go
  sdk/azidentity/internal/customtokenproxy/rewrite.go
  sdk/azidentity/internal/customtokenproxy/rewrite_test.go
Due: eng/pipelines/pullrequest.yml

test: add minimal test for validating proxy flow
  sdk/azidentity/internal/customtokenproxy/policy_test.go
Due: eng/pipelines/pullrequest.yml

Remove pod identity content from TSG
  sdk/azidentity/TROUBLESHOOTING.md
Due: eng/pipelines/pullrequest.yml

doc: update license headers
  sdk/azidentity/internal/customtokenproxy/rewrite.go
  sdk/azidentity/internal/customtokenproxy/rewrite_test.go
Due: eng/pipelines/pullrequest.yml

Remove pod identity content from TSG (#25166)
  sdk/azidentity/TROUBLESHOOTING.md
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
