Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Update CHANGELOG.md
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Update CHANGELOG.md (#26793)
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Increment package version after release of data/azcosmos
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

remove generated blob
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/build.go
  sdk/storage/azdatalake/internal/generated_blob/autorest.md
  sdk/storage/azdatalake/internal/generated_blob/blob_client.go
  sdk/storage/azdatalake/internal/generated_blob/constants.go
  sdk/storage/azdatalake/internal/generated_blob/container_client.go
  sdk/storage/azdatalake/internal/generated_blob/models.go
  sdk/storage/azdatalake/internal/generated_blob/models_serde.go
  sdk/storage/azdatalake/internal/generated_blob/options.go
  sdk/storage/azdatalake/internal/generated_blob/responses.go
  sdk/storage/azdatalake/internal/generated_blob/service_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_appendblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blockblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_constants.go
  sdk/storage/azdatalake/internal/generated_blob/zz_container_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_models.go
  sdk/storage/azdatalake/internal/generated_blob/zz_models_serde.go
  sdk/storage/azdatalake/internal/generated_blob/zz_options.go
  sdk/storage/azdatalake/internal/generated_blob/zz_pageblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_responses.go
  sdk/storage/azdatalake/internal/generated_blob/zz_service_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_time_rfc1123.go
  sdk/storage/azdatalake/internal/generated_blob/zz_time_rfc3339.go
  sdk/storage/azdatalake/internal/generated_blob/zz_xml_helper.go
  sdk/storage/azdatalake/service/client.go
  sdk/storage/azdatalake/service/models.go
Due: eng/pipelines/pullrequest.yml

blob
  sdk/storage/azblob/internal/exported/user_delegation_credential.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of data/azcosmos (#26795)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

replace
  sdk/storage/azdatalake/go.mod
Due: eng/pipelines/pullrequest.yml

lint
  sdk/storage/azdatalake/internal/generated/filesystem_client.go
  sdk/storage/azdatalake/internal/generated_blob/blob_client.go
  sdk/storage/azdatalake/internal/generated_blob/service_client.go
Due: eng/pipelines/pullrequest.yml

lint
  sdk/storage/azdatalake/internal/generated_blob/service_client.go
Due: eng/pipelines/pullrequest.yml

tanya feedback
  sdk/storage/azqueue/queue_client.go
  sdk/storage/azqueue/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Add prepare-pipelines guidance for first on-board services in mgmt-review workflow (#26678)
  .github/workflows/mgmt-review.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Upgrade to gh-aw 0.68.3 and compile all workflow
  .github/agents/agentic-workflows.agent.md
  .github/aw/actions-lock.json
  .github/workflows/issue-triage.lock.yml
  .github/workflows/mgmt-review.lock.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Implement 100c changes as per .NET SDK design
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/common.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/base/expect_continue.go
  sdk/storage/azblob/internal/base/expect_continue_test.go
  sdk/storage/azblob/internal/exported/expect_continue.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/models.go
Due: eng/pipelines/pullrequest.yml

Potential fix for pull request finding
  sdk/storage/azblob/internal/exported/expect_continue.go
Due: eng/pipelines/pullrequest.yml

address comments
  sdk/storage/azblob/internal/base/expect_continue.go
  sdk/storage/azblob/internal/base/expect_continue_test.go
  sdk/storage/azblob/internal/exported/expect_continue.go
Due: eng/pipelines/pullrequest.yml

fix tests
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/base/expect_continue.go
Due: eng/pipelines/pullrequest.yml

address comments
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/base/expect_continue_test.go
Due: eng/pipelines/pullrequest.yml

add empty string guard
  sdk/data/azappconfig/internal/synctoken/policy.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/advisor/armadvisor/assets.json
Due: eng/pipelines/pullrequest.yml

add integration test to env. variable
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/base/expect_continue.go
  sdk/storage/azblob/internal/base/expect_continue_test.go
Due: eng/pipelines/pullrequest.yml

add deprecate info
  sdk/resourcemanager/deploymentmanager/armdeploymentmanager/CHANGELOG.md
  sdk/resourcemanager/deploymentmanager/armdeploymentmanager/README.md
  sdk/resourcemanager/deploymentmanager/armdeploymentmanager/constants.go
Due: eng/pipelines/pullrequest.yml

[Refresh sdk-resourcemanager/edgeorder/armedgeorder]-generated-from-SDK Generation - Go-6034381 (#26322)
  sdk/resourcemanager/edgeorder/armedgeorder/CHANGELOG.md
  sdk/resourcemanager/edgeorder/armedgeorder/README.md
  sdk/resourcemanager/edgeorder/armedgeorder/addresses_client.go
  sdk/resourcemanager/edgeorder/armedgeorder/addresses_client_example_test.go
  sdk/resourcemanager/edgeorder/armedgeorder/autorest.md
  sdk/resourcemanager/edgeorder/armedgeorder/build.go
  sdk/resourcemanager/edgeorder/armedgeorder/client_factory.go
  sdk/resourcemanager/edgeorder/armedgeorder/constants.go
  sdk/resourcemanager/edgeorder/armedgeorder/fake/addresses_server.go
  sdk/resourcemanager/edgeorder/armedgeorder/fake/internal.go
  sdk/resourcemanager/edgeorder/armedgeorder/fake/management_server.go
  sdk/resourcemanager/edgeorder/armedgeorder/fake/operations_server.go
  sdk/resourcemanager/edgeorder/armedgeorder/fake/orderitems_server.go
  sdk/resourcemanager/edgeorder/armedgeorder/fake/orders_server.go
  sdk/resourcemanager/edgeorder/armedgeorder/fake/productsandconfigurations_server.go
  sdk/resourcemanager/edgeorder/armedgeorder/fake/server_factory.go
  sdk/resourcemanager/edgeorder/armedgeorder/fake/time_rfc3339.go
  sdk/resourcemanager/edgeorder/armedgeorder/go.mod
  sdk/resourcemanager/edgeorder/armedgeorder/interfaces.go
  sdk/resourcemanager/edgeorder/armedgeorder/management_client.go
  sdk/resourcemanager/edgeorder/armedgeorder/management_client_example_test.go
  sdk/resourcemanager/edgeorder/armedgeorder/models.go
  sdk/resourcemanager/edgeorder/armedgeorder/models_serde.go
  sdk/resourcemanager/edgeorder/armedgeorder/operations_client.go
  sdk/resourcemanager/edgeorder/armedgeorder/operations_client_example_test.go
  sdk/resourcemanager/edgeorder/armedgeorder/options.go
  sdk/resourcemanager/edgeorder/armedgeorder/orderitems_client.go
  sdk/resourcemanager/edgeorder/armedgeorder/orderitems_client_example_test.go
  sdk/resourcemanager/edgeorder/armedgeorder/orders_client.go
  sdk/resourcemanager/edgeorder/armedgeorder/orders_client_example_test.go
  sdk/resourcemanager/edgeorder/armedgeorder/polymorphic_helpers.go
  sdk/resourcemanager/edgeorder/armedgeorder/productsandconfigurations_client.go
  sdk/resourcemanager/edgeorder/armedgeorder/productsandconfigurations_client_example_test.go
  sdk/resourcemanager/edgeorder/armedgeorder/response_types.go
  sdk/resourcemanager/edgeorder/armedgeorder/responses.go
  sdk/resourcemanager/edgeorder/armedgeorder/testdata/_metadata.json
  sdk/resourcemanager/edgeorder/armedgeorder/time_rfc3339.go
  sdk/resourcemanager/edgeorder/armedgeorder/tsp-location.yaml
  sdk/resourcemanager/edgeorder/armedgeorder/version.go
Due: eng/pipelines/pullrequest.yml

add deprecate info (#26803)
  sdk/resourcemanager/deploymentmanager/armdeploymentmanager/CHANGELOG.md
  sdk/resourcemanager/deploymentmanager/armdeploymentmanager/README.md
  sdk/resourcemanager/deploymentmanager/armdeploymentmanager/constants.go
Due: eng/pipelines/pullrequest.yml

tmp revert live test
  sdk/resourcemanager/cdn/armcdn/afdx_live_test.go
  sdk/resourcemanager/cdn/armcdn/cdn_live_test.go
Due: eng/pipelines/pullrequest.yml

add get sdk change script for go
  eng/swagger_to_sdk_config.json
  eng/tools/generator/cmd/changelog/changelogCmd.go
  eng/tools/generator/cmd/sdkchange/sdkchangeCmd.go
  eng/tools/generator/main.go
  eng/tools/generator/utils/constants.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update the getSDKChangesScript
  eng/swagger_to_sdk_config.json
  eng/tools/generator/cmd/sdkchange/sdkchangeCmd.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

consolidate cmd
  eng/swagger_to_sdk_config.json
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/README.md
  eng/tools/generator/cmd/changelog/changelogCmd.go
  eng/tools/generator/cmd/sdkchange/sdkchangeCmd.go
  eng/tools/generator/main.go
  eng/tools/generator/utils/constants.go
  eng/tools/generator/version.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  eng/tools/generator/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[Refresh sdk-resourcemanager/confidentialledger/armconfidentialledger]-generated-from-SDK Generation - Go-6034387 (#26314)
  sdk/resourcemanager/confidentialledger/armconfidentialledger/CHANGELOG.md
  sdk/resourcemanager/confidentialledger/armconfidentialledger/autorest.md
  sdk/resourcemanager/confidentialledger/armconfidentialledger/build.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/client.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/client_example_test.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/client_factory.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/constants.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/fake/internal.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/fake/ledger_server.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/fake/managedccf_server.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/fake/operations_server.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/fake/server.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/fake/server_factory.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/go.mod
  sdk/resourcemanager/confidentialledger/armconfidentialledger/go.sum
  sdk/resourcemanager/confidentialledger/armconfidentialledger/ledger_client.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/ledger_client_example_test.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/managedccf_client.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/managedccf_client_example_test.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/models.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/models_serde.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/operations_client.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/operations_client_example_test.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/options.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/responses.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/testdata/_metadata.json
  sdk/resourcemanager/confidentialledger/armconfidentialledger/time_rfc3339.go
  sdk/resourcemanager/confidentialledger/armconfidentialledger/tsp-location.yaml
  sdk/resourcemanager/confidentialledger/armconfidentialledger/version.go
Due: eng/pipelines/pullrequest.yml

add test
  eng/tools/generator/cmd/changelog/changelogCmd_test.go
Due: eng/pipelines/pullrequest.yml

remove regenrated-sdk-result.json
  regenerate-sdk-result.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Use math.MaxInt for JS buffer size check
  sdk/storage/azblob/internal/shared/mmf_js.go
Due: eng/pipelines/pullrequest.yml

generated
  sdk/storage/azqueue/internal/generated/zz_constants.go
  sdk/storage/azqueue/internal/generated/zz_messageid_client.go
  sdk/storage/azqueue/internal/generated/zz_messages_client.go
  sdk/storage/azqueue/internal/generated/zz_models.go
  sdk/storage/azqueue/internal/generated/zz_models_serde.go
  sdk/storage/azqueue/internal/generated/zz_options.go
  sdk/storage/azqueue/internal/generated/zz_queue_client.go
  sdk/storage/azqueue/internal/generated/zz_responses.go
  sdk/storage/azqueue/internal/generated/zz_service_client.go
  sdk/storage/azqueue/internal/generated/zz_time_rfc1123.go
  sdk/storage/azqueue/internal/generated/zz_time_rfc3339.go
  sdk/storage/azqueue/internal/generated/zz_xml_helper.go
Due: eng/pipelines/pullrequest.yml
