Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Address PR review comments on azblob perf tests
  sdk/internal/perf/perf_runner.go
  sdk/internal/perf/profile_test.go
  sdk/storage/azblob/testdata/perf/download_blob.go
  sdk/storage/azblob/testdata/perf/list_blobs.go
  sdk/storage/azblob/testdata/perf/shared.go
  sdk/storage/azblob/testdata/perf/shared_test.go
  sdk/storage/azblob/testdata/perf/upload_blob.go
Due: eng/pipelines/pullrequest.yml

[azeventgrid] Do not follow HTTP redirects (.NET-style)
  sdk/messaging/eventgrid/azeventgrid/CHANGELOG.md
  sdk/messaging/eventgrid/azeventgrid/client_redirect.go
  sdk/messaging/eventgrid/azeventgrid/client_redirect_test.go
Due: eng/pipelines/pullrequest.yml

[azeventgrid] Address redirect-protection review feedback
  sdk/messaging/eventgrid/azeventgrid/client_custom.go
  sdk/messaging/eventgrid/azeventgrid/client_redirect.go
  sdk/messaging/eventgrid/azeventgrid/client_redirect_test.go
  sdk/messaging/eventgrid/azeventgrid/transport_dialer_other.go
  sdk/messaging/eventgrid/azeventgrid/transport_dialer_wasm.go
Due: eng/pipelines/pullrequest.yml

[azeventgrid] Make dialer test target-aware; document custom-transport limit
  sdk/messaging/eventgrid/azeventgrid/client_redirect.go
  sdk/messaging/eventgrid/azeventgrid/client_redirect_test.go
  sdk/messaging/eventgrid/azeventgrid/transport_dialer_other_test.go
  sdk/messaging/eventgrid/azeventgrid/transport_dialer_wasm_test.go
Due: eng/pipelines/pullrequest.yml

[Service Bus] Add topic SQLFilterCount and CorrelationFilterCount runtime properties (#27323)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/admin/admin_client.go
  sdk/messaging/azservicebus/admin/admin_client_apiversion_test.go
  sdk/messaging/azservicebus/admin/admin_client_topic.go
  sdk/messaging/azservicebus/admin/admin_client_topic_filtercount_live_test.go
  sdk/messaging/azservicebus/admin/admin_client_topic_filtercount_test.go
  sdk/messaging/azservicebus/internal/atom/entity_manager.go
  sdk/messaging/azservicebus/internal/atom/entity_manager_test.go
  sdk/messaging/azservicebus/internal/atom/models.go
  sdk/messaging/azservicebus/internal/constants.go
Due: eng/pipelines/pullrequest.yml

azcosmos: add PartitionKey (#27333)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/partition_key.go
  sdk/data/azcosmos/partition_key_test.go
Due: none

azcosmos: address review of client construction
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/credential.go
Due: none

azcosmos: address review of client construction
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/client_test.go
Due: none

azcosmos: add client construction
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/container_client.go
  sdk/data/azcosmos/credential.go
  sdk/data/azcosmos/database_client.go
Due: none

azcosmos: link the changelog entry to this pull request
  sdk/data/azcosmos/CHANGELOG.md
Due: none

azcosmos: drop the blank line between changelog entries
  sdk/data/azcosmos/CHANGELOG.md
Due: none

azcosmos: align client construction with the Rust SDK
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/credential.go
  sdk/data/azcosmos/region.go
  sdk/data/azcosmos/routing_strategy.go
Due: none

azcosmos: validate the account key at construction
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/credential.go
Due: none

azcosmos: add client construction (#27334)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/container_client.go
  sdk/data/azcosmos/credential.go
  sdk/data/azcosmos/database_client.go
  sdk/data/azcosmos/region.go
  sdk/data/azcosmos/routing_strategy.go
Due: none

azcosmos: bind the driver lifecycle behind a build tag
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/driver_config.go
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/driver_native_test.go
  sdk/data/azcosmos/driver_stub.go
  sdk/data/azcosmos/errors.go
  sdk/data/azcosmos/errors_test.go
  sdk/data/azcosmos/internal/native/azurecosmosdriver.h
Due: none

Fix regen pipeline PR owner to Azure (#27394)
  eng/pipelines/sdk-regenerate.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update
  sdk/resourcemanager/dynatrace/armdynatrace/assets.json
  sdk/resourcemanager/marketplace/armmarketplace/privatestorecollection_client.go
  sdk/resourcemanager/marketplace/armmarketplace/privatestorecollectionoffer_client.go
Due: eng/pipelines/pullrequest.yml

Revert "Remove package name approval from azsdk-cli release readiness and dashboard"
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove package name approval from azsdk-cli release readiness and dashboard
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update generator tool to latest dependencies
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/changelog/changelog_tool.go
  eng/tools/generator/cmd/v2/release/releaseCmd.go
  eng/tools/generator/go.mod
  eng/tools/generator/go.sum
  eng/tools/generator/repo/sdk.go
  eng/tools/generator/repo/spec.go
  eng/tools/generator/repo/workTree.go
  eng/tools/generator/version.go
  eng/tools/generator/version/version_tool_test.go
Due: eng/pipelines/pullrequest.yml

Update generator tool to latest dependencies (#27401)
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/changelog/changelog_tool.go
  eng/tools/generator/cmd/v2/release/releaseCmd.go
  eng/tools/generator/go.mod
  eng/tools/generator/go.sum
  eng/tools/generator/repo/sdk.go
  eng/tools/generator/repo/spec.go
  eng/tools/generator/repo/workTree.go
  eng/tools/generator/version.go
  eng/tools/generator/version/version_tool_test.go
Due: eng/pipelines/pullrequest.yml

update
  sdk/resourcemanager/marketplace/armmarketplace/fake/privatestorecollection_server.go
  sdk/resourcemanager/marketplace/armmarketplace/fake/privatestorecollectionoffer_server.go
Due: eng/pipelines/pullrequest.yml

Skip pre-existing PRs during live eval cleanup
  eng/common/pipelines/templates/steps/eval-live-cleanup.yml
  eng/common/scripts/eval/cleanup-live-eval.ts
  eng/common/scripts/eval/lib/live-cleanup.ts
  eng/common/scripts/eval/test/live-cleanup.test.ts
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Require Java generation in inference eval
  eng/common/scripts/eval/mcp-stdio-proxy.ts
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Set planned release date 2026-08-18 for commvaultcontentstore
  sdk/resourcemanager/commvaultcontentstore/armcommvaultcontentstore/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Revert "Set planned release date 2026-08-18 for commvaultcontentstore"
  sdk/resourcemanager/commvaultcontentstore/armcommvaultcontentstore/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Update planned release date to 2026-08-20
  sdk/resourcemanager/commvaultcontentstore/armcommvaultcontentstore/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Set planned release date to 2026-08-20 for armcommvaultcontentstore
  sdk/resourcemanager/commvaultcontentstore/armcommvaultcontentstore/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Remove storageinternal import alias and fix gofmt formatting
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/internal/exported/transfer_validation_option.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/file/examples_test.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/internal/exported/transfer_validation_option.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/internal/exported/transfer_validation_option.go
Due: eng/pipelines/pullrequest.yml

Add version.go and doc.go for storage/internal module
  sdk/storage/internal/doc.go
  sdk/storage/internal/version.go
Due: eng/pipelines/pullrequest.yml

Add npm userconfig to typespec emitter template
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
