Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Add date & time when updating attestation status in work item
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[AutoPR sdk-resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices]-generated-from-SDK Generation - Go-5477021 (#25471)
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/CHANGELOG.md
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/README.md
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/autorest.md
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/build.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/client_factory.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/constants.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/dpscertificate_client.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/dpscertificate_client_example_test.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/fake/dpscertificate_server.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/fake/internal.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/fake/iotdpsresource_server.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/fake/operations_server.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/fake/server_factory.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/fake/time_rfc1123.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/fake/time_rfc3339.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/go.mod
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/go.sum
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/iotdpsresource_client.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/iotdpsresource_client_example_test.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/models.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/models_serde.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/operations_client.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/operations_client_example_test.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/options.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/responses.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/testdata/_metadata.json
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/time_rfc1123.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/time_rfc3339.go
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/tsp-location.yaml
  sdk/resourcemanager/deviceprovisioningservices/armdeviceprovisioningservices/version.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/redisenterprise/armredisenterprise/3.0.0 (#25454)
  sdk/resourcemanager/redisenterprise/armredisenterprise/CHANGELOG.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/README.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/accesspolicyassignment_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/accesspolicyassignment_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/autorest.md
  sdk/resourcemanager/redisenterprise/armredisenterprise/client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/constants.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/databases_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/databases_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/accesspolicyassignment_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/databases_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/operations_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/operationsstatus_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/privateendpointconnections_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/privatelinkresources_server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/fake/server.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/go.mod
  sdk/resourcemanager/redisenterprise/armredisenterprise/go.sum
  sdk/resourcemanager/redisenterprise/armredisenterprise/models.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/models_serde.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_live_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operationsstatus_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/operationsstatus_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privateendpointconnections_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privatelinkresources_client.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/privatelinkresources_client_example_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/redisenterprise_live_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/version.go
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/keyvault/armkeyvault/assets.json
  sdk/resourcemanager/keyvault/armkeyvault/vaults_client_live_test.go
Due: eng/pipelines/pullrequest.yml

delete file
  regenerate-sdk-result.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/containerregistry/armcontainerregistrytasks/0.1.0 generation from spec commit: 3855ffb4be0cd4d227b130b67d874fa816736c04
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/CHANGELOG.md
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/LICENSE.txt
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/README.md
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/agentpools_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/agentpools_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/autorest.md
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/build.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/ci.yml
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/client_factory.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/constants.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/agentpools_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/internal.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/polymorphic_helpers.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/registries_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/runs_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/server_factory.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/taskruns_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/tasks_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/go.mod
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/go.sum
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/interfaces.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/models.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/models_serde.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/options.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/polymorphic_helpers.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/registries_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/registries_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/responses.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/runs_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/runs_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/taskruns_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/taskruns_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/tasks_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/tasks_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/time_rfc3339.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/version.go
Due: eng/pipelines/pullrequest.yml

reported error NoRegisteredProviderFound
  sdk/resourcemanager/iothub/armiothub/iothub_live_test.go
Due: eng/pipelines/pullrequest.yml

revert dependency
  sdk/resourcemanager/dependencymap/armdependencymap/constants.go
  sdk/resourcemanager/dependencymap/armdependencymap/discoverysources_client.go
  sdk/resourcemanager/dependencymap/armdependencymap/discoverysources_client_example_test.go
  sdk/resourcemanager/dependencymap/armdependencymap/fake/discoverysources_server.go
  sdk/resourcemanager/dependencymap/armdependencymap/fake/maps_server.go
  sdk/resourcemanager/dependencymap/armdependencymap/fake/time_rfc3339.go
  sdk/resourcemanager/dependencymap/armdependencymap/go.mod
  sdk/resourcemanager/dependencymap/armdependencymap/go.sum
  sdk/resourcemanager/dependencymap/armdependencymap/maps_client.go
  sdk/resourcemanager/dependencymap/armdependencymap/maps_client_example_test.go
  sdk/resourcemanager/dependencymap/armdependencymap/models.go
  sdk/resourcemanager/dependencymap/armdependencymap/models_serde.go
  sdk/resourcemanager/dependencymap/armdependencymap/operations_client.go
  sdk/resourcemanager/dependencymap/armdependencymap/operations_client_example_test.go
  sdk/resourcemanager/dependencymap/armdependencymap/responses.go
  sdk/resourcemanager/dependencymap/armdependencymap/testdata/_metadata.json
  sdk/resourcemanager/dependencymap/armdependencymap/tsp-location.yaml
  sdk/resourcemanager/dependencymap/armdependencymap/version.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/containerregistry/armcontainerregistrytasks/0.1.0 generation from spec commit: 3855ffb4be0cd4d227b130b67d874fa816736c04
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/CHANGELOG.md
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/LICENSE.txt
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/README.md
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/agentpools_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/agentpools_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/ci.yml
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/client_factory.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/constants.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/agentpools_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/internal.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/polymorphic_helpers.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/registries_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/runs_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/server_factory.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/taskruns_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/tasks_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/go.mod
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/go.sum
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/interfaces.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/models.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/models_serde.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/options.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/polymorphic_helpers.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/registries_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/registries_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/responses.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/runs_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/runs_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/taskruns_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/taskruns_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/tasks_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/tasks_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/testdata/_metadata.json
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/time_rfc3339.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/tsp-location.yaml
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/version.go
Due: eng/pipelines/pullrequest.yml

Correct coverage tool's goal configuration
  eng/tools/internal/coverage/coverage.go
  eng/tools/internal/coverage/coverage_test.go
Due: eng/pipelines/pullrequest.yml

Enhance deprecation documentation in /documentation folder with Azure SDK policy links (#24978)
  documentation/README.md
  documentation/deprecation_guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 12532 (#25479)
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/logging.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Make SDK Release Steps common (#25487)
  eng/common/instructions/copilot/sdk-release.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add date & time when updating attestation status in work item (#25488)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Reference SDK release steps from common (#25481)
  .github/copilot-instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Only checkout PerfAutomation from azure-sdk-tools - Other files in azure-sdk-tools repo are unnecessary - Unnecessary checkout hurts perf and increases security footprint (#25486)
  eng/common/pipelines/templates/jobs/perf.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

documentation
  documentation/README.md
  documentation/developer_setup.md
  documentation/development/ARM/MIGRATION_GUIDE.md
  documentation/development/ARM/code-generation.md
  documentation/development/ARM/frequently-asked-questions-for-azure-go-mgmt-sdk.md
  documentation/development/ARM/go-mgmt-sdk-release-guideline.md
  documentation/development/ARM/new-version-guideline.md
  documentation/development/ARM/new-version-quickstart.md
  documentation/development/README.md
  documentation/development/TROUBLESHOOTING.md
  documentation/development/breaking-changes/deprecation-guide.md
  documentation/development/breaking-changes/sdk-breaking-changes-guide-migration.md
  documentation/development/breaking-changes/sdk-breaking-changes-guide.md
  documentation/development/generate.md
  documentation/development/release.md
  documentation/development/setup.md
  documentation/development/testing.md
  documentation/legacy/previous-versions-quickstart.md
  documentation/legacy/profile-migration-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update links
  documentation/development/ARM/go-mgmt-sdk-release-guideline.md
  documentation/development/ARM/new-version-guideline.md
  documentation/development/ARM/new-version-quickstart.md
  documentation/development/breaking-changes/sdk-breaking-changes-guide-migration.md
  documentation/development/breaking-changes/sdk-breaking-changes-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update links
  documentation/development/ARM/go-mgmt-sdk-release-guideline.md
  documentation/development/ARM/new-version-quickstart.md
  documentation/legacy/profile-migration-guide.md
  eng/ignore-links.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update
  documentation/README.md
  documentation/development/README.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update changelog
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Increment package version after release of data/azcosmos (#25449)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

Apply suggestions from code review
  documentation/development/README.md
  documentation/development/generate.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update query engine interface
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
Due: none

Increment package version after release of data/azappconfig (#25450)
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/version.go
Due: eng/pipelines/pullrequest.yml

update asset
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/containerregistry/armcontainerregistrytasks/0.1.0 generation from spec commit: 3855ffb4be0cd4d227b130b67d874fa816736c04
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/CHANGELOG.md
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/agentpools_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/agentpools_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/client_factory.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/constants.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/agentpools_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/internal.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/polymorphic_helpers.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/registries_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/runs_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/server_factory.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/taskruns_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/fake/tasks_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/go.mod
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/go.sum
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/interfaces.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/models.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/models_serde.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/options.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/polymorphic_helpers.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/registries_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/registries_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/responses.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/runs_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/runs_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/taskruns_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/taskruns_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/tasks_client.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/tasks_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/testdata/_metadata.json
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/time_rfc3339.go
  sdk/resourcemanager/containerregistry/armcontainerregistrytasks/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
