Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

[Storage] Add structured message CRC64 content validation for azdatalake (#27263)
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/datalakeerror/error_codes.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/constants.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/responses.go
  sdk/storage/azdatalake/file/upload_validation_test.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/exported/transfer_validation_option.go
  sdk/storage/azdatalake/internal/generated/models.go
  sdk/storage/azdatalake/internal/shared/structured_message.go
  sdk/storage/azdatalake/internal/shared/structured_message_test.go
Due: eng/pipelines/pullrequest.yml

[Storage] Fix azblob structured message CRC64 download validation (#27348)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blob/retry_reader.go
  sdk/storage/azblob/blob/retry_reader_test.go
  sdk/storage/azblob/internal/shared/structured_message.go
  sdk/storage/azblob/internal/shared/structured_message_test.go
Due: eng/pipelines/pullrequest.yml

Apply suggestion from @kazrael2119
  sdk/resourcemanager/newrelic/armnewrelicobservability/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Upgrade TypeSpec emitter package versions (#27371)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Test upadtes
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/internal/shared/layout_policy.go
Due: eng/pipelines/pullrequest.yml

fix lint
  sdk/storage/azblob/blob/layout.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
Due: eng/pipelines/pullrequest.yml

Fixed more tests
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_layout_test.go
  sdk/storage/azblob/blob/layout_test.go
Due: eng/pipelines/pullrequest.yml

azdatalake: percent-encode rename source path (fixes #23831, #24369) (#27302)
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
Due: eng/pipelines/pullrequest.yml

fixed more tests
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_layout_test.go
Due: eng/pipelines/pullrequest.yml

[Storage] Adopt NonRetriableError model for storage retry readers
  sdk/storage/azblob/blob/retry_reader.go
  sdk/storage/azblob/blob/retry_reader_test.go
  sdk/storage/azdatalake/file/retry_reader.go
  sdk/storage/azdatalake/file/retry_reader_test.go
  sdk/storage/azfile/file/retry_reader.go
  sdk/storage/azfile/file/retry_reader_test.go
Due: eng/pipelines/pullrequest.yml

azcosmos: derive Code from the driver status rather than the HTTP status
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/errors.go
  sdk/data/azcosmos/errors_test.go
  sdk/data/azcosmos/response.go
Due: none

[Storage] Add content validation integration tests for azfile and azdatalake (#27264)
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/internal/exported/transfer_validation_option.go
Due: eng/pipelines/pullrequest.yml

review comments
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/feature_flag_client.go
  sdk/data/azappconfig/feature_flag_selector.go
  sdk/data/azappconfig/feature_flag_test.go
  sdk/data/azappconfig/internal/generated/custom_client.go
  sdk/data/azappconfig/internal/generated/custom_client_test.go
Due: eng/pipelines/pullrequest.yml

Stop retrying after context cancellation
  sdk/storage/azblob/blob/retry_reader.go
  sdk/storage/azblob/blob/retry_reader_test.go
  sdk/storage/azdatalake/file/retry_reader.go
  sdk/storage/azfile/file/retry_reader.go
Due: eng/pipelines/pullrequest.yml

[Storage] Replace reflection with supportsMultiBlock() for transfer validation
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/internal/exported/transfer_validation_option.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/internal/exported/transfer_validation_option.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/internal/exported/transfer_validation_option.go
Due: eng/pipelines/pullrequest.yml

Fix azfile: ComputeCRC64 must not be allowed for multi-chunk uploads
  sdk/storage/azfile/internal/exported/transfer_validation_option.go
Due: eng/pipelines/pullrequest.yml

PR feedback and consistency with other scripts
  eng/common/scripts/Copy-TestResultsToLlmStaging.ps1
  eng/common/scripts/Install-TestProxy.ps1
  eng/common/scripts/Start-TestProxy.ps1
  eng/common/scripts/Test-TestProxyIsAlive.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Move a few large inline scripts to checked in files
  eng/common/pipelines/templates/steps/save-package-properties.yml
  eng/common/pipelines/templates/steps/upload-llm-artifacts.yml
  eng/common/scripts/Copy-TestResultsToLlmStaging.ps1
  eng/common/scripts/Install-TestProxy.ps1
  eng/common/scripts/Start-TestProxy.ps1
  eng/common/scripts/Test-TestProxyIsAlive.ps1
  eng/common/testproxy/test-proxy-tool.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix Go release plan status write-back
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update custom_client_test.go
  sdk/data/azappconfig/internal/generated/custom_client_test.go
Due: eng/pipelines/pullrequest.yml

Add comment explaining azfile asymmetry and unit test for SupportsMultiBlock
  sdk/storage/azfile/internal/exported/transfer_validation_option.go
  sdk/storage/azfile/internal/exported/transfer_validation_option_test.go
Due: eng/pipelines/pullrequest.yml

[Storage] Adopt NonRetriableError() model across storage retry readers (#27372)
  sdk/storage/azblob/blob/retry_reader.go
  sdk/storage/azblob/blob/retry_reader_test.go
  sdk/storage/azdatalake/file/retry_reader.go
  sdk/storage/azdatalake/file/retry_reader_test.go
  sdk/storage/azfile/file/retry_reader.go
  sdk/storage/azfile/file/retry_reader_test.go
Due: eng/pipelines/pullrequest.yml

[Storage] Consolidate structured message code into sdk/storage/internal
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/internal/exported/transfer_validation_option.go
  sdk/storage/azblob/internal/shared/structured_message.go
  sdk/storage/azblob/internal/shared/structured_message_bench_test.go
  sdk/storage/azblob/internal/shared/structured_message_test.go
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/file/examples_test.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/internal/exported/transfer_validation_option.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azfile/internal/exported/transfer_validation_option.go
  sdk/storage/azfile/internal/shared/structured_message.go
  sdk/storage/azfile/internal/shared/structured_message_test.go
  sdk/storage/internal/go.mod
  sdk/storage/internal/go.sum
  sdk/storage/internal/structured_message.go
  sdk/storage/internal/structured_message_test.go
  sdk/storage/internal/util.go
Due: eng/pipelines/pullrequest.yml

Add CHANGELOG entry for azblob UploadBuffer/UploadFile AccessConditions fix
  sdk/storage/azblob/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Fix (/workaround) lint error SA1008 in the test
  sdk/storage/azblob/blockblob/client_test.go
Due: eng/pipelines/pullrequest.yml

[azeventgrid] Block cross-host redirects instead of stripping headers
  sdk/messaging/eventgrid/azeventgrid/CHANGELOG.md
  sdk/messaging/eventgrid/azeventgrid/client_redirect.go
  sdk/messaging/eventgrid/azeventgrid/client_redirect_test.go
Due: eng/pipelines/pullrequest.yml

[azeventgrid] Preserve azcore default transport semantics (review feedback)
  sdk/messaging/eventgrid/azeventgrid/client_redirect.go
  sdk/messaging/eventgrid/azeventgrid/client_redirect_test.go
  sdk/messaging/eventgrid/azeventgrid/go.mod
Due: eng/pipelines/pullrequest.yml

[Storage] Replace reflection-based transfer validation check with interface method (#27375)
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/internal/exported/transfer_validation_option.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/internal/exported/transfer_validation_option.go
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/internal/exported/transfer_validation_option.go
  sdk/storage/azfile/internal/exported/transfer_validation_option_test.go
Due: eng/pipelines/pullrequest.yml

[azeventgrid] Validate full origin on redirects (review feedback)
  sdk/messaging/eventgrid/azeventgrid/CHANGELOG.md
  sdk/messaging/eventgrid/azeventgrid/client_redirect.go
  sdk/messaging/eventgrid/azeventgrid/client_redirect_test.go
Due: eng/pipelines/pullrequest.yml

Add module skeleton files and fix gofmt import ordering
  sdk/storage/azdatalake/file/client_test.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/internal/exported/transfer_validation_option.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/internal/CHANGELOG.md
  sdk/storage/internal/LICENSE.txt
  sdk/storage/internal/README.md
  sdk/storage/internal/ci.storage.internal.yml
  sdk/storage/internal/go.mod
Due: eng/pipelines/pullrequest.yml

azcosmos: validate the account key at construction
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/credential.go
Due: none

Point vcpkg asset cache at the Terrapin mirror
  eng/common/pipelines/templates/steps/set-vcpkg-cache-vars.yml
  eng/common/scripts/Set-VcpkgWriteModeCache.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Exclude service folder root level files
  eng/common/scripts/AutoRelease-Operations.ps1
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Updated comment and fixed indentation
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Address PR review: make the admin api-version overridable, correct the docs
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/admin/admin_client.go
  sdk/messaging/azservicebus/admin/admin_client_apiversion_test.go
  sdk/messaging/azservicebus/admin/admin_client_topic.go
  sdk/messaging/azservicebus/admin/admin_client_topic_filtercount_live_test.go
  sdk/messaging/azservicebus/admin/admin_client_topic_filtercount_test.go
  sdk/messaging/azservicebus/internal/atom/entity_manager.go
  sdk/messaging/azservicebus/internal/atom/entity_manager_test.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
