Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      ServiceDirectory: ${{ parameters.Service }}

resolve formatting issues
  sdk/ai/azopenai/example_azure_auth_methods_test.go
Due: eng/pipelines/pullrequest.yml

Add managed identity auth sample (#24810)
  sdk/ai/azopenai/example_azure_auth_methods_test.go
Due: eng/pipelines/pullrequest.yml

Update sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client.go
Due: eng/pipelines/pullrequest.yml

Use releaseJob for publishing (#24805)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Use Path.Combine for create directory (#24804)
  eng/common/TestResources/New-TestResources.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Enable selecting specific credentials for DefaultAzureCredential
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/TROUBLESHOOTING.md
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/environment_credential.go
Due: eng/pipelines/pullrequest.yml

[Storage][Azdatalake][BugFix] Fix panic on auth failure (#24811)
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/directory/client_test.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_test.go
Due: eng/pipelines/pullrequest.yml

Fixed create File Api
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/models.go
Due: eng/pipelines/pullrequest.yml

fixed the logic according to the documentation
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/models.go
Due: eng/pipelines/pullrequest.yml

recording
  sdk/storage/azfile/assets.json
Due: eng/pipelines/pullrequest.yml

Queue swagger update
  sdk/storage/azqueue/internal/generated/autorest.md
  sdk/storage/azqueue/internal/generated/zz_queue_client.go
  sdk/storage/azqueue/internal/generated/zz_response_types.go
Due: eng/pipelines/pullrequest.yml

deprecate ApproximateMessagesCount32 and change to int64
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/queue_client_test.go
Due: eng/pipelines/pullrequest.yml

Populate Request.values on creation
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/exported/request.go
  sdk/azcore/runtime/policy_retry_test.go
Due: eng/pipelines/pullrequest.yml

improve test
  sdk/azcore/runtime/policy_retry_test.go
Due: eng/pipelines/pullrequest.yml

Populate Request.values on creation (#24817)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/exported/request.go
  sdk/azcore/runtime/policy_retry_test.go
Due: eng/pipelines/pullrequest.yml

Prep aztables v1.4.0 for release
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/go.mod
  sdk/data/aztables/go.sum
  sdk/data/aztables/testdata/perf/go.mod
  sdk/data/aztables/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

Prep aztables v1.4.0 for release (#24818)
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/go.mod
  sdk/data/aztables/go.sum
  sdk/data/aztables/testdata/perf/go.mod
  sdk/data/aztables/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

Adding initial support to retrieve all pkranges from a cosmos db container
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_partition_key_range_request_options.go
  sdk/data/azcosmos/cosmos_partition_key_range_response.go
  sdk/data/azcosmos/otel_constants.go
Due: none

Adding testing support
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/cosmos_partition_key_range_request_options_test.go
  sdk/data/azcosmos/cosmos_partition_key_range_response_test.go
Due: none

Increment package version after release of data/aztables
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/internal/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of data/aztables (#24819)
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/internal/version.go
Due: eng/pipelines/pullrequest.yml

thanks, Chris
  sdk/azidentity/default_azure_credential.go
Due: eng/pipelines/pullrequest.yml

Update pool to azsdk-pool and linux image to ubuntu 24
  eng/pipelines/templates/jobs/archetype-go-release.yml
  eng/pipelines/templates/jobs/archetype-sdk-client-samples.yml
  eng/pipelines/templates/variables/image.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

refactored unit tests for partition key range response requests and parsing
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/cosmos_partition_key_range_response_test.go
Due: none

swagger update stg 99 (#24816)
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
Due: eng/pipelines/pullrequest.yml

[Storage][Azfile] Fixed create File Api on passing permissionKey (#24813)
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/models.go
Due: eng/pipelines/pullrequest.yml

Update autorest.md
  sdk/storage/azqueue/internal/generated/autorest.md
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/mongodbatlas/armmongodbatlas/1.0.0 generation from spec commit: 8338afaf221a4ca1cc2a134cdc38952bdd5c7245
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/CHANGELOG.md
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/constants.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/go.mod
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/go.sum
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/models.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/operations_client.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/operations_client_example_test.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/organizations_client.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/organizations_client_example_test.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/testdata/_metadata.json
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

update changelog
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Update sdk/resourcemanager/mongodbatlas/armmongodbatlas/CHANGELOG.md
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Configure CodeQL to ignore generated and test code
  CodeQL.yaml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove pseudorandom content from plaintext
  sdk/azidentity/cache/cache.go
Due: eng/pipelines/pullrequest.yml

yaml -> yml
  CodeQL.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update npm-publish template (#24822)
  eng/common/pipelines/templates/jobs/npm-publish.yml
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Address CodeQL findings (#24823)
  CodeQL.yml
  sdk/azidentity/cache/cache.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

there are still a bunch to remove to azsdk-pool
  eng/common/pipelines/codeowners-linter.yml
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/docindex.yml
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/jobs/perf.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Revert perf changes
  eng/common/pipelines/templates/jobs/perf.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

bump everything consuming ubuntu-22.04 to 24.04
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
