Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Correct coverage tool's goal configuration (#25489)
  eng/tools/internal/coverage/coverage.go
  eng/tools/internal/coverage/coverage_test.go
Due: eng/pipelines/pullrequest.yml

bump used proxy version
  eng/common/testproxy/target_version.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

code coverage
  eng/config.json
Due: eng/pipelines/pullrequest.yml

bump used proxy version (#25499)
  eng/common/testproxy/target_version.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

code coverage (#25500)
  eng/config.json
Due: eng/pipelines/pullrequest.yml

allow query pipeline to return an alternative query to execute in each request
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
Due: none

Live tests for dev tool credentials
  sdk/azidentity/azure_cli_credential_test.go
  sdk/azidentity/azure_powershell_credential_test.go
Due: eng/pipelines/pullrequest.yml

deploy nothing!
  sdk/azidentity/managed-identity-matrix.json
  sdk/azidentity/test-resources-post.ps1
Due: eng/pipelines/pullrequest.yml

reorganize documentation (#25460)
  documentation/README.md
  documentation/developer_setup.md
  documentation/development/ARM/MIGRATION_GUIDE.md
  documentation/development/ARM/code-generation.md
  documentation/development/ARM/frequently-asked-questions-for-azure-go-mgmt-sdk.md
  documentation/development/ARM/go-mgmt-sdk-release-guideline.md
  documentation/development/ARM/new-version-guideline.md
  documentation/development/ARM/new-version-quickstart.md
  documentation/development/README.md
  documentation/development/TROUBLESHOOTING.md
  documentation/development/breaking-changes/deprecation-guide.md
  documentation/development/breaking-changes/sdk-breaking-changes-guide-migration.md
  documentation/development/breaking-changes/sdk-breaking-changes-guide.md
  documentation/development/generate.md
  documentation/development/release.md
  documentation/development/setup.md
  documentation/development/testing.md
  documentation/legacy/previous-versions-quickstart.md
  documentation/legacy/profile-migration-guide.md
  eng/ignore-links.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Clean up CHANGELOG.md by removing broken link
  sdk/resourcemanager/deviceregistry/armdeviceregistry/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

fix the test
  sdk/data/azcosmos/cosmos_container_query_engine.go
Due: none

Apply suggestion from @Copilot
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
Due: none

revert comment
  sdk/data/azcosmos/internal/mock_query_engine.go
Due: none

update date
  sdk/resourcemanager/dnsresolver/armdnsresolver/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Internal pipeline policy to normalize query parameters
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/internal/querynormalization/policy.go
  sdk/data/azappconfig/internal/querynormalization/policy_test.go
  sdk/data/azappconfig/version.go
Due: eng/pipelines/pullrequest.yml

disable the test for not support
  sdk/resourcemanager/dnsresolver/armdnsresolver/dnsforwardingruleset_live_test.go
  sdk/resourcemanager/dnsresolver/armdnsresolver/dnsresolver_live_test.go
Due: eng/pipelines/pullrequest.yml

Add 'sgellock' and 'zesluo' as invalid users
  .github/CODEOWNERS_baseline_errors.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add 'sgellock' and 'zesluo' as invalid users (#25511)
  .github/CODEOWNERS_baseline_errors.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

clearer name
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

integrating with expected query engine.
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
Due: none

shorten
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

fixed index out of range error for invalid host values
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/internal/shared/shared_test.go
Due: eng/pipelines/pullrequest.yml

Update documentation/development/breaking-changes/sdk-breaking-changes-guide-migration.md
  documentation/development/breaking-changes/sdk-breaking-changes-guide-migration.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fixed incorrect surrounding quotes check
  sdk/azcore/internal/exported/exported.go
  sdk/azcore/internal/exported/exported_test.go
Due: eng/pipelines/pullrequest.yml

phase 2 implementation
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/internal/exported/transfer_validation_structured.go
  sdk/storage/azblob/internal/generated/models.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azqueue (#25461)
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

fix changelog
  sdk/resourcemanager/mysql/armmysqlflexibleservers/CHANGELOG.md
  sdk/resourcemanager/mysql/armmysqlflexibleservers/go.mod
Due: eng/pipelines/pullrequest.yml

feat(azcore): Add support for custom JSON unmarshalers
  sdk/azcore/go.mod
  sdk/azcore/internal/pollers/util.go
  sdk/azcore/runtime/json.go
  sdk/azcore/runtime/response.go
  sdk/internal/exported/exported.go
Due: eng/pipelines/pullrequest.yml
