Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Regenerate SDK based on typespec-go branch regen_pipeline
  eng/emitter-package-lock.json
  eng/emitter-package.json
  regenerate-sdk-result.json
  sdk/resourcemanager/chaos/armchaos/capabilities_client.go
  sdk/resourcemanager/chaos/armchaos/capabilities_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/capabilitytypes_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/constants.go
  sdk/resourcemanager/chaos/armchaos/experiments_client.go
  sdk/resourcemanager/chaos/armchaos/experiments_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/fake/capabilities_server.go
  sdk/resourcemanager/chaos/armchaos/fake/capabilitytypes_server.go
  sdk/resourcemanager/chaos/armchaos/fake/experiments_server.go
  sdk/resourcemanager/chaos/armchaos/fake/operations_server.go
  sdk/resourcemanager/chaos/armchaos/fake/operationstatuses_server.go
  sdk/resourcemanager/chaos/armchaos/fake/targets_server.go
  sdk/resourcemanager/chaos/armchaos/fake/targettypes_server.go
  sdk/resourcemanager/chaos/armchaos/go.mod
  sdk/resourcemanager/chaos/armchaos/go.sum
  sdk/resourcemanager/chaos/armchaos/models.go
  sdk/resourcemanager/chaos/armchaos/operationstatuses_client.go
  sdk/resourcemanager/chaos/armchaos/operationstatuses_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/targets_client.go
  sdk/resourcemanager/chaos/armchaos/targets_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/targettypes_client_example_test.go
  sdk/resourcemanager/chaos/armchaos/testdata/_metadata.json
  sdk/resourcemanager/chaos/armchaos/tsp-location.yaml
  sdk/resourcemanager/chaos/armchaos/version.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/models.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/models_serde.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactionextension_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactions_client.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/scheduledactions_client_example_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/testdata/_metadata.json
  sdk/resourcemanager/computeschedule/armcomputeschedule/tsp-location.yaml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Take only info file path as param
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update release plan completion script to take package info file
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 11726 (#25097)
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix: %w to %s
  sdk/azidentity/workload_identity.go
Due: eng/pipelines/pullrequest.yml

refactor: move custom endpoint implementation into dedicate package
  sdk/azidentity/azidentity.go
  sdk/azidentity/internal/customtokenendpoint/transnport.go
  sdk/azidentity/internal/customtokenendpoint/transport_test.go
  sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

Update sdk/azidentity/CHANGELOG.md
  sdk/azidentity/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

fix resource identifier parsing
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/internal/resource/resource_identifier.go
  sdk/azcore/arm/internal/resource/resource_identifier_test.go
Due: eng/pipelines/pullrequest.yml

Add Powershell Installation Instructions for Copilot
  .github/copilot-instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Ignore test release plans when marking package as released
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add a pipeline template to mark SDK package as released
  eng/common/pipelines/templates/steps/mark-release-completion.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 11741 (#25121)
  eng/common/pipelines/templates/steps/mark-release-completion.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update copilot-instructions.md
  .github/copilot-instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/computefleet/armcomputefleet/2.0.0-beta.1 generation from spec commit: 551674fef42784a6d62d92149d637a5d450f5128
  sdk/resourcemanager/computefleet/armcomputefleet/CHANGELOG.md
  sdk/resourcemanager/computefleet/armcomputefleet/README.md
  sdk/resourcemanager/computefleet/armcomputefleet/constants.go
  sdk/resourcemanager/computefleet/armcomputefleet/fake/fleets_server.go
  sdk/resourcemanager/computefleet/armcomputefleet/fake/internal.go
  sdk/resourcemanager/computefleet/armcomputefleet/fake/operations_server.go
  sdk/resourcemanager/computefleet/armcomputefleet/fake/time_rfc3339.go
  sdk/resourcemanager/computefleet/armcomputefleet/fleets_client.go
  sdk/resourcemanager/computefleet/armcomputefleet/fleets_client_example_test.go
  sdk/resourcemanager/computefleet/armcomputefleet/go.mod
  sdk/resourcemanager/computefleet/armcomputefleet/go.sum
  sdk/resourcemanager/computefleet/armcomputefleet/models.go
  sdk/resourcemanager/computefleet/armcomputefleet/models_serde.go
  sdk/resourcemanager/computefleet/armcomputefleet/operations_client.go
  sdk/resourcemanager/computefleet/armcomputefleet/operations_client_example_test.go
  sdk/resourcemanager/computefleet/armcomputefleet/options.go
  sdk/resourcemanager/computefleet/armcomputefleet/responses.go
  sdk/resourcemanager/computefleet/armcomputefleet/testdata/_metadata.json
  sdk/resourcemanager/computefleet/armcomputefleet/tsp-location.yaml
  sdk/resourcemanager/computefleet/armcomputefleet/version.go
Due: eng/pipelines/pullrequest.yml

refine the logic and add more tests
  sdk/azcore/arm/internal/resource/resource_identifier.go
  sdk/azcore/arm/internal/resource/resource_identifier_test.go
Due: eng/pipelines/pullrequest.yml

Upgrade emitter and TypeSpec packages to latest versions (#25126)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

.NET requires custom source path since source path contains dev tools repo
  eng/common/pipelines/templates/steps/mark-release-completion.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix wiql issue in getting release plan work items
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 11745 (#25122)
  eng/common/pipelines/templates/steps/mark-release-completion.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix: typo in file name
  sdk/azidentity/internal/customtokenendpoint/transport.go
Due: eng/pipelines/pullrequest.yml

chore: simplify branch checking
  sdk/azidentity/internal/customtokenendpoint/transport.go
Due: eng/pipelines/pullrequest.yml

chore: use default mock setup
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

refactor: validate header requirements with custom policy
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

add allow tentative writes
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_policy.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/cosmos_http_constants.go
Due: none

update changelog
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Update sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
Due: none

remove unused import
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
Due: none

refactor: inject via PerRetryPolicies
  sdk/azidentity/internal/customtokenendpoint/policy.go
  sdk/azidentity/internal/customtokenendpoint/policy_test.go
  sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

Mark package as released in release plan
  eng/pipelines/templates/jobs/archetype-go-release.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Mark package as released in release plan (#25132)
  eng/pipelines/templates/jobs/archetype-go-release.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

chore: drop unused test helper
  sdk/azidentity/internal/customtokenendpoint/policy_test.go
Due: eng/pipelines/pullrequest.yml

Prep azcore v1.19.0 for release
  sdk/azcore/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Mark package as released for Go
  eng/pipelines/templates/jobs/archetype-go-release.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Prep azcore v1.19.0 for release (#25133)
  sdk/azcore/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
