Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

update assets.json
  sdk/resourcemanager/resources/armresources/assets.json
  sdk/resourcemanager/resources/armresources/resources_client_live_test.go
Due: eng/pipelines/pullrequest.yml

azcosmos: consolidate CHANGELOG entry to one line
  sdk/data/azcosmos/CHANGELOG.md
Due: none

[Refresh sdk-resourcemanager/resources/armresources]-generated-from-SDK Generation - Go-6325098 (#26834)
  sdk/resourcemanager/resources/armresources/CHANGELOG.md
  sdk/resourcemanager/resources/armresources/README.md
  sdk/resourcemanager/resources/armresources/assets.json
  sdk/resourcemanager/resources/armresources/autorest.md
  sdk/resourcemanager/resources/armresources/build.go
  sdk/resourcemanager/resources/armresources/cae_mock_test.go
  sdk/resourcemanager/resources/armresources/client.go
  sdk/resourcemanager/resources/armresources/client_factory.go
  sdk/resourcemanager/resources/armresources/constants.go
  sdk/resourcemanager/resources/armresources/fake/internal.go
  sdk/resourcemanager/resources/armresources/fake/operations_server.go
  sdk/resourcemanager/resources/armresources/fake/providerresourcetypes_server.go
  sdk/resourcemanager/resources/armresources/fake/providers_server.go
  sdk/resourcemanager/resources/armresources/fake/resourcegroups_server.go
  sdk/resourcemanager/resources/armresources/fake/server.go
  sdk/resourcemanager/resources/armresources/fake/server_factory.go
  sdk/resourcemanager/resources/armresources/fake/tags_server.go
  sdk/resourcemanager/resources/armresources/fake_example_test.go
  sdk/resourcemanager/resources/armresources/go.mod
  sdk/resourcemanager/resources/armresources/go.sum
  sdk/resourcemanager/resources/armresources/models.go
  sdk/resourcemanager/resources/armresources/models_serde.go
  sdk/resourcemanager/resources/armresources/operations_client.go
  sdk/resourcemanager/resources/armresources/options.go
  sdk/resourcemanager/resources/armresources/providerresourcetypes_client.go
  sdk/resourcemanager/resources/armresources/providerresourcetypes_client_example_test.go
  sdk/resourcemanager/resources/armresources/providers_client.go
  sdk/resourcemanager/resources/armresources/providers_client_example_test.go
  sdk/resourcemanager/resources/armresources/resourcegroups_client.go
  sdk/resourcemanager/resources/armresources/resourcegroups_client_example_test.go
  sdk/resourcemanager/resources/armresources/resourcegroups_client_live_test.go
  sdk/resourcemanager/resources/armresources/resources_client_live_test.go
  sdk/resourcemanager/resources/armresources/responses.go
  sdk/resourcemanager/resources/armresources/tags_client.go
  sdk/resourcemanager/resources/armresources/tags_client_example_test.go
  sdk/resourcemanager/resources/armresources/tags_client_live_test.go
  sdk/resourcemanager/resources/armresources/testdata/_metadata.json
  sdk/resourcemanager/resources/armresources/time_rfc3339.go
  sdk/resourcemanager/resources/armresources/tsp-location.yaml
  sdk/resourcemanager/resources/armresources/version.go
Due: eng/pipelines/pullrequest.yml

fix: use MaxRetries: -1 to explicitly disable retries in test
  sdk/data/azcosmos/cosmos_container_read_many_test.go
Due: none

azcosmos: address PR #26858 review feedback
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
Due: none

chore: add @j7nw4r and @SwayGom to Event Hubs/Service Bus CODEOWNERS
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azcosmos: single-pending-I/O pkrange cache and mid-pagination retry (#26855)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: none

[Cosmos] Fix excess GetDatabaseAccount calls and eliminate data-plane fallback to customer endpoint (#25468) (#26815)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_dbaccount_refresh_test.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_policy.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/cosmos_location_cache.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
Due: none

azcosmos: cross-region retry policy for connection errors and 408s (#26858)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
Due: none

Add CRUD recording-based test scaffolding for Microsoft.Monitor/slis
  sdk/resourcemanager/monitor/armslis/assets.json
  sdk/resourcemanager/monitor/armslis/sli_crud_live_test.go
  sdk/resourcemanager/monitor/armslis/test-resources.bicep
Due: eng/pipelines/pullrequest.yml

Update error message for non-TLS requests (#26712)
  sdk/azcore/runtime/policy_bearer_token.go
Due: eng/pipelines/pullrequest.yml

Update CODEOWNERS (#26790)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix armslis Go module dependencies
  sdk/resourcemanager/monitor/armslis/go.mod
  sdk/resourcemanager/monitor/armslis/go.sum
Due: eng/pipelines/pullrequest.yml

Skip SLI live test in playback mode
  sdk/resourcemanager/monitor/armslis/sli_crud_live_test.go
Due: eng/pipelines/pullrequest.yml

go fmt sli_crud_live_test.go
  sdk/resourcemanager/monitor/armslis/sli_crud_live_test.go
Due: eng/pipelines/pullrequest.yml

Pass GH_TOKEN as an environment variable
  eng/pipelines/mgmt-auto-release.yml
  eng/scripts/mgmt-auto-release.sh
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Use authenticated npmrc, so installs are done from devOps feed
  eng/pipelines/mgmt-auto-release.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update SLI live test to use real AKS Prometheus metric
  sdk/resourcemanager/monitor/armslis/sli_crud_live_test.go
Due: eng/pipelines/pullrequest.yml

Convert SLI live test to record/playback
  sdk/resourcemanager/monitor/armslis/assets.json
  sdk/resourcemanager/monitor/armslis/sli_crud_live_test.go
  sdk/resourcemanager/monitor/armslis/utils_test.go
Due: eng/pipelines/pullrequest.yml

Expand CHANGELOG with full breaking enum changes
  sdk/resourcemanager/monitor/armslis/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

address comments
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/base/expect_continue_test.go
Due: eng/pipelines/pullrequest.yml

fix tests
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/base/expect_continue.go
Due: eng/pipelines/pullrequest.yml

Implement 100c changes as per .NET SDK design
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/common.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/base/expect_continue.go
  sdk/storage/azblob/internal/base/expect_continue_test.go
  sdk/storage/azblob/internal/exported/expect_continue.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/models.go
Due: eng/pipelines/pullrequest.yml

convert lastThrottle time from unixnanos to time.Time
  sdk/storage/azblob/internal/base/expect_continue.go
Due: eng/pipelines/pullrequest.yml

address comments
  sdk/storage/azblob/internal/base/expect_continue.go
  sdk/storage/azblob/internal/base/expect_continue_test.go
  sdk/storage/azblob/internal/exported/expect_continue.go
Due: eng/pipelines/pullrequest.yml

Add unit tests for very large/small intervals to showcase no regression
  sdk/storage/azblob/blockblob/client_test.go
Due: eng/pipelines/pullrequest.yml

add integration test to env. variable
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/base/expect_continue.go
  sdk/storage/azblob/internal/base/expect_continue_test.go
Due: eng/pipelines/pullrequest.yml

revise changelog comment
  sdk/storage/azblob/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

address comments
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/base/expect_continue.go
  sdk/storage/azblob/internal/base/expect_continue_test.go
  sdk/storage/azblob/internal/exported/expect_continue.go
Due: eng/pipelines/pullrequest.yml

Potential fix for pull request finding
  sdk/storage/azblob/internal/exported/expect_continue.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/eventhub/armeventhub/2.0.0-beta.2 generation from spec commit: 7977092320778f47c240371124748e6967793459
  sdk/resourcemanager/eventhub/armeventhub/CHANGELOG.md
  sdk/resourcemanager/eventhub/armeventhub/README.md
  sdk/resourcemanager/eventhub/armeventhub/autorest.md
  sdk/resourcemanager/eventhub/armeventhub/disasterrecoveryconfigs_live_test.go
  sdk/resourcemanager/eventhub/armeventhub/eventhub_live_test.go
  sdk/resourcemanager/eventhub/armeventhub/fake/applicationgroup_server.go
  sdk/resourcemanager/eventhub/armeventhub/fake/clusters_server.go
  sdk/resourcemanager/eventhub/armeventhub/fake/configuration_server.go
  sdk/resourcemanager/eventhub/armeventhub/fake/consumergroups_server.go
  sdk/resourcemanager/eventhub/armeventhub/fake/disasterrecoveryconfigs_server.go
  sdk/resourcemanager/eventhub/armeventhub/fake/eventhubs_server.go
  sdk/resourcemanager/eventhub/armeventhub/fake/namespaces_server.go
  sdk/resourcemanager/eventhub/armeventhub/fake/networksecurityperimeterconfiguration_server.go
  sdk/resourcemanager/eventhub/armeventhub/fake/networksecurityperimeterconfigurations_server.go
  sdk/resourcemanager/eventhub/armeventhub/fake/operations_server.go
  sdk/resourcemanager/eventhub/armeventhub/fake/privateendpointconnections_server.go
  sdk/resourcemanager/eventhub/armeventhub/fake/privatelinkresources_server.go
  sdk/resourcemanager/eventhub/armeventhub/fake/schemaregistry_server.go
  sdk/resourcemanager/eventhub/armeventhub/go.mod
  sdk/resourcemanager/eventhub/armeventhub/privateendpointconnections_live_test.go
  sdk/resourcemanager/eventhub/armeventhub/version.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/databoxedge/armdataboxedge/1.3.0 generation from spec commit: f08909b11b193ea57272a544387e3a67f60a7c13
  sdk/resourcemanager/databoxedge/armdataboxedge/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/guestconfiguration/armguestconfiguration/1.3.0 generation from spec commit: 0e56f0e511c3a176e7156fe2ef7e52e27113010a
  sdk/resourcemanager/guestconfiguration/armguestconfiguration/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml
