Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Add --filter-test flag to generator build command
  eng/tools/generator/README.md
  eng/tools/generator/cmd/build/buildCmd.go
  eng/tools/generator/cmd/build/buildCmd_test.go
Due: eng/pipelines/pullrequest.yml

Potential fix for pull request finding
  documentation/development/breaking-changes/sdk-breaking-changes-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Bump generator to v0.4.16 and add changelog for --filter-test flag
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/version.go
Due: eng/pipelines/pullrequest.yml

update
  eng/tools/generator/cmd/changelog/changelogCmd.go
  eng/tools/generator/cmd/changelog/changelogCmd_test.go
Due: eng/pipelines/pullrequest.yml

Add upload-llm-artifacts common template step + pipelineArtifact output
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/steps/build-test.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove link verification from Analyze job, it is now handled in github workflow
  eng/pipelines/templates/steps/analyze.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Refine breaking changes guide and add --filter-test flag to generator build (#27113)
  documentation/development/breaking-changes/sdk-breaking-changes-guide.md
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/README.md
  eng/tools/generator/cmd/build/buildCmd.go
  eng/tools/generator/cmd/build/buildCmd_test.go
  eng/tools/generator/cmd/changelog/changelogCmd.go
  eng/tools/generator/cmd/changelog/changelogCmd_test.go
  eng/tools/generator/version.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Bump gh-aw to v0.80.9, use the Actions token for Copilot inference, and harden mgmt-review onboarding checks (#27094)
  .github/aw/actions-lock.json
  .github/workflows/agentics-maintenance.yml
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
  .github/workflows/mgmt-review.lock.yml
  .github/workflows/mgmt-review.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove link verification from Analyze job, it is now handled in github workflow (#27117)
  eng/pipelines/templates/steps/analyze.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

release(resourcehealth): armresourcehealth v1.4.0 (stable) (#27095)
  sdk/resourcemanager/resourcehealth/armresourcehealth/CHANGELOG.md
  sdk/resourcemanager/resourcehealth/armresourcehealth/README.md
  sdk/resourcemanager/resourcehealth/armresourcehealth/availabilitystatuses_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/childavailabilitystatuses_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/childresources_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/emergingissues_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/event_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/events_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/fake/availabilitystatuses_server.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/fake/childavailabilitystatuses_server.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/fake/childresources_server.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/fake/emergingissues_server.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/fake/event_server.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/fake/events_server.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/fake/impactedresources_server.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/fake/metadata_server.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/fake/operations_server.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/fake/securityadvisoryimpactedresources_server.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/go.mod
  sdk/resourcemanager/resourcehealth/armresourcehealth/impactedresources_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/metadata_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/operations_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/securityadvisoryimpactedresources_client_example_test.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/version.go
Due: eng/pipelines/pullrequest.yml

[Refresh] armsqlvirtualmachine v1.0.0 (stable) (#27090)
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/CHANGELOG.md
  sdk/resourcemanager/sqlvirtualmachine/armsqlvirtualmachine/version.go
Due: eng/pipelines/pullrequest.yml

release(providerhub): armproviderhub v3.0.0 (stable) (#27080)
  sdk/resourcemanager/providerhub/armproviderhub/CHANGELOG.md
  sdk/resourcemanager/providerhub/armproviderhub/version.go
Due: eng/pipelines/pullrequest.yml

release(privatedns): armprivatedns v2.0.0 (stable) (#27079)
  sdk/resourcemanager/privatedns/armprivatedns/CHANGELOG.md
  sdk/resourcemanager/privatedns/armprivatedns/version.go
Due: eng/pipelines/pullrequest.yml

release(powerbidedicated): armpowerbidedicated v2.0.0 (stable) (#27078)
  sdk/resourcemanager/powerbidedicated/armpowerbidedicated/CHANGELOG.md
  sdk/resourcemanager/powerbidedicated/armpowerbidedicated/version.go
Due: eng/pipelines/pullrequest.yml

release(peering): armpeering v2.0.0 (stable) (#27077)
  sdk/resourcemanager/peering/armpeering/CHANGELOG.md
  sdk/resourcemanager/peering/armpeering/version.go
Due: eng/pipelines/pullrequest.yml

release(operationalinsights): armoperationalinsights v3.0.0 (stable) (#27076)
  sdk/resourcemanager/operationalinsights/armoperationalinsights/CHANGELOG.md
  sdk/resourcemanager/operationalinsights/armoperationalinsights/version.go
Due: eng/pipelines/pullrequest.yml

release(networkfunction): armnetworkfunction v3.0.0 (stable) (#27075)
  sdk/resourcemanager/networkfunction/armnetworkfunction/CHANGELOG.md
  sdk/resourcemanager/networkfunction/armnetworkfunction/version.go
Due: eng/pipelines/pullrequest.yml

release(marketplace): armmarketplace v2.0.0 (stable) (#27073)
  sdk/resourcemanager/marketplace/armmarketplace/CHANGELOG.md
  sdk/resourcemanager/marketplace/armmarketplace/version.go
Due: eng/pipelines/pullrequest.yml

release(managementgroups): armmanagementgroups v2.0.0 (stable) (#27072)
  sdk/resourcemanager/managementgroups/armmanagementgroups/CHANGELOG.md
  sdk/resourcemanager/managementgroups/armmanagementgroups/version.go
Due: eng/pipelines/pullrequest.yml

Updated service name in ReadMe.md file
  sdk/resourcemanager/commvaultcontentstore/armcommvaultcontentstore/README.md
Due: eng/pipelines/pullrequest.yml

Update go.mod
  sdk/resourcemanager/containerregistry/armcontainerregistry/go.mod
Due: eng/pipelines/pullrequest.yml

update
  sdk/resourcemanager/containerregistry/armcontainerregistry/README.md
  sdk/resourcemanager/containerregistry/armcontainerregistry/archives_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/archiveversions_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/cacherules_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/connectedregistries_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/containerregistry_build_live_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/containerregistry_live_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/credentialsets_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/exportpipelines_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/archives_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/archiveversions_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/cacherules_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/connectedregistries_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/credentialsets_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/exportpipelines_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/importpipelines_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/operations_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/pipelineruns_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/privateendpointconnections_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/registries_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/replications_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/scopemaps_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/tokens_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/fake/webhooks_server.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/importpipelines_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/operations_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/operations_live_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/pipelineruns_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/registries_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/replications_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/scopemaps_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/tokens_client_example_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/webhooks_client_example_test.go
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/resourcemanager/containerregistry/armcontainerregistry/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Regenerate SDK based on typespec-go branch refine-regen-pipeline
  eng/emitter-package-lock.json
  sdk/resourcemanager/resourcehealth/armresourcehealth/go.mod
  sdk/resourcemanager/resourcehealth/armresourcehealth/go.sum
  sdk/resourcemanager/resourcehealth/armresourcehealth/models_serde.go
  sdk/resourcemanager/resourcehealth/armresourcehealth/testdata/_metadata.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update version
  sdk/resourcemanager/datadog/armdatadog/CHANGELOG.md
  sdk/resourcemanager/datadog/armdatadog/version.go
Due: eng/pipelines/pullrequest.yml

Apply skip test build (--filter-test) in build cmd in swagger_to_sdk_config.json (#27131)
  eng/swagger_to_sdk_config.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

File search improvement
  eng/pipelines/templates/steps/build-test.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add upload-llm-artifacts common template step + pipelineArtifact output (#27126)
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/steps/build-test.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

cosmos: Remove QueryEngine APIs for GA release
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/internal/mock/mock_query_engine.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
  sdk/data/azcosmos/version.go
Due: none

cosmos: Remove QueryEngine APIs for GA release (#27134)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/internal/mock/mock_query_engine.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
  sdk/data/azcosmos/version.go
Due: none

Remove azcosmos PR trigger exclusion
  eng/pipelines/pullrequest.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove azcosmos PR trigger exclusion (#27135)
  eng/pipelines/pullrequest.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Restrict issue-triage workflow to issues: read permission
  .github/aw/actions-lock.json
  .github/workflows/agentics-maintenance.yml
  .github/workflows/issue-triage.lock.yml
  .github/workflows/issue-triage.md
  .github/workflows/mgmt-review.lock.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

ci: add typespec-go SDK regeneration ADO pipeline
  eng/pipelines/sdk-regenerate.yml
  eng/scripts/sdk_regenerate.py
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml
