Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Increment package version after release of data/azcosmos
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

Pin GitHub Actions to full-length commit SHAs
  .github/workflows/verify-links.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Pin GitHub Actions to full-length commit SHAs
  .github/workflows/post-apiview.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Only trigger on pull_request
  .github/workflows/verify-links.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Revert "[verify-links.yml] Only trigger on pull_request"
  .github/workflows/verify-links.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Pin SHA to azure-sdk-actions repo
  .github/workflows/event.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Pin GitHub action
  .github/workflows/verify-links.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Service Bus] Add batch delete and purge APIs
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/example_receiver_test.go
  sdk/messaging/azservicebus/example_session_receiver_test.go
  sdk/messaging/azservicebus/internal/mgmt.go
  sdk/messaging/azservicebus/internal/mgmt_test.go
  sdk/messaging/azservicebus/receiver.go
  sdk/messaging/azservicebus/receiver_unit_test.go
  sdk/messaging/azservicebus/session_receiver.go
Due: eng/pipelines/pullrequest.yml

Potential fix for pull request finding
  sdk/resourcemanager/marketplace/armmarketplacereviews/README.md
Due: eng/pipelines/pullrequest.yml

Improve mgmt review workflow
  .github/workflows/mgmt-review.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Potential fix for pull request finding
  .github/workflows/mgmt-review.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update mgmt-review.lock.yml
  .github/workflows/mgmt-review.lock.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove beta history from stable New Relic notes
  sdk/resourcemanager/newrelic/armnewrelicobservability/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Revert "Restore published 1.2.0-beta.1 changelog section in armservicenetworking"
  sdk/resourcemanager/servicenetworking/armservicenetworking/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Rename Validate-All-Packages.ps1 to Update-Package-WorkItems.ps1
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Update-Package-WorkItems.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Address review nits: inline initialRange, add downloadProgress type
  sdk/storage/azblob/blob/client.go
Due: eng/pipelines/pullrequest.yml

Add changelog entry for small blob download optimization
  sdk/storage/azblob/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Document ETag locking behavior change in changelog
  sdk/storage/azblob/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Handle 304 Not Modified in initial GET download path
  sdk/storage/azblob/blob/client.go
Due: eng/pipelines/pullrequest.yml

Clarify ETag locking scope in changelog
  sdk/storage/azblob/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

fix: address batch delete review feedback
  sdk/messaging/azservicebus/receiver.go
  sdk/messaging/azservicebus/receiver_unit_test.go
  sdk/messaging/azservicebus/session_receiver.go
Due: eng/pipelines/pullrequest.yml

Sync .github/workflows directory with azure-sdk-tools repository
  .github/workflows/event-processor.yml
  .github/workflows/protected-files.yml
  .github/workflows/scheduled-event-processor.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

api
  sdk/storage/azdatalake/internal/generated/tsp-location.yaml
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_models.go
  sdk/storage/azdatalake/internal/generated/zz_models_serde.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_responses.go
  sdk/storage/azdatalake/internal/generated_blob/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

lint
  sdk/storage/azdatalake/file/client.go
Due: eng/pipelines/pullrequest.yml

code
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/examples_test.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/retry_reader_test.go
  sdk/storage/azdatalake/internal/generated/filesystem_client.go
  sdk/storage/azdatalake/internal/generated/options.go
  sdk/storage/azdatalake/internal/generated/path_client.go
  sdk/storage/azdatalake/internal/generated/service_client.go
  sdk/storage/azdatalake/internal/generated/zz_constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_models.go
  sdk/storage/azdatalake/internal/generated/zz_models_serde.go
  sdk/storage/azdatalake/internal/generated/zz_options.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_responses.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/path/models.go
  sdk/storage/azdatalake/internal/testcommon/common.go
  sdk/storage/azdatalake/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

regenerate after rebase
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_models_serde.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_models_serde.go
Due: eng/pipelines/pullrequest.yml

fix remaining tests
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/internal/generated/models.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_models_serde.go
  sdk/storage/azdatalake/internal/generated/zz_options.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/path/models.go
  sdk/storage/azdatalake/internal/testcommon/common.go
Due: eng/pipelines/pullrequest.yml

tanya feedback
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_options.go
  sdk/storage/azdatalake/service/client.go
  sdk/storage/azdatalake/service/models.go
Due: eng/pipelines/pullrequest.yml

update commit hashes and new tsp directory structure
  sdk/storage/azdatalake/internal/generated/tsp-location.yaml
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated_blob/tsp-location.yaml
  sdk/storage/azdatalake/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

generated_blob
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/build.go
  sdk/storage/azdatalake/internal/generated/filesystem_client.go
  sdk/storage/azdatalake/internal/generated/tsp-location.yaml
  sdk/storage/azdatalake/internal/generated/zz_constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_responses.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/generated_blob/autorest.md
  sdk/storage/azdatalake/internal/generated_blob/blob_client.go
  sdk/storage/azdatalake/internal/generated_blob/build.go
  sdk/storage/azdatalake/internal/generated_blob/container_client.go
  sdk/storage/azdatalake/internal/generated_blob/models.go
  sdk/storage/azdatalake/internal/generated_blob/service_client.go
  sdk/storage/azdatalake/internal/generated_blob/tsp-location.yaml
  sdk/storage/azdatalake/internal/generated_blob/zz_appendblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blockblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_constants.go
  sdk/storage/azdatalake/internal/generated_blob/zz_container_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_models.go
  sdk/storage/azdatalake/internal/generated_blob/zz_models_serde.go
  sdk/storage/azdatalake/internal/generated_blob/zz_options.go
  sdk/storage/azdatalake/internal/generated_blob/zz_pageblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_responses.go
  sdk/storage/azdatalake/internal/generated_blob/zz_service_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_xml_helper.go
  sdk/storage/azdatalake/service/client.go
  sdk/storage/azdatalake/service/models.go
  sdk/storage/azdatalake/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

ServiceVersion const uses the emitted const
  sdk/storage/azdatalake/internal/generated/constants.go
  sdk/storage/azdatalake/internal/generated_blob/constants.go
Due: eng/pipelines/pullrequest.yml

remove lint
  sdk/storage/azdatalake/internal/exported/shared_key_credential.go
Due: eng/pipelines/pullrequest.yml

regenerate with latest emitter
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_models_serde.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_responses.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_service_client.go
Due: eng/pipelines/pullrequest.yml

fixes post regeneration
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/internal/generated/filesystem_client.go
  sdk/storage/azdatalake/internal/generated_blob/service_client.go
  sdk/storage/azdatalake/service/client.go
Due: eng/pipelines/pullrequest.yml

Sync .github/workflows directory with azure-sdk-tools repository for Tools PR 16894
  .github/workflows/protected-files.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Use 'none' environment for auto-release publish (#27245)
  eng/pipelines/templates/jobs/archetype-go-release.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Only trigger on pull_request - Allows for simpler and more efficient checkout
  .github/workflows/verify-links.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
