Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

docs(azcore): define the Pager contract when NextPage returns an error
  documentation/development/ARM/new-version-guideline.md
  sdk/azcore/CHANGELOG.md
  sdk/azcore/doc.go
  sdk/azcore/runtime/pager.go
  sdk/azcore/runtime/pager_test.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

docs: clarify service name
  sdk/resourcemanager/containerservicepreparedimgspec/armcontainerservicepreparedimgspec/README.md
Due: eng/pipelines/pullrequest.yml

Use auth-sev-feed.yml
  eng/common/pipelines/templates/steps/auth-dev-feed.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove en-us/ segment from doc URL in NewListRangesPager
  sdk/storage/azfile/file/client.go
Due: eng/pipelines/pullrequest.yml

Add paginated ListRanges with continuation token support for Azure Files (#27218)
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/file/responses.go
  sdk/storage/azfile/internal/generated/file_client.go
Due: eng/pipelines/pullrequest.yml

Clarify StorageResponseFormat doc comments per review feedback
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/internal/exported/storage_response_format.go
Due: eng/pipelines/pullrequest.yml

test(azservicebus): prove active-messages mode lists state-only sessions
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/client.go
  sdk/messaging/azservicebus/client_list_sessions_live_test.go
  sdk/messaging/azservicebus/internal/mgmt.go
Due: eng/pipelines/pullrequest.yml

test(azservicebus): assert exact mode-two result sets
  sdk/messaging/azservicebus/client_list_sessions_live_test.go
Due: eng/pipelines/pullrequest.yml

fetch errors place Pager in a terminal state
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/pager.go
  sdk/azcore/runtime/pager_test.go
Due: eng/pipelines/pullrequest.yml

Fix duplicate InnerError type in generated Go SDK
  sdk/resourcemanager/compute/armbulkactions/CHANGELOG.md
  sdk/resourcemanager/compute/armbulkactions/launchbulkinstancesoperation_client_example_test.go
  sdk/resourcemanager/compute/armbulkactions/models.go
  sdk/resourcemanager/compute/armbulkactions/models_serde.go
Due: eng/pipelines/pullrequest.yml

Revert "Fix duplicate InnerError type in generated Go SDK"
  sdk/resourcemanager/compute/armbulkactions/CHANGELOG.md
  sdk/resourcemanager/compute/armbulkactions/launchbulkinstancesoperation_client_example_test.go
  sdk/resourcemanager/compute/armbulkactions/models.go
  sdk/resourcemanager/compute/armbulkactions/models_serde.go
Due: eng/pipelines/pullrequest.yml

Add Photon (Apache Arrow) support for ListBlobs - stg103-104 (#27198)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/arrow/arrow.go
  sdk/storage/azblob/internal/arrow/arrow_test.go
  sdk/storage/azblob/internal/exported/storage_response_format.go
  sdk/storage/azblob/internal/generated/container_client.go
  sdk/storage/azblob/internal/shared/shared.go
Due: eng/pipelines/pullrequest.yml

docs(azcosmos): add Go v2 FFI decision
  sdk/data/azcosmos/docs/go-v2-ffi-decision.md
Due: none

docs(azcosmos): add Go FFI distribution design
  sdk/data/azcosmos/docs/go-ffi-distribution-design.md
Due: none

docs(azcosmos): add Go FFI ADR index
  sdk/data/azcosmos/docs/adr/0000-index.md
  sdk/data/azcosmos/docs/adr/0001-go-v2-uses-ffi.md
Due: none

docs(azcosmos): use absolute ADR links
  sdk/data/azcosmos/docs/adr/0000-index.md
  sdk/data/azcosmos/docs/adr/0001-go-v2-uses-ffi.md
Due: none

docs(azcosmos): note Windows native ABI split
  sdk/data/azcosmos/docs/go-ffi-distribution-design.md
  sdk/data/azcosmos/docs/go-v2-ffi-decision.md
Due: none

docs(azcosmos): clarify lazy driver module downloads
  sdk/data/azcosmos/docs/go-ffi-distribution-design.md
Due: none

docs(azcosmos): fix Confluent build tags link
  sdk/data/azcosmos/docs/go-ffi-distribution-design.md
Due: none

docs(azcosmos): reframe versioning as ABI-compatibility contract
  sdk/data/azcosmos/docs/go-ffi-distribution-design.md
Due: none

Update CHANGELOG.md
  sdk/resourcemanager/connectedcache/armconnectedcache/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Add SmartAccessTier to Arrow parser and tidy azqueue go.sum
  sdk/storage/azblob/internal/arrow/arrow.go
  sdk/storage/azqueue/go.sum
Due: eng/pipelines/pullrequest.yml

Use 'none' environment for auto-release publish to skip manual approval gate
  eng/pipelines/templates/jobs/archetype-go-release.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Restrict auto-release environment bypass to main CI
  eng/pipelines/templates/jobs/archetype-go-release.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Align auto-release checks with main CI trigger
  eng/pipelines/templates/jobs/archetype-go-release.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Descriptions
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/assets.json
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/client_test.go
  sdk/data/azappconfig/constants.go
  sdk/data/azappconfig/examples_test.go
  sdk/data/azappconfig/options.go
  sdk/data/azappconfig/setting.go
  sdk/data/azappconfig/setting_selector.go
  sdk/data/azappconfig/snapshot.go
  sdk/data/azappconfig/utils_test.go
Due: eng/pipelines/pullrequest.yml

Avoid Detected characters in arguments warning in matrix generation
  eng/common/pipelines/templates/jobs/generate-job-matrix.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Adding FF Endpoint
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/constants.go
  sdk/data/azappconfig/feature_flag.go
  sdk/data/azappconfig/feature_flag_client.go
  sdk/data/azappconfig/feature_flag_options.go
  sdk/data/azappconfig/feature_flag_responses.go
  sdk/data/azappconfig/feature_flag_selector.go
  sdk/data/azappconfig/internal/generated/zz_azureappconfiguration_client.go
  sdk/data/azappconfig/internal/generated/zz_azureappconfigurationfeatureflag_client.go
  sdk/data/azappconfig/internal/generated/zz_constants.go
  sdk/data/azappconfig/internal/generated/zz_models.go
  sdk/data/azappconfig/internal/generated/zz_models_serde.go
  sdk/data/azappconfig/internal/generated/zz_options.go
  sdk/data/azappconfig/internal/generated/zz_responses.go
  sdk/data/azappconfig/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

docs(azcosmos): define cgo-disabled driver behavior
  sdk/data/azcosmos/docs/go-ffi-distribution-design.md
Due: none

Tests and examples
  sdk/data/azappconfig/assets.json
  sdk/data/azappconfig/cloud_test.go
  sdk/data/azappconfig/examples_test.go
  sdk/data/azappconfig/feature_flag_client_test.go
  sdk/data/azappconfig/feature_flag_test.go
Due: eng/pipelines/pullrequest.yml
