Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

[CODEOWNERS] Messaging ownership transfer
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

tsp-client
  sdk/security/keyvault/azadmin/backup/client.go
  sdk/security/keyvault/azadmin/backup/post-generate.go
  sdk/security/keyvault/azadmin/backup/testdata/_metadata.json
  sdk/security/keyvault/azadmin/backup/testdata/generate/transforms.go
  sdk/security/keyvault/azadmin/build.go
  sdk/security/keyvault/azadmin/internal/generate/transforms.go
  sdk/security/keyvault/azadmin/rbac/client.go
  sdk/security/keyvault/azadmin/rbac/fake/internal.go
  sdk/security/keyvault/azadmin/rbac/fake/server.go
  sdk/security/keyvault/azadmin/rbac/post-generate.go
  sdk/security/keyvault/azadmin/rbac/testdata/_metadata.json
  sdk/security/keyvault/azadmin/rbac/testdata/generate/transforms.go
  sdk/security/keyvault/azadmin/settings/client.go
  sdk/security/keyvault/azadmin/settings/fake/server.go
  sdk/security/keyvault/azadmin/settings/models_serde.go
  sdk/security/keyvault/azadmin/settings/testdata/_metadata.json
Due: eng/pipelines/pullrequest.yml

refactor: remove go upstream impl for path joining
  sdk/azidentity/internal/customtokenproxy/policy.go
  sdk/azidentity/internal/customtokenproxy/rewrite.go
  sdk/azidentity/internal/customtokenproxy/rewrite_test.go
Due: eng/pipelines/pullrequest.yml

remove
  eng/tools/generator/typespec/debug_test.go
Due: eng/pipelines/pullrequest.yml

fix test error
  sdk/resourcemanager/avs/armavs/scriptexecutions_client_example_test.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/carbonservice_client_example_test.go
  sdk/resourcemanager/connectedcache/armconnectedcache/cachenodesoperations_client.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/deploymentsafeguards_client.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/deploymentsafeguards_client_example_test.go
  sdk/resourcemanager/containerservice/armdeploymentsafeguards/fake/deploymentsafeguards_server.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/resources/armbicep/constants.go
  sdk/resourcemanager/terraform/armterraform/client_example_test.go
  sdk/resourcemanager/terraform/armterraform/fake/terraform_server.go
  sdk/resourcemanager/terraform/armterraform/terraform_client.go
  sdk/resourcemanager/terraform/armterraform/terraform_client_example_test.go
Due: eng/pipelines/pullrequest.yml

delete files
  sdk/resourcemanager/connectedcache/armconnectedcache/cachenodesoperations_client.go
  sdk/resourcemanager/connectedcache/armconnectedcache/cachenodesoperations_client_example_test.go
  sdk/resourcemanager/connectedcache/armconnectedcache/enterprisecustomeroperations_client.go
  sdk/resourcemanager/connectedcache/armconnectedcache/enterprisecustomeroperations_client_example_test.go
Due: eng/pipelines/pullrequest.yml

delete files
  sdk/resourcemanager/connectedcache/armconnectedcache/fake/cachenodesoperations_server.go
  sdk/resourcemanager/connectedcache/armconnectedcache/fake/enterprisecustomeroperations_server.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/neonpostgres_live_test.go
Due: eng/pipelines/pullrequest.yml

update asset
  sdk/resourcemanager/connectedcache/armconnectedcache/assets.json
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/terraform/armterraform/terraform_live_test.go
Due: eng/pipelines/pullrequest.yml

[CODEOWNERS] Messaging ownership transfer (#25167)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 11905 (#25169)
  eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Source user ID from graph api in TME (#25170)
  eng/common/TestResources/New-TestResources.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update changelog
  sdk/data/azcosmos/CHANGELOG.md
Due: none

[Release] sdk/resourcemanager/sitemanager/armsitemanager/1.0.0 generation from spec commit: 0d3ffc772b0945e56a7487c8db3ca7a20d1a4af6
  sdk/resourcemanager/sitemanager/armsitemanager/CHANGELOG.md
  sdk/resourcemanager/sitemanager/armsitemanager/constants.go
  sdk/resourcemanager/sitemanager/armsitemanager/go.mod
  sdk/resourcemanager/sitemanager/armsitemanager/go.sum
  sdk/resourcemanager/sitemanager/armsitemanager/models.go
  sdk/resourcemanager/sitemanager/armsitemanager/sites_client.go
  sdk/resourcemanager/sitemanager/armsitemanager/sites_client_example_test.go
  sdk/resourcemanager/sitemanager/armsitemanager/sitesbyservicegroup_client.go
  sdk/resourcemanager/sitemanager/armsitemanager/sitesbyservicegroup_client_example_test.go
  sdk/resourcemanager/sitemanager/armsitemanager/sitesbysubscription_client.go
  sdk/resourcemanager/sitemanager/armsitemanager/sitesbysubscription_client_example_test.go
  sdk/resourcemanager/sitemanager/armsitemanager/testdata/_metadata.json
  sdk/resourcemanager/sitemanager/armsitemanager/tsp-location.yaml
  sdk/resourcemanager/sitemanager/armsitemanager/version.go
Due: eng/pipelines/pullrequest.yml

update changelod
  sdk/resourcemanager/sitemanager/armsitemanager/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/computerecommender/armcomputerecommender/0.1.0 generation from spec commit: 0d3ffc772b0945e56a7487c8db3ca7a20d1a4af6
  sdk/resourcemanager/computerecommender/armcomputerecommender/CHANGELOG.md
  sdk/resourcemanager/computerecommender/armcomputerecommender/LICENSE.txt
  sdk/resourcemanager/computerecommender/armcomputerecommender/README.md
  sdk/resourcemanager/computerecommender/armcomputerecommender/ci.yml
  sdk/resourcemanager/computerecommender/armcomputerecommender/client_factory.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/constants.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/fake/internal.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/fake/operations_server.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/fake/server_factory.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/fake/spotplacementscores_server.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/go.mod
  sdk/resourcemanager/computerecommender/armcomputerecommender/go.sum
  sdk/resourcemanager/computerecommender/armcomputerecommender/models.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/models_serde.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/operations_client.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/operations_client_example_test.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/options.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/responses.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/spotplacementscores_client.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/spotplacementscores_client_example_test.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/testdata/_metadata.json
  sdk/resourcemanager/computerecommender/armcomputerecommender/time_rfc3339.go
  sdk/resourcemanager/computerecommender/armcomputerecommender/tsp-location.yaml
  sdk/resourcemanager/computerecommender/armcomputerecommender/version.go
Due: eng/pipelines/pullrequest.yml

update readme
  sdk/resourcemanager/computerecommender/armcomputerecommender/README.md
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/neonpostgres/armneonpostgres/2.0.0-beta.1 generation from spec commit: c2f167ec164a2349235d8aee1b8189b883ec93c6
  sdk/resourcemanager/neonpostgres/armneonpostgres/CHANGELOG.md
  sdk/resourcemanager/neonpostgres/armneonpostgres/README.md
  sdk/resourcemanager/neonpostgres/armneonpostgres/branches_client.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/branches_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/computes_client.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/computes_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/constants.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/endpoints_client.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/endpoints_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/branches_server.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/computes_server.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/endpoints_server.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/neondatabases_server.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/neonroles_server.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/operations_server.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/organizations_server.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/projects_server.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/fake/time_rfc3339.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/go.mod
  sdk/resourcemanager/neonpostgres/armneonpostgres/go.sum
  sdk/resourcemanager/neonpostgres/armneonpostgres/models.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/models_serde.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/neondatabases_client.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/neondatabases_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/neonpostgres_live_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/neonroles_client.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/neonroles_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/operations_client.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/operations_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/options.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/organizations_client.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/organizations_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/projects_client.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/projects_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/responses.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/testdata/_metadata.json
  sdk/resourcemanager/neonpostgres/armneonpostgres/tsp-location.yaml
  sdk/resourcemanager/neonpostgres/armneonpostgres/version.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/sitemanager/armsitemanager/1.0.0 (#25173)
  sdk/resourcemanager/sitemanager/armsitemanager/CHANGELOG.md
  sdk/resourcemanager/sitemanager/armsitemanager/constants.go
  sdk/resourcemanager/sitemanager/armsitemanager/go.mod
  sdk/resourcemanager/sitemanager/armsitemanager/go.sum
  sdk/resourcemanager/sitemanager/armsitemanager/models.go
  sdk/resourcemanager/sitemanager/armsitemanager/sites_client.go
  sdk/resourcemanager/sitemanager/armsitemanager/sites_client_example_test.go
  sdk/resourcemanager/sitemanager/armsitemanager/sitesbyservicegroup_client.go
  sdk/resourcemanager/sitemanager/armsitemanager/sitesbyservicegroup_client_example_test.go
  sdk/resourcemanager/sitemanager/armsitemanager/sitesbysubscription_client.go
  sdk/resourcemanager/sitemanager/armsitemanager/sitesbysubscription_client_example_test.go
  sdk/resourcemanager/sitemanager/armsitemanager/testdata/_metadata.json
  sdk/resourcemanager/sitemanager/armsitemanager/tsp-location.yaml
  sdk/resourcemanager/sitemanager/armsitemanager/version.go
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/neonpostgres/armneonpostgres/neonpostgres_live_test.go
Due: eng/pipelines/pullrequest.yml

Added Tomas Varon as code owner for Cosmos DB
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Added azure-cosmos-go-sdk as team for code owners
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix: drop AZURE_KUBERNETES_TOKEN_ENDPOINT fallback
  sdk/azidentity/internal/customtokenproxy/policy.go
  sdk/azidentity/internal/customtokenproxy/policy_test.go
Due: eng/pipelines/pullrequest.yml
