Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

list numbering incorrect
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

react to comments
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
Due: none

Increment package version after release of data/azcosmos (#25544)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

Sync eng/common directory with azure-sdk-tools for PR 12531 (#25545)
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update changelog
  sdk/data/azcosmos/CHANGELOG.md
Due: none

remove unsupport code
  sdk/resourcemanager/containerregistry/armcontainerregistry/containerregistry_build_live_test.go
Due: eng/pipelines/pullrequest.yml

rollback force stable version
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/cmd/v2/release/releaseCmd.go
Due: eng/pipelines/pullrequest.yml

fix
  eng/tools/generator/cmd/v2/common/generation.go
Due: eng/pipelines/pullrequest.yml

update
  sdk/resourcemanager/containerregistry/armcontainerregistry/autorest.md
Due: eng/pipelines/pullrequest.yml

fixed resource type validation in ParseResourceType and correlated tests (#25517)
  sdk/azcore/CHANGELOG.md
  sdk/azcore/arm/internal/resource/resource_identifier.go
  sdk/azcore/arm/internal/resource/resource_identifier_test.go
  sdk/azcore/arm/internal/resource/resource_type_test.go
Due: eng/pipelines/pullrequest.yml

cosmos: Allow the Query Pipeline to return an alternative query to execute in each request (#25503)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
Due: none

update read many pipeline
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
Due: none

Removing gofmt -w, also adding in a little more to the error messages in case of failure to help isolate things a bit more.
  sdk/messaging/eventgrid/azsystemevents/build.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate.go
Due: eng/pipelines/pullrequest.yml

[azsystemevents] Fixing build.go to work properly with tsp-client as the orchestrator, instead of go generate (#25550)
  sdk/messaging/eventgrid/azsystemevents/build.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate.go
Due: eng/pipelines/pullrequest.yml

add read many client side changes
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container_read_many.go
Due: none

Update assets.json
  sdk/resourcemanager/containerregistry/armcontainerregistry/assets.json
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/keyvault/armkeyvault/3.0.0 generation from spec commit: f17f8a4c10b849aa2101140ecf4d78cad78ab299
  sdk/resourcemanager/keyvault/armkeyvault/CHANGELOG.md
  sdk/resourcemanager/keyvault/armkeyvault/README.md
  sdk/resourcemanager/keyvault/armkeyvault/fake/keys_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/managedhsmkeys_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/managedhsms_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/mhsmprivateendpointconnections_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/mhsmprivatelinkresources_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/mhsmregions_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/operations_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/privateendpointconnections_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/privatelinkresources_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/secrets_server.go
  sdk/resourcemanager/keyvault/armkeyvault/fake/vaults_server.go
  sdk/resourcemanager/keyvault/armkeyvault/go.mod
  sdk/resourcemanager/keyvault/armkeyvault/go.sum
  sdk/resourcemanager/keyvault/armkeyvault/keys_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/keys_client_live_test.go
  sdk/resourcemanager/keyvault/armkeyvault/managedhsmkeys_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/managedhsms_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/mhsmprivateendpointconnections_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/mhsmprivatelinkresources_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/mhsmregions_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/operations_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/privatelinkresources_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/responses.go
  sdk/resourcemanager/keyvault/armkeyvault/secrets_client.go
  sdk/resourcemanager/keyvault/armkeyvault/secrets_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/secrets_client_live_test.go
  sdk/resourcemanager/keyvault/armkeyvault/tsp-location.yaml
  sdk/resourcemanager/keyvault/armkeyvault/vaults_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/vaults_client_live_test.go
  sdk/resourcemanager/keyvault/armkeyvault/version.go
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 12476 (#25549)
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Updated to no longer require gopls, only uses the Go standard library.
  sdk/messaging/eventgrid/azsystemevents/go.mod
  sdk/messaging/eventgrid/azsystemevents/go.sum
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate_constants.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate_test.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/regex_helpers.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/testdata/_metadata.json
  sdk/messaging/eventgrid/azsystemevents/time_rfc1123.go
  sdk/messaging/eventgrid/azsystemevents/time_rfc3339.go
  sdk/messaging/eventgrid/azsystemevents/version.go
Due: eng/pipelines/pullrequest.yml

Remove gopls.go, no longer used.
  sdk/messaging/eventgrid/azsystemevents/internal/gopls/gopls.go
Due: eng/pipelines/pullrequest.yml

Adding back in the gofmt
  sdk/messaging/eventgrid/azsystemevents/build.go
Due: eng/pipelines/pullrequest.yml

Add ability to skip onboarding legacy moniker to Update-DocsMsPackages.ps1
  eng/common/scripts/Update-DocsMsPackages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove commented out lines, which should have been deleted anyways. :) Chopping out a check that never worked anyways and isn't really needed.
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate.go
Due: eng/pipelines/pullrequest.yml

Ah, this new version.go file needs to stay up to date!
  sdk/messaging/eventgrid/azsystemevents/version.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
