Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

update title
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/README.md
Due: eng/pipelines/pullrequest.yml

updates
  sdk/ai/azopenai/MIGRATION.md
Due: eng/pipelines/pullrequest.yml

update md
  sdk/resourcemanager/dependencymap/armdependencymap/README.md
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/dependencymap/armdependencymap/0.1.0 generation from spec commit: 94c4a982497b2a8e982d32848bec417b5a029b4f
  sdk/resourcemanager/dependencymap/armdependencymap/CHANGELOG.md
  sdk/resourcemanager/dependencymap/armdependencymap/README.md
  sdk/resourcemanager/dependencymap/armdependencymap/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[Cosmos] Pass request context through on GEM requests, but without cancellation signal
  sdk/data/azcosmos/cosmos_global_endpoint_manager_policy.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
Due: none

a few extra comments
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
Due: none

Updated changelog
  sdk/data/azcosmos/CHANGELOG.md
Due: none

[Storage] NFS STG98 New APIs (#24467)
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/examples_test.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/file/responses.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/durabletask/armdurabletask/0.2.0 generation from spec commit: 95eda2b9a673690afab68824d5d68b09c026dcdd (#24444)
  sdk/resourcemanager/durabletask/armdurabletask/CHANGELOG.md
  sdk/resourcemanager/durabletask/armdurabletask/README.md
  sdk/resourcemanager/durabletask/armdurabletask/client_factory.go
  sdk/resourcemanager/durabletask/armdurabletask/constants.go
  sdk/resourcemanager/durabletask/armdurabletask/fake/retentionpolicies_server.go
  sdk/resourcemanager/durabletask/armdurabletask/fake/server_factory.go
  sdk/resourcemanager/durabletask/armdurabletask/models.go
  sdk/resourcemanager/durabletask/armdurabletask/models_serde.go
  sdk/resourcemanager/durabletask/armdurabletask/operations_client.go
  sdk/resourcemanager/durabletask/armdurabletask/operations_client_example_test.go
  sdk/resourcemanager/durabletask/armdurabletask/options.go
  sdk/resourcemanager/durabletask/armdurabletask/responses.go
  sdk/resourcemanager/durabletask/armdurabletask/retentionpolicies_client.go
  sdk/resourcemanager/durabletask/armdurabletask/retentionpolicies_client_example_test.go
  sdk/resourcemanager/durabletask/armdurabletask/schedulers_client_example_test.go
  sdk/resourcemanager/durabletask/armdurabletask/taskhubs_client.go
  sdk/resourcemanager/durabletask/armdurabletask/taskhubs_client_example_test.go
  sdk/resourcemanager/durabletask/armdurabletask/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Exit early if no API changes are found (#24470)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update go.test version
  eng/scripts/MgmtTestLib.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

upgrade gotest
  eng/scripts/build.ps1
  eng/tools/generator/cmd/v2/common/generation.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

upgrade gotest
  eng/scripts/MgmtTestLib.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update test for function not support any more
  sdk/resourcemanager/containerregistry/armcontainerregistry/containerregistry_build_live_test.go
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/redisenterprise/armredisenterprise/assets.json
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_live_test.go
  sdk/resourcemanager/redisenterprise/armredisenterprise/redisenterprise_live_test.go
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/apimanagement/armapimanagement/apimapis_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimpolicies_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimproducts_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimusers_live_test.go
Due: eng/pipelines/pullrequest.yml

update gomod
  sdk/resourcemanager/elasticsan/armelasticsan/go.mod
Due: eng/pipelines/pullrequest.yml

update gomod
  sdk/resourcemanager/elasticsan/armelasticsan/go.mod
  sdk/resourcemanager/elasticsan/armelasticsan/go.sum
Due: eng/pipelines/pullrequest.yml

update asset
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/standbypool/armstandbypool/2.0.0 generation from spec commit: 3db6867b8e524ea6d1bc7a3bbb989fe50dd2f184 (#24387)
  sdk/resourcemanager/standbypool/armstandbypool/CHANGELOG.md
  sdk/resourcemanager/standbypool/armstandbypool/README.md
  sdk/resourcemanager/standbypool/armstandbypool/constants.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/internal.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/operations_server.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/standbycontainergrouppoolruntimeviews_server.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/standbycontainergrouppools_server.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/standbyvirtualmachinepoolruntimeviews_server.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/standbyvirtualmachinepools_server.go
  sdk/resourcemanager/standbypool/armstandbypool/fake/standbyvirtualmachines_server.go
  sdk/resourcemanager/standbypool/armstandbypool/go.mod
  sdk/resourcemanager/standbypool/armstandbypool/models.go
  sdk/resourcemanager/standbypool/armstandbypool/models_serde.go
  sdk/resourcemanager/standbypool/armstandbypool/operations_client.go
  sdk/resourcemanager/standbypool/armstandbypool/operations_client_example_test.go
  sdk/resourcemanager/standbypool/armstandbypool/standbycontainergrouppoolruntimeviews_client.go
  sdk/resourcemanager/standbypool/armstandbypool/standbycontainergrouppoolruntimeviews_client_example_test.go
  sdk/resourcemanager/standbypool/armstandbypool/standbycontainergrouppools_client.go
  sdk/resourcemanager/standbypool/armstandbypool/standbycontainergrouppools_client_example_test.go
  sdk/resourcemanager/standbypool/armstandbypool/standbyvirtualmachinepoolruntimeviews_client.go
  sdk/resourcemanager/standbypool/armstandbypool/standbyvirtualmachinepoolruntimeviews_client_example_test.go
  sdk/resourcemanager/standbypool/armstandbypool/standbyvirtualmachinepools_client.go
  sdk/resourcemanager/standbypool/armstandbypool/standbyvirtualmachinepools_client_example_test.go
  sdk/resourcemanager/standbypool/armstandbypool/standbyvirtualmachines_client.go
  sdk/resourcemanager/standbypool/armstandbypool/standbyvirtualmachines_client_example_test.go
  sdk/resourcemanager/standbypool/armstandbypool/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

update changelog
  sdk/resourcemanager/elasticsan/armelasticsan/go.mod
  sdk/resourcemanager/elasticsan/armelasticsan/go.sum
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/storageactions/armstorageactions/0.2.0 generation from spec commit: 5b798125a6aa7d5152fe0e3dd595d8a76dcfa568
  sdk/resourcemanager/storageactions/armstorageactions/CHANGELOG.md
  sdk/resourcemanager/storageactions/armstorageactions/autorest.md
  sdk/resourcemanager/storageactions/armstorageactions/client_factory.go
  sdk/resourcemanager/storageactions/armstorageactions/constants.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/internal.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/operations_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/server_factory.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/storagetaskassignment_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/storagetasks_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/storagetasksreport_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/time_rfc3339.go
  sdk/resourcemanager/storageactions/armstorageactions/go.mod
  sdk/resourcemanager/storageactions/armstorageactions/go.sum
  sdk/resourcemanager/storageactions/armstorageactions/models.go
  sdk/resourcemanager/storageactions/armstorageactions/models_serde.go
  sdk/resourcemanager/storageactions/armstorageactions/operations_client.go
  sdk/resourcemanager/storageactions/armstorageactions/operations_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/options.go
  sdk/resourcemanager/storageactions/armstorageactions/responses.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetaskassignment_client.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetaskassignment_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasks_client.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasks_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasksreport_client.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasksreport_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/time_rfc3339.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/elasticsan/armelasticsan/1.2.0-beta.2 (#24375)
  sdk/resourcemanager/elasticsan/armelasticsan/CHANGELOG.md
  sdk/resourcemanager/elasticsan/armelasticsan/autorest.md
  sdk/resourcemanager/elasticsan/armelasticsan/client_factory.go
  sdk/resourcemanager/elasticsan/armelasticsan/constants.go
  sdk/resourcemanager/elasticsan/armelasticsan/elasticsans_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/elasticsans_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/elasticsans_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/internal.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/management_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/operations_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/privateendpointconnections_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/privatelinkresources_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/server_factory.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/skus_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/time_rfc3339.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/volumegroups_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/volumes_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/fake/volumesnapshots_server.go
  sdk/resourcemanager/elasticsan/armelasticsan/management_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/management_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/models.go
  sdk/resourcemanager/elasticsan/armelasticsan/models_serde.go
  sdk/resourcemanager/elasticsan/armelasticsan/operations_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/operations_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/options.go
  sdk/resourcemanager/elasticsan/armelasticsan/privateendpointconnections_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/privatelinkresources_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/privatelinkresources_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/responses.go
  sdk/resourcemanager/elasticsan/armelasticsan/skus_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/skus_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/time_rfc3339.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumegroups_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumegroups_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumes_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumes_client_example_test.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumesnapshots_client.go
  sdk/resourcemanager/elasticsan/armelasticsan/volumesnapshots_client_example_test.go
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/containerregistry/armcontainerregistry/assets.json
  sdk/resourcemanager/containerregistry/armcontainerregistry/containerregistry_build_live_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/containerregistry_live_test.go
  sdk/resourcemanager/containerregistry/armcontainerregistry/operations_live_test.go
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/redisenterprise/armredisenterprise/assets.json
  sdk/resourcemanager/redisenterprise/armredisenterprise/operations_live_test.go
Due: eng/pipelines/pullrequest.yml

prep for release stg97 GA - blob and files
  sdk/data/aztables/testdata/perf/go.mod
  sdk/data/aztables/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

Go mod tidy perf tests
  sdk/data/aztables/testdata/perf/go.mod
  sdk/data/aztables/testdata/perf/go.sum
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

Upgrade azidentity dependencies
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
Due: eng/pipelines/pullrequest.yml

Upgrade azidentity dependencies (#24474)
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
Due: eng/pipelines/pullrequest.yml
