Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Review feedback, fail safe on git diff issues
  eng/common/pipelines/templates/steps/verify-codeowners-sections.yml
  eng/common/scripts/Test-CodeownersSections.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

UI, shared code, pwsh improvements
  eng/common/pipelines/templates/steps/verify-codeowners-sections.yml
  eng/common/scripts/Test-CodeownersSections.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

eng/common changes to block edits to CODEOWNERS
  eng/common/pipelines/templates/steps/install-azsdk-cli.yml
  eng/common/pipelines/templates/steps/verify-codeowners-sections.yml
  eng/common/scripts/Test-CodeownersSections.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/powerplatform/armpowerplatform/0.4.0 generation from spec commit: f9a6f43ddbae5c7bbaa40a9de20a128013d09e60
  sdk/resourcemanager/powerplatform/armpowerplatform/CHANGELOG.md
  sdk/resourcemanager/powerplatform/armpowerplatform/accounts_client.go
  sdk/resourcemanager/powerplatform/armpowerplatform/accounts_client_example_test.go
  sdk/resourcemanager/powerplatform/armpowerplatform/autorest.md
  sdk/resourcemanager/powerplatform/armpowerplatform/client_factory.go
  sdk/resourcemanager/powerplatform/armpowerplatform/constants.go
  sdk/resourcemanager/powerplatform/armpowerplatform/enterprisepolicies_client.go
  sdk/resourcemanager/powerplatform/armpowerplatform/enterprisepolicies_client_example_test.go
  sdk/resourcemanager/powerplatform/armpowerplatform/fake/accounts_server.go
  sdk/resourcemanager/powerplatform/armpowerplatform/fake/enterprisepolicies_server.go
  sdk/resourcemanager/powerplatform/armpowerplatform/fake/internal.go
  sdk/resourcemanager/powerplatform/armpowerplatform/fake/operations_server.go
  sdk/resourcemanager/powerplatform/armpowerplatform/fake/privateendpointconnections_server.go
  sdk/resourcemanager/powerplatform/armpowerplatform/fake/privatelinkresources_server.go
  sdk/resourcemanager/powerplatform/armpowerplatform/fake/server_factory.go
  sdk/resourcemanager/powerplatform/armpowerplatform/fake/time_rfc3339.go
  sdk/resourcemanager/powerplatform/armpowerplatform/go.mod
  sdk/resourcemanager/powerplatform/armpowerplatform/go.sum
  sdk/resourcemanager/powerplatform/armpowerplatform/models.go
  sdk/resourcemanager/powerplatform/armpowerplatform/models_serde.go
  sdk/resourcemanager/powerplatform/armpowerplatform/operations_client.go
  sdk/resourcemanager/powerplatform/armpowerplatform/operations_client_example_test.go
  sdk/resourcemanager/powerplatform/armpowerplatform/options.go
  sdk/resourcemanager/powerplatform/armpowerplatform/privateendpointconnections_client.go
  sdk/resourcemanager/powerplatform/armpowerplatform/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/powerplatform/armpowerplatform/privatelinkresources_client.go
  sdk/resourcemanager/powerplatform/armpowerplatform/privatelinkresources_client_example_test.go
  sdk/resourcemanager/powerplatform/armpowerplatform/responses.go
  sdk/resourcemanager/powerplatform/armpowerplatform/time_rfc3339.go
  sdk/resourcemanager/powerplatform/armpowerplatform/version.go
Due: eng/pipelines/pullrequest.yml

add code
  sdk/resourcemanager/powerplatform/armpowerplatform/CHANGELOG.md
  sdk/resourcemanager/powerplatform/armpowerplatform/accounts_client.go
  sdk/resourcemanager/powerplatform/armpowerplatform/accounts_client_example_test.go
  sdk/resourcemanager/powerplatform/armpowerplatform/autorest.md
  sdk/resourcemanager/powerplatform/armpowerplatform/build.go
  sdk/resourcemanager/powerplatform/armpowerplatform/client_factory.go
  sdk/resourcemanager/powerplatform/armpowerplatform/constants.go
  sdk/resourcemanager/powerplatform/armpowerplatform/enterprisepolicies_client.go
  sdk/resourcemanager/powerplatform/armpowerplatform/enterprisepolicies_client_example_test.go
  sdk/resourcemanager/powerplatform/armpowerplatform/fake/accounts_server.go
  sdk/resourcemanager/powerplatform/armpowerplatform/fake/enterprisepolicies_server.go
  sdk/resourcemanager/powerplatform/armpowerplatform/fake/internal.go
  sdk/resourcemanager/powerplatform/armpowerplatform/fake/operations_server.go
  sdk/resourcemanager/powerplatform/armpowerplatform/fake/privateendpointconnections_server.go
  sdk/resourcemanager/powerplatform/armpowerplatform/fake/privatelinkresources_server.go
  sdk/resourcemanager/powerplatform/armpowerplatform/fake/server_factory.go
  sdk/resourcemanager/powerplatform/armpowerplatform/fake/time_rfc3339.go
  sdk/resourcemanager/powerplatform/armpowerplatform/go.mod
  sdk/resourcemanager/powerplatform/armpowerplatform/go.sum
  sdk/resourcemanager/powerplatform/armpowerplatform/models.go
  sdk/resourcemanager/powerplatform/armpowerplatform/models_serde.go
  sdk/resourcemanager/powerplatform/armpowerplatform/operations_client.go
  sdk/resourcemanager/powerplatform/armpowerplatform/operations_client_example_test.go
  sdk/resourcemanager/powerplatform/armpowerplatform/options.go
  sdk/resourcemanager/powerplatform/armpowerplatform/privateendpointconnections_client.go
  sdk/resourcemanager/powerplatform/armpowerplatform/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/powerplatform/armpowerplatform/privatelinkresources_client.go
  sdk/resourcemanager/powerplatform/armpowerplatform/privatelinkresources_client_example_test.go
  sdk/resourcemanager/powerplatform/armpowerplatform/responses.go
  sdk/resourcemanager/powerplatform/armpowerplatform/testdata/_metadata.json
  sdk/resourcemanager/powerplatform/armpowerplatform/time_rfc3339.go
  sdk/resourcemanager/powerplatform/armpowerplatform/tsp-location.yaml
  sdk/resourcemanager/powerplatform/armpowerplatform/version.go
Due: eng/pipelines/pullrequest.yml

Fix build failure
  sdk/messaging/azwebpubsub/client_shared_test.go
Due: eng/pipelines/pullrequest.yml

add code
  sdk/resourcemanager/databoundaries/armdataboundaries/CHANGELOG.md
  sdk/resourcemanager/databoundaries/armdataboundaries/README.md
  sdk/resourcemanager/databoundaries/armdataboundaries/autorest.md
  sdk/resourcemanager/databoundaries/armdataboundaries/build.go
  sdk/resourcemanager/databoundaries/armdataboundaries/client.go
  sdk/resourcemanager/databoundaries/armdataboundaries/client_example_test.go
  sdk/resourcemanager/databoundaries/armdataboundaries/client_factory.go
  sdk/resourcemanager/databoundaries/armdataboundaries/constants.go
  sdk/resourcemanager/databoundaries/armdataboundaries/fake/internal.go
  sdk/resourcemanager/databoundaries/armdataboundaries/fake/operations_server.go
  sdk/resourcemanager/databoundaries/armdataboundaries/fake/server.go
  sdk/resourcemanager/databoundaries/armdataboundaries/fake/server_factory.go
  sdk/resourcemanager/databoundaries/armdataboundaries/fake/time_rfc3339.go
  sdk/resourcemanager/databoundaries/armdataboundaries/go.mod
  sdk/resourcemanager/databoundaries/armdataboundaries/go.sum
  sdk/resourcemanager/databoundaries/armdataboundaries/models.go
  sdk/resourcemanager/databoundaries/armdataboundaries/models_serde.go
  sdk/resourcemanager/databoundaries/armdataboundaries/operations_client.go
  sdk/resourcemanager/databoundaries/armdataboundaries/operations_client_example_test.go
  sdk/resourcemanager/databoundaries/armdataboundaries/options.go
  sdk/resourcemanager/databoundaries/armdataboundaries/responses.go
  sdk/resourcemanager/databoundaries/armdataboundaries/testdata/_metadata.json
  sdk/resourcemanager/databoundaries/armdataboundaries/time_rfc3339.go
  sdk/resourcemanager/databoundaries/armdataboundaries/tsp-location.yaml
  sdk/resourcemanager/databoundaries/armdataboundaries/version.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/databoundaries/armdataboundaries/1.0.0 generation from spec commit: f9a6f43ddbae5c7bbaa40a9de20a128013d09e60
  sdk/resourcemanager/databoundaries/armdataboundaries/CHANGELOG.md
  sdk/resourcemanager/databoundaries/armdataboundaries/README.md
  sdk/resourcemanager/databoundaries/armdataboundaries/autorest.md
  sdk/resourcemanager/databoundaries/armdataboundaries/client.go
  sdk/resourcemanager/databoundaries/armdataboundaries/client_example_test.go
  sdk/resourcemanager/databoundaries/armdataboundaries/client_factory.go
  sdk/resourcemanager/databoundaries/armdataboundaries/constants.go
  sdk/resourcemanager/databoundaries/armdataboundaries/fake/internal.go
  sdk/resourcemanager/databoundaries/armdataboundaries/fake/operations_server.go
  sdk/resourcemanager/databoundaries/armdataboundaries/fake/server.go
  sdk/resourcemanager/databoundaries/armdataboundaries/fake/server_factory.go
  sdk/resourcemanager/databoundaries/armdataboundaries/fake/time_rfc3339.go
  sdk/resourcemanager/databoundaries/armdataboundaries/go.mod
  sdk/resourcemanager/databoundaries/armdataboundaries/go.sum
  sdk/resourcemanager/databoundaries/armdataboundaries/operations_client.go
  sdk/resourcemanager/databoundaries/armdataboundaries/operations_client_example_test.go
  sdk/resourcemanager/databoundaries/armdataboundaries/time_rfc3339.go
  sdk/resourcemanager/databoundaries/armdataboundaries/version.go
Due: eng/pipelines/pullrequest.yml

update autorest
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated_blob/autorest.md
Due: eng/pipelines/pullrequest.yml

update streaming encoder/decoder
  sdk/storage/azblob/internal/shared/structured_message.go
  sdk/storage/azblob/internal/shared/structured_message_test.go
Due: eng/pipelines/pullrequest.yml

remove build comments
  sdk/storage/azblob/internal/shared/structured_message.go
Due: eng/pipelines/pullrequest.yml

Release 0.1.1 (#26375)
  sdk/messaging/azwebpubsub/CHANGELOG.md
  sdk/messaging/azwebpubsub/client_shared_test.go
Due: eng/pipelines/pullrequest.yml

Update deps for azotel
  sdk/tracing/azotel/go.mod
  sdk/tracing/azotel/go.sum
Due: eng/pipelines/pullrequest.yml

Update deps for azotel (#26386)
  sdk/tracing/azotel/go.mod
  sdk/tracing/azotel/go.sum
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 14661 (#26374)
  eng/common/pipelines/templates/steps/install-azsdk-cli.yml
  eng/common/pipelines/templates/steps/verify-codeowners-sections.yml
  eng/common/scripts/Test-CodeownersSections.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

apply diagnostic string to v1.4.2
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_database.go
  sdk/data/azcosmos/cosmos_query_response.go
  sdk/data/azcosmos/cosmos_response.go
  sdk/data/azcosmos/diagnostics.go
  sdk/data/azcosmos/diagnostics_test.go
  sdk/data/azcosmos/trace.go
  sdk/data/azcosmos/trace_data.go
  sdk/data/azcosmos/trace_json_writer.go
Due: none

Remove alwaysAuth (#26387)
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of messaging/azwebpubsub
  sdk/messaging/azwebpubsub/CHANGELOG.md
  sdk/messaging/azwebpubsub/internal/version.go
Due: eng/pipelines/pullrequest.yml

Apply suggestions from code review
  eng/common/scripts/azsdk_tool_telemetry.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update generation.go
  eng/tools/generator/cmd/v2/common/generation.go
Due: eng/pipelines/pullrequest.yml

add parameter constant breaking
  documentation/development/breaking-changes/sdk-breaking-changes-guide-migration.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix build.go deletion logic for ARM packages
  eng/tools/generator/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

chore: upgrade emitter and TypeSpec packages to latest versions (#26395)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of messaging/azwebpubsub (#26391)
  sdk/messaging/azwebpubsub/CHANGELOG.md
  sdk/messaging/azwebpubsub/internal/version.go
Due: eng/pipelines/pullrequest.yml

Do not delete build.go for data plane packages during TypeSpec migration (#26394)
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/cmd/v2/common/generation.go
Due: eng/pipelines/pullrequest.yml

changes
  sdk/storage/azblob/appendblob/models.go
  sdk/storage/azblob/blob/utils.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/pageblob/models.go
Due: eng/pipelines/pullrequest.yml

updating recordings
  sdk/storage/azblob/assets.json
Due: eng/pipelines/pullrequest.yml

update readme
  sdk/resourcemanager/applink/armapplink/README.md
Due: eng/pipelines/pullrequest.yml

format specifier as per build comments
  sdk/storage/azblob/internal/shared/structured_message.go
Due: eng/pipelines/pullrequest.yml

SMEncoder: add Seek(0, SeekEnd) and Seek(0, SeekCurrent) for ValidateSeekableStreamAt0AndGetCount compatibility
  sdk/storage/azblob/internal/shared/structured_message.go
  sdk/storage/azblob/internal/shared/structured_message_test.go
Due: eng/pipelines/pullrequest.yml
