Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Implement MSAL's ClientConfigurer for Service Fabric
  sdk/azidentity/BREAKING_CHANGES.md
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/README.md
  sdk/azidentity/TROUBLESHOOTING.md
  sdk/azidentity/configurable_client.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/managed_identity_credential_test.go
Due: eng/pipelines/pullrequest.yml

cleanup
  sdk/azidentity/README.md
  sdk/azidentity/TROUBLESHOOTING.md
  sdk/azidentity/managed_identity_credential_test.go
Due: eng/pipelines/pullrequest.yml

remove lint
  sdk/azidentity/managed_identity_credential_test.go
Due: eng/pipelines/pullrequest.yml

Implement MSAL's ClientConfigurer for Service Fabric (#27685)
  sdk/azidentity/BREAKING_CHANGES.md
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/README.md
  sdk/azidentity/TROUBLESHOOTING.md
  sdk/azidentity/configurable_client.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/managed_identity_client.go
  sdk/azidentity/managed_identity_credential.go
  sdk/azidentity/managed_identity_credential_test.go
Due: eng/pipelines/pullrequest.yml

Replace former CODEOWNERS with Azure SDK engineering team (#27677)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[azdatalake] Harden list paths pager live tests (#27684)
  sdk/storage/azdatalake/filesystem/client_test.go
Due: eng/pipelines/pullrequest.yml

[azdatalake] Prepare v1.6.1 release
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Remove beta reference from CHANGELOG
  sdk/storage/azdatalake/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[azdatalake] Prepare v1.6.1 release (#27686)
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azfile
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Regenerate azblob clients from the combined STG105 TypeSpec
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_models_serde.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_responses.go
  sdk/storage/azblob/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Added support for session (#27292)
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_session_test.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/common.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_internal_test.go
  sdk/storage/azblob/container/export_test.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/base/clients_session_test.go
  sdk/storage/azblob/internal/base/session_provider_container.go
  sdk/storage/azblob/internal/base/session_provider_container_test.go
  sdk/storage/azblob/internal/exported/session.go
  sdk/storage/azblob/internal/exported/session_policy.go
  sdk/storage/azblob/internal/exported/session_policy_test.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/internal/shared/shared_test.go
  sdk/storage/azblob/internal/testcommon/common.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/service/client.go
Due: eng/pipelines/pullrequest.yml

Added support for data locality (#27352)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_layout_session_apis_test.go
  sdk/storage/azblob/blob/client_layout_session_test.go
  sdk/storage/azblob/blob/client_layout_test.go
  sdk/storage/azblob/blob/client_session_apis_test.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/layout.go
  sdk/storage/azblob/blob/layout_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/responses.go
  sdk/storage/azblob/blob/retry_reader_layout_test.go
  sdk/storage/azblob/blob/utils.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/client_test.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/base/session_provider_container.go
  sdk/storage/azblob/internal/base/session_provider_container_test.go
  sdk/storage/azblob/internal/exported/session.go
  sdk/storage/azblob/internal/generated/responses.go
  sdk/storage/azblob/internal/shared/layout_policy.go
  sdk/storage/azblob/internal/shared/layout_policy_test.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/pageblob/client.go
Due: eng/pipelines/pullrequest.yml

Updates to session provider and error handling (#27451)
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/exported/log_events.go
  sdk/storage/azblob/log.go
Due: eng/pipelines/pullrequest.yml

Gate GetLayout on the download hint, and document the flow
  sdk/storage/azblob/DOWNLOAD_FLOW.md
  sdk/storage/azblob/blob/client_layout_test.go
Due: eng/pipelines/pullrequest.yml

Record the two ListBlobs startFrom tests
  sdk/storage/azblob/assets.json
Due: eng/pipelines/pullrequest.yml

Point tsp-location at the trimmed STG105 specification
  sdk/storage/azblob/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Compare session expiry as an instant in TestAcquireSession_Success
  sdk/storage/azblob/internal/base/session_provider_container_test.go
Due: eng/pipelines/pullrequest.yml

Target service version 2027-03-07 for STG105
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azblob/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[storage/internal] Add autorefresh cache for STG105 sessions and layouts
  sdk/storage/internal/autorefresh/cache.go
  sdk/storage/internal/autorefresh/cache_test.go
Due: eng/pipelines/pullrequest.yml

[storage/internal] Add locality policy shared by azblob and azdatalake
  sdk/storage/internal/CHANGELOG.md
  sdk/storage/internal/go.mod
  sdk/storage/internal/go.sum
  sdk/storage/internal/locality/policy.go
  sdk/storage/internal/locality/policy_test.go
  sdk/storage/internal/version.go
Due: eng/pipelines/pullrequest.yml

[azblob] Align session authentication with the STG105 public preview
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_layout_session_apis_test.go
  sdk/storage/azblob/blob/client_session_apis_test.go
  sdk/storage/azblob/blob/client_session_test.go
  sdk/storage/azblob/common.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/base/clients_session_test.go
  sdk/storage/azblob/internal/base/session_provider_container.go
  sdk/storage/azblob/internal/base/session_provider_container_test.go
  sdk/storage/azblob/internal/exported/session.go
  sdk/storage/azblob/internal/exported/session_policy.go
  sdk/storage/azblob/internal/exported/session_policy_test.go
  sdk/storage/azblob/internal/exported/session_provider_test.go
  sdk/storage/azblob/internal/shared/layout_policy.go
  sdk/storage/azblob/internal/shared/layout_policy_test.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/internal/shared/shared_test.go
  sdk/storage/internal/locality/policy.go
  sdk/storage/internal/locality/policy_test.go
Due: eng/pipelines/pullrequest.yml

[azblob] Make data locality opt-in and cache layouts with autorefresh
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/DOWNLOAD_FLOW.md
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_layout_test.go
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blob/layout.go
  sdk/storage/azblob/blob/layout_test.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

[azblob] Sanitize session tokens and keys in recordings
  sdk/storage/azblob/internal/testcommon/common.go
Due: eng/pipelines/pullrequest.yml

[azblob] Check the temp file Close error in the default routing test
  sdk/storage/azblob/blob/client_layout_test.go
Due: eng/pipelines/pullrequest.yml

[azblob] Generate from the official STG105 TypeSpec commit
  sdk/storage/azblob/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

azcosmos: name unsupported checkpoint substatus codes
  sdk/data/azcosmos/container_client_query.go
  sdk/data/azcosmos/errors.go
  sdk/data/azcosmos/query_test.go
Due: none

azcosmos: add retained query paging with shared cursor reactor (#27676)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/azurecosmosdriver.h
  sdk/data/azcosmos/cgo_native.go
  sdk/data/azcosmos/completion_native.go
  sdk/data/azcosmos/container_client_query.go
  sdk/data/azcosmos/cspell.json
  sdk/data/azcosmos/cursor_emulator_test.go
  sdk/data/azcosmos/cursor_native.go
  sdk/data/azcosmos/cursor_native_test.go
  sdk/data/azcosmos/cursor_reactor_native.go
  sdk/data/azcosmos/cursor_reactor_native_test.go
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/driver.go
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/driver_native_test.go
  sdk/data/azcosmos/driver_stub.go
  sdk/data/azcosmos/emulator_query_test.go
  sdk/data/azcosmos/errors.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
  sdk/data/azcosmos/operation_native.go
  sdk/data/azcosmos/operation_native_test.go
  sdk/data/azcosmos/operation_options.go
  sdk/data/azcosmos/query.go
  sdk/data/azcosmos/query_contract_emulator_test.go
  sdk/data/azcosmos/query_native.go
  sdk/data/azcosmos/query_native_test.go
  sdk/data/azcosmos/query_test.go
  sdk/data/azcosmos/response.go
Due: none

[azblob] Fail the download on a hard expired-layout refetch error; version 1.9.0
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/DOWNLOAD_FLOW.md
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_layout_test.go
  sdk/storage/azblob/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

azcosmos: suppress cgo lint false positives
  sdk/data/azcosmos/diagnostics_native.go
Due: none

azcosmos: expose native retry diagnostics
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cgo_native.go
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/completion_native.go
  sdk/data/azcosmos/completion_native_test.go
  sdk/data/azcosmos/diagnostics.go
  sdk/data/azcosmos/diagnostics_emulator_test.go
  sdk/data/azcosmos/diagnostics_native.go
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/driver_native_test.go
  sdk/data/azcosmos/errors.go
  sdk/data/azcosmos/errors_test.go
  sdk/data/azcosmos/operation_native.go
  sdk/data/azcosmos/operation_native_test.go
  sdk/data/azcosmos/reactor_native.go
  sdk/data/azcosmos/reactor_native_test.go
  sdk/data/azcosmos/response.go
  sdk/data/azcosmos/retry_native_test.go
Due: none

azcosmos: fix diagnostics-copy masking successful outcomes and propagate response metadata into query errors
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/completion_native.go
  sdk/data/azcosmos/completion_native_test.go
  sdk/data/azcosmos/container_client_query.go
  sdk/data/azcosmos/diagnostics_native.go
  sdk/data/azcosmos/query_test.go
Due: none

azcosmos: add ClientOptions.DiagnosticsVerbosity; fix EventDiagnostics build tag and query error metadata backfill
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/completion_native.go
  sdk/data/azcosmos/completion_native_test.go
  sdk/data/azcosmos/container_client_query.go
  sdk/data/azcosmos/diagnostics.go
  sdk/data/azcosmos/diagnostics_emulator_test.go
  sdk/data/azcosmos/diagnostics_native.go
  sdk/data/azcosmos/diagnostics_native_test.go
  sdk/data/azcosmos/diagnostics_test.go
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/driver_native_test.go
  sdk/data/azcosmos/query_native.go
  sdk/data/azcosmos/query_test.go
  sdk/data/azcosmos/reactor_native.go
  sdk/data/azcosmos/reactor_native_test.go
Due: none

azcosmos: fix race that could report an already-completed operation as cancelled
  sdk/data/azcosmos/operation_native.go
  sdk/data/azcosmos/operation_native_test.go
  sdk/data/azcosmos/reactor_native.go
  sdk/data/azcosmos/reactor_native_test.go
Due: none

azcosmos: render diagnostics JSON at SUMMARY verbosity instead of hardcoded DETAILED
  sdk/data/azcosmos/diagnostics.go
  sdk/data/azcosmos/diagnostics_native.go
Due: none

azcosmos: fix query error metadata gate, emulator test id mismatch, and stale README verbosity wording
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/container_client_query.go
  sdk/data/azcosmos/diagnostics_emulator_test.go
  sdk/data/azcosmos/query_test.go
Due: none

[azblob] Pin tsp-location to Azure/azure-rest-api-specs@cc73e45
  sdk/storage/azblob/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[azdatalake] Add STG105 session authentication and data locality
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/common.go
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_session_locality_test.go
  sdk/storage/azdatalake/file/layout.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/responses.go
  sdk/storage/azdatalake/filesystem/client.go
  sdk/storage/azdatalake/internal/base/clients.go
  sdk/storage/azdatalake/internal/exported/version.go
  sdk/storage/azdatalake/service/client.go
Due: eng/pipelines/pullrequest.yml

[azdatalake] Version 1.7.0 for STG105 GA
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
