Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

fix missing update for the pool variable
  eng/pipelines/templates/jobs/archetype-go-release.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Storage][azqueue] Deprecate existing QueueProperties.ApproximateMessagesCount and convert int32 to int64 (#24815)
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/generated/autorest.md
  sdk/storage/azqueue/internal/generated/zz_queue_client.go
  sdk/storage/azqueue/internal/generated/zz_response_types.go
  sdk/storage/azqueue/queue_client_test.go
Due: eng/pipelines/pullrequest.yml

add deepseek reasoning samples
  sdk/ai/azopenai/example_deepseek_r1_chat_test.go
Due: eng/pipelines/pullrequest.yml

format fixes
  sdk/ai/azopenai/example_deepseek_r1_chat_test.go
Due: eng/pipelines/pullrequest.yml

stg99 preview release prep
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

mod tidy
  sdk/storage/azqueue/go.sum
Due: eng/pipelines/pullrequest.yml

Enable selecting specific credentials for DefaultAzureCredential (#24812)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/TROUBLESHOOTING.md
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/environment_credential.go
Due: eng/pipelines/pullrequest.yml

add full text policy properties and test
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container_properties.go
  sdk/data/azcosmos/cosmos_container_properties_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
  sdk/data/azcosmos/full_text_policy.go
  sdk/data/azcosmos/indexing_policy.go
Due: none

changelog fixup
  sdk/data/azcosmos/CHANGELOG.md
Due: none

remove extraneous logging from full text test
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Revised PartitionKeyRange struct formatting
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/cosmos_partition_key_range_response.go
  sdk/data/azcosmos/cosmos_partition_key_range_response_test.go
Due: none

Expanded unit tests for pkrange response properties
  sdk/data/azcosmos/cosmos_partition_key_range_response_test.go
Due: none

cosmos: enable support for creating containers with vector and full-text policies (#24833)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container_properties.go
  sdk/data/azcosmos/cosmos_container_properties_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
  sdk/data/azcosmos/full_text_policy.go
  sdk/data/azcosmos/indexing_policy.go
  sdk/data/azcosmos/vector_embedding_policy.go
Due: none

Revised "_lsn" to "lsn" to match JSON
  sdk/data/azcosmos/cosmos_partition_key_range_response_test.go
Due: none

Refactored PartitionKeyRange to PartitionKeyRangeProperties
  sdk/data/azcosmos/cosmos_partition_key_range_properties.go
  sdk/data/azcosmos/cosmos_partition_key_range_response.go
Due: none

Wrote and conducted unit tests for PartitionKeyRangeProperties
  sdk/data/azcosmos/cosmos_partition_key_range_properties_test.go
Due: none

Update pool for sdl stage
  eng/pipelines/templates/stages/1es-redirect.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Added a test in emulator_cosmos_container_test.go that creates a container, get the PK ranges, and validates MinInclusive and MaxExclusive
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Update pool for sdl stage (#24844)
  eng/pipelines/templates/stages/1es-redirect.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10969 (#24834)
  eng/common/mcp/azure-sdk-mcp.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix path in mcp installer
  eng/common/mcp/azure-sdk-mcp.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

cosmos: enable support for creating containers with vector and full-text policies (#24833) (#24843)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container_properties.go
  sdk/data/azcosmos/cosmos_container_properties_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
  sdk/data/azcosmos/full_text_policy.go
  sdk/data/azcosmos/indexing_policy.go
  sdk/data/azcosmos/vector_embedding_policy.go
Due: none

Add deepseek-r1 reasoning chat samples (#24840)
  sdk/ai/azopenai/example_deepseek_r1_chat_test.go
Due: eng/pipelines/pullrequest.yml

upgrade tcgc
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

go mod tidy
  sdk/storage/azblob/go.sum
Due: eng/pipelines/pullrequest.yml

upgrade tcgc to 0.57.2 (#24849)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

revert tcgc version
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

revert tcgc version to 0.57.1(#24850)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10990 (#24846)
  eng/common/pipelines/codeowners-linter.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix path in mcp installer (#24845)
  eng/common/mcp/azure-sdk-mcp.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Updating to latest commit.
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml
