Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Release azblob v1.8.1
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

azcosmos: preserve waiter cancellation causes
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/driver_native_test.go
Due: none

Add azcosmos v2 agent guidance
  sdk/data/azcosmos/AGENTS.md
Due: none

Suppress session-unavailable failover when endpoint discovery is disabled
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
Due: none

fix: preserve session example cleanup
  sdk/messaging/azservicebus/example_session_receiver_test.go
Due: eng/pipelines/pullrequest.yml

fix param remappings
  sdk/storage/azblob/appendblob/models.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/lease/models.go
  sdk/storage/azblob/pageblob/models.go
  sdk/storage/azblob/service/models.go
Due: eng/pipelines/pullrequest.yml

fix: address batch delete release feedback
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/receiver_unit_test.go
Due: eng/pipelines/pullrequest.yml

Address native driver review findings
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cgo_handle_native.go
  sdk/data/azcosmos/cgo_handle_native_test.go
  sdk/data/azcosmos/cgo_native.go
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/completion_native.go
  sdk/data/azcosmos/container_client_item.go
  sdk/data/azcosmos/container_client_item_test.go
  sdk/data/azcosmos/convert_native_test.go
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/driver_native_test.go
  sdk/data/azcosmos/driver_stub.go
  sdk/data/azcosmos/emulator_test.go
  sdk/data/azcosmos/errors.go
  sdk/data/azcosmos/errors_test.go
  sdk/data/azcosmos/internal/native/lib/README.md
  sdk/data/azcosmos/item_request.go
  sdk/data/azcosmos/operation_native.go
  sdk/data/azcosmos/operation_native_test.go
  sdk/data/azcosmos/reactor_native.go
  sdk/data/azcosmos/routing_strategy.go
  sdk/data/azcosmos/token_credential_native.go
Due: none

address breaking changes
  sdk/storage/azdatalake/directory/client.go
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/responses.go
  sdk/storage/azdatalake/internal/generated/responses.go
  sdk/storage/azdatalake/internal/generated/tsp-location.yaml
  sdk/storage/azdatalake/internal/generated/zz_models.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_responses.go
  sdk/storage/azdatalake/internal/generated_blob/tsp-location.yaml
  sdk/storage/azdatalake/internal/path/responses.go
  sdk/storage/azdatalake/internal/testcommon/common.go
Due: eng/pipelines/pullrequest.yml

use time.Sleep in examples
  sdk/storage/azdatalake/file/examples_test.go
Due: eng/pipelines/pullrequest.yml

allow relative links in internal docs
  eng/common/scripts/allow-relative-links.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Regenerate Network with TypeSpec PR 5176
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/resourcemanager/internal/testutil/helper.go
  sdk/resourcemanager/network/armnetwork/client_factory.go
  sdk/resourcemanager/network/armnetwork/fake/interfaces_server.go
  sdk/resourcemanager/network/armnetwork/fake/publicipaddresses_server.go
  sdk/resourcemanager/network/armnetwork/fake/server_factory.go
  sdk/resourcemanager/network/armnetwork/fake/vmssnetworkinterfaces_server.go
  sdk/resourcemanager/network/armnetwork/fake/vmsspublicipaddresses_server.go
  sdk/resourcemanager/network/armnetwork/interfaces_client.go
  sdk/resourcemanager/network/armnetwork/options.go
  sdk/resourcemanager/network/armnetwork/publicipaddresses_client.go
  sdk/resourcemanager/network/armnetwork/responses.go
  sdk/resourcemanager/network/armnetwork/testdata/_metadata.json
  sdk/resourcemanager/network/armnetwork/tsp-location.yaml
  sdk/resourcemanager/network/armnetwork/vmssnetworkinterfaces_client.go
  sdk/resourcemanager/network/armnetwork/vmsspublicipaddresses_client.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add azcosmos v2 agent guidance (#27519)
  sdk/data/azcosmos/AGENTS.md
Due: none

[azcosmos] Add PR link to CHANGELOG entry
  sdk/data/azcosmos/CHANGELOG.md
Due: none

docs: clarify container registry token requirement change
  sdk/resourcemanager/containerregistry/armcontainerregistry/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Prepare azblob v1.8.1 release
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Prepare azblob v1.8.1 release (#27532)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azblob
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Upgrade emitter package versions (#27537)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools repository for Tools PR 16976
  eng/common/pipelines/templates/steps/verify-codeowners-sections.yml
  eng/common/pipelines/templates/steps/verify-codeowners.yml
  eng/common/scripts/Test-CodeownersForArtifacts.ps1
  eng/common/scripts/Test-CodeownersSections.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update code owner
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[App Configuration] audience auto detect (#27479)
  sdk/data/azappconfig/CHANGELOG.md
  sdk/data/azappconfig/client.go
  sdk/data/azappconfig/cloud_test.go
Due: eng/pipelines/pullrequest.yml

Use package name instead of artifact name to update release status in release plan
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Use case-insensitive comparer for package dictionary
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Updated to prefer groupId lookup when groupId is present
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Updated as per review suggestion to consider group ID
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Rename Validate-All-Packages.ps1 to Update-Package-WorkItems.ps1
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Update-Package-WorkItems.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Limit package work item change to display name
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Validate-All-Packages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add dataLocation to Azure US Government JSON
  eng/common/TestResources/clouds/AzureUSGovernment.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azcosmos: prove Windows driver module integration
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/azurecosmosdriver.h
  sdk/data/azcosmos/cgo_handle_native.go
  sdk/data/azcosmos/cgo_handle_native_test.go
  sdk/data/azcosmos/cgo_native.go
  sdk/data/azcosmos/completion_native.go
  sdk/data/azcosmos/completion_native_test.go
  sdk/data/azcosmos/convert_native.go
  sdk/data/azcosmos/convert_native_test.go
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/driver_native_test.go
  sdk/data/azcosmos/driver_stub.go
  sdk/data/azcosmos/emulator_test.go
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
  sdk/data/azcosmos/internal/native/lib/README.md
  sdk/data/azcosmos/internal/native/windowsamd64/link.go
  sdk/data/azcosmos/internal/native/windowsamd64/token_provider.c
  sdk/data/azcosmos/link_windows_amd64.go
  sdk/data/azcosmos/link_windows_amd64_test.go
  sdk/data/azcosmos/operation_native.go
  sdk/data/azcosmos/operation_native_test.go
  sdk/data/azcosmos/reactor_native.go
  sdk/data/azcosmos/reactor_native_test.go
  sdk/data/azcosmos/token_credential_native.go
Due: none

Revert pipeline generator version bump
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove live test
  sdk/resourcemanager/deviceregistry/armdeviceregistry/credentialsandpolicies_live_test.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/go.mod
  sdk/resourcemanager/deviceregistry/armdeviceregistry/go.sum
  sdk/resourcemanager/deviceregistry/armdeviceregistry/utils_test.go
Due: eng/pipelines/pullrequest.yml

Match ExcludePaths by explicit path semantics
  eng/common/scripts/Generate-PR-Diff.ps1
  eng/common/scripts/Helpers/Path-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml
