Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

install doc-warden from the feed, instead of possibly hitting wonky permissions issues going to pypi
  eng/common/scripts/Verify-Readme.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Dynamic User Delegation SAS (#26487)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/sas/query_params.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/sas/service_test.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/sas/query_params.go
  sdk/storage/azdatalake/sas/service.go
  sdk/storage/azdatalake/sas/service_test.go
  sdk/storage/azdatalake/service/client_test.go
Due: eng/pipelines/pullrequest.yml

murmurhash and constants
  sdk/data/azcosmos/internal/rntbd/constants.go
  sdk/data/azcosmos/internal/rntbd/constants_test.go
  sdk/data/azcosmos/internal/rntbd/murmurhash.go
  sdk/data/azcosmos/internal/rntbd/murmurhash_test.go
Due: none

frames and tokens
  sdk/data/azcosmos/internal/rntbd/errors.go
  sdk/data/azcosmos/internal/rntbd/frame.go
  sdk/data/azcosmos/internal/rntbd/frame_test.go
  sdk/data/azcosmos/internal/rntbd/token.go
  sdk/data/azcosmos/internal/rntbd/token_test.go
Due: none

context & token fix
  sdk/data/azcosmos/internal/rntbd/context.go
  sdk/data/azcosmos/internal/rntbd/context_test.go
  sdk/data/azcosmos/internal/rntbd/token.go
Due: none

address resolver, connection pooling, session tokens
  sdk/data/azcosmos/internal/epk/partition_key_internal.go
  sdk/data/azcosmos/internal/epk/partition_key_internal_test.go
  sdk/data/azcosmos/internal/rntbd/address_information.go
  sdk/data/azcosmos/internal/rntbd/address_resolver.go
  sdk/data/azcosmos/internal/rntbd/address_resolver_test.go
  sdk/data/azcosmos/internal/rntbd/address_selector.go
  sdk/data/azcosmos/internal/rntbd/address_selector_test.go
  sdk/data/azcosmos/internal/rntbd/connection.go
  sdk/data/azcosmos/internal/rntbd/connection_test.go
  sdk/data/azcosmos/internal/rntbd/errors.go
  sdk/data/azcosmos/internal/rntbd/global_endpoint_manager.go
  sdk/data/azcosmos/internal/rntbd/global_endpoint_manager_test.go
  sdk/data/azcosmos/internal/rntbd/pool.go
  sdk/data/azcosmos/internal/rntbd/pool_test.go
  sdk/data/azcosmos/internal/rntbd/retry_policy.go
  sdk/data/azcosmos/internal/rntbd/retry_policy_test.go
  sdk/data/azcosmos/internal/rntbd/session_container.go
  sdk/data/azcosmos/internal/rntbd/session_container_test.go
  sdk/data/azcosmos/internal/rntbd/session_token.go
  sdk/data/azcosmos/internal/rntbd/session_token_test.go
  sdk/data/azcosmos/internal/rntbd/timeout_helper.go
  sdk/data/azcosmos/internal/rntbd/timeout_helper_test.go
  sdk/data/azcosmos/internal/rntbd/web_exception_utility.go
  sdk/data/azcosmos/internal/rntbd/web_exception_utility_test.go
Due: none

top-level options
  sdk/data/azcosmos/connection_mode.go
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_options.go
  sdk/data/azcosmos/direct_mode_transport.go
  sdk/data/azcosmos/internal/rntbd/constants.go
  sdk/data/azcosmos/internal/rntbd/constants_test.go
  sdk/data/azcosmos/internal/rntbd/frame.go
  sdk/data/azcosmos/internal/rntbd/request_builder.go
  sdk/data/azcosmos/internal/rntbd/request_builder_test.go
  sdk/data/azcosmos/internal/rntbd/response_parser.go
  sdk/data/azcosmos/internal/rntbd/response_parser_test.go
  sdk/data/azcosmos/internal/rntbd/service_request.go
Due: none

tests, headers, docs, everything else
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_headers_policy.go
  sdk/data/azcosmos/cosmos_http_constants.go
  sdk/data/azcosmos/direct_mode_routing.go
  sdk/data/azcosmos/direct_mode_transport.go
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/emulator_direct_mode_integration_test.go
  sdk/data/azcosmos/emulator_direct_mode_test.go
  sdk/data/azcosmos/emulator_tests.go
  sdk/data/azcosmos/example_test.go
  sdk/data/azcosmos/gateway_routing_test.go
  sdk/data/azcosmos/internal/rntbd/constants.go
  sdk/data/azcosmos/internal/rntbd/constants_test.go
  sdk/data/azcosmos/internal/rntbd/errors.go
  sdk/data/azcosmos/internal/rntbd/frame.go
  sdk/data/azcosmos/internal/rntbd/request_builder.go
  sdk/data/azcosmos/internal/rntbd/request_builder_test.go
  sdk/data/azcosmos/internal/rntbd/retry_policy.go
  sdk/data/azcosmos/internal/rntbd/retry_policy_test.go
  sdk/data/azcosmos/internal/rntbd/service_request.go
  sdk/data/azcosmos/partition_key_header_test.go
  sdk/data/azcosmos/resource_type.go
Due: none

fix(security/storage): Fix challenge policy tenant ID extraction for DSTSv2 authority URIs
  sdk/security/keyvault/internal/CHANGELOG.md
  sdk/security/keyvault/internal/challenge_policy.go
  sdk/security/keyvault/internal/challenge_policy_test.go
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/shared/challenge_policy.go
  sdk/storage/azblob/internal/shared/challenge_policy_test.go
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/shared/challenge_policy.go
  sdk/storage/azdatalake/internal/shared/challenge_policy_test.go
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/internal/shared/challenge_policy.go
  sdk/storage/azqueue/internal/shared/challenge_policy_test.go
Due: eng/pipelines/pullrequest.yml

lint
  sdk/data/azcosmos/direct_mode_transport.go
  sdk/data/azcosmos/emulator_direct_mode_integration_test.go
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/internal/rntbd/connection.go
  sdk/data/azcosmos/internal/rntbd/connection_test.go
Due: none

bubble up options
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_options.go
  sdk/data/azcosmos/doc.go
  sdk/data/azcosmos/example_test.go
Due: none

query plan caching
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/direct_mode_transport.go
  sdk/data/azcosmos/emulator_direct_mode_integration_test.go
  sdk/data/azcosmos/query_optimization.go
  sdk/data/azcosmos/query_optimization_test.go
  sdk/data/azcosmos/query_plan_cache.go
  sdk/data/azcosmos/query_plan_cache_test.go
Due: none

Document query plan caching and ODE
  sdk/data/azcosmos/README.md
Due: none

review comments
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/sas/query_params.go
  sdk/storage/azblob/sas/query_params_test.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azdatalake/sas/query_params.go
  sdk/storage/azdatalake/sas/query_params_test.go
  sdk/storage/azdatalake/sas/service.go
  sdk/storage/azdatalake/service/client_test.go
  sdk/storage/azfile/sas/query_params.go
  sdk/storage/azfile/sas/query_params_test.go
  sdk/storage/azfile/sas/service.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azqueue/queue_client_test.go
  sdk/storage/azqueue/sas/query_params.go
  sdk/storage/azqueue/sas/query_params_test.go
  sdk/storage/azqueue/sas/service.go
Due: eng/pipelines/pullrequest.yml

review comments, adding autorest transform
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azdatalake/internal/generated_blob/autorest.md
  sdk/storage/azdatalake/internal/generated_blob/zz_models.go
  sdk/storage/azdatalake/sas/service.go
  sdk/storage/azdatalake/service/client_test.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/sas/service.go
  sdk/storage/azfile/service/client_test.go
  sdk/storage/azqueue/internal/generated/autorest.md
  sdk/storage/azqueue/queue_client_test.go
  sdk/storage/azqueue/sas/service.go
Due: eng/pipelines/pullrequest.yml

changes
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/zz_models.go
  sdk/storage/azqueue/internal/generated/autorest.md
  sdk/storage/azqueue/internal/generated/zz_models.go
Due: eng/pipelines/pullrequest.yml

Add Apache arrow support for ListBlobs - Photon
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/internal/arrow/arrow.go
  sdk/storage/azblob/internal/arrow/arrow_test.go
  sdk/storage/azblob/internal/arrow/bench_test.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_responses.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/pageblob/client.go
Due: eng/pipelines/pullrequest.yml

adding recordings
  sdk/storage/azblob/assets.json
  sdk/storage/azdatalake/assets.json
  sdk/storage/azdatalake/service/client_test.go
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/service/client_test.go
Due: eng/pipelines/pullrequest.yml

update tests
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azdatalake/service/client_test.go
  sdk/storage/azfile/service/client_test.go
Due: eng/pipelines/pullrequest.yml

Add CMS credentials and policies live test for armdeviceregistry
  sdk/resourcemanager/deviceregistry/armdeviceregistry/credentialsandpolicies_live_test.go
  sdk/resourcemanager/deviceregistry/armdeviceregistry/go.mod
  sdk/resourcemanager/deviceregistry/armdeviceregistry/go.sum
  sdk/resourcemanager/deviceregistry/armdeviceregistry/utils_test.go
Due: eng/pipelines/pullrequest.yml

Use existing rust info with narrower variable group specifications
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add rust to prepare-pipelines
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Space
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

address pr feedback
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_response.go
  sdk/data/azcosmos/cosmos_database_response.go
  sdk/data/azcosmos/cosmos_item_response.go
  sdk/data/azcosmos/cosmos_partition_key_range_response.go
  sdk/data/azcosmos/cosmos_query_response.go
  sdk/data/azcosmos/cosmos_transactional_batch_response.go
  sdk/data/azcosmos/diagnostics.go
  sdk/data/azcosmos/diagnostics_test.go
  sdk/data/azcosmos/throughput_response.go
  sdk/data/azcosmos/trace.go
Due: none

update go instruction
  .github/instructions/go-code.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update
  .github/instructions/go-code.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update go mod
  sdk/resourcemanager/deviceregistry/armdeviceregistry/go.mod
  sdk/resourcemanager/deviceregistry/armdeviceregistry/go.sum
Due: eng/pipelines/pullrequest.yml

fix
  eng/tools/generator/cmd/v2/common/generation.go
Due: eng/pipelines/pullrequest.yml

Fix pipeline: skip test proxy in playback mode when no recordings exist
  sdk/resourcemanager/deviceregistry/armdeviceregistry/utils_test.go
Due: eng/pipelines/pullrequest.yml

running tests on immutable storage accounts in playback mode only
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/pageblob/client_test.go
Due: eng/pipelines/pullrequest.yml

lint fix
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/internal/exported/blob_batch.go
  sdk/storage/azblob/pageblob/client_test.go
Due: eng/pipelines/pullrequest.yml

update
  sdk/data/azappconfig/examples_test.go
Due: eng/pipelines/pullrequest.yml

service version update
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/container/client_test.go
  sdk/storage/azblob/internal/arrow/arrow.go
  sdk/storage/azblob/internal/arrow/arrow_test.go
  sdk/storage/azblob/internal/generated/appendblob_client.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/blob_client.go
  sdk/storage/azblob/internal/generated/block_blob_client.go
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/container_client.go
  sdk/storage/azblob/internal/generated/pageblob_client.go
  sdk/storage/azblob/internal/generated/service_client.go
Due: eng/pipelines/pullrequest.yml

Lint fix
  sdk/storage/azblob/internal/exported/blob_batch.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
