Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Switch to azd waza extension and mock executor for CI evals
  .github/skills/azsdk-common-apiview-feedback-resolution/eval.yaml
  .github/skills/azsdk-common-generate-sdk-locally/eval.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/eval.yaml
  .github/skills/azsdk-common-prepare-release-plan/eval.yaml
  .github/skills/azsdk-common-sdk-release/eval.yaml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix eval CI: add model back (required field), make evals non-blocking
  .github/skills/azsdk-common-apiview-feedback-resolution/eval.yaml
  .github/skills/azsdk-common-generate-sdk-locally/eval.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/eval.yaml
  .github/skills/azsdk-common-prepare-release-plan/eval.yaml
  .github/skills/azsdk-common-sdk-release/eval.yaml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add meta-skills and waza eval infrastructure
  .github/skills/azsdk-common-markdown-token-optimizer/SKILL.md
  .github/skills/azsdk-common-markdown-token-optimizer/eval.yaml
  .github/skills/azsdk-common-markdown-token-optimizer/references/ANTI-PATTERNS.md
  .github/skills/azsdk-common-markdown-token-optimizer/references/OPTIMIZATION-PATTERNS.md
  .github/skills/azsdk-common-markdown-token-optimizer/tasks/optimize-basic-001.yaml
  .github/skills/azsdk-common-sensei/README.md
  .github/skills/azsdk-common-sensei/SKILL.md
  .github/skills/azsdk-common-sensei/eval.yaml
  .github/skills/azsdk-common-sensei/references/EXAMPLES.md
  .github/skills/azsdk-common-sensei/references/LOOP.md
  .github/skills/azsdk-common-sensei/references/SCORING.md
  .github/skills/azsdk-common-sensei/references/TOKEN-INTEGRATION.md
  .github/skills/azsdk-common-sensei/tasks/sensei-basic-001.yaml
  .github/skills/azsdk-common-skill-authoring/SKILL.md
  .github/skills/azsdk-common-skill-authoring/eval.yaml
  .github/skills/azsdk-common-skill-authoring/references/CHECKLIST.md
  .github/skills/azsdk-common-skill-authoring/references/REFERENCE-LOADING.md
  .github/skills/azsdk-common-skill-authoring/references/guidelines/README.md
  .github/skills/azsdk-common-skill-authoring/references/guidelines/frontmatter.md
  .github/skills/azsdk-common-skill-authoring/references/guidelines/structure.md
  .github/skills/azsdk-common-skill-authoring/references/guidelines/writing-tips.md
  .github/skills/azsdk-common-skill-authoring/references/token-budgets.md
  .github/skills/azsdk-common-skill-authoring/references/validation/README.md
  .github/skills/azsdk-common-skill-authoring/references/validation/broken-links.md
  .github/skills/azsdk-common-skill-authoring/references/validation/duplicates.md
  .github/skills/azsdk-common-skill-authoring/references/validation/orphaned-refs.md
  .github/skills/azsdk-common-skill-authoring/references/validation/out-of-place.md
  .github/skills/azsdk-common-skill-authoring/references/validation/token-splitting.md
  .github/skills/azsdk-common-skill-authoring/tasks/authoring-basic-001.yaml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix meta-skill names, grader types, add waza evals and CI workflow
  .github/skills/azsdk-common-apiview-feedback-resolution/eval.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/evals/eval.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/evals/trigger_tests.yaml
  .github/skills/azsdk-common-markdown-token-optimizer/SKILL.md
  .github/skills/azsdk-common-markdown-token-optimizer/eval.yaml
  .github/skills/azsdk-common-markdown-token-optimizer/evals/eval.yaml
  .github/skills/azsdk-common-markdown-token-optimizer/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-markdown-token-optimizer/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-markdown-token-optimizer/evals/trigger_tests.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/eval.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/evals/eval.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/evals/trigger_tests.yaml
  .github/skills/azsdk-common-prepare-release-plan/eval.yaml
  .github/skills/azsdk-common-prepare-release-plan/evals/eval.yaml
  .github/skills/azsdk-common-prepare-release-plan/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-prepare-release-plan/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-prepare-release-plan/evals/trigger_tests.yaml
  .github/skills/azsdk-common-sdk-release/eval.yaml
  .github/skills/azsdk-common-sdk-release/evals/eval.yaml
  .github/skills/azsdk-common-sdk-release/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-sdk-release/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-sdk-release/evals/trigger_tests.yaml
  .github/skills/azsdk-common-sensei/SKILL.md
  .github/skills/azsdk-common-sensei/eval.yaml
  .github/skills/azsdk-common-sensei/evals/eval.yaml
  .github/skills/azsdk-common-sensei/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-sensei/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-sensei/evals/trigger_tests.yaml
  .github/skills/azsdk-common-skill-authoring/SKILL.md
  .github/skills/azsdk-common-skill-authoring/eval.yaml
  .github/skills/azsdk-common-skill-authoring/evals/eval.yaml
  .github/skills/azsdk-common-skill-authoring/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-skill-authoring/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-skill-authoring/evals/trigger_tests.yaml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove azsdk-common-report-test-bug skill
  .github/skills/azsdk-common-report-test-bug/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Address copilot-reviewer feedback: fix workflow, skill refs, checklist
  .github/skills/azsdk-common-generate-sdk-locally/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix(evals): align eval configs with GitHub-Copilot-for-Azure pattern
  .github/skills/azsdk-common-apiview-feedback-resolution/eval.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/evals/eval.yaml
  .github/skills/azsdk-common-generate-sdk-locally/eval.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/eval.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/evals/eval.yaml
  .github/skills/azsdk-common-prepare-release-plan/eval.yaml
  .github/skills/azsdk-common-prepare-release-plan/evals/eval.yaml
  .github/skills/azsdk-common-sdk-release/eval.yaml
  .github/skills/azsdk-common-sdk-release/evals/eval.yaml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix(generate-sdk-locally): differentiate tsp-client commands by repo context
  .github/skills/azsdk-common-generate-sdk-locally/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix: remove hardcoded executor/model from eval.yaml for CI compatibility
  .github/skills/azsdk-common-apiview-feedback-resolution/eval.yaml
  .github/skills/azsdk-common-generate-sdk-locally/eval.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/eval.yaml
  .github/skills/azsdk-common-prepare-release-plan/eval.yaml
  .github/skills/azsdk-common-sdk-release/eval.yaml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

sensei: improve compliance - action verbs, body structure, advisories
  .github/skills/azsdk-common-apiview-feedback-resolution/SKILL.md
  .github/skills/azsdk-common-generate-sdk-locally/SKILL.md
  .github/skills/azsdk-common-pipeline-troubleshooting/SKILL.md
  .github/skills/azsdk-common-prepare-release-plan/SKILL.md
  .github/skills/azsdk-common-sdk-release/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

sensei: fix apiview-feedback compliance and body structure
  .github/skills/azsdk-common-apiview-feedback-resolution/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

sensei: improve frontmatter for 5 remaining skills
  .github/skills/azsdk-common-apiview-feedback-resolution/SKILL.md
  .github/skills/azsdk-common-pipeline-troubleshooting/SKILL.md
  .github/skills/azsdk-common-prepare-release-plan/SKILL.md
  .github/skills/azsdk-common-sdk-release/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update skill eval and task schemas for waza v0.21.0
  .github/skills/azsdk-common-apiview-feedback-resolution/eval.yaml
  .github/skills/azsdk-common-generate-sdk-locally/eval.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/eval.yaml
  .github/skills/azsdk-common-prepare-release-plan/eval.yaml
  .github/skills/azsdk-common-sdk-release/eval.yaml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

sensei: fix prepare-release-plan MCP documentation
  .github/skills/azsdk-common-prepare-release-plan/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

sensei: add azure-sdk-mcp: server prefix to all MCP tool references
  .github/skills/azsdk-common-apiview-feedback-resolution/SKILL.md
  .github/skills/azsdk-common-generate-sdk-locally/SKILL.md
  .github/skills/azsdk-common-pipeline-troubleshooting/SKILL.md
  .github/skills/azsdk-common-prepare-release-plan/SKILL.md
  .github/skills/azsdk-common-sdk-release/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

sensei: fix all 7 remaining skills to High compliance
  .github/skills/azsdk-common-generate-sdk-locally/SKILL.md
  .github/skills/azsdk-common-pipeline-troubleshooting/SKILL.md
  .github/skills/azsdk-common-prepare-release-plan/SKILL.md
  .github/skills/azsdk-common-sdk-release/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix: correct eval.yaml format based on local waza v0.21.0 validation
  .github/skills/azsdk-common-apiview-feedback-resolution/eval.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/evals/eval.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/evals/trigger_tests.yaml
  .github/skills/azsdk-common-generate-sdk-locally/eval.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/eval.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/evals/eval.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/evals/trigger_tests.yaml
  .github/skills/azsdk-common-prepare-release-plan/eval.yaml
  .github/skills/azsdk-common-prepare-release-plan/evals/eval.yaml
  .github/skills/azsdk-common-prepare-release-plan/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-prepare-release-plan/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-prepare-release-plan/evals/trigger_tests.yaml
  .github/skills/azsdk-common-sdk-release/eval.yaml
  .github/skills/azsdk-common-sdk-release/evals/eval.yaml
  .github/skills/azsdk-common-sdk-release/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-sdk-release/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-sdk-release/evals/trigger_tests.yaml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix: update eval.yaml tasks format to new waza spec
  .github/skills/azsdk-common-apiview-feedback-resolution/eval.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/evals/eval.yaml
  .github/skills/azsdk-common-generate-sdk-locally/eval.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/eval.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/evals/eval.yaml
  .github/skills/azsdk-common-prepare-release-plan/eval.yaml
  .github/skills/azsdk-common-prepare-release-plan/evals/eval.yaml
  .github/skills/azsdk-common-sdk-release/eval.yaml
  .github/skills/azsdk-common-sdk-release/evals/eval.yaml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

sensei: fix MCP tools table and prerequisites for generate-sdk-locally and pipeline-troubleshooting
  .github/skills/azsdk-common-generate-sdk-locally/SKILL.md
  .github/skills/azsdk-common-pipeline-troubleshooting/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix(pipeline-troubleshooting): add azsdk_package_pack tool for SDK artifact creation
  .github/skills/azsdk-common-pipeline-troubleshooting/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

npm update --before 2026-03-12
  eng/common/spelling/package-lock.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update sdk/resourcemanager/search/armsearch/tsp-location.yaml
  sdk/resourcemanager/search/armsearch/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Apply suggestions from code review
  sdk/resourcemanager/search/armsearch/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

integration tests
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/client_test.go
Due: eng/pipelines/pullrequest.yml

lint
  sdk/storage/azblob/container/client_test.go
Due: eng/pipelines/pullrequest.yml

Regenerated and added methods to blob clients
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_responses.go
  sdk/storage/azblob/internal/testcommon/clients_auth.go
  sdk/storage/azblob/pageblob/client.go
Due: eng/pipelines/pullrequest.yml

add dotnet sdk equivalent diagnostic string implementation
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_database.go
  sdk/data/azcosmos/cosmos_query_response.go
  sdk/data/azcosmos/cosmos_response.go
  sdk/data/azcosmos/diagnostics.go
  sdk/data/azcosmos/diagnostics_test.go
  sdk/data/azcosmos/trace.go
  sdk/data/azcosmos/trace_data.go
  sdk/data/azcosmos/trace_json_writer.go
Due: none

npm update --before 2026-03-12 (#26257)
  eng/common/spelling/package-lock.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update doc references to sync pipeline paths/names
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update doc references to sync pipeline paths/names (#26256)
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/resourcemanager/msi/armmsi/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Downgrade module version to v1.3.0
  sdk/resourcemanager/msi/armmsi/version.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
