Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Source user object id directly instead of with graph (#25053)
  eng/common/TestResources/New-TestResources.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update readme
  sdk/resourcemanager/azurestackhci/armazurestackhcivm/README.md
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/3.0.0-beta.1 generation from spec commit: fb6e96b466e5a45bbbfb6e2a8a36ab862dfea923
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/CHANGELOG.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/README.md
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/autoupgradeprofileoperations_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/autoupgradeprofileoperations_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/autoupgradeprofiles_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/autoupgradeprofiles_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/client_factory.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/constants.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/autoupgradeprofileoperations_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/autoupgradeprofiles_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/fleetmembers_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/fleets_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/fleetupdatestrategies_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/gates_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/operations_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/server_factory.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/time_rfc3339.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fake/updateruns_server.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetmembers_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetmembers_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_live_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetupdatestrategies_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleetupdatestrategies_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/gates_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/gates_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/go.mod
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/go.sum
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/models.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/models_serde.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/operations_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/operations_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/options.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/responses.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/testdata/_metadata.json
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/tsp-location.yaml
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/updateruns_client.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/updateruns_client_example_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/version.go
Due: eng/pipelines/pullrequest.yml

Throw error if deprecated parameter -UserAuth is passed (#25061)
  eng/common/TestResources/New-TestResources.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Let's try this out and see if we can reduce the number of false positives where the changelog gets flagged as not having a meaningful description.
  .github/copilot-instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment version for messaging/azservicebus releases (#25055)
  .github/copilot-instructions.md
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

support module config with major version suffix
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/cmd/v2/refresh/refreshCmd.go
  eng/tools/generator/cmd/v2/release/releaseCmd.go
  eng/tools/generator/typespec/tspconfig.go
  eng/tools/generator/typespec/tspconfig_test.go
Due: eng/pipelines/pullrequest.yml

refine module update logic
  eng/tools/generator/README.md
  eng/tools/generator/cmd/v2/common/fileProcessor.go
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/cmd/v2/release/releaseCmd.go
Due: eng/pipelines/pullrequest.yml

Use default credscan tool
  eng/pipelines/templates/stages/1es-redirect.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Use default credscan tool (#25065)
  eng/pipelines/templates/stages/1es-redirect.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update script to check active release plans using package name and pr merge status
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

changelog
  eng/tools/generator/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Support module config with major version suffix (#25064)
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/README.md
  eng/tools/generator/cmd/v2/common/fileProcessor.go
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/cmd/v2/refresh/refreshCmd.go
  eng/tools/generator/cmd/v2/release/releaseCmd.go
  eng/tools/generator/typespec/tspconfig.go
  eng/tools/generator/typespec/tspconfig_test.go
Due: eng/pipelines/pullrequest.yml

update readme
  eng/tools/generator/template/rpName/packageName/autorest.md.tpl
  sdk/resourcemanager/workloadorchestration/armworkloadorchestration/README.md
Due: eng/pipelines/pullrequest.yml

revert tpl
  eng/tools/generator/template/rpName/packageName/autorest.md.tpl
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 11330 (#25046)
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/README.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

refactor: push down the CA loading logic to ib transport object
  sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

fix: fallback to http.DefaultClient
  sdk/azidentity/workload_identity.go
Due: eng/pipelines/pullrequest.yml

fix: replace path
  sdk/azidentity/workload_identity.go
Due: eng/pipelines/pullrequest.yml

Added ContinuationToken infrastructure for PartitionKeys
  sdk/data/azcosmos/cosmos_change_feed_continuation_token_for_partition_key.go
  sdk/data/azcosmos/cosmos_change_feed_continuation_token_for_partition_key_test.go
Due: none

Updated unit tests to reflect updated functionalities for ChangeFeed
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token_test.go
  sdk/data/azcosmos/cosmos_change_feed_range_test.go
  sdk/data/azcosmos/cosmos_change_feed_request_options_test.go
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
Due: none

Added extended marshaling and unmarshaling support for PartitionKeys
  sdk/data/azcosmos/partition_key.go
  sdk/data/azcosmos/partition_key_test.go
Due: none

Added functionality for Container and PartitionKey-based ChangeFeed reads
  sdk/data/azcosmos/cosmos_container.go
Due: none

Introduced internal Change Feed Resource option in ChangeFeedOptions
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
Due: none

Initialized ConinuationToken helper functions within a ChangeFeedResponse
  sdk/data/azcosmos/cosmos_change_feed_response.go
Due: none

Update change feed partition key test to verify continuation token structure more
  sdk/data/azcosmos/cosmos_container_test.go
Due: none

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
