Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

refactor
  sdk/storage/azblob/internal/exported/session_policy.go
  sdk/storage/azblob/internal/exported/session_provider.go
Due: eng/pipelines/pullrequest.yml

Add datetime.RFC7231 type
  sdk/azcore/CHANGELOG.md
  sdk/azcore/internal/shared/constants.go
  sdk/azcore/runtime/datetime/RFC7231.go
  sdk/azcore/runtime/datetime/RFC7231_test.go
Due: eng/pipelines/pullrequest.yml

improve comments
  sdk/azcore/runtime/datetime/RFC7231.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/solutions/armmanagedapplications/3.0.0 generation from spec commit: bc5ff8e799e63b26c07cfb9e954344b61a685192
  sdk/resourcemanager/solutions/armmanagedapplications/CHANGELOG.md
  sdk/resourcemanager/solutions/armmanagedapplications/README.md
  sdk/resourcemanager/solutions/armmanagedapplications/application_client.go
  sdk/resourcemanager/solutions/armmanagedapplications/application_client_example_test.go
  sdk/resourcemanager/solutions/armmanagedapplications/applicationdefinitions_client.go
  sdk/resourcemanager/solutions/armmanagedapplications/applicationdefinitions_client_example_test.go
  sdk/resourcemanager/solutions/armmanagedapplications/applications_client.go
  sdk/resourcemanager/solutions/armmanagedapplications/applications_client_example_test.go
  sdk/resourcemanager/solutions/armmanagedapplications/autorest.md
  sdk/resourcemanager/solutions/armmanagedapplications/client_factory.go
  sdk/resourcemanager/solutions/armmanagedapplications/constants.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/application_server.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/applicationdefinitions_server.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/applications_server.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/internal.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/jitrequests_server.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/server_factory.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/time_rfc3339.go
  sdk/resourcemanager/solutions/armmanagedapplications/go.mod
  sdk/resourcemanager/solutions/armmanagedapplications/jitrequests_client.go
  sdk/resourcemanager/solutions/armmanagedapplications/jitrequests_client_example_test.go
  sdk/resourcemanager/solutions/armmanagedapplications/models.go
  sdk/resourcemanager/solutions/armmanagedapplications/models_serde.go
  sdk/resourcemanager/solutions/armmanagedapplications/options.go
  sdk/resourcemanager/solutions/armmanagedapplications/response_types.go
  sdk/resourcemanager/solutions/armmanagedapplications/time_rfc3339.go
Due: eng/pipelines/pullrequest.yml

add code
  sdk/resourcemanager/solutions/armmanagedapplications/CHANGELOG.md
  sdk/resourcemanager/solutions/armmanagedapplications/README.md
  sdk/resourcemanager/solutions/armmanagedapplications/application_client.go
  sdk/resourcemanager/solutions/armmanagedapplications/application_client_example_test.go
  sdk/resourcemanager/solutions/armmanagedapplications/applicationdefinitions_client.go
  sdk/resourcemanager/solutions/armmanagedapplications/applicationdefinitions_client_example_test.go
  sdk/resourcemanager/solutions/armmanagedapplications/applications_client.go
  sdk/resourcemanager/solutions/armmanagedapplications/applications_client_example_test.go
  sdk/resourcemanager/solutions/armmanagedapplications/autorest.md
  sdk/resourcemanager/solutions/armmanagedapplications/build.go
  sdk/resourcemanager/solutions/armmanagedapplications/client_factory.go
  sdk/resourcemanager/solutions/armmanagedapplications/constants.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/application_server.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/applicationdefinitions_server.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/applications_server.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/internal.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/jitrequests_server.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/server_factory.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/time_rfc3339.go
  sdk/resourcemanager/solutions/armmanagedapplications/go.mod
  sdk/resourcemanager/solutions/armmanagedapplications/go.sum
  sdk/resourcemanager/solutions/armmanagedapplications/jitrequests_client.go
  sdk/resourcemanager/solutions/armmanagedapplications/jitrequests_client_example_test.go
  sdk/resourcemanager/solutions/armmanagedapplications/models.go
  sdk/resourcemanager/solutions/armmanagedapplications/models_serde.go
  sdk/resourcemanager/solutions/armmanagedapplications/options.go
  sdk/resourcemanager/solutions/armmanagedapplications/responses.go
  sdk/resourcemanager/solutions/armmanagedapplications/testdata/_metadata.json
  sdk/resourcemanager/solutions/armmanagedapplications/time_rfc3339.go
  sdk/resourcemanager/solutions/armmanagedapplications/tsp-location.yaml
  sdk/resourcemanager/solutions/armmanagedapplications/version.go
Due: eng/pipelines/pullrequest.yml

format and lint
  sdk/resourcemanager/sql/armsql/sql_live_test.go
  sdk/resourcemanager/terraform/armterraform/terraform_live_test.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/operations_live_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/solutions/armmanagedapplications/2.2.0-beta.1 generation from spec commit: 92975b69c43259fb82e75cd299fbe3036554f764
  sdk/resourcemanager/solutions/armmanagedapplications/CHANGELOG.md
  sdk/resourcemanager/solutions/armmanagedapplications/README.md
  sdk/resourcemanager/solutions/armmanagedapplications/application_client.go
  sdk/resourcemanager/solutions/armmanagedapplications/application_client_example_test.go
  sdk/resourcemanager/solutions/armmanagedapplications/applicationdefinitions_client.go
  sdk/resourcemanager/solutions/armmanagedapplications/applicationdefinitions_client_example_test.go
  sdk/resourcemanager/solutions/armmanagedapplications/applications_client.go
  sdk/resourcemanager/solutions/armmanagedapplications/applications_client_example_test.go
  sdk/resourcemanager/solutions/armmanagedapplications/autorest.md
  sdk/resourcemanager/solutions/armmanagedapplications/client_factory.go
  sdk/resourcemanager/solutions/armmanagedapplications/constants.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/application_server.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/applicationdefinitions_server.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/applications_server.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/internal.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/jitrequests_server.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/server_factory.go
  sdk/resourcemanager/solutions/armmanagedapplications/fake/time_rfc3339.go
  sdk/resourcemanager/solutions/armmanagedapplications/go.mod
  sdk/resourcemanager/solutions/armmanagedapplications/go.sum
  sdk/resourcemanager/solutions/armmanagedapplications/jitrequests_client.go
  sdk/resourcemanager/solutions/armmanagedapplications/jitrequests_client_example_test.go
  sdk/resourcemanager/solutions/armmanagedapplications/models.go
  sdk/resourcemanager/solutions/armmanagedapplications/models_serde.go
  sdk/resourcemanager/solutions/armmanagedapplications/options.go
  sdk/resourcemanager/solutions/armmanagedapplications/responses.go
  sdk/resourcemanager/solutions/armmanagedapplications/time_rfc3339.go
  sdk/resourcemanager/solutions/armmanagedapplications/version.go
Due: eng/pipelines/pullrequest.yml

add code
  sdk/resourcemanager/domainservices/armdomainservices/CHANGELOG.md
  sdk/resourcemanager/domainservices/armdomainservices/README.md
  sdk/resourcemanager/domainservices/armdomainservices/autorest.md
  sdk/resourcemanager/domainservices/armdomainservices/build.go
  sdk/resourcemanager/domainservices/armdomainservices/client.go
  sdk/resourcemanager/domainservices/armdomainservices/client_example_test.go
  sdk/resourcemanager/domainservices/armdomainservices/client_factory.go
  sdk/resourcemanager/domainservices/armdomainservices/constants.go
  sdk/resourcemanager/domainservices/armdomainservices/domainserviceoperations_client.go
  sdk/resourcemanager/domainservices/armdomainservices/domainserviceoperations_client_example_test.go
  sdk/resourcemanager/domainservices/armdomainservices/fake/domainserviceoperations_server.go
  sdk/resourcemanager/domainservices/armdomainservices/fake/internal.go
  sdk/resourcemanager/domainservices/armdomainservices/fake/oucontainer_server.go
  sdk/resourcemanager/domainservices/armdomainservices/fake/oucontaineroperations_server.go
  sdk/resourcemanager/domainservices/armdomainservices/fake/server.go
  sdk/resourcemanager/domainservices/armdomainservices/fake/server_factory.go
  sdk/resourcemanager/domainservices/armdomainservices/fake/time_rfc1123.go
  sdk/resourcemanager/domainservices/armdomainservices/fake/time_rfc3339.go
  sdk/resourcemanager/domainservices/armdomainservices/go.mod
  sdk/resourcemanager/domainservices/armdomainservices/go.sum
  sdk/resourcemanager/domainservices/armdomainservices/models.go
  sdk/resourcemanager/domainservices/armdomainservices/models_serde.go
  sdk/resourcemanager/domainservices/armdomainservices/options.go
  sdk/resourcemanager/domainservices/armdomainservices/oucontainer_client.go
  sdk/resourcemanager/domainservices/armdomainservices/oucontainer_client_example_test.go
  sdk/resourcemanager/domainservices/armdomainservices/oucontaineroperations_client.go
  sdk/resourcemanager/domainservices/armdomainservices/oucontaineroperations_client_example_test.go
  sdk/resourcemanager/domainservices/armdomainservices/responses.go
  sdk/resourcemanager/domainservices/armdomainservices/testdata/_metadata.json
  sdk/resourcemanager/domainservices/armdomainservices/time_rfc1123.go
  sdk/resourcemanager/domainservices/armdomainservices/time_rfc3339.go
  sdk/resourcemanager/domainservices/armdomainservices/tsp-location.yaml
  sdk/resourcemanager/domainservices/armdomainservices/version.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/domainservices/armdomainservices/1.3.0-beta.1 generation from spec commit: 92975b69c43259fb82e75cd299fbe3036554f764
  sdk/resourcemanager/domainservices/armdomainservices/CHANGELOG.md
  sdk/resourcemanager/domainservices/armdomainservices/README.md
  sdk/resourcemanager/domainservices/armdomainservices/autorest.md
  sdk/resourcemanager/domainservices/armdomainservices/client.go
  sdk/resourcemanager/domainservices/armdomainservices/client_example_test.go
  sdk/resourcemanager/domainservices/armdomainservices/client_factory.go
  sdk/resourcemanager/domainservices/armdomainservices/constants.go
  sdk/resourcemanager/domainservices/armdomainservices/domainserviceoperations_client.go
  sdk/resourcemanager/domainservices/armdomainservices/domainserviceoperations_client_example_test.go
  sdk/resourcemanager/domainservices/armdomainservices/fake/domainserviceoperations_server.go
  sdk/resourcemanager/domainservices/armdomainservices/fake/internal.go
  sdk/resourcemanager/domainservices/armdomainservices/fake/oucontainer_server.go
  sdk/resourcemanager/domainservices/armdomainservices/fake/oucontaineroperations_server.go
  sdk/resourcemanager/domainservices/armdomainservices/fake/server.go
  sdk/resourcemanager/domainservices/armdomainservices/fake/server_factory.go
  sdk/resourcemanager/domainservices/armdomainservices/fake/time_rfc1123.go
  sdk/resourcemanager/domainservices/armdomainservices/fake/time_rfc3339.go
  sdk/resourcemanager/domainservices/armdomainservices/go.mod
  sdk/resourcemanager/domainservices/armdomainservices/go.sum
  sdk/resourcemanager/domainservices/armdomainservices/models.go
  sdk/resourcemanager/domainservices/armdomainservices/models_serde.go
  sdk/resourcemanager/domainservices/armdomainservices/options.go
  sdk/resourcemanager/domainservices/armdomainservices/oucontainer_client.go
  sdk/resourcemanager/domainservices/armdomainservices/oucontainer_client_example_test.go
  sdk/resourcemanager/domainservices/armdomainservices/oucontaineroperations_client.go
  sdk/resourcemanager/domainservices/armdomainservices/oucontaineroperations_client_example_test.go
  sdk/resourcemanager/domainservices/armdomainservices/responses.go
  sdk/resourcemanager/domainservices/armdomainservices/time_rfc1123.go
  sdk/resourcemanager/domainservices/armdomainservices/time_rfc3339.go
  sdk/resourcemanager/domainservices/armdomainservices/version.go
Due: eng/pipelines/pullrequest.yml

rollback wrong test removal
  sdk/resourcemanager/apimanagement/armapimanagement/apimapis_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimpolicies_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimproducts_live_test.go
  sdk/resourcemanager/apimanagement/armapimanagement/apimusers_live_test.go
Due: eng/pipelines/pullrequest.yml

Update storage SDK service version to 2026-06-06 and regenerate
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_responses.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/generated_blob/autorest.md
  sdk/storage/azdatalake/internal/generated_blob/constants.go
  sdk/storage/azdatalake/internal/generated_blob/zz_appendblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blockblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_constants.go
  sdk/storage/azdatalake/internal/generated_blob/zz_container_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_models.go
  sdk/storage/azdatalake/internal/generated_blob/zz_pageblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_responses.go
  sdk/storage/azdatalake/internal/generated_blob/zz_service_client.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_responses.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/internal/generated/zz_time_rfc1123.go
  sdk/storage/azfile/internal/generated/zz_time_rfc3339.go
Due: eng/pipelines/pullrequest.yml

Revert "Update storage SDK service version to 2026-06-06 and regenerate"
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_responses.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/generated_blob/autorest.md
  sdk/storage/azdatalake/internal/generated_blob/constants.go
  sdk/storage/azdatalake/internal/generated_blob/zz_appendblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blockblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_constants.go
  sdk/storage/azdatalake/internal/generated_blob/zz_container_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_models.go
  sdk/storage/azdatalake/internal/generated_blob/zz_pageblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_responses.go
  sdk/storage/azdatalake/internal/generated_blob/zz_service_client.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_models_serde.go
  sdk/storage/azfile/internal/generated/zz_options.go
  sdk/storage/azfile/internal/generated/zz_response_types.go
  sdk/storage/azfile/internal/generated/zz_responses.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
  sdk/storage/azfile/internal/generated/zz_time_rfc1123.go
  sdk/storage/azfile/internal/generated/zz_time_rfc3339.go
Due: eng/pipelines/pullrequest.yml

tests fix
  sdk/storage/azblob/service/client_test.go
  sdk/storage/azdatalake/service/client_test.go
Due: eng/pipelines/pullrequest.yml

format check
  sdk/storage/azblob/sas/query_params.go
Due: eng/pipelines/pullrequest.yml

fix uint64 segment data-length in SMEncode, add proper position tracking to SMEncoder Seek
  sdk/storage/azblob/internal/shared/structured_message.go
  sdk/storage/azblob/internal/shared/structured_message_test.go
Due: eng/pipelines/pullrequest.yml

fix int overflow in NewSMEncoder, add msgLen validation in streaming SMDecoder
  sdk/storage/azblob/internal/shared/structured_message.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): set minimum 60s server-timeout for management operations (#26421)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/mgmt.go
  sdk/messaging/azservicebus/internal/mgmt_test.go
  sdk/messaging/azservicebus/internal/rpc.go
Due: eng/pipelines/pullrequest.yml

revert upgrade of openai-go
  sdk/ai/azopenai/go.mod
  sdk/ai/azopenai/go.sum
Due: eng/pipelines/pullrequest.yml

fix: address review - scope server-timeout to management ops, update comment wording
  sdk/messaging/azservicebus/internal/mgmt.go
  sdk/messaging/azservicebus/internal/rpc.go
Due: eng/pipelines/pullrequest.yml

revert update of go-git
  eng/tools/generator/go.mod
  eng/tools/generator/go.sum
Due: eng/pipelines/pullrequest.yml

update Go version for azcosmos emulator CI
  sdk/data/azcosmos/ci.yml
Due: none

structured message encoder/decoder core library with tests (#26224)
  sdk/storage/azblob/internal/exported/blob_batch.go
  sdk/storage/azblob/internal/shared/structured_message.go
  sdk/storage/azblob/internal/shared/structured_message_test.go
Due: eng/pipelines/pullrequest.yml

verbose log files to check
  eng/common/spelling/Invoke-Cspell.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

create files inside try
  eng/common/spelling/Invoke-Cspell.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Apply suggestion from @danieljurek
  eng/common/spelling/Invoke-Cspell.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Pass file list via temp file instead of stdin - more reliable for large file lists
  eng/common/spelling/Invoke-Cspell.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

only delete file if created
  eng/common/spelling/Invoke-Cspell.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

import logging.ps1
  eng/common/spelling/Invoke-Cspell.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update usage doc
  eng/common/spelling/Invoke-Cspell.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

always run npm ci
  eng/common/spelling/Invoke-Cspell.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

only run "npm ci" if no node_modules in cache - improve perf for inner loop
  eng/common/spelling/Invoke-Cspell.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

use arg array instead of string interpolation
  eng/common/spelling/Invoke-Cspell.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

instruction changes
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix remaining tests
  sdk/storage/azblob/appendblob/client.go
  sdk/storage/azblob/appendblob/models.go
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blob/utils.go
  sdk/storage/azblob/blockblob/client.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/container/client.go
  sdk/storage/azblob/container/models.go
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/generated/blob_client.go
  sdk/storage/azblob/internal/generated/constants_custom.go
  sdk/storage/azblob/internal/generated/models.go
  sdk/storage/azblob/internal/generated/models_serde.go
  sdk/storage/azblob/internal/generated/responses.go
  sdk/storage/azblob/internal/generated/responses_custom.go
  sdk/storage/azblob/internal/shared/challenge_policy.go
  sdk/storage/azblob/internal/shared/shared.go
  sdk/storage/azblob/internal/testcommon/common.go
  sdk/storage/azblob/lease/blob_client.go
  sdk/storage/azblob/lease/container_client.go
  sdk/storage/azblob/lease/models.go
  sdk/storage/azblob/pageblob/client.go
  sdk/storage/azblob/pageblob/models.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/models.go
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 14890 (#26500)
  eng/common/pipelines/templates/steps/verify-codeowners-sections.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml
