Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      ServiceDirectory: ${{ parameters.Service }}

add file type
  sdk/ai/azopenai/MIGRATION.md
Due: eng/pipelines/pullrequest.yml

update gomod
  sdk/resourcemanager/recoveryservices/armrecoveryservicessiterecovery/go.mod
  sdk/resourcemanager/recoveryservices/armrecoveryservicessiterecovery/go.sum
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/recoveryservices/armrecoveryservicessiterecovery/replicationfabrics_client_example_test.go
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/recoveryservices/armrecoveryservicessiterecovery/replicationprotecteditems_client_example_test.go
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/recoveryservices/armrecoveryservicessiterecovery/replicationprotectioncontainermappings_client_example_test.go
  sdk/resourcemanager/recoveryservices/armrecoveryservicessiterecovery/replicationprotectioncontainers_client_example_test.go
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/recoveryservices/armrecoveryservicessiterecovery/replicationprotectioncontainers_client_example_test.go
Due: eng/pipelines/pullrequest.yml

support for intent header
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/appendblob/models.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/pageblob/models.go
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10461 (#24513)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/servicenetworking/armservicenetworking/1.2.0-beta.1 generation from spec commit: fc1f625dbec2d92ba4d9dd0df16ece543b04fec9 (#24497)
  sdk/resourcemanager/servicenetworking/armservicenetworking/CHANGELOG.md
  sdk/resourcemanager/servicenetworking/armservicenetworking/associationsinterface_client.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/associationsinterface_client_example_test.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/constants.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/frontendsinterface_client.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/frontendsinterface_client_example_test.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/models.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/models_serde.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/operations_client.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/operations_client_example_test.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/securitypoliciesinterface_client.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/securitypoliciesinterface_client_example_test.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/trafficcontrollerinterface_client.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/trafficcontrollerinterface_client_example_test.go
  sdk/resourcemanager/servicenetworking/armservicenetworking/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/carbonservice_client_example_test.go
Due: eng/pipelines/pullrequest.yml

Add more migration scenarios (#24507)
  sdk/ai/azopenai/MIGRATION.md
  sdk/ai/azopenai/example_createimage_test.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azblob (#24490)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azfile (#24491)
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

prep for azdatalake release
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/storage/azdatalake/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

address jwt security vulnerability
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
Due: eng/pipelines/pullrequest.yml

address jwt security vulnerability
  sdk/storage/azqueue/go.sum
Due: eng/pipelines/pullrequest.yml

user delegation sas new line
  sdk/storage/azblob/sas/service.go
  sdk/storage/azdatalake/sas/service.go
Due: eng/pipelines/pullrequest.yml

[Storage][Azblob] Add support for request intent for File->Blob Copy (#24519)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/appendblob/models.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/pageblob/models.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azdatalake/sas/service.go
Due: eng/pipelines/pullrequest.yml

Update CODEOWNERS
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove cosmos query engine components, we'll move them to a future preview
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/unstable/README.md
  sdk/data/azcosmos/unstable/queryengine/cosmos_query_engine.go
Due: none

Update CODEOWNERS (#24523)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove cosmos query engine components for now
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/unstable/README.md
  sdk/data/azcosmos/unstable/queryengine/cosmos_query_engine.go
Due: none

address jwt security vulnerability (#24522)
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
Due: eng/pipelines/pullrequest.yml

[Storage] Prep for azdatalake stg97 GA release (#24521)
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

updated CHANGELOG, prepped release
  sdk/messaging/azeventhubs/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Add PR
  sdk/messaging/azeventhubs/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[azeventhubs] updated CHANGELOG, prepped release (#24526)
  sdk/messaging/azeventhubs/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Update publish-1es-artifact.yml
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Disable SBOM for public builds
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Set the resource group prefix after we get the tenantId (#24525)
  eng/common/TestResources/New-TestResources.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

regex
  sdk/monitor/azquery/autorest.md
Due: eng/pipelines/pullrequest.yml

Fixes
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
