Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Lower the bar, as more of the API isn't testable (models have been deprecated)
  eng/config.json
Due: eng/pipelines/pullrequest.yml

rephrase log message
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
Due: none

Fixing audio tests so they can be enabled again.
  sdk/ai/azopenai/client_audio_test.go
  sdk/ai/azopenai/client_shared_test.go
Due: eng/pipelines/pullrequest.yml

Another small workaround to re-enable testing.
  sdk/ai/azopenai/client_functions_test.go
Due: eng/pipelines/pullrequest.yml

Adjusting another skipped test for the service.
  sdk/ai/azopenai/client_embeddings_test.go
Due: eng/pipelines/pullrequest.yml

Fixing RAI test to handle request level content RAI stuff as well.
  sdk/ai/azopenai/client_rai_test.go
Due: eng/pipelines/pullrequest.yml

Enabling some more tests.
  sdk/ai/azopenai/client_shared_test.go
  sdk/ai/azopenai/custom_client_image_test.go
Due: eng/pipelines/pullrequest.yml

Updating coverage number - it's dropped quite low because this package is now mostly models (and serde), and the majority of the code is in an external client (ie, openai-go).
  eng/config.json
Due: eng/pipelines/pullrequest.yml

Skip verify setup tool when running on coding agent
  .github/copilot-instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

updating test recordings
  sdk/ai/azopenai/assets.json
Due: eng/pipelines/pullrequest.yml

Update tags to what's in the repo.
  sdk/ai/azopenai/assets.json
Due: eng/pipelines/pullrequest.yml

Fix flac name issue with audio test and recordings.
  sdk/ai/azopenai/client_audio_test.go
Due: eng/pipelines/pullrequest.yml

Multiple possibles for "deployment doesn't exist"
  sdk/ai/azopenai/client_embeddings_test.go
Due: eng/pipelines/pullrequest.yml

Disable some tests for live testing - the models we use for them are deprecated, and we don't have a replacement.
  sdk/ai/azopenai/client_completions_test.go
  sdk/ai/azopenai/client_rai_test.go
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 13267 (#25743)
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
  eng/common/scripts/SetTestPipelineVersion.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fix wrong versioning logic (#25733)
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/cmd/v2/common/cmdProcessor.go
  eng/tools/generator/cmd/v2/common/fileProcessor.go
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/cmd/version/versionCmd.go
  eng/tools/generator/version.go
Due: eng/pipelines/pullrequest.yml

LogGroupStart should have local build output (#25745)
  eng/common/scripts/logging.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix conflict
  sdk/resourcemanager/mysql/armmysqlflexibleservers/go.mod
  sdk/resourcemanager/mysql/armmysqlflexibleservers/go.sum
Due: eng/pipelines/pullrequest.yml

fix conflict
  sdk/resourcemanager/mysql/armmysqlflexibleservers/time_rfc3339.go
Due: eng/pipelines/pullrequest.yml

[azopenai] Fixing tests and re-enabling relevant recordings (#25728)
  eng/config.json
  sdk/ai/azopenai/assets.json
  sdk/ai/azopenai/client_audio_test.go
  sdk/ai/azopenai/client_chat_completions_test.go
  sdk/ai/azopenai/client_completions_test.go
  sdk/ai/azopenai/client_embeddings_test.go
  sdk/ai/azopenai/client_functions_test.go
  sdk/ai/azopenai/client_rai_test.go
  sdk/ai/azopenai/client_shared_test.go
  sdk/ai/azopenai/custom_client_image_test.go
Due: eng/pipelines/pullrequest.yml

cosmos: Fix issues with how read endpoint fallback is selected (#25738)
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_location_cache.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
Due: none

add changelog entry for #25738
  sdk/data/azcosmos/CHANGELOG.md
Due: none

update changelog for 1.4.2 release
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none
