Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Update CHANGELOG
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Remove some duplicates that crept in.
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate.go
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10579 (#24603)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
  eng/common/scripts/common.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/sitemanager/armsitemanager/0.1.0 generation from spec commit: 5802c95f18bfba1003be50e545d07f8bb679c857
  sdk/resourcemanager/sitemanager/armsitemanager/CHANGELOG.md
  sdk/resourcemanager/sitemanager/armsitemanager/LICENSE.txt
  sdk/resourcemanager/sitemanager/armsitemanager/README.md
  sdk/resourcemanager/sitemanager/armsitemanager/ci.yml
  sdk/resourcemanager/sitemanager/armsitemanager/client_factory.go
  sdk/resourcemanager/sitemanager/armsitemanager/constants.go
  sdk/resourcemanager/sitemanager/armsitemanager/fake/internal.go
  sdk/resourcemanager/sitemanager/armsitemanager/fake/server_factory.go
  sdk/resourcemanager/sitemanager/armsitemanager/fake/sites_server.go
  sdk/resourcemanager/sitemanager/armsitemanager/fake/sitesbyservicegroup_server.go
  sdk/resourcemanager/sitemanager/armsitemanager/fake/sitesbysubscription_server.go
  sdk/resourcemanager/sitemanager/armsitemanager/go.mod
  sdk/resourcemanager/sitemanager/armsitemanager/go.sum
  sdk/resourcemanager/sitemanager/armsitemanager/models.go
  sdk/resourcemanager/sitemanager/armsitemanager/models_serde.go
  sdk/resourcemanager/sitemanager/armsitemanager/options.go
  sdk/resourcemanager/sitemanager/armsitemanager/responses.go
  sdk/resourcemanager/sitemanager/armsitemanager/sites_client.go
  sdk/resourcemanager/sitemanager/armsitemanager/sites_client_example_test.go
  sdk/resourcemanager/sitemanager/armsitemanager/sitesbyservicegroup_client.go
  sdk/resourcemanager/sitemanager/armsitemanager/sitesbyservicegroup_client_example_test.go
  sdk/resourcemanager/sitemanager/armsitemanager/sitesbysubscription_client.go
  sdk/resourcemanager/sitemanager/armsitemanager/sitesbysubscription_client_example_test.go
  sdk/resourcemanager/sitemanager/armsitemanager/time_rfc3339.go
  sdk/resourcemanager/sitemanager/armsitemanager/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

update asset
  sdk/resourcemanager/resources/armresources/assets.json
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/chaos/armchaos/experiments_live_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/monitor/armmonitor/0.12.0 generation from spec commit: 37a849b656ecfb33424822b9f245aebff2ae994f
  sdk/resourcemanager/monitor/armmonitor/CHANGELOG.md
  sdk/resourcemanager/monitor/armmonitor/autorest.md
  sdk/resourcemanager/monitor/armmonitor/constants.go
Due: eng/pipelines/pullrequest.yml

Improve link checking for github links
  eng/common/scripts/Verify-Links.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add default clone path to the link checker template
  eng/common/pipelines/templates/steps/verify-links.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

ps relative path
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add npm publish pipeline files
  eng/common/pipelines/templates/jobs/npm-release-task.yml
  eng/common/scripts/Publish-to-Npm.ps1
  eng/common/scripts/Verify-Npm-Tags.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add top level artifact name
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

testing for tag provided
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

trim publish to npm
  eng/common/scripts/Publish-to-Npm.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

trim publish to npm even more
  eng/common/scripts/Publish-to-Npm.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove pre-publish job
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

cleanup artifact name sanitation
  eng/common/pipelines/templates/jobs/npm-release-task.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

generalize the github link for comparison
  eng/common/scripts/Publish-to-Npm.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10593 (#24610)
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Cosmos] Support for an external query engine (#24601)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/unstable/README.md
  sdk/data/azcosmos/unstable/queryengine/cosmos_query_engine.go
  sdk/data/azcosmos/version.go
Due: none

Use correct variable name in error
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Updating with latest changes to rolback the breaking change (it was a mistake in the .tsp) and to fix a type generation error with APIManagementCircuitBreakerProperties.Rules
  sdk/messaging/eventgrid/azsystemevents/custom_events.go
  sdk/messaging/eventgrid/azsystemevents/custom_events_test.go
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

HtmlDecode hrefs
  eng/common/scripts/Verify-Links.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Adding in some tests that can activate when the fault injector is installed.
  sdk/messaging/azservicebus/internal/test/fault_injector_runner.go
  sdk/messaging/azservicebus/receiver_faultinjector_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/purestorageblock/armpurestorageblock/0.1.0 generation from spec commit: 7fce9fb91eae7c0f6f0ae348bb79119772e89f5f
  sdk/resourcemanager/purestorageblock/armpurestorageblock/CHANGELOG.md
  sdk/resourcemanager/purestorageblock/armpurestorageblock/LICENSE.txt
  sdk/resourcemanager/purestorageblock/armpurestorageblock/README.md
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsstoragecontainers_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsstoragecontainers_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsstoragecontainervolumes_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsstoragecontainervolumes_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsvms_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsvms_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsvmvolumes_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsvmvolumes_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/ci.yml
  sdk/resourcemanager/purestorageblock/armpurestorageblock/client_factory.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/constants.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/fake/avsstoragecontainers_server.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/fake/avsstoragecontainervolumes_server.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/fake/avsvms_server.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/fake/avsvmvolumes_server.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/fake/internal.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/fake/operations_server.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/fake/reservations_server.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/fake/server_factory.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/fake/storagepools_server.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/go.mod
  sdk/resourcemanager/purestorageblock/armpurestorageblock/go.sum
  sdk/resourcemanager/purestorageblock/armpurestorageblock/models.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/models_serde.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/operations_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/operations_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/options.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/reservations_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/reservations_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/responses.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/storagepools_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/storagepools_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/time_rfc3339.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/0.1.0 generation from spec commit: 4b0a023c4e996a923321f29e5ab9bac16b06fb82
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/CHANGELOG.md
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/LICENSE.txt
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/README.md
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/ci.yml
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/client_factory.go
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/constants.go
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/fake/internal.go
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/fake/operations_server.go
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/fake/organizations_server.go
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/fake/server_factory.go
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/go.mod
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/go.sum
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/models.go
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/models_serde.go
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/operations_client.go
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/operations_client_example_test.go
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/options.go
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/organizations_client.go
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/organizations_client_example_test.go
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/responses.go
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/time_rfc3339.go
  sdk/resourcemanager/lambdatesthyperexecute/armlambdatesthyperexecute/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml
