Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

update asset
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
Due: eng/pipelines/pullrequest.yml

update dependency
  sdk/resourcemanager/dashboard/armdashboard/go.mod
  sdk/resourcemanager/dashboard/armdashboard/go.sum
  sdk/resourcemanager/dashboard/armdashboard/grafana_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/integrationfabrics_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/manageddashboards_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/operations_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/privatelinkresources_client_example_test.go
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/dashboard/armdashboard/grafana_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/integrationfabrics_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/manageddashboards_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/operations_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/privatelinkresources_client_example_test.go
Due: eng/pipelines/pullrequest.yml

Add new entries
  .github/CODEOWNERS_baseline_errors.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Organize and remove duplicates
  .github/CODEOWNERS_baseline_errors.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Codeowners (#24953)
  .github/CODEOWNERS_baseline_errors.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update .vscode/mcp.json
  .vscode/mcp.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Only support ChangeFeed when provided a FeedRange
  sdk/data/azcosmos/cosmos_container.go
Due: none

Improve ChangeFeed integration tests to be more thorough
  sdk/data/azcosmos/cosmos_container_test.go
Due: none

typespec conversion
  sdk/monitor/query/azlogs/CHANGELOG.md
  sdk/monitor/query/azlogs/build.go
  sdk/monitor/query/azlogs/client.go
  sdk/monitor/query/azlogs/cloud_config.go
  sdk/monitor/query/azlogs/constants.go
  sdk/monitor/query/azlogs/custom_client.go
  sdk/monitor/query/azlogs/fake/custom_server.go
  sdk/monitor/query/azlogs/fake/internal.go
  sdk/monitor/query/azlogs/fake/server.go
  sdk/monitor/query/azlogs/fake/server_test.go
  sdk/monitor/query/azlogs/models.go
  sdk/monitor/query/azlogs/models_serde.go
  sdk/monitor/query/azlogs/options.go
  sdk/monitor/query/azlogs/responses.go
  sdk/monitor/query/azlogs/testdata/_metadata.json
  sdk/monitor/query/azlogs/testdata/generate/transforms.go
  sdk/monitor/query/azlogs/tsp-location.yaml
  sdk/monitor/query/azlogs/version.go
Due: eng/pipelines/pullrequest.yml

surpress versions
  sdk/monitor/query/azlogs/client.go
  sdk/monitor/query/azlogs/constants.go
  sdk/monitor/query/azlogs/custom_client.go
  sdk/monitor/query/azlogs/testdata/generate/transforms.go
Due: eng/pipelines/pullrequest.yml

feedback
  sdk/monitor/query/azlogs/testdata/generate/transforms.go
Due: eng/pipelines/pullrequest.yml

DefaultAzureCredential continues past developer tool errors
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/default_azure_credential.go
  sdk/azidentity/default_azure_credential_test.go
Due: eng/pipelines/pullrequest.yml

Skip live UsernamePasswordCredential tests (#24948)
  sdk/azidentity/azidentity_test.go
  sdk/azidentity/environment_credential_test.go
  sdk/azidentity/username_password_credential_test.go
Due: eng/pipelines/pullrequest.yml

thanks, Copilot
  sdk/azidentity/default_azure_credential_test.go
Due: eng/pipelines/pullrequest.yml

Reintroduced MaxItemCount header settings and tests
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_change_feed_request_options_test.go
Due: none

[Release] sdk/resourcemanager/nginx/armnginx/3.1.0-beta.3 generation from spec commit: 3449cbe093d1151ce608b8cf30b00510a2b2b6df
  sdk/resourcemanager/nginx/armnginx/CHANGELOG.md
  sdk/resourcemanager/nginx/armnginx/autorest.md
  sdk/resourcemanager/nginx/armnginx/build.go
  sdk/resourcemanager/nginx/armnginx/certificates_client.go
  sdk/resourcemanager/nginx/armnginx/certificates_client_example_test.go
  sdk/resourcemanager/nginx/armnginx/client_factory.go
  sdk/resourcemanager/nginx/armnginx/configurations_client.go
  sdk/resourcemanager/nginx/armnginx/configurations_client_example_test.go
  sdk/resourcemanager/nginx/armnginx/constants.go
  sdk/resourcemanager/nginx/armnginx/deployments_client.go
  sdk/resourcemanager/nginx/armnginx/deployments_client_example_test.go
  sdk/resourcemanager/nginx/armnginx/fake/apikeys_server.go
  sdk/resourcemanager/nginx/armnginx/fake/certificates_server.go
  sdk/resourcemanager/nginx/armnginx/fake/configurations_server.go
  sdk/resourcemanager/nginx/armnginx/fake/deployments_server.go
  sdk/resourcemanager/nginx/armnginx/fake/internal.go
  sdk/resourcemanager/nginx/armnginx/fake/operations_server.go
  sdk/resourcemanager/nginx/armnginx/fake/server_factory.go
  sdk/resourcemanager/nginx/armnginx/fake/time_rfc3339.go
  sdk/resourcemanager/nginx/armnginx/fake/wafpolicies_server.go
  sdk/resourcemanager/nginx/armnginx/models.go
  sdk/resourcemanager/nginx/armnginx/models_serde.go
  sdk/resourcemanager/nginx/armnginx/operations_client.go
  sdk/resourcemanager/nginx/armnginx/operations_client_example_test.go
  sdk/resourcemanager/nginx/armnginx/options.go
  sdk/resourcemanager/nginx/armnginx/responses.go
  sdk/resourcemanager/nginx/armnginx/testdata/_metadata.json
  sdk/resourcemanager/nginx/armnginx/time_rfc3339.go
  sdk/resourcemanager/nginx/armnginx/tsp-location.yaml
  sdk/resourcemanager/nginx/armnginx/version.go
  sdk/resourcemanager/nginx/armnginx/wafpolicies_client.go
  sdk/resourcemanager/nginx/armnginx/wafpolicies_client_example_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/dashboard/armdashboard/2.0.0-beta.1 generation from spec commit: 3449cbe093d1151ce608b8cf30b00510a2b2b6df
  sdk/resourcemanager/dashboard/armdashboard/CHANGELOG.md
  sdk/resourcemanager/dashboard/armdashboard/README.md
  sdk/resourcemanager/dashboard/armdashboard/autorest.md
  sdk/resourcemanager/dashboard/armdashboard/build.go
  sdk/resourcemanager/dashboard/armdashboard/client_factory.go
  sdk/resourcemanager/dashboard/armdashboard/constants.go
  sdk/resourcemanager/dashboard/armdashboard/fake/grafana_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/integrationfabrics_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/internal.go
  sdk/resourcemanager/dashboard/armdashboard/fake/manageddashboards_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/managedprivateendpoints_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/operations_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/privateendpointconnections_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/privatelinkresources_server.go
  sdk/resourcemanager/dashboard/armdashboard/fake/server_factory.go
  sdk/resourcemanager/dashboard/armdashboard/fake/time_rfc3339.go
  sdk/resourcemanager/dashboard/armdashboard/go.mod
  sdk/resourcemanager/dashboard/armdashboard/grafana_client.go
  sdk/resourcemanager/dashboard/armdashboard/grafana_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/integrationfabrics_client.go
  sdk/resourcemanager/dashboard/armdashboard/integrationfabrics_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/manageddashboards_client.go
  sdk/resourcemanager/dashboard/armdashboard/manageddashboards_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/managedprivateendpoints_client.go
  sdk/resourcemanager/dashboard/armdashboard/managedprivateendpoints_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/models.go
  sdk/resourcemanager/dashboard/armdashboard/models_serde.go
  sdk/resourcemanager/dashboard/armdashboard/operations_client.go
  sdk/resourcemanager/dashboard/armdashboard/operations_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/options.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client.go
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/privatelinkresources_client.go
  sdk/resourcemanager/dashboard/armdashboard/privatelinkresources_client_example_test.go
  sdk/resourcemanager/dashboard/armdashboard/responses.go
  sdk/resourcemanager/dashboard/armdashboard/testdata/_metadata.json
  sdk/resourcemanager/dashboard/armdashboard/time_rfc3339.go
  sdk/resourcemanager/dashboard/armdashboard/tsp-location.yaml
  sdk/resourcemanager/dashboard/armdashboard/version.go
Due: eng/pipelines/pullrequest.yml

Revise CompositeContinuationToken structure to match Java and Python SDKs
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token.go
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token_test.go
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

update asset
  sdk/resourcemanager/network/armnetwork/assets.json
Due: eng/pipelines/pullrequest.yml

update date
  sdk/resourcemanager/search/armsearch/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

go mod tidy
  sdk/resourcemanager/dashboard/armdashboard/go.mod
  sdk/resourcemanager/dashboard/armdashboard/go.sum
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/search/armsearch/1.4.0 (#24550)
  sdk/resourcemanager/search/armsearch/CHANGELOG.md
  sdk/resourcemanager/search/armsearch/adminkeys_client.go
  sdk/resourcemanager/search/armsearch/adminkeys_client_example_test.go
  sdk/resourcemanager/search/armsearch/autorest.md
  sdk/resourcemanager/search/armsearch/client_factory.go
  sdk/resourcemanager/search/armsearch/constants.go
  sdk/resourcemanager/search/armsearch/fake/offerings_server.go
  sdk/resourcemanager/search/armsearch/fake/server_factory.go
  sdk/resourcemanager/search/armsearch/fake/time_rfc3339.go
  sdk/resourcemanager/search/armsearch/management_client.go
  sdk/resourcemanager/search/armsearch/management_client_example_test.go
  sdk/resourcemanager/search/armsearch/models.go
  sdk/resourcemanager/search/armsearch/models_serde.go
  sdk/resourcemanager/search/armsearch/networksecurityperimeterconfigurations_client.go
  sdk/resourcemanager/search/armsearch/networksecurityperimeterconfigurations_client_example_test.go
  sdk/resourcemanager/search/armsearch/offerings_client.go
  sdk/resourcemanager/search/armsearch/offerings_client_example_test.go
  sdk/resourcemanager/search/armsearch/operations_client.go
  sdk/resourcemanager/search/armsearch/operations_client_example_test.go
  sdk/resourcemanager/search/armsearch/options.go
  sdk/resourcemanager/search/armsearch/privateendpointconnections_client.go
  sdk/resourcemanager/search/armsearch/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/search/armsearch/privatelinkresources_client.go
  sdk/resourcemanager/search/armsearch/privatelinkresources_client_example_test.go
  sdk/resourcemanager/search/armsearch/querykeys_client.go
  sdk/resourcemanager/search/armsearch/querykeys_client_example_test.go
  sdk/resourcemanager/search/armsearch/responses.go
  sdk/resourcemanager/search/armsearch/search_live_test.go
  sdk/resourcemanager/search/armsearch/services_client.go
  sdk/resourcemanager/search/armsearch/services_client_example_test.go
  sdk/resourcemanager/search/armsearch/sharedprivatelinkresources_client.go
  sdk/resourcemanager/search/armsearch/sharedprivatelinkresources_client_example_test.go
  sdk/resourcemanager/search/armsearch/usages_client.go
  sdk/resourcemanager/search/armsearch/usages_client_example_test.go
Due: eng/pipelines/pullrequest.yml

missed v2 import in few files
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
  sdk/storage/azqueue/queue_client.go
  sdk/storage/azqueue/sas/account.go
  sdk/storage/azqueue/sas/service.go
  sdk/storage/azqueue/sas/url_parts.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/carbonoptimization/armcarbonoptimization/1.0.0 generation from spec commit: 737d276c61674f351c2d8ff06c69341ee0f7a598
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/CHANGELOG.md
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/carbonservice_client_example_test.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/constants.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/fake/date_type.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/models.go
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/testdata/_metadata.json
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/tsp-location.yaml
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/version.go
Due: eng/pipelines/pullrequest.yml

import v2
  sdk/storage/azqueue/internal/testcommon/clients_auth.go
  sdk/storage/azqueue/sas/service_test.go
Due: eng/pipelines/pullrequest.yml

import v2
  sdk/storage/azqueue/internal/exported/shared_key_credential.go
  sdk/storage/azqueue/internal/testcommon/common.go
Due: eng/pipelines/pullrequest.yml

removed commented code
  sdk/storage/azqueue/queue_client.go
Due: eng/pipelines/pullrequest.yml

comment out unresolved v2 broken links
  sdk/storage/azqueue/README.md
Due: eng/pipelines/pullrequest.yml

Adopt generator version file change, do some refactor and add version control.
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/README.md
  eng/tools/generator/changelog/changelog.go
  eng/tools/generator/changelog/changelog_filter.go
  eng/tools/generator/changelog/changelog_filter_test.go
  eng/tools/generator/changelog/changelog_test.go
  eng/tools/generator/changelog/changelog_tool.go
  eng/tools/generator/changelog/changelog_tool_test.go
  eng/tools/generator/changelog/testdata/new/enum/enumfilter.go
  eng/tools/generator/changelog/testdata/new/interfacetoany/interfacetoanyfilter.go
  eng/tools/generator/changelog/testdata/new/lro/lrofilter.go
  eng/tools/generator/changelog/testdata/new/non-export/nonexport.go
  eng/tools/generator/changelog/testdata/new/operation/funcfilter.go
  eng/tools/generator/changelog/testdata/new/page/page.go
  eng/tools/generator/changelog/testdata/new/parameter/parameter.go
  eng/tools/generator/changelog/testdata/new/toany/toany.go
  eng/tools/generator/changelog/testdata/old/enum/enumfilter.go
  eng/tools/generator/changelog/testdata/old/interfacetoany/interfacetoanyfilter.go
  eng/tools/generator/changelog/testdata/old/lro/lrofilter.go
  eng/tools/generator/changelog/testdata/old/non-export/nonexport.go
  eng/tools/generator/changelog/testdata/old/operation/funcfilter.go
  eng/tools/generator/changelog/testdata/old/page/page.go
  eng/tools/generator/changelog/testdata/old/parameter/parameter.go
  eng/tools/generator/changelog/testdata/old/toany/toany.go
  eng/tools/generator/cmd/issue/issueCmd.go
  eng/tools/generator/cmd/root.go
  eng/tools/generator/cmd/v2/common/fileProcessor.go
  eng/tools/generator/cmd/v2/common/fileProcessor_test.go
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/config/config.go
  eng/tools/generator/config/option.go
  eng/tools/generator/config/option_test.go
  eng/tools/generator/config/refresh.go
  eng/tools/generator/go.mod
  eng/tools/generator/go.sum
  eng/tools/generator/main.go
  eng/tools/generator/version.go
Due: eng/pipelines/pullrequest.yml

update date
  eng/tools/generator/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

update readme
  eng/tools/generator/README.md
Due: eng/pipelines/pullrequest.yml

fix
  eng/tools/generator/cmd/v2/common/fileProcessor.go
  eng/tools/generator/cmd/v2/common/generation.go
Due: eng/pipelines/pullrequest.yml

fix normalization
  eng/tools/generator/changelog/changelog_tool.go
Due: eng/pipelines/pullrequest.yml

Initial MCP server for Go SDK tool
  eng/tools/mcp/CHANGELOG.md
  eng/tools/mcp/README.md
  eng/tools/mcp/go.mod
  eng/tools/mcp/go.sum
  eng/tools/mcp/main.go
  eng/tools/mcp/registry.go
  eng/tools/mcp/tools/environment_checker.go
  eng/tools/mcp/tools/environment_checker_test.go
  eng/tools/mcp/tools/sdk_generator.go
  eng/tools/mcp/tools/sdk_generator_test.go
  eng/tools/mcp/version.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
