Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Update emitter package versions (#26090)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Rebase
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/pageblob/client_test.go
Due: eng/pipelines/pullrequest.yml

Skill/upgrade emitter version (#26084)
  .github/skills/upgrade-emitter-version/SKILL.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

resolved comments
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/datalakeerror/error_codes.go
Due: eng/pipelines/pullrequest.yml

added headers to deleteOptions
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/models.go
Due: eng/pipelines/pullrequest.yml

added error
  sdk/storage/azfile/fileerror/error_codes.go
Due: eng/pipelines/pullrequest.yml

Added and recorded tests
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blob/client_test.go
Due: eng/pipelines/pullrequest.yml

remove redundant change
  sdk/storage/azblob/blob/client.go
Due: eng/pipelines/pullrequest.yml

first
  sdk/storage/azblob/sas/query_params.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azblob/service/client.go
  sdk/storage/azblob/service/models.go
  sdk/storage/azdatalake/internal/generated_blob/zz_models.go
  sdk/storage/azdatalake/service/client.go
  sdk/storage/azdatalake/service/models.go
  sdk/storage/azfile/sas/query_params.go
  sdk/storage/azfile/sas/service.go
  sdk/storage/azfile/service/client.go
  sdk/storage/azfile/service/models.go
  sdk/storage/azqueue/sas/query_params.go
  sdk/storage/azqueue/sas/service.go
Due: eng/pipelines/pullrequest.yml

revert
  sdk/storage/azfile/fileerror/error_codes.go
Due: eng/pipelines/pullrequest.yml

Update dependencies for azotel
  sdk/tracing/azotel/go.mod
  sdk/tracing/azotel/go.sum
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 14219 (#26077)
  eng/common/actions/login-to-github/action.yml
  eng/common/scripts/login-to-github.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update changelog
  sdk/resourcemanager/appservice/armappservice/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

remove example
  sdk/resourcemanager/appservice/armappservice/websitemanagement_client_example_test.go
Due: eng/pipelines/pullrequest.yml

remove examples
  sdk/resourcemanager/appservice/armappservice/certificateorders_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/certificateordersdiagnostics_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/certificateregistrationprovider_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/domainregistrationprovider_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/domains_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/topleveldomains_client_example_test.go
Due: eng/pipelines/pullrequest.yml

Update dependencies for azotel (#26098)
  sdk/tracing/azotel/go.mod
  sdk/tracing/azotel/go.sum
Due: eng/pipelines/pullrequest.yml

eng/tools/generator: release v0.4.7\n\nFix GenerateChangelog to bypass errors when the module doesn't contain any exports.
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/changelog/changelog_tool.go
  eng/tools/generator/version.go
Due: eng/pipelines/pullrequest.yml

eng/tools/generator: release v0.4.7\n\nFix GenerateChangelog to bypass errors when the module doesn't contain any exports. (#26101)
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/changelog/changelog_tool.go
  eng/tools/generator/version.go
Due: eng/pipelines/pullrequest.yml

it ready
  eng/common/actions/run-benchmarks/action.yml
  eng/common/scripts/Run-Benchmarks.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

organized
  eng/common/actions/run-benchmarks/action.yml
  eng/common/scripts/Run-Benchmarks.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove build
  eng/common/actions/run-benchmarks/action.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

override for logs
  eng/common/actions/run-azsdk-cli-benchmarks/action.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

readme + actions fix
  eng/common/actions/run-benchmarks/action.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

powershell conventions
  eng/common/scripts/Run-Azsdk-Benchmarks.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azcore/runtime: propagate W3C trace context headers in HTTP trace policy
  sdk/azcore/go.mod
  sdk/azcore/go.sum
  sdk/azcore/runtime/policy_http_trace.go
  sdk/azcore/runtime/policy_http_trace_test.go
Due: eng/pipelines/pullrequest.yml

react to comment
  sdk/data/azcosmos/cosmos_client_test.go
Due: none

azcore: tidy go.mod after adding trace dependency
  sdk/azcore/go.mod
Due: eng/pipelines/pullrequest.yml

azcore/perf: update go.sum for otel propagation dependency
  sdk/azcore/testdata/perf/go.mod
  sdk/azcore/testdata/perf/go.sum
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
