Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

fix test
  sdk/resourcemanager/iothub/armiothub/iothub_live_test.go
Due: eng/pipelines/pullrequest.yml

reported error NoRegisteredProviderFound
  sdk/resourcemanager/iothub/armiothub/iothub_live_test.go
Due: eng/pipelines/pullrequest.yml

add build cmd
  eng/tools/generator/cmd/build/buildCmd.go
  eng/tools/generator/cmd/build/buildCmd_test.go
  eng/tools/generator/cmd/v2/common/cmdProcessor.go
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/go.mod
  eng/tools/generator/main.go
Due: eng/pipelines/pullrequest.yml

addback force stable version flag
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/cmd/v2/release/releaseCmd.go
Due: eng/pipelines/pullrequest.yml

add changelog
  eng/tools/generator/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

add cli config
  eng/swagger_to_sdk_config.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[azopenai] Updating to use openai-go/v3. (#25567)
  sdk/ai/azopenai/CHANGELOG.md
  sdk/ai/azopenai/MIGRATION.md
  sdk/ai/azopenai/README.md
  sdk/ai/azopenai/assets.json
  sdk/ai/azopenai/client_audio_test.go
  sdk/ai/azopenai/client_chat_completions_extensions_test.go
  sdk/ai/azopenai/client_chat_completions_test.go
  sdk/ai/azopenai/client_completions_test.go
  sdk/ai/azopenai/client_embeddings_test.go
  sdk/ai/azopenai/client_functions_test.go
  sdk/ai/azopenai/client_rai_test.go
  sdk/ai/azopenai/client_responses_test.go
  sdk/ai/azopenai/client_shared_test.go
  sdk/ai/azopenai/custom_client_image_test.go
  sdk/ai/azopenai/custom_errors.go
  sdk/ai/azopenai/example_audio_test.go
  sdk/ai/azopenai/example_azure_auth_methods_test.go
  sdk/ai/azopenai/example_azure_content_filtering_test.go
  sdk/ai/azopenai/example_azure_on_your_data_test.go
  sdk/ai/azopenai/example_chat_completions_vision_test.go
  sdk/ai/azopenai/example_chatcompletions_test.go
  sdk/ai/azopenai/example_common_test.go
  sdk/ai/azopenai/example_createimage_test.go
  sdk/ai/azopenai/example_deepseek_r1_chat_test.go
  sdk/ai/azopenai/example_embeddings_test.go
  sdk/ai/azopenai/example_legacy_completions_test.go
  sdk/ai/azopenai/example_responses_api_test.go
  sdk/ai/azopenai/go.mod
  sdk/ai/azopenai/go.sum
  sdk/ai/azopenai/helpers_requests.go
  sdk/ai/azopenai/helpers_responses.go
  sdk/ai/azopenai/main_test.go
  sdk/ai/azopenai/version.go
Due: eng/pipelines/pullrequest.yml

Updating release date to today.
  sdk/ai/azopenai/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[azopenai] Updating release date to today. (#25571)
  sdk/ai/azopenai/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Bump @azure-tools/typespec-client-generator-cli (#25572)
  eng/common/tsp-client/package-lock.json
  eng/common/tsp-client/package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Monday, not Friday!
  sdk/ai/azopenai/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Prepare azidentity v1.14.0-beta.2 for release
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
Due: eng/pipelines/pullrequest.yml

upgrade
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
Due: eng/pipelines/pullrequest.yml

Fix AzureCLICredential argument quoting on Windows (#25533)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/developer_credential_util.go
  sdk/azidentity/developer_credential_util_nonwindows.go
  sdk/azidentity/developer_credential_util_windows.go
Due: eng/pipelines/pullrequest.yml

metadata
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

patch first
  sdk/azidentity/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Addressing valid lint warnings.
  sdk/ai/azopenai/client_audio_test.go
  sdk/ai/azopenai/client_chat_completions_extensions_test.go
  sdk/ai/azopenai/client_chat_completions_test.go
  sdk/ai/azopenai/client_shared_test.go
  sdk/ai/azopenai/custom_client_image_test.go
  sdk/ai/azopenai/internal/check_generation_test.go
Due: eng/pipelines/pullrequest.yml

instr
  .github/copilot-instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

revision
  .github/copilot-instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

minor
  .github/copilot-instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Changelog update.
  sdk/ai/azopenai/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/keyvault/armkeyvault/2.0.1 (#25552)
  sdk/resourcemanager/keyvault/armkeyvault/CHANGELOG.md
  sdk/resourcemanager/keyvault/armkeyvault/fake/secrets_server.go
  sdk/resourcemanager/keyvault/armkeyvault/go.mod
  sdk/resourcemanager/keyvault/armkeyvault/go.sum
  sdk/resourcemanager/keyvault/armkeyvault/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/responses.go
  sdk/resourcemanager/keyvault/armkeyvault/secrets_client.go
  sdk/resourcemanager/keyvault/armkeyvault/tsp-location.yaml
  sdk/resourcemanager/keyvault/armkeyvault/vaults_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/version.go
Due: eng/pipelines/pullrequest.yml

update readme
  eng/tools/generator/README.md
Due: eng/pipelines/pullrequest.yml

copilot review
  eng/tools/generator/cmd/build/buildCmd.go
  eng/tools/generator/cmd/build/buildCmd_test.go
Due: eng/pipelines/pullrequest.yml

Update CODEOWNERS to include swagger_to_sdk_config.json
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

upgrade autorest.go
  eng/scripts/MgmtTestLib.ps1
  eng/scripts/build.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

upgrade autorest.go (#25579)
  eng/scripts/MgmtTestLib.ps1
  eng/scripts/build.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_container_read_many.go
Due: none

azcosmos: prep changelog for 1.5.0-beta.3 release (#25566)
  sdk/data/azcosmos/CHANGELOG.md
Due: none

azidentity v1.13.1 (#25574)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/cache/go.mod
  sdk/azidentity/cache/go.sum
  sdk/azidentity/developer_credential_util.go
  sdk/azidentity/developer_credential_util_nonwindows.go
  sdk/azidentity/developer_credential_util_windows.go
  sdk/azidentity/go.mod
  sdk/azidentity/go.sum
  sdk/azidentity/testdata/managed-id-test/go.mod
  sdk/azidentity/testdata/managed-id-test/go.sum
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Fix spelling in README for Azure Compute Limit
  sdk/resourcemanager/computelimit/armcomputelimit/README.md
Due: eng/pipelines/pullrequest.yml

Increment package version after release of azidentity
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of azidentity (#25583)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/version.go
Due: eng/pipelines/pullrequest.yml

[azopenai] Prep for release on Monday (#25576)
  sdk/ai/azopenai/CHANGELOG.md
  sdk/ai/azopenai/client_audio_test.go
  sdk/ai/azopenai/client_chat_completions_extensions_test.go
  sdk/ai/azopenai/client_chat_completions_test.go
  sdk/ai/azopenai/client_shared_test.go
  sdk/ai/azopenai/custom_client_image_test.go
  sdk/ai/azopenai/example_audio_test.go
  sdk/ai/azopenai/example_azure_auth_methods_test.go
  sdk/ai/azopenai/example_azure_content_filtering_test.go
  sdk/ai/azopenai/example_azure_on_your_data_test.go
  sdk/ai/azopenai/example_chat_completions_vision_test.go
  sdk/ai/azopenai/example_chatcompletions_test.go
  sdk/ai/azopenai/example_common_test.go
  sdk/ai/azopenai/example_createimage_test.go
  sdk/ai/azopenai/example_deepseek_r1_chat_test.go
  sdk/ai/azopenai/example_embeddings_test.go
  sdk/ai/azopenai/example_legacy_completions_test.go
  sdk/ai/azopenai/example_responses_api_test.go
  sdk/ai/azopenai/internal/check_generation_test.go
  sdk/ai/azopenai/main_test.go
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 12758 (#25582)
  eng/common/knowledge/customizing-client-tsp.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

minor
  eng/common/instructions/copilot/sdk-release.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
