Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Add SSS3PT_ to stress resource group name calculation (#26703)
  eng/common/TestResources/New-TestResources.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix v2 hashing logic
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_container_read_many_test.go
  sdk/data/azcosmos/internal/epk/epk.go
  sdk/data/azcosmos/partition_key.go
  sdk/data/azcosmos/partition_key_test.go
Due: none

Add fileshares for 2026-06-01 [GO] (#26695)
  sdk/resourcemanager/fileshares/armfileshares/CHANGELOG.md
  sdk/resourcemanager/fileshares/armfileshares/LICENSE.txt
  sdk/resourcemanager/fileshares/armfileshares/README.md
  sdk/resourcemanager/fileshares/armfileshares/assets.json
  sdk/resourcemanager/fileshares/armfileshares/ci.yml
  sdk/resourcemanager/fileshares/armfileshares/client.go
  sdk/resourcemanager/fileshares/armfileshares/client_example_test.go
  sdk/resourcemanager/fileshares/armfileshares/client_factory.go
  sdk/resourcemanager/fileshares/armfileshares/common-asset-functions.ps1
  sdk/resourcemanager/fileshares/armfileshares/constants.go
  sdk/resourcemanager/fileshares/armfileshares/fake/filesharesnapshots_server.go
  sdk/resourcemanager/fileshares/armfileshares/fake/informationaloperations_server.go
  sdk/resourcemanager/fileshares/armfileshares/fake/internal.go
  sdk/resourcemanager/fileshares/armfileshares/fake/operations_server.go
  sdk/resourcemanager/fileshares/armfileshares/fake/privateendpointconnections_server.go
  sdk/resourcemanager/fileshares/armfileshares/fake/privatelinkresources_server.go
  sdk/resourcemanager/fileshares/armfileshares/fake/server.go
  sdk/resourcemanager/fileshares/armfileshares/fake/server_factory.go
  sdk/resourcemanager/fileshares/armfileshares/fileshares_live_test.go
  sdk/resourcemanager/fileshares/armfileshares/filesharesnapshots_client.go
  sdk/resourcemanager/fileshares/armfileshares/filesharesnapshots_client_example_test.go
  sdk/resourcemanager/fileshares/armfileshares/generate-assets-json.ps1
  sdk/resourcemanager/fileshares/armfileshares/go.mod
  sdk/resourcemanager/fileshares/armfileshares/go.sum
  sdk/resourcemanager/fileshares/armfileshares/informationaloperations_client.go
  sdk/resourcemanager/fileshares/armfileshares/informationaloperations_client_example_test.go
  sdk/resourcemanager/fileshares/armfileshares/models.go
  sdk/resourcemanager/fileshares/armfileshares/models_serde.go
  sdk/resourcemanager/fileshares/armfileshares/operations_client.go
  sdk/resourcemanager/fileshares/armfileshares/operations_client_example_test.go
  sdk/resourcemanager/fileshares/armfileshares/options.go
  sdk/resourcemanager/fileshares/armfileshares/privateendpointconnections_client.go
  sdk/resourcemanager/fileshares/armfileshares/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/fileshares/armfileshares/privatelinkresources_client.go
  sdk/resourcemanager/fileshares/armfileshares/privatelinkresources_client_example_test.go
  sdk/resourcemanager/fileshares/armfileshares/responses.go
  sdk/resourcemanager/fileshares/armfileshares/testdata/_metadata.json
  sdk/resourcemanager/fileshares/armfileshares/tsp-location.yaml
  sdk/resourcemanager/fileshares/armfileshares/utils_test.go
  sdk/resourcemanager/fileshares/armfileshares/version.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): replace deprecated runtime.WithHTTPHeader with policy.WithHTTPHeader
  sdk/messaging/azservicebus/admin/admin_client_queue.go
  sdk/messaging/azservicebus/admin/admin_client_rules.go
  sdk/messaging/azservicebus/admin/admin_client_subscription.go
  sdk/messaging/azservicebus/admin/admin_client_topic.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): consolidate duplicate log imports under azlog alias
  sdk/messaging/azservicebus/internal/amqpLinks.go
  sdk/messaging/azservicebus/internal/amqp_test_utils.go
  sdk/messaging/azservicebus/internal/cbs.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): handle ignored Close errors with explicit _ = pattern
  sdk/messaging/azservicebus/admin/admin_client_test.go
  sdk/messaging/azservicebus/admin_client_test.go
  sdk/messaging/azservicebus/client_test.go
  sdk/messaging/azservicebus/example_receiver_test.go
  sdk/messaging/azservicebus/example_sender_test.go
  sdk/messaging/azservicebus/example_session_receiver_test.go
  sdk/messaging/azservicebus/example_websockets_and_proxies_test.go
  sdk/messaging/azservicebus/receiver_simulated_test.go
  sdk/messaging/azservicebus/receiver_test.go
  sdk/messaging/azservicebus/sender_test.go
  sdk/messaging/azservicebus/session_receiver_test.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/relay/armrelay/assets.json
Due: eng/pipelines/pullrequest.yml

fix fake
  sdk/resourcemanager/apimanagement/armapimanagement/fake/authorizationserver_server.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/servicebus/armservicebus/assets.json
  sdk/resourcemanager/servicebus/armservicebus/namespace_live_test.go
Due: eng/pipelines/pullrequest.yml

fix release version
  sdk/resourcemanager/fileshares/armfileshares/CHANGELOG.md
  sdk/resourcemanager/fileshares/armfileshares/version.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/webpubsub/armwebpubsub/assets.json
  sdk/resourcemanager/webpubsub/armwebpubsub/webpubsub_live_test.go
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/security/armsecurity/accountconnectors_client_example_test.go
  sdk/resourcemanager/security/armsecurity/adaptiveapplicationcontrols_client_example_test.go
  sdk/resourcemanager/security/armsecurity/adaptivenetworkhardenings_client_example_test.go
  sdk/resourcemanager/security/armsecurity/customassessmentautomations_client_example_test.go
  sdk/resourcemanager/security/armsecurity/customentitystoreassignments_client_example_test.go
  sdk/resourcemanager/security/armsecurity/jitnetworkaccesspolicies_client_example_test.go
  sdk/resourcemanager/security/armsecurity/operators_client_example_test.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/botservice/armbotservice/assets.json
  sdk/resourcemanager/botservice/armbotservice/botservice_live_test.go
Due: eng/pipelines/pullrequest.yml

fix release version (#26739)
  sdk/resourcemanager/fileshares/armfileshares/CHANGELOG.md
  sdk/resourcemanager/fileshares/armfileshares/version.go
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 15500 (#26735)
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix(azservicebus): address golangci-lint staticcheck QF/ST nits
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/admin/admin_client_test.go
  sdk/messaging/azservicebus/example_receiver_test.go
  sdk/messaging/azservicebus/internal/amqpLinks.go
  sdk/messaging/azservicebus/internal/amqplinks_unit_test.go
  sdk/messaging/azservicebus/internal/utils/retrier.go
  sdk/messaging/azservicebus/receiver.go
  sdk/messaging/azservicebus/receiver_simulated_test.go
  sdk/messaging/azservicebus/receiver_test.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): clean up pre-existing golangci-lint debt (no behavior change) (#26736)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/admin/admin_client_queue.go
  sdk/messaging/azservicebus/admin/admin_client_rules.go
  sdk/messaging/azservicebus/admin/admin_client_subscription.go
  sdk/messaging/azservicebus/admin/admin_client_test.go
  sdk/messaging/azservicebus/admin/admin_client_topic.go
  sdk/messaging/azservicebus/admin_client_test.go
  sdk/messaging/azservicebus/client_test.go
  sdk/messaging/azservicebus/example_receiver_test.go
  sdk/messaging/azservicebus/example_sender_test.go
  sdk/messaging/azservicebus/example_session_receiver_test.go
  sdk/messaging/azservicebus/example_websockets_and_proxies_test.go
  sdk/messaging/azservicebus/internal/amqpLinks.go
  sdk/messaging/azservicebus/internal/amqp_test_utils.go
  sdk/messaging/azservicebus/internal/amqplinks_unit_test.go
  sdk/messaging/azservicebus/internal/cbs.go
  sdk/messaging/azservicebus/internal/utils/retrier.go
  sdk/messaging/azservicebus/receiver.go
  sdk/messaging/azservicebus/receiver_simulated_test.go
  sdk/messaging/azservicebus/receiver_test.go
  sdk/messaging/azservicebus/sender_test.go
  sdk/messaging/azservicebus/session_receiver_test.go
Due: eng/pipelines/pullrequest.yml

fix(azservicebus): set minimum 60s server-timeout for management operations (#26421)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/mgmt.go
  sdk/messaging/azservicebus/internal/mgmt_test.go
  sdk/messaging/azservicebus/internal/rpc.go
Due: eng/pipelines/pullrequest.yml

fix: address review - scope server-timeout to management ops, update comment wording
  sdk/messaging/azservicebus/internal/mgmt.go
  sdk/messaging/azservicebus/internal/rpc.go
Due: eng/pipelines/pullrequest.yml

fix: address review - reword changelog to clarify Java's 59s default
  sdk/messaging/azservicebus/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

internal
  sdk/data/azcosmos/internal/epk/epk.go
  sdk/data/azcosmos/internal/epk/epk_test.go
Due: none

epk routing for HPK, dual-indexing container cache
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_collection_routing_map.go
  sdk/data/azcosmos/cosmos_collection_routing_map_test.go
  sdk/data/azcosmos/cosmos_container_properties_cache.go
  sdk/data/azcosmos/cosmos_container_properties_cache_test.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_container_read_many_test.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/internal/epk/epk.go
  sdk/data/azcosmos/internal/epk/epk_test.go
  sdk/data/azcosmos/partition_key.go
Due: none

go fmt
  sdk/data/azcosmos/cosmos_container_properties_cache_test.go
  sdk/data/azcosmos/cosmos_container_read_many_test.go
Due: none

fix test
  sdk/resourcemanager/securityinsights/armsecurityinsights/dataconnectors_client_example_test.go
  sdk/resourcemanager/securityinsights/armsecurityinsights/domainwhois_client_example_test.go
  sdk/resourcemanager/securityinsights/armsecurityinsights/ipgeodata_client_example_test.go
  sdk/resourcemanager/securityinsights/armsecurityinsights/threatintelligenceindicator_client_example_test.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/securityinsights/armsecurityinsights/domainwhois_client_example_test.go
Due: eng/pipelines/pullrequest.yml

gofmt format
  sdk/resourcemanager/securityinsights/armsecurityinsights/ipgeodata_client_example_test.go
Due: eng/pipelines/pullrequest.yml

Disable live tests in armapimanagement (#26586)
  sdk/resourcemanager/apimanagement/armapimanagement/utils_test.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/signalr/armsignalr/assets.json
  sdk/resourcemanager/signalr/armsignalr/signalr_live_test.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/relay/armrelay/assets.json
  sdk/resourcemanager/relay/armrelay/namespaces_live_test.go
Due: eng/pipelines/pullrequest.yml

update test for `classic Microsoft CDN profile creation is no longer supported by the service`
  sdk/resourcemanager/cdn/armcdn/cdn_live_test.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/dynatrace/armdynatrace/assets.json
  sdk/resourcemanager/dynatrace/armdynatrace/dynatrace_live_test.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/attestation/armattestation/assets.json
  sdk/resourcemanager/attestation/armattestation/attestation_live_test.go
Due: eng/pipelines/pullrequest.yml

make rid based, change undefined pk behavior
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
  sdk/data/azcosmos/partition_key.go
Due: none

Add diagnostic string support (#26548)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_response.go
  sdk/data/azcosmos/cosmos_database.go
  sdk/data/azcosmos/cosmos_database_response.go
  sdk/data/azcosmos/cosmos_item_response.go
  sdk/data/azcosmos/cosmos_offers.go
  sdk/data/azcosmos/cosmos_partition_key_range_response.go
  sdk/data/azcosmos/cosmos_query_response.go
  sdk/data/azcosmos/cosmos_response.go
  sdk/data/azcosmos/cosmos_transactional_batch_response.go
  sdk/data/azcosmos/diagnostics.go
  sdk/data/azcosmos/diagnostics_test.go
  sdk/data/azcosmos/throughput_response.go
  sdk/data/azcosmos/trace.go
  sdk/data/azcosmos/trace_data.go
  sdk/data/azcosmos/trace_json_writer.go
Due: none

Update cosmos_container_properties_cache.go
  sdk/data/azcosmos/cosmos_container_properties_cache.go
Due: none

rename tests
  sdk/data/azcosmos/cosmos_partition_key_range_cache_test.go
Due: none

remove example test
  sdk/resourcemanager/devcenter/armdevcenter/attachednetworks_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/catalogimagedefinitionbuild_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/catalogimagedefinitionbuilds_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/catalogimagedefinitions_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/catalogs_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/checknameavailability_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/checkscopednameavailability_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/customizationtasks_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/devboxdefinitions_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/devcenters_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/encryptionsets_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/environmentdefinitions_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/environmenttypes_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/galleries_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/images_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/imageversions_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/networkconnections_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/operations_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/operationstatuses_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/pools_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/projectallowedenvironmenttypes_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/projectcatalogenvironmentdefinitions_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/projectcatalogimagedefinitionbuild_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/projectcatalogimagedefinitionbuilds_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/projectcatalogimagedefinitions_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/projectcatalogs_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/projectenvironmenttypes_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/projectpolicies_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/projects_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/schedules_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/skus_client_example_test.go
  sdk/resourcemanager/devcenter/armdevcenter/usages_client_example_test.go
Due: eng/pipelines/pullrequest.yml

go mod tidy
  sdk/resourcemanager/devcenter/armdevcenter/go.mod
Due: eng/pipelines/pullrequest.yml
