Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      ServiceDirectory: ${{ parameters.Service }}

Update eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/Verify-Links.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update verify-links.yml
  eng/common/pipelines/templates/steps/verify-links.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update logging for verify-links script
  eng/common/scripts/Verify-Links.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add support for one extra subdirectory for ARM modules
  eng/tools/generator/typespec/typespec-go.go
  eng/tools/generator/typespec/typespec-go_test.go
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10895 (#24796)
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update script to support running on GH action (#24795)
  eng/common/mcp/azure-sdk-mcp.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Upgrade emitter and TypeSpec versions to latest (#24781)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

generate typespec
  sdk/resourcemanager/arizeaiobservabilityeval/armarizeaiobservabilityeval/_metadata.json
  sdk/resourcemanager/carbonoptimization/armcarbonoptimization/_metadata.json
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/_metadata.json
  sdk/resourcemanager/databasewatcher/armdatabasewatcher/_metadata.json
Due: eng/pipelines/pullrequest.yml

move _metadata.json into testdata folder (#24782)
  sdk/resourcemanager/avs/armavs/testdata/_metadata.json
  sdk/resourcemanager/chaos/armchaos/testdata/_metadata.json
  sdk/resourcemanager/mongocluster/armmongocluster/testdata/_metadata.json
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/testdata/_metadata.json
  sdk/security/keyvault/azadmin/backup/testdata/_metadata.json
  sdk/security/keyvault/azadmin/rbac/testdata/_metadata.json
  sdk/security/keyvault/azadmin/settings/testdata/_metadata.json
  sdk/security/keyvault/azcertificates/testdata/_metadata.json
  sdk/security/keyvault/azkeys/testdata/_metadata.json
  sdk/security/keyvault/azsecrets/testdata/_metadata.json
Due: eng/pipelines/pullrequest.yml

azcosmos: stop depending on Track 1
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
  sdk/data/azcosmos/go_mod_tidy_hack.go
Due: none

azcosmos: stop depending on Track 1 (#24801)
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
  sdk/data/azcosmos/go_mod_tidy_hack.go
Due: none

update asset
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/appconfiguration/armappconfiguration/3.0.0 (#24757)
  sdk/resourcemanager/appconfiguration/armappconfiguration/CHANGELOG.md
  sdk/resourcemanager/appconfiguration/armappconfiguration/README.md
  sdk/resourcemanager/appconfiguration/armappconfiguration/appconfiguration_live_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/assets.json
  sdk/resourcemanager/appconfiguration/armappconfiguration/autorest.md
  sdk/resourcemanager/appconfiguration/armappconfiguration/client_factory.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/configurationstores_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/configurationstores_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/constants.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/configurationstores_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/internal.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/keyvalues_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/operations_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/privateendpointconnections_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/privatelinkresources_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/replicas_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/server_factory.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/snapshots_server.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/fake/time_rfc3339.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/go.mod
  sdk/resourcemanager/appconfiguration/armappconfiguration/go.sum
  sdk/resourcemanager/appconfiguration/armappconfiguration/keyvalues_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/keyvalues_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/models.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/models_serde.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/operations_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/operations_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/options.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/privateendpointconnections_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/privatelinkresources_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/privatelinkresources_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/replicas_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/replicas_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/responses.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/snapshots_client.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/snapshots_client_example_test.go
  sdk/resourcemanager/appconfiguration/armappconfiguration/time_rfc3339.go
Due: eng/pipelines/pullrequest.yml

Use Path.Combine for create directory
  eng/common/TestResources/New-TestResources.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Use releaseJob for publishing
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update date
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/CHANGELOG.md
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/ci.yml
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/agricultureplatform/armagricultureplatform/0.1.0 (#24286)
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/CHANGELOG.md
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/LICENSE.txt
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/README.md
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/agriservice_client.go
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/agriservice_client_example_test.go
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/ci.yml
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/client_factory.go
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/constants.go
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/fake/agriservice_server.go
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/fake/internal.go
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/fake/operations_server.go
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/fake/server_factory.go
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/fake/time_rfc3339.go
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/go.mod
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/go.sum
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/models.go
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/models_serde.go
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/operations_client.go
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/operations_client_example_test.go
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/options.go
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/responses.go
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/time_rfc3339.go
  sdk/resourcemanager/agricultureplatform/armagricultureplatform/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/containerservice/armcontainerservice/7.1.0 generation from spec commit: 87bd051c295d94fffa28a4fa6b18f8b4b71c50ec
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/0.1.0 (#24758)
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/CHANGELOG.md
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/LICENSE.txt
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/README.md
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/autorest.md
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/build.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/ci.yml
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/client.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/client_factory.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/constants.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/fake/internal.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/fake/privateendpointconnections_server.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/fake/privatelinkresources_server.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/fake/server.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/fake/server_factory.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/go.mod
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/go.sum
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/models.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/models_serde.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/options.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/privateendpointconnections_client.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/privatelinkresources_client.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/privatelinkresources_client_example_test.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/responses.go
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/time_rfc3339.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/containerservice/armcontainerservice/7.1.0 (#24806)
  sdk/resourcemanager/containerservice/armcontainerservice/CHANGELOG.md
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/agentpools_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/assets.json
  sdk/resourcemanager/containerservice/armcontainerservice/autorest.md
  sdk/resourcemanager/containerservice/armcontainerservice/constants.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/machines_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/maintenanceconfigurations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/managedclusters_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/models.go
  sdk/resourcemanager/containerservice/armcontainerservice/models_serde.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/operations_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/privatelinkresources_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/resolveprivatelinkserviceid_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/snapshots_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessrolebindings_client_example_test.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client.go
  sdk/resourcemanager/containerservice/armcontainerservice/trustedaccessroles_client_example_test.go
Due: eng/pipelines/pullrequest.yml

update date
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/playwright/armplaywright/0.1.0 generation from spec commit: 87bd051c295d94fffa28a4fa6b18f8b4b71c50ec
  sdk/resourcemanager/playwright/armplaywright/CHANGELOG.md
  sdk/resourcemanager/playwright/armplaywright/LICENSE.txt
  sdk/resourcemanager/playwright/armplaywright/README.md
  sdk/resourcemanager/playwright/armplaywright/ci.yml
  sdk/resourcemanager/playwright/armplaywright/client_factory.go
  sdk/resourcemanager/playwright/armplaywright/constants.go
  sdk/resourcemanager/playwright/armplaywright/fake/internal.go
  sdk/resourcemanager/playwright/armplaywright/fake/operations_server.go
  sdk/resourcemanager/playwright/armplaywright/fake/quotas_server.go
  sdk/resourcemanager/playwright/armplaywright/fake/server_factory.go
  sdk/resourcemanager/playwright/armplaywright/fake/workspacequotas_server.go
  sdk/resourcemanager/playwright/armplaywright/fake/workspaces_server.go
  sdk/resourcemanager/playwright/armplaywright/go.mod
  sdk/resourcemanager/playwright/armplaywright/go.sum
  sdk/resourcemanager/playwright/armplaywright/models.go
  sdk/resourcemanager/playwright/armplaywright/models_serde.go
  sdk/resourcemanager/playwright/armplaywright/operations_client.go
  sdk/resourcemanager/playwright/armplaywright/operations_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/options.go
  sdk/resourcemanager/playwright/armplaywright/quotas_client.go
  sdk/resourcemanager/playwright/armplaywright/quotas_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/responses.go
  sdk/resourcemanager/playwright/armplaywright/testdata/_metadata.json
  sdk/resourcemanager/playwright/armplaywright/time_rfc3339.go
  sdk/resourcemanager/playwright/armplaywright/tsp-location.yaml
  sdk/resourcemanager/playwright/armplaywright/workspacequotas_client.go
  sdk/resourcemanager/playwright/armplaywright/workspacequotas_client_example_test.go
  sdk/resourcemanager/playwright/armplaywright/workspaces_client.go
  sdk/resourcemanager/playwright/armplaywright/workspaces_client_example_test.go
Due: eng/pipelines/pullrequest.yml

update readme
  sdk/resourcemanager/playwright/armplaywright/README.md
Due: eng/pipelines/pullrequest.yml

add managed identity sample
  sdk/ai/azopenai/example_azure_auth_methods_test.go
Due: eng/pipelines/pullrequest.yml

remove outputs
  sdk/ai/azopenai/example_azure_auth_methods_test.go
Due: eng/pipelines/pullrequest.yml

update date (#24808)
  sdk/resourcemanager/kubernetesconfiguration/armprivatelinkscopes/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

add header
  sdk/ai/azopenai/example_azure_auth_methods_test.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
