Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Update 1es-redirect.yml
  eng/pipelines/templates/stages/1es-redirect.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update archetype-sdk-client.yml
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Disable CG on all jobs except internal build jobs (#24998)
  eng/pipelines/templates/jobs/archetype-sdk-client.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/stages/1es-redirect.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update CODEOWNERS (#24994)
  .github/CODEOWNERS
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Fixing git staging errors
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/testproxy/dotnet-devcert.pfx
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Install .NET from tools repo global.json
  eng/common/pipelines/templates/jobs/perf.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

use exact same install steps as tools repo
  eng/common/pipelines/templates/jobs/perf.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

formatting
  eng/common/pipelines/templates/jobs/perf.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Set workingDirectory to tools root
  eng/common/pipelines/templates/jobs/perf.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

revert formatting
  eng/common/pipelines/templates/jobs/perf.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 11336 (#25006)
  eng/common/pipelines/templates/jobs/perf.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

sync instructions
  .github/prompts/go-sdk-breaking-changes-review.prompts.md
  .github/prompts/go-sdk-generation.prompts.md
  documentation/sdk-breaking-changes-guide.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

review update
  eng/tools/generator/README.md
  eng/tools/generator/cmd/generate/generateCmd.go
Due: eng/pipelines/pullrequest.yml

Fixing git clone issues (no file content was changed but cloning brough some errors)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/testproxy/dotnet-devcert.pfx
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Install azsdk cli to a place in PATH
  eng/common/mcp/azure-sdk-mcp.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Also update shell profile for linux
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Only add to path if user manually approves via parameter
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Install azsdk mcp server in copilot setup steps
  .github/workflows/copilot-setup-steps.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 11333 (#25009)
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Handle tool/directory copy better
  eng/common/mcp/azure-sdk-mcp.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Use /usr/bin/env instead of /bin/env
  eng/common/mcp/azure-sdk-mcp.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Append additional newline
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 11353 (#25011)
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Install azsdk mcp server in copilot setup steps (#25010)
  .github/workflows/copilot-setup-steps.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/resourcemanager/mongocluster/armmongocluster/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

[azservicebus] Make it possible to settle and renew a message using a lock token (#24966)
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/example_receiver_test.go
  sdk/messaging/azservicebus/internal/constants.go
  sdk/messaging/azservicebus/messageSettler.go
  sdk/messaging/azservicebus/receiver2_test.go
  sdk/messaging/azservicebus/receiver_test.go
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/resourcemanager/arizeaiobservabilityeval/armarizeaiobservabilityeval/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

restore change
  .vscode/mcp.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add tools for agents (#24962)
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/README.md
  eng/tools/generator/cmd/environment/environmentCmd.go
  eng/tools/generator/cmd/environment/environmentCmd_test.go
  eng/tools/generator/cmd/generate/generateCmd.go
  eng/tools/generator/cmd/generate/generateCmd_test.go
  eng/tools/generator/cmd/template/templateCmd.go
  eng/tools/generator/cmd/v2/automation/automationCmd.go
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/cmd/v2/refresh/refreshCmd.go
  eng/tools/generator/cmd/v2/release/releaseCmd.go
  eng/tools/generator/main.go
  eng/tools/generator/template/rpName/packageName/README.md.tpl
  eng/tools/generator/template/rpName/packageName/go.mod.tpl
  eng/tools/generator/template/typespec/README.md.tpl
  eng/tools/generator/template/typespec/go.mod.tpl
Due: eng/pipelines/pullrequest.yml

add FeedRange requirement to resolve emulator tests.
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Removed IfNoneMatchHeader test, since it's no longer needed.
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

rename the internal getPartitionKeyRanges helper for the query engine for now
  sdk/data/azcosmos/cosmos_container_query_engine.go
Due: none

fixing git errors from cloning
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/testproxy/dotnet-devcert.pfx
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

errorinfo.NonRetriable() doesn't wrap errors which are already NonRetriable
  sdk/internal/CHANGELOG.md
  sdk/internal/errorinfo/errorinfo.go
  sdk/internal/errorinfo/errorinfo_test.go
  sdk/internal/version.go
Due: eng/pipelines/pullrequest.yml

BearerTokenPolicy ensures authN errors are non-retriable
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/policy_bearer_token.go
  sdk/azcore/runtime/policy_bearer_token_test.go
Due: eng/pipelines/pullrequest.yml

🔍
  sdk/azcore/runtime/policy_bearer_token_test.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
