Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Increment package version after release of batch/azbatch (#24586)
  sdk/batch/azbatch/CHANGELOG.md
  sdk/batch/azbatch/version.go
Due: eng/pipelines/pullrequest.yml

cspell: Remove node version requirement, node is already on the agent
  eng/common/pipelines/templates/steps/check-spelling.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

deploy the proxy with human-readable multipart output (#24553)
  eng/common/testproxy/target_version.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove mgmt-mock-test.yml
  eng/pipelines/templates/jobs/mgmt-mock-test.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove Invoke-MgmtMockTest.ps1
  eng/scripts/Invoke-MgmtMockTest.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/dell/armdell/0.1.0 generation from spec commit: a3baecd6571d7e4b979a7aef527d29a3509d4dc7
  sdk/resourcemanager/dell/armdell/CHANGELOG.md
  sdk/resourcemanager/dell/armdell/LICENSE.txt
  sdk/resourcemanager/dell/armdell/README.md
  sdk/resourcemanager/dell/armdell/ci.yml
  sdk/resourcemanager/dell/armdell/client_factory.go
  sdk/resourcemanager/dell/armdell/constants.go
  sdk/resourcemanager/dell/armdell/fake/filesystems_server.go
  sdk/resourcemanager/dell/armdell/fake/internal.go
  sdk/resourcemanager/dell/armdell/fake/operations_server.go
  sdk/resourcemanager/dell/armdell/fake/server_factory.go
  sdk/resourcemanager/dell/armdell/filesystems_client.go
  sdk/resourcemanager/dell/armdell/filesystems_client_example_test.go
  sdk/resourcemanager/dell/armdell/go.mod
  sdk/resourcemanager/dell/armdell/go.sum
  sdk/resourcemanager/dell/armdell/models.go
  sdk/resourcemanager/dell/armdell/models_serde.go
  sdk/resourcemanager/dell/armdell/operations_client.go
  sdk/resourcemanager/dell/armdell/operations_client_example_test.go
  sdk/resourcemanager/dell/armdell/options.go
  sdk/resourcemanager/dell/armdell/responses.go
  sdk/resourcemanager/dell/armdell/time_rfc3339.go
  sdk/resourcemanager/dell/armdell/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/dell/armdellstorage/0.1.0 generation from spec commit: 44714e26c29f671c94daec94cfc421086b92a2e6
  sdk/resourcemanager/dell/armdellstorage/CHANGELOG.md
  sdk/resourcemanager/dell/armdellstorage/LICENSE.txt
  sdk/resourcemanager/dell/armdellstorage/README.md
  sdk/resourcemanager/dell/armdellstorage/ci.yml
  sdk/resourcemanager/dell/armdellstorage/client_factory.go
  sdk/resourcemanager/dell/armdellstorage/constants.go
  sdk/resourcemanager/dell/armdellstorage/fake/filesystems_server.go
  sdk/resourcemanager/dell/armdellstorage/fake/internal.go
  sdk/resourcemanager/dell/armdellstorage/fake/operations_server.go
  sdk/resourcemanager/dell/armdellstorage/fake/server_factory.go
  sdk/resourcemanager/dell/armdellstorage/filesystems_client.go
  sdk/resourcemanager/dell/armdellstorage/filesystems_client_example_test.go
  sdk/resourcemanager/dell/armdellstorage/go.mod
  sdk/resourcemanager/dell/armdellstorage/go.sum
  sdk/resourcemanager/dell/armdellstorage/models.go
  sdk/resourcemanager/dell/armdellstorage/models_serde.go
  sdk/resourcemanager/dell/armdellstorage/operations_client.go
  sdk/resourcemanager/dell/armdellstorage/operations_client_example_test.go
  sdk/resourcemanager/dell/armdellstorage/options.go
  sdk/resourcemanager/dell/armdellstorage/responses.go
  sdk/resourcemanager/dell/armdellstorage/time_rfc3339.go
  sdk/resourcemanager/dell/armdellstorage/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

remove mock test (#24579)
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/mgmt-mock-test.yml
  eng/scripts/Invoke-MgmtMockTest.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/mongodbatlas/armmongodbatlas/0.1.0 generation from spec commit: c0d9186502bf5acb015cda9c0ef6fb22a531d896
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/CHANGELOG.md
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/LICENSE.txt
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/README.md
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/ci.yml
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/client_factory.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/constants.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/fake/internal.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/fake/operations_server.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/fake/organizations_server.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/fake/server_factory.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/go.mod
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/go.sum
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/models.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/models_serde.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/operations_client.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/operations_client_example_test.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/options.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/organizations_client.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/organizations_client_example_test.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/responses.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/time_rfc3339.go
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/0.1.0 generation from spec commit: c0d9186502bf5acb015cda9c0ef6fb22a531d896
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/CHANGELOG.md
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/LICENSE.txt
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/README.md
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/ci.yml
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/client_factory.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/constants.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/fake/internal.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/fake/operations_server.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/fake/server_factory.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/go.mod
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/go.sum
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/models.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/models_serde.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/operations_client.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/operations_client_example_test.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/options.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/responses.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[Storage] stg98 Features (#24581)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/appendblob/models.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/constants.go
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azblob/pageblob/client_test.go
  sdk/storage/azblob/pageblob/models.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/sas/service.go
  sdk/storage/azfile/assets.json
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/file/client_test.go
  sdk/storage/azfile/file/examples_test.go
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/file/responses.go
  sdk/storage/azfile/internal/generated/autorest.md
  sdk/storage/azfile/internal/generated/constants.go
  sdk/storage/azfile/internal/generated/zz_directory_client.go
  sdk/storage/azfile/internal/generated/zz_file_client.go
  sdk/storage/azfile/internal/generated/zz_service_client.go
  sdk/storage/azfile/internal/generated/zz_share_client.go
Due: eng/pipelines/pullrequest.yml

upgrade emitter
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/0.1.0 generation from spec commit: 121c5e84647a9cdb1767d5146affdfe2af91d776
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/CHANGELOG.md
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/LICENSE.txt
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/README.md
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/ci.yml
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/client_factory.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/constants.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/fake/internal.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/fake/operations_server.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/fake/server_factory.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/go.mod
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/go.sum
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/models.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/models_serde.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/operations_client.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/operations_client_example_test.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/options.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/responses.go
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

rename module name
  sdk/resourcemanager/dell/armdellstorage/README.md
Due: eng/pipelines/pullrequest.yml

rename module name
  sdk/resourcemanager/mongodbatlas/armmongodbatlas/README.md
Due: eng/pipelines/pullrequest.yml

add changelog
  sdk/resourcemanager/arizeaiobservabilityeval/armarizeaiobservabilityeval/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

rename module name
  sdk/resourcemanager/onlineexperimentation/armonlineexperimentation/README.md
Due: eng/pipelines/pullrequest.yml

update date
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

update date (#24595)
  sdk/resourcemanager/portalservicescopilot/armportalservicescopilot/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

update title
  sdk/resourcemanager/commonedgesitemanageroperations/armcommonedgesitemanageroperations/README.md
Due: eng/pipelines/pullrequest.yml

prep for release
  sdk/storage/azfile/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/storage/azfile/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

update changelog
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

prep for release (#24596)
  sdk/storage/azfile/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

update asset
  sdk/resourcemanager/containerregistry/armcontainerregistry/assets.json
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/search/armsearch/search_live_test.go
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/assets.json
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/operations_live_test.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azfile
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

Upgrade emitter version (#24592)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

apiview comments resolve
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/appendblob/models.go
  sdk/storage/azblob/blob/constants.go
  sdk/storage/azblob/blob/models.go
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/pageblob/models.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of storage/azfile (#24597)
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

encode rename source
  sdk/storage/azdatalake/internal/path/models.go
Due: eng/pipelines/pullrequest.yml

changelog update
  sdk/storage/azdatalake/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

rename UnstablePreviewQueryEngine back to QueryEngine
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/cosmos_query_request_options.go
Due: none

Revert "remove cosmos query engine components, we'll move them to a future preview"
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/unstable/README.md
  sdk/data/azcosmos/unstable/queryengine/cosmos_query_engine.go
Due: none

update version number
  sdk/data/azcosmos/CHANGELOG.md
Due: none
