Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      ServiceDirectory: ${{ parameters.Service }}

Revert perf changes
  eng/common/pipelines/templates/jobs/perf.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Test persistent cache separation
  sdk/azidentity/cache/cache_test.go
Due: eng/pipelines/pullrequest.yml

Update pool to azsdk-pool and linux image to ubuntu 24 (#24820)
  eng/pipelines/templates/jobs/archetype-go-release.yml
  eng/pipelines/templates/jobs/archetype-sdk-client-samples.yml
  eng/pipelines/templates/variables/image.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Remove linux next image/pool
  eng/pipelines/mgmt-auto-release.yml
  eng/pipelines/templates/variables/image.yml
  sdk/azidentity/ci.yml
  sdk/azidentity/managed-identity-matrix.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Test persistent cache separation (#24824)
  sdk/azidentity/cache/cache_test.go
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 10953 (#24826)
  eng/common/pipelines/codeowners-linter.yml
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/docindex.yml
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/resources/armbicep/0.1.0 generation from spec commit: 5f272067844826380939c0b3f24ca3cc99dbe308
  sdk/resourcemanager/resources/armbicep/CHANGELOG.md
  sdk/resourcemanager/resources/armbicep/LICENSE.txt
  sdk/resourcemanager/resources/armbicep/README.md
  sdk/resourcemanager/resources/armbicep/ci.yml
  sdk/resourcemanager/resources/armbicep/client_factory.go
  sdk/resourcemanager/resources/armbicep/constants.go
  sdk/resourcemanager/resources/armbicep/decompileoperationgroup_client.go
  sdk/resourcemanager/resources/armbicep/decompileoperationgroup_client_example_test.go
  sdk/resourcemanager/resources/armbicep/fake/decompileoperationgroup_server.go
  sdk/resourcemanager/resources/armbicep/fake/internal.go
  sdk/resourcemanager/resources/armbicep/fake/server_factory.go
  sdk/resourcemanager/resources/armbicep/go.mod
  sdk/resourcemanager/resources/armbicep/go.sum
  sdk/resourcemanager/resources/armbicep/models.go
  sdk/resourcemanager/resources/armbicep/models_serde.go
  sdk/resourcemanager/resources/armbicep/options.go
  sdk/resourcemanager/resources/armbicep/responses.go
  sdk/resourcemanager/resources/armbicep/testdata/_metadata.json
  sdk/resourcemanager/resources/armbicep/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/0.1.0 generation from spec commit: 5f272067844826380939c0b3f24ca3cc99dbe308
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/CHANGELOG.md
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/LICENSE.txt
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/README.md
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/ci.yml
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/client_factory.go
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/constants.go
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/deploymentsafeguards_client.go
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/deploymentsafeguards_client_example_test.go
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/fake/deploymentsafeguards_server.go
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/fake/internal.go
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/fake/operations_server.go
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/fake/server_factory.go
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/go.mod
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/go.sum
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/models.go
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/models_serde.go
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/operations_client.go
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/operations_client_example_test.go
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/options.go
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/responses.go
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/testdata/_metadata.json
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/time_rfc3339.go
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

update readme
  sdk/resourcemanager/containerservicesafeguards/armcontainerservicesafeguards/README.md
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/purestorageblock/armpurestorageblock/1.0.0 generation from spec commit: 5f272067844826380939c0b3f24ca3cc99dbe308
  sdk/resourcemanager/purestorageblock/armpurestorageblock/CHANGELOG.md
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsstoragecontainers_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsstoragecontainers_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsstoragecontainervolumes_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsstoragecontainervolumes_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsvms_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsvms_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsvmvolumes_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsvmvolumes_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/constants.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/go.mod
  sdk/resourcemanager/purestorageblock/armpurestorageblock/go.sum
  sdk/resourcemanager/purestorageblock/armpurestorageblock/operations_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/operations_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/reservations_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/reservations_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/storagepools_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/storagepools_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/testdata/_metadata.json
  sdk/resourcemanager/purestorageblock/armpurestorageblock/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Upgrade TypeSpec emitter and toolset versions (#24830)
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix lock file problem
  eng/emitter-package-lock.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix lock file problem (#24831)
  eng/emitter-package-lock.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Increment package version after release of ai/azopenai (#24726)
  sdk/ai/azopenai/CHANGELOG.md
  sdk/ai/azopenai/version.go
Due: eng/pipelines/pullrequest.yml

Prepping for release, no final commit hash yet.
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/internal/version.go
Due: eng/pipelines/pullrequest.yml

Update to latest commit hash on azure-rest-api-specs/main for Event Grid System Events
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Moving this file here for now - it'll automatically happen in the future when the emitter is fixed.
  sdk/messaging/eventgrid/azsystemevents/testdata/_metadata.json
Due: eng/pipelines/pullrequest.yml

Updating to 'main' of azure-rest-api-specs for System Events
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Rebase'd against main, and picked up the new tsp-client that drops the metadata.json file in the proper spot now (under testdata).
  sdk/messaging/eventgrid/azsystemevents/testdata/_metadata.json
Due: eng/pipelines/pullrequest.yml

updated with today's date for release
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

cosmos: enable support for creating containers with vector policies
  sdk/data/azcosmos/cosmos_container_properties.go
  sdk/data/azcosmos/cosmos_container_properties_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
  sdk/data/azcosmos/indexing_policy.go
  sdk/data/azcosmos/vector_embedding_policy.go
Due: none

Remove linux next image/pool (#24825)
  eng/pipelines/mgmt-auto-release.yml
  eng/pipelines/templates/variables/image.yml
  sdk/azidentity/ci.yml
  sdk/azidentity/managed-identity-matrix.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[azsystemevents] Prepping for release (#24751)
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/constants.go
  sdk/messaging/eventgrid/azsystemevents/internal/generate/generate.go
  sdk/messaging/eventgrid/azsystemevents/internal/version.go
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/system_events2_test.go
  sdk/messaging/eventgrid/azsystemevents/system_events4_test.go
  sdk/messaging/eventgrid/azsystemevents/testdata/_metadata.json
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Revised docstring for GetPartitionKeyRange function
  sdk/data/azcosmos/cosmos_container.go
Due: none

Removed various unnecessary comments
  sdk/data/azcosmos/cosmos_container.go
Due: none

test an invalid value
  sdk/azidentity/default_azure_credential_test.go
Due: eng/pipelines/pullrequest.yml

Fixed partition key range request options test to account for only nil entries
  sdk/data/azcosmos/cosmos_partition_key_range_request_options_test.go
Due: none

Update CHANGELOG.md
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Revised PartitionKeyRange and PartitionKeyRangeResponse structs according to Copilot suggestions
  sdk/data/azcosmos/cosmos_partition_key_range_response.go
Due: none

Revised Doc comments according to azcosmos - CI build
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_partition_key_range_request_options.go
  sdk/data/azcosmos/cosmos_partition_key_range_response.go
Due: none

Updating constant names based on new typespec, and documenting deleted type
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/constants.go
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Fixing broken tests.
  sdk/messaging/eventgrid/azsystemevents/system_events2_test.go
  sdk/messaging/eventgrid/azsystemevents/system_events4_test.go
Due: eng/pipelines/pullrequest.yml

Remove release date for now.
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Revised doc comment type from multi-line ( /* */ ) to standard in-line ( // )
  sdk/data/azcosmos/cosmos_partition_key_range_response.go
Due: none

Revised GetPartitionKeyRange doc comment according to CI - build
  sdk/data/azcosmos/cosmos_container.go
Due: none

[azsystemevents] Updating constant names based on new typespec, and documenting deleted type (#24836)
  sdk/messaging/eventgrid/azsystemevents/CHANGELOG.md
  sdk/messaging/eventgrid/azsystemevents/constants.go
  sdk/messaging/eventgrid/azsystemevents/system_events2_test.go
  sdk/messaging/eventgrid/azsystemevents/system_events4_test.go
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/resources/armresources/3.0.0 (#24759)
  sdk/resourcemanager/resources/armresources/CHANGELOG.md
  sdk/resourcemanager/resources/armresources/README.md
  sdk/resourcemanager/resources/armresources/assets.json
  sdk/resourcemanager/resources/armresources/autorest.md
  sdk/resourcemanager/resources/armresources/client.go
  sdk/resourcemanager/resources/armresources/client_factory.go
  sdk/resourcemanager/resources/armresources/constants.go
  sdk/resourcemanager/resources/armresources/deploymentoperations_client.go
  sdk/resourcemanager/resources/armresources/deployments_client.go
  sdk/resourcemanager/resources/armresources/deployments_client_example_test.go
  sdk/resourcemanager/resources/armresources/deployments_client_live_test.go
  sdk/resourcemanager/resources/armresources/fake/deploymentoperations_server.go
  sdk/resourcemanager/resources/armresources/fake/deployments_server.go
  sdk/resourcemanager/resources/armresources/fake/operations_server.go
  sdk/resourcemanager/resources/armresources/fake/providerresourcetypes_server.go
  sdk/resourcemanager/resources/armresources/fake/providers_server.go
  sdk/resourcemanager/resources/armresources/fake/resourcegroups_server.go
  sdk/resourcemanager/resources/armresources/fake/server.go
  sdk/resourcemanager/resources/armresources/fake/server_factory.go
  sdk/resourcemanager/resources/armresources/fake/tags_server.go
  sdk/resourcemanager/resources/armresources/go.mod
  sdk/resourcemanager/resources/armresources/go.sum
  sdk/resourcemanager/resources/armresources/models.go
  sdk/resourcemanager/resources/armresources/models_serde.go
  sdk/resourcemanager/resources/armresources/operations_client.go
  sdk/resourcemanager/resources/armresources/options.go
  sdk/resourcemanager/resources/armresources/providerresourcetypes_client.go
  sdk/resourcemanager/resources/armresources/providerresourcetypes_client_example_test.go
  sdk/resourcemanager/resources/armresources/providers_client.go
  sdk/resourcemanager/resources/armresources/providers_client_example_test.go
  sdk/resourcemanager/resources/armresources/resourcegroups_client.go
  sdk/resourcemanager/resources/armresources/resourcegroups_client_example_test.go
  sdk/resourcemanager/resources/armresources/resourcegroups_client_live_test.go
  sdk/resourcemanager/resources/armresources/resources_client_live_test.go
  sdk/resourcemanager/resources/armresources/responses.go
  sdk/resourcemanager/resources/armresources/tags_client.go
  sdk/resourcemanager/resources/armresources/tags_client_example_test.go
  sdk/resourcemanager/resources/armresources/tags_client_live_test.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
