Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Remove azidentity/go.work (#25685)
  sdk/azidentity/go.work
Due: eng/pipelines/pullrequest.yml

Collect aztables lint
  sdk/data/aztables/client.go
  sdk/data/aztables/cosmos_patch_transform_policy.go
  sdk/data/aztables/doc.go
  sdk/data/aztables/entity.go
  sdk/data/aztables/internal/service_client.go
  sdk/data/aztables/internal/table_client.go
  sdk/data/aztables/internal/version.go
  sdk/data/aztables/internal/zz_constants.go
  sdk/data/aztables/internal/zz_models.go
  sdk/data/aztables/internal/zz_models_serde.go
  sdk/data/aztables/internal/zz_options.go
  sdk/data/aztables/internal/zz_response_types.go
  sdk/data/aztables/internal/zz_service_client.go
  sdk/data/aztables/internal/zz_table_client.go
  sdk/data/aztables/internal/zz_time_rfc1123.go
  sdk/data/aztables/internal/zz_time_rfc3339.go
  sdk/data/aztables/transactional_batch.go
Due: eng/pipelines/pullrequest.yml

fix incorrect refactor
  sdk/data/aztables/client.go
Due: eng/pipelines/pullrequest.yml

adjust code coverage
  eng/config.json
Due: eng/pipelines/pullrequest.yml

Collect aztables lint (#25690)
  eng/config.json
  sdk/data/aztables/client.go
  sdk/data/aztables/cosmos_patch_transform_policy.go
  sdk/data/aztables/doc.go
  sdk/data/aztables/entity.go
  sdk/data/aztables/internal/service_client.go
  sdk/data/aztables/internal/table_client.go
  sdk/data/aztables/internal/version.go
  sdk/data/aztables/internal/zz_constants.go
  sdk/data/aztables/internal/zz_models.go
  sdk/data/aztables/internal/zz_models_serde.go
  sdk/data/aztables/internal/zz_options.go
  sdk/data/aztables/internal/zz_response_types.go
  sdk/data/aztables/internal/zz_service_client.go
  sdk/data/aztables/internal/zz_table_client.go
  sdk/data/aztables/internal/zz_time_rfc1123.go
  sdk/data/aztables/internal/zz_time_rfc3339.go
  sdk/data/aztables/transactional_batch.go
Due: eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 13097 (#25686)
  eng/common/scripts/ChangeLog-Operations.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity.go
Due: eng/pipelines/pullrequest.yml

Refactor options
  sdk/azidentity/default_azure_credential_test.go
  sdk/azidentity/internal/customtokenproxy/configuration.go
  sdk/azidentity/internal/customtokenproxy/configuration_test.go
  sdk/azidentity/internal/exported/custom_token_proxy.go
  sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

Add optional GetFederatedToken
  sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

Fix typo
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

Allow passing token proxy options from options
  sdk/azidentity/go.work.sum
  sdk/azidentity/internal/customtokenproxy/configuration.go
  sdk/azidentity/internal/customtokenproxy/configuration_test.go
  sdk/azidentity/internal/customtokenproxy/transport.go
  sdk/azidentity/internal/customtokenproxy/transport_test.go
  sdk/azidentity/workload_identity.go
  sdk/azidentity/workload_identity_test.go
Due: eng/pipelines/pullrequest.yml

Add missing doc
  sdk/azidentity/workload_identity.go
Due: eng/pipelines/pullrequest.yml

Remove go.work.sum
  sdk/azidentity/go.work.sum
Due: eng/pipelines/pullrequest.yml

edit file
  regenerate-sdk-result.json
  sdk/resourcemanager/dashboard/armdashboard/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/version.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/accounts_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/billinginfo_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/connectedpartnerresources_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/accounts_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/billinginfo_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/connectedpartnerresources_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/monitoredsubscriptions_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/monitors_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/operations_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/organizations_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/plans_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/saas_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/fake/tagrules_server.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/go.mod
  sdk/resourcemanager/newrelic/armnewrelicobservability/go.sum
  sdk/resourcemanager/newrelic/armnewrelicobservability/monitors_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/operations_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/organizations_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/plans_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/saas_client_example_test.go
  sdk/resourcemanager/newrelic/armnewrelicobservability/tagrules_client_example_test.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

revert devopsinfrastructure file
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/constants.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/imageversions_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/pools_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/resourcedetails_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/sku_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/subscriptionusages_server.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/fake/time_rfc3339.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/go.mod
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/go.sum
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/imageversions_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/imageversions_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/models.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/models_serde.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/operations_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/operations_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/options.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/pools_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/pools_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/resourcedetails_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/resourcedetails_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/responses.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/sku_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/sku_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/subscriptionusages_client.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/subscriptionusages_client_example_test.go
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/testdata/_metadata.json
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/tsp-location.yaml
  sdk/resourcemanager/devopsinfrastructure/armdevopsinfrastructure/version.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/newrelic/armnewrelicobservability/monitoredsubscriptions_client_example_test.go
Due: eng/pipelines/pullrequest.yml

fix version suffix
  sdk/resourcemanager/newrelic/armnewrelicobservability/go.mod
  sdk/resourcemanager/newrelic/armnewrelicobservability/go.sum
  sdk/resourcemanager/newrelic/armnewrelicobservability/monitoredsubscriptions_client_example_test.go
Due: eng/pipelines/pullrequest.yml

fix version suffix
  sdk/resourcemanager/newrelic/armnewrelicobservability/monitoredsubscriptions_client_example_test.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/chaos/armchaos/capabilities_live_test.go
  sdk/resourcemanager/chaos/armchaos/experiments_live_test.go
  sdk/resourcemanager/chaos/armchaos/utils_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/operation_live_test.go
  sdk/resourcemanager/computeschedule/armcomputeschedule/utils_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/fleets_live_test.go
  sdk/resourcemanager/containerservicefleet/armcontainerservicefleet/utils_test.go
  sdk/resourcemanager/databasewatcher/armdatabasewatcher/operation_live_test.go
  sdk/resourcemanager/databasewatcher/armdatabasewatcher/utils_test.go
  sdk/resourcemanager/dnsresolver/armdnsresolver/dnsforwardingruleset_live_test.go
  sdk/resourcemanager/dnsresolver/armdnsresolver/dnsresolver_live_test.go
  sdk/resourcemanager/dnsresolver/armdnsresolver/utils_test.go
  sdk/resourcemanager/keyvault/armkeyvault/vaults_client_example_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/neonpostgres_live_test.go
  sdk/resourcemanager/quota/armquota/quota_live_test.go
  sdk/resourcemanager/quota/armquota/utils_test.go
  sdk/resourcemanager/storagemover/armstoragemover/utils_test.go
  sdk/resourcemanager/terraform/armterraform/terraform_live_test.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/operations_live_test.go
Due: eng/pipelines/pullrequest.yml

Fix wrong release type constant
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/cmd/v2/automation/automationCmd.go
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/utils/constants.go
  eng/tools/generator/version.go
Due: eng/pipelines/pullrequest.yml

Collect azcontainerregistry lint
  sdk/containers/azcontainerregistry/authentication_client.go
  sdk/containers/azcontainerregistry/authentication_client_test.go
  sdk/containers/azcontainerregistry/authentication_custom_client.go
  sdk/containers/azcontainerregistry/authentication_custom_client_test.go
  sdk/containers/azcontainerregistry/authentication_policy.go
  sdk/containers/azcontainerregistry/authentication_policy_test.go
  sdk/containers/azcontainerregistry/autorest.md
  sdk/containers/azcontainerregistry/blob_client.go
  sdk/containers/azcontainerregistry/blob_client_test.go
  sdk/containers/azcontainerregistry/blob_custom_client.go
  sdk/containers/azcontainerregistry/blob_custom_client_test.go
  sdk/containers/azcontainerregistry/client.go
  sdk/containers/azcontainerregistry/client_test.go
  sdk/containers/azcontainerregistry/cloud_config.go
  sdk/containers/azcontainerregistry/constants.go
  sdk/containers/azcontainerregistry/constants_test.go
  sdk/containers/azcontainerregistry/custom_client.go
  sdk/containers/azcontainerregistry/custom_client_test.go
  sdk/containers/azcontainerregistry/custom_constants.go
  sdk/containers/azcontainerregistry/digest_helper.go
  sdk/containers/azcontainerregistry/digest_helper_test.go
  sdk/containers/azcontainerregistry/example_blob_client_test.go
  sdk/containers/azcontainerregistry/example_blob_custom_client_test.go
  sdk/containers/azcontainerregistry/example_client_test.go
  sdk/containers/azcontainerregistry/example_custom_client_test.go
  sdk/containers/azcontainerregistry/example_delete_images_test.go
  sdk/containers/azcontainerregistry/example_download_image_test.go
  sdk/containers/azcontainerregistry/example_list_repositories_test.go
  sdk/containers/azcontainerregistry/example_list_tags_test.go
  sdk/containers/azcontainerregistry/example_set_artifact_properties_test.go
  sdk/containers/azcontainerregistry/example_upload_image_test.go
  sdk/containers/azcontainerregistry/models.go
  sdk/containers/azcontainerregistry/models_serde.go
  sdk/containers/azcontainerregistry/options.go
  sdk/containers/azcontainerregistry/responses.go
  sdk/containers/azcontainerregistry/time_rfc3339.go
  sdk/containers/azcontainerregistry/time_rfc3339_test.go
  sdk/containers/azcontainerregistry/utils_test.go
  sdk/containers/azcontainerregistry/version.go
Due: eng/pipelines/pullrequest.yml

cosmos: add regionId newtype to canonicalize region IDs
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/cosmos_location_cache.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
  sdk/data/azcosmos/emulator_cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/region_id.go
  sdk/data/azcosmos/region_id_test.go
Due: none

Skip namespace approval check for mgmt plane
  eng/common/scripts/Create-APIReview.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix regionId comparison
  sdk/data/azcosmos/cosmos_location_cache_test.go
Due: none

Retain title
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml
