Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

fix wrong tool usage
  .github/workflows/mgmt-review.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove example test
  sdk/resourcemanager/managementgroups/armmanagementgroups/api_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/entities_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/hierarchysettings_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/managementgroupsubscriptions_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/operations_client_example_test.go
Due: eng/pipelines/pullrequest.yml

go mod tidy
  sdk/resourcemanager/managementgroups/armmanagementgroups/go.mod
Due: eng/pipelines/pullrequest.yml

remove code
  sdk/resourcemanager/postgresqlhsc/armpostgresqlhsc/servergroups_client.go
  sdk/resourcemanager/postgresqlhsc/armpostgresqlhsc/servergroups_client_example_test.go
Due: eng/pipelines/pullrequest.yml

fix unsed
  sdk/resourcemanager/postgresqlhsc/armpostgresqlhsc/time_rfc3339.go
Due: eng/pipelines/pullrequest.yml

Added support for WASM compilation
  sdk/storage/azblob/internal/shared/mmf_js.go
Due: eng/pipelines/pullrequest.yml

Update azblob changelog for WASM support
  sdk/storage/azblob/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Potential fix for pull request finding
  sdk/storage/azblob/internal/shared/mmf_js.go
Due: eng/pipelines/pullrequest.yml

fix version
  sdk/resourcemanager/devcenter/armdevcenter/devcenter_live_test.go
  sdk/resourcemanager/devcenter/armdevcenter/go.mod
Due: eng/pipelines/pullrequest.yml

fix version
  sdk/resourcemanager/managementgroups/armmanagementgroups/go.mod
  sdk/resourcemanager/managementgroups/armmanagementgroups/management_live_test.go
Due: eng/pipelines/pullrequest.yml

Address PR review comments: fix deadlock, test names, EPK comparison
  sdk/data/azcosmos/cosmos_collection_routing_map.go
Due: none

Sync eng/common directory with azure-sdk-tools for PR 15357 (#26698)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update faq + add rotate.sh
  eng/common/testproxy/rotate.sh
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

accept copilot feedback
  eng/common/testproxy/rotate.sh
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

feat(azcosmos): default HTTP/2 PING-based connection health checks
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/transport_default_dialer_other.go
  sdk/data/azcosmos/transport_default_dialer_wasm.go
  sdk/data/azcosmos/transport_default_http_client.go
  sdk/data/azcosmos/transport_default_http_client_test.go
Due: none

PBE and TB
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_options.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_headers_policy.go
  sdk/data/azcosmos/cosmos_headers_policy_test.go
  sdk/data/azcosmos/cosmos_http_constants.go
  sdk/data/azcosmos/cosmos_item_request_options.go
  sdk/data/azcosmos/cosmos_priority_level.go
  sdk/data/azcosmos/cosmos_priority_level_test.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/cosmos_read_many_request_options.go
  sdk/data/azcosmos/cosmos_transactional_batch_options.go
Due: none

fixes
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_headers_policy_test.go
Due: none

Use testify/require in priority level tests for consistency
  sdk/data/azcosmos/cosmos_priority_level_test.go
Due: none

Fix gofmt alignment in headerPoliciesVerify struct
  sdk/data/azcosmos/cosmos_headers_policy_test.go
Due: none

azcosmos: promote golang.org/x/net to direct dep after go mod tidy
  sdk/data/azcosmos/go.mod
Due: none

Sync eng/common directory with azure-sdk-tools for PR 14495 (#26751)
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/SemVer.ps1
  eng/common/scripts/SetTestPipelineVersion.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update
  .github/workflows/mgmt-review.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Restore generated-files cleanup for swagger->typespec migration (#26752)
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/cmd/v2/common/generation.go
Due: eng/pipelines/pullrequest.yml

remove unuse example file
  sdk/resourcemanager/sql/armsql/elasticpoolactivities_client_example_test.go
  sdk/resourcemanager/sql/armsql/elasticpooldatabaseactivities_client_example_test.go
Due: eng/pipelines/pullrequest.yml

remove unuse exmaple test and live test
  sdk/resourcemanager/monitor/armmonitor/actiongroups_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/actiongroups_live_test.go
  sdk/resourcemanager/monitor/armmonitor/activitylogalerts_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/activitylogalerts_live_test.go
  sdk/resourcemanager/monitor/armmonitor/activitylogs_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/alertruleincidents_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/alertrules_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/autoscale_live_test.go
  sdk/resourcemanager/monitor/armmonitor/autoscalesettings_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/baselines_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/datacollectionendpoints_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/datacollectionendpoints_live_test.go
  sdk/resourcemanager/monitor/armmonitor/datacollectionruleassociations_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/datacollectionrules_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/datacollectionrules_live_test.go
  sdk/resourcemanager/monitor/armmonitor/diagnosticsettings_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/diagnosticsettingscategory_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/eventcategories_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/fake_example_test.go
  sdk/resourcemanager/monitor/armmonitor/logprofiles_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/logprofiles_live_test.go
  sdk/resourcemanager/monitor/armmonitor/metricalerts_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/metricalerts_live_test.go
  sdk/resourcemanager/monitor/armmonitor/metricalertsstatus_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/metricdefinitions_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/metricnamespaces_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/metrics_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/operationsformonitor_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/predictivemetric_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/privatelinkresources_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/privatelinkscopedresources_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/privatelinkscopeoperationstatus_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/privatelinkscopes_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/privatelinkscopes_live_test.go
  sdk/resourcemanager/monitor/armmonitor/scheduledqueryrules_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/tenantactiongroups_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/tenantactivitylogs_client_example_test.go
  sdk/resourcemanager/monitor/armmonitor/vminsights_client_example_test.go
Due: eng/pipelines/pullrequest.yml

go mod tidy
  sdk/resourcemanager/monitor/armmonitor/go.mod
  sdk/resourcemanager/monitor/armmonitor/go.sum
Due: eng/pipelines/pullrequest.yml

remove unuse example
  sdk/resourcemanager/sql/armsql/servercommunicationlinks_client_example_test.go
  sdk/resourcemanager/sql/armsql/serviceobjectives_client_example_test.go
Due: eng/pipelines/pullrequest.yml

[Refresh sdk-resourcemanager/attestation/armattestation]-generated-from-SDK Generation - Go-6034406 (#26325)
  sdk/resourcemanager/attestation/armattestation/CHANGELOG.md
  sdk/resourcemanager/attestation/armattestation/README.md
  sdk/resourcemanager/attestation/armattestation/assets.json
  sdk/resourcemanager/attestation/armattestation/attestation_live_test.go
  sdk/resourcemanager/attestation/armattestation/autorest.md
  sdk/resourcemanager/attestation/armattestation/build.go
  sdk/resourcemanager/attestation/armattestation/client_factory.go
  sdk/resourcemanager/attestation/armattestation/constants.go
  sdk/resourcemanager/attestation/armattestation/fake/internal.go
  sdk/resourcemanager/attestation/armattestation/fake/operations_server.go
  sdk/resourcemanager/attestation/armattestation/fake/privateendpointconnections_server.go
  sdk/resourcemanager/attestation/armattestation/fake/privatelinkresources_server.go
  sdk/resourcemanager/attestation/armattestation/fake/providers_server.go
  sdk/resourcemanager/attestation/armattestation/fake/server_factory.go
  sdk/resourcemanager/attestation/armattestation/fake/time_rfc3339.go
  sdk/resourcemanager/attestation/armattestation/go.mod
  sdk/resourcemanager/attestation/armattestation/models.go
  sdk/resourcemanager/attestation/armattestation/models_serde.go
  sdk/resourcemanager/attestation/armattestation/operations_client.go
  sdk/resourcemanager/attestation/armattestation/operations_client_example_test.go
  sdk/resourcemanager/attestation/armattestation/options.go
  sdk/resourcemanager/attestation/armattestation/privateendpointconnections_client.go
  sdk/resourcemanager/attestation/armattestation/privateendpointconnections_client_example_test.go
  sdk/resourcemanager/attestation/armattestation/privatelinkresources_client.go
  sdk/resourcemanager/attestation/armattestation/privatelinkresources_client_example_test.go
  sdk/resourcemanager/attestation/armattestation/providers_client.go
  sdk/resourcemanager/attestation/armattestation/providers_client_example_test.go
  sdk/resourcemanager/attestation/armattestation/responses.go
  sdk/resourcemanager/attestation/armattestation/testdata/_metadata.json
  sdk/resourcemanager/attestation/armattestation/time_rfc3339.go
  sdk/resourcemanager/attestation/armattestation/tsp-location.yaml
  sdk/resourcemanager/attestation/armattestation/version.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/devcenter/armdevcenter/assets.json
  sdk/resourcemanager/devcenter/armdevcenter/devcenter_live_test.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/sql/armsql/assets.json
Due: eng/pipelines/pullrequest.yml

[Refresh sdk-resourcemanager/managementgroups/armmanagementgroups]-generated-from-SDK Generation - Go-6034408 (#26327)
  sdk/resourcemanager/managementgroups/armmanagementgroups/CHANGELOG.md
  sdk/resourcemanager/managementgroups/armmanagementgroups/README.md
  sdk/resourcemanager/managementgroups/armmanagementgroups/api_client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/api_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/autorest.md
  sdk/resourcemanager/managementgroups/armmanagementgroups/build.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/client_factory.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/constants.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/entities_client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/entities_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/api_server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/entities_server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/hierarchysettings_server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/internal.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/managementgroupsubscriptions_server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/operations_server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/server_factory.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/time_rfc3339.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/go.mod
  sdk/resourcemanager/managementgroups/armmanagementgroups/go.sum
  sdk/resourcemanager/managementgroups/armmanagementgroups/hierarchysettings_client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/hierarchysettings_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/management_live_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/managementgroupsubscriptions_client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/managementgroupsubscriptions_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/models.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/models_serde.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/operations_client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/operations_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/options.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/responses.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/testdata/_metadata.json
  sdk/resourcemanager/managementgroups/armmanagementgroups/time_rfc3339.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/tsp-location.yaml
  sdk/resourcemanager/managementgroups/armmanagementgroups/version.go
Due: eng/pipelines/pullrequest.yml

Perf testing - content validation
  sdk/storage/azblob/blockblob/structured_message_bench_test.go
  sdk/storage/azblob/internal/shared/structured_message_bench_test.go
Due: eng/pipelines/pullrequest.yml

Remove dead-code ReadMany assignments and redundant err check
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_headers_policy_test.go
Due: none

Add end-to-end tests for PBE and throughput bucket header wiring
  sdk/data/azcosmos/cosmos_container_test.go
Due: none

azcosmos: cover singleton PINGs and concurrent-options safety in tests
  sdk/data/azcosmos/transport_default_http_client.go
  sdk/data/azcosmos/transport_default_http_client_test.go
Due: none

fixes from reviews
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_http_constants.go
  sdk/data/azcosmos/cosmos_partition_key_range_cache.go
  sdk/data/azcosmos/cosmos_pk_range_gone_test.go
  sdk/data/azcosmos/internal/epk/epk_test.go
Due: none

update
  eng/emitter-package-lock.json
  eng/emitter-package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add PBE and throughput bucket documentation per review feedback
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_client_options.go
  sdk/data/azcosmos/cosmos_item_request_options.go
  sdk/data/azcosmos/cosmos_priority_level.go
  sdk/data/azcosmos/cosmos_query_request_options.go
  sdk/data/azcosmos/cosmos_read_many_request_options.go
  sdk/data/azcosmos/cosmos_transactional_batch_options.go
Due: none

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
