Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

add changelog
  eng/tools/generator/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Increment package version after release of data/azcosmos (#25586)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

update changelog
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Enforced an array for where filter
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Enforce an array for single element
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix linting errors
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/cosmos_container_properties.go
  sdk/data/azcosmos/cosmos_item_response.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
  sdk/data/azcosmos/cosmos_partition_key_range_response.go
Due: none

fix linting errors
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_container_properties.go
Due: none

fix lint errors
  sdk/data/azcosmos/cosmos_container_properties.go
  sdk/data/azcosmos/cosmos_database_properties.go
Due: none

fix linting errors
  sdk/data/azcosmos/cosmos_partition_key_range.go
  sdk/data/azcosmos/cosmos_patch_operations.go
  sdk/data/azcosmos/cosmos_paths.go
  sdk/data/azcosmos/cosmos_transactional_batch.go
  sdk/data/azcosmos/partition_key.go
  sdk/data/azcosmos/shared_key_credential.go
  sdk/data/azcosmos/throughput_properties.go
Due: none

Sync eng/common directory with azure-sdk-tools for PR 13045 (#25660)
  eng/common/scripts/Create-APIReview.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Read Many Client Engine (#25458)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_properties.go
  sdk/data/azcosmos/cosmos_container_query_engine.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_database_properties.go
  sdk/data/azcosmos/cosmos_item_response.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
  sdk/data/azcosmos/cosmos_partition_key_range.go
  sdk/data/azcosmos/cosmos_partition_key_range_response.go
  sdk/data/azcosmos/cosmos_patch_operations.go
  sdk/data/azcosmos/cosmos_paths.go
  sdk/data/azcosmos/cosmos_transactional_batch.go
  sdk/data/azcosmos/emulator_cosmos_read_many_items_test.go
  sdk/data/azcosmos/internal/mock_query_engine.go
  sdk/data/azcosmos/partition_key.go
  sdk/data/azcosmos/queryengine/cosmos_query_engine.go
  sdk/data/azcosmos/shared_key_credential.go
  sdk/data/azcosmos/throughput_properties.go
Due: none

update changelog (#25661)
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Increment package version after release of data/azcosmos
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

Increment package version after release of data/azcosmos (#25662)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

Used the package info in the function signature
  eng/common/scripts/Detect-Api-Changes.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 13040 (#25665)
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Detect-Api-Changes.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update dependencies
  sdk/data/azcosmos/workloads/go.mod
Due: none

react to comments
  sdk/data/azcosmos/cosmos_container_query_engine.go
Due: none

react to copilot comments
  sdk/data/azcosmos/cosmos_container_query_engine.go
Due: none

fix test
  sdk/resourcemanager/nginx/armnginx/apikeys_client_example_test.go
  sdk/resourcemanager/nginx/armnginx/certificates_client_example_test.go
  sdk/resourcemanager/nginx/armnginx/configurations_client_example_test.go
  sdk/resourcemanager/nginx/armnginx/deployments_client_example_test.go
  sdk/resourcemanager/nginx/armnginx/wafpolicy_client_example_test.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/nginx/armnginx/deployments_client_example_test.go
Due: eng/pipelines/pullrequest.yml

revert
  sdk/resourcemanager/computelimit/armcomputelimit/README.md
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/appservice/armappservice/certificateorders_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/certificateordersdiagnostics_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/certificateregistrationprovider_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/certificates_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/deletedwebapps_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/diagnostics_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/domainregistrationprovider_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/domains_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/environments_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/getusagesinlocation_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/kubeenvironments_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/plans_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/provider_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/resourcehealthmetadata_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/sitecertificates_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/staticsites_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/topleveldomains_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/webapps_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/websitemanagement_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/workflowrunactionrepetitions_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/workflowrunactionrepetitionsrequesthistories_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/workflowrunactions_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/workflowrunactionscoperepetitions_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/workflowruns_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/workflows_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/workflowtriggerhistories_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/workflowtriggers_client_example_test.go
  sdk/resourcemanager/appservice/armappservice/workflowversions_client_example_test.go
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/appservice/armappservice/global_client_example_test.go
Due: eng/pipelines/pullrequest.yml

add code
  sdk/resourcemanager/managementgroups/armmanagementgroups/CHANGELOG.md
  sdk/resourcemanager/managementgroups/armmanagementgroups/README.md
  sdk/resourcemanager/managementgroups/armmanagementgroups/api_client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/api_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/autorest.md
  sdk/resourcemanager/managementgroups/armmanagementgroups/build.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/client_factory.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/constants.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/entities_client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/entities_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/api_server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/entities_server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/hierarchysettings_server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/internal.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/managementgroupsubscriptions_server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/operations_server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/server.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/server_factory.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/fake/time_rfc3339.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/go.mod
  sdk/resourcemanager/managementgroups/armmanagementgroups/go.sum
  sdk/resourcemanager/managementgroups/armmanagementgroups/hierarchysettings_client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/hierarchysettings_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/management_live_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/managementgroupsubscriptions_client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/managementgroupsubscriptions_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/models.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/models_serde.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/operations_client.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/operations_client_example_test.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/options.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/responses.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/testdata/_metadata.json
  sdk/resourcemanager/managementgroups/armmanagementgroups/time_rfc3339.go
  sdk/resourcemanager/managementgroups/armmanagementgroups/tsp-location.yaml
  sdk/resourcemanager/managementgroups/armmanagementgroups/version.go
Due: eng/pipelines/pullrequest.yml

[AutoPR sdk-resourcemanager/computelimit/armcomputelimit]-generated-from-SDK Generation - Go-5574763 (#25625)
  sdk/resourcemanager/computelimit/armcomputelimit/CHANGELOG.md
  sdk/resourcemanager/computelimit/armcomputelimit/go.mod
  sdk/resourcemanager/computelimit/armcomputelimit/go.sum
  sdk/resourcemanager/computelimit/armcomputelimit/testdata/_metadata.json
  sdk/resourcemanager/computelimit/armcomputelimit/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

update vector search queries to not be cross partition
  sdk/data/azcosmos/workloads/workload_utils.go
Due: none

Sync eng/common directory with azure-sdk-tools repository
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools repository (#25678)
  eng/common/pipelines/ai-evals-tests.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
