Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

revert pkField change
  sdk/data/azcosmos/workloads/workload_utils.go
Due: none

fix pkfield
  sdk/data/azcosmos/workloads/workload_utils.go
Due: none

npm i
  eng/common/spelling/package-lock.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Use @azure-tools/cspell for spelling pin package name
  eng/common/spelling/package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add trailing newline
  eng/common/spelling/package.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

omit whitespace parts in splitStringAndOmitEmpty; fixed tests for ParseResourceType
  sdk/azcore/arm/internal/resource/resource_identifier.go
  sdk/azcore/arm/internal/resource/resource_identifier_test.go
  sdk/azcore/arm/internal/resource/resource_type_test.go
Due: eng/pipelines/pullrequest.yml

updated changelog
  sdk/azcore/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

fix code
  sdk/data/aztables/CHANGELOG.md
  sdk/data/aztables/cloud_config.go
  sdk/data/aztables/service_client.go
Due: eng/pipelines/pullrequest.yml

fix typo
  sdk/data/aztables/cloud_config.go
Due: eng/pipelines/pullrequest.yml

fix code
  sdk/data/aztables/cloud_config.go
  sdk/data/aztables/service_client.go
Due: eng/pipelines/pullrequest.yml

update
  documentation/development/breaking-changes/sdk-breaking-changes-guide-migration.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add a new item
  documentation/development/breaking-changes/sdk-breaking-changes-guide-migration.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

added antoher item
  documentation/development/breaking-changes/sdk-breaking-changes-guide-migration.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

release pr
  sdk/data/azcosmos/CHANGELOG.md
Due: none

release pr (#25543)
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Increment package version after release of data/azcosmos
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/version.go
Due: none

linting
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
