Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Add new invalid user entry in CODEOWNERS errors
  .github/CODEOWNERS_baseline_errors.txt
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Added log
  eng/common/scripts/Verify-ChangeLogs.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Added forRelease input parameter
  eng/common/scripts/Verify-ChangeLogs.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 13005 (#25653)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Save-Package-Properties.ps1
  eng/common/scripts/Validate-All-Packages.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

cosmos: add logging to GEM and location cache
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_location_cache.go
  sdk/data/azcosmos/emulator_cosmos_logging_test.go
  sdk/data/azcosmos/emulator_test.go
  sdk/data/azcosmos/log.go
Due: none

Collect azcontainerregistry lint (#25694)
  sdk/containers/azcontainerregistry/authentication_client.go
  sdk/containers/azcontainerregistry/authentication_client_test.go
  sdk/containers/azcontainerregistry/authentication_custom_client.go
  sdk/containers/azcontainerregistry/authentication_custom_client_test.go
  sdk/containers/azcontainerregistry/authentication_policy.go
  sdk/containers/azcontainerregistry/authentication_policy_test.go
  sdk/containers/azcontainerregistry/autorest.md
  sdk/containers/azcontainerregistry/blob_client.go
  sdk/containers/azcontainerregistry/blob_client_test.go
  sdk/containers/azcontainerregistry/blob_custom_client.go
  sdk/containers/azcontainerregistry/blob_custom_client_test.go
  sdk/containers/azcontainerregistry/client.go
  sdk/containers/azcontainerregistry/client_test.go
  sdk/containers/azcontainerregistry/cloud_config.go
  sdk/containers/azcontainerregistry/constants.go
  sdk/containers/azcontainerregistry/constants_test.go
  sdk/containers/azcontainerregistry/custom_client.go
  sdk/containers/azcontainerregistry/custom_client_test.go
  sdk/containers/azcontainerregistry/custom_constants.go
  sdk/containers/azcontainerregistry/digest_helper.go
  sdk/containers/azcontainerregistry/digest_helper_test.go
  sdk/containers/azcontainerregistry/example_blob_client_test.go
  sdk/containers/azcontainerregistry/example_blob_custom_client_test.go
  sdk/containers/azcontainerregistry/example_client_test.go
  sdk/containers/azcontainerregistry/example_custom_client_test.go
  sdk/containers/azcontainerregistry/example_delete_images_test.go
  sdk/containers/azcontainerregistry/example_download_image_test.go
  sdk/containers/azcontainerregistry/example_list_repositories_test.go
  sdk/containers/azcontainerregistry/example_list_tags_test.go
  sdk/containers/azcontainerregistry/example_set_artifact_properties_test.go
  sdk/containers/azcontainerregistry/example_upload_image_test.go
  sdk/containers/azcontainerregistry/models.go
  sdk/containers/azcontainerregistry/models_serde.go
  sdk/containers/azcontainerregistry/options.go
  sdk/containers/azcontainerregistry/responses.go
  sdk/containers/azcontainerregistry/time_rfc3339.go
  sdk/containers/azcontainerregistry/time_rfc3339_test.go
  sdk/containers/azcontainerregistry/utils_test.go
  sdk/containers/azcontainerregistry/version.go
Due: eng/pipelines/pullrequest.yml

add pkfiltering inside query text
  sdk/data/azcosmos/workloads/workload_utils.go
Due: none

Sync eng/common directory with azure-sdk-tools for PR 13102 (#25697)
  eng/common/pipelines/templates/steps/verify-changelogs.yml
  eng/common/scripts/Verify-ChangeLogs.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

lint issues
  sdk/monitor/azquery/example_test.go
  sdk/monitor/azquery/metrics_client_test.go
Due: eng/pipelines/pullrequest.yml

fix query
  sdk/data/azcosmos/workloads/workload_utils.go
Due: none

azquery lint issues (#25701)
  sdk/monitor/azquery/example_test.go
  sdk/monitor/azquery/metrics_client_test.go
Due: eng/pipelines/pullrequest.yml

admin
  eng/config.json
  sdk/security/keyvault/azadmin/backup/internal/pollers/restore_poller.go
  sdk/security/keyvault/azadmin/settings/client_test.go
  sdk/security/keyvault/azadmin/settings/fake/server_test.go
Due: eng/pipelines/pullrequest.yml

certs
  sdk/security/keyvault/azcertificates/client_test.go
Due: eng/pipelines/pullrequest.yml

keys and secrets
  sdk/security/keyvault/azkeys/client_test.go
  sdk/security/keyvault/azsecrets/utils_test.go
Due: eng/pipelines/pullrequest.yml

more certs
  sdk/security/keyvault/azcertificates/client_test.go
Due: eng/pipelines/pullrequest.yml

[keyvault] fix lint issues (#25702)
  eng/config.json
  sdk/security/keyvault/azadmin/backup/internal/pollers/restore_poller.go
  sdk/security/keyvault/azadmin/settings/client_test.go
  sdk/security/keyvault/azadmin/settings/fake/server_test.go
  sdk/security/keyvault/azcertificates/client_test.go
  sdk/security/keyvault/azkeys/client_test.go
  sdk/security/keyvault/azsecrets/utils_test.go
Due: eng/pipelines/pullrequest.yml

fix test
  sdk/resourcemanager/advisor/armadvisor/advisor_live_test.go
  sdk/resourcemanager/alertsmanagement/armalertsmanagement/alertsmanagement_live_test.go
  sdk/resourcemanager/analysisservices/armanalysisservices/analysisservices_live_test.go
  sdk/resourcemanager/apicenter/armapicenter/apicenter_live_test.go
  sdk/resourcemanager/chaos/armchaos/capabilitytypes_live_test.go
  sdk/resourcemanager/connectedcache/armconnectedcache/connectedcache_live_test.go
  sdk/resourcemanager/connectedcache/armconnectedcache/utils_test.go
  sdk/resourcemanager/keyvault/armkeyvault/keys_client_live_test.go
  sdk/resourcemanager/keyvault/armkeyvault/secrets_client_live_test.go
  sdk/resourcemanager/keyvault/armkeyvault/utils_test.go
  sdk/resourcemanager/keyvault/armkeyvault/vaults_client_example_test.go
  sdk/resourcemanager/keyvault/armkeyvault/vaults_client_live_test.go
  sdk/resourcemanager/neonpostgres/armneonpostgres/utils_test.go
  sdk/resourcemanager/storagemover/armstoragemover/storagemover_live_test.go
  sdk/resourcemanager/terraform/armterraform/utils_test.go
  sdk/resourcemanager/workloadssapvirtualinstance/armworkloadssapvirtualinstance/utils_test.go
Due: eng/pipelines/pullrequest.yml

fix vet problem
  eng/tools/generator/cmd/v2/common/cmdProcessor.go
  eng/tools/generator/repo/workTree.go
Due: eng/pipelines/pullrequest.yml

Fix wrong release type constant (#25693)
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/cmd/v2/automation/automationCmd.go
  eng/tools/generator/cmd/v2/common/cmdProcessor.go
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/repo/workTree.go
  eng/tools/generator/utils/constants.go
  eng/tools/generator/version.go
Due: eng/pipelines/pullrequest.yml

add quota
  sdk/resourcemanager/quota/armquota/client_example_test.go
  sdk/resourcemanager/quota/armquota/fake/groupquotalimits_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotalimitsrequest_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotalocationsettings_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotas_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotasubscriptionallocation_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotasubscriptionallocationrequest_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotasubscriptionrequests_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotasubscriptions_server.go
  sdk/resourcemanager/quota/armquota/fake/groupquotausages_server.go
  sdk/resourcemanager/quota/armquota/fake/operation_server.go
  sdk/resourcemanager/quota/armquota/fake/requeststatus_server.go
  sdk/resourcemanager/quota/armquota/fake/server.go
  sdk/resourcemanager/quota/armquota/fake/usages_server.go
  sdk/resourcemanager/quota/armquota/go.mod
  sdk/resourcemanager/quota/armquota/go.sum
  sdk/resourcemanager/quota/armquota/groupquotalimits_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotalimitsrequest_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotalocationsettings_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotas_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionallocation_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionallocationrequest_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionrequests_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptions_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotausages_client_example_test.go
  sdk/resourcemanager/quota/armquota/operation_client_example_test.go
  sdk/resourcemanager/quota/armquota/requeststatus_client_example_test.go
  sdk/resourcemanager/quota/armquota/usages_client_example_test.go
Due: eng/pipelines/pullrequest.yml

Update sdk/resourcemanager/quota/armquota/groupquotalimitsrequest_client.go
  sdk/resourcemanager/quota/armquota/groupquotalimitsrequest_client.go
Due: eng/pipelines/pullrequest.yml

Update sdk/resourcemanager/quota/armquota/groupquotasubscriptionallocationrequest_client.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptionallocationrequest_client.go
Due: eng/pipelines/pullrequest.yml

Update sdk/resourcemanager/quota/armquota/groupquotas_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotas_client_example_test.go
Due: eng/pipelines/pullrequest.yml

Update sdk/resourcemanager/quota/armquota/groupquotas_client.go
  sdk/resourcemanager/quota/armquota/groupquotas_client.go
Due: eng/pipelines/pullrequest.yml

Update sdk/resourcemanager/quota/armquota/groupquotasubscriptions_client_example_test.go
  sdk/resourcemanager/quota/armquota/groupquotasubscriptions_client_example_test.go
Due: eng/pipelines/pullrequest.yml

revert commitid
  sdk/resourcemanager/quota/armquota/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

Update documentation/development/testing.md
  documentation/development/testing.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

change code format
  documentation/development/testing.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add remove gz file part
  eng/scripts/automation_init.sh
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update eng/scripts/automation_init.sh
  eng/scripts/automation_init.sh
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

deal with copilot suggestion
  eng/scripts/automation_init.sh
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml
