Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

Add aztemplate README comment
  sdk/template/aztemplate/README.md
Due: eng/pipelines/pullrequest.yml

Pin GitHub Actions to full-length commit SHAs (#27485)
  .github/dependabot.yml
  .github/workflows/copilot-setup-steps.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Bump hono from 4.13.2 to 4.13.7
  eng/common/scripts/eval/package-lock.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Deprecate armweightsandbiases
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/CHANGELOG.md
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/MIGRATION.md
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/README.md
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/go.mod
  sdk/resourcemanager/weightsandbiases/armweightsandbiases/version.go
Due: eng/pipelines/pullrequest.yml

Align GitHub login with verification condition
  eng/common/pipelines/templates/steps/login-to-github.yml
  eng/common/pipelines/templates/steps/verify-restapi-spec-location.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Migrate REST API verification to GitHub App token
  eng/common/pipelines/templates/steps/verify-restapi-spec-location.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

remove testing
  sdk/resourcemanager/network/armnetwork/applicationgatewaywafdynamicmanifests_live_test.go
  sdk/resourcemanager/network/armnetwork/applicationsecuritygroup_live_test.go
  sdk/resourcemanager/network/armnetwork/availabledelegations_live_test.go
  sdk/resourcemanager/network/armnetwork/availableservicealiases_live_test.go
  sdk/resourcemanager/network/armnetwork/azurefirewallfqdntag_live_test.go
  sdk/resourcemanager/network/armnetwork/azurewebcategory_live_test.go
  sdk/resourcemanager/network/armnetwork/bastionhost_live_test.go
  sdk/resourcemanager/network/armnetwork/checkdnsavailability_live_test.go
  sdk/resourcemanager/network/armnetwork/customipprefix_live_test.go
  sdk/resourcemanager/network/armnetwork/ddosprotectionplan_live_test.go
  sdk/resourcemanager/network/armnetwork/endpointservice_live_test.go
  sdk/resourcemanager/network/armnetwork/expressroutecircuit_live_test.go
  sdk/resourcemanager/network/armnetwork/firewallpolicy_live_test.go
  sdk/resourcemanager/network/armnetwork/go.mod
  sdk/resourcemanager/network/armnetwork/go.sum
  sdk/resourcemanager/network/armnetwork/ipgroups_live_test.go
  sdk/resourcemanager/network/armnetwork/loadbalancer_live_test.go
  sdk/resourcemanager/network/armnetwork/natgateway_live_test.go
  sdk/resourcemanager/network/armnetwork/networkinterface_live_test.go
  sdk/resourcemanager/network/armnetwork/networkmanager_live_test.go
  sdk/resourcemanager/network/armnetwork/networkmanagerconnection_live_test.go
  sdk/resourcemanager/network/armnetwork/networkmanagerconnectivityconfiguration_live_test.go
  sdk/resourcemanager/network/armnetwork/networkmanagergroup_live_test.go
  sdk/resourcemanager/network/armnetwork/networkmanagersecurityadminconfiguration_live_test.go
  sdk/resourcemanager/network/armnetwork/networkprofile_live_test.go
  sdk/resourcemanager/network/armnetwork/networksecuritygroup_live_test.go
  sdk/resourcemanager/network/armnetwork/networkwatcher_live_test.go
  sdk/resourcemanager/network/armnetwork/operation_live_test.go
  sdk/resourcemanager/network/armnetwork/publicipaddress_live_test.go
  sdk/resourcemanager/network/armnetwork/publicipprefix_live_test.go
  sdk/resourcemanager/network/armnetwork/routetable_live_test.go
  sdk/resourcemanager/network/armnetwork/servicecommunity_live_test.go
  sdk/resourcemanager/network/armnetwork/serviceendpointpolicy_live_test.go
  sdk/resourcemanager/network/armnetwork/servicetags_live_test.go
  sdk/resourcemanager/network/armnetwork/usage_live_test.go
  sdk/resourcemanager/network/armnetwork/utils_test.go
  sdk/resourcemanager/network/armnetwork/virtualnetwork_live_test.go
  sdk/resourcemanager/network/armnetwork/virtualnetworkgateway_live_test.go
  sdk/resourcemanager/network/armnetwork/virtualwan_live_test.go
  sdk/resourcemanager/network/armnetwork/webapplicationfirewall_live_test.go
Due: eng/pipelines/pullrequest.yml

Deprecate sdk/resourcemanager/astro/armastro (Astronomer.Astro retirement)
  sdk/resourcemanager/astro/armastro/CHANGELOG.md
  sdk/resourcemanager/astro/armastro/MIGRATION.md
  sdk/resourcemanager/astro/armastro/README.md
  sdk/resourcemanager/astro/armastro/constants.go
  sdk/resourcemanager/astro/armastro/go.mod
Due: eng/pipelines/pullrequest.yml

[Service Bus] Prepare azservicebus 1.11.0 for release
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/internal/constants.go
Due: eng/pipelines/pullrequest.yml

Revert "[azcosmos] Add ClientOptions.DisableEndpointDiscovery to route all requests to the client endpoint (#27508)"
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_options.go
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
  sdk/data/azcosmos/cosmos_client_test.go
  sdk/data/azcosmos/cosmos_dbaccount_refresh_test.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/cosmos_location_cache.go
  sdk/data/azcosmos/cosmos_location_cache_test.go
  sdk/data/azcosmos/diagnostics_test.go
  sdk/data/azcosmos/emulator_cosmos_global_endpoint_manager_test.go
Due: none

Fix armfabric changelog entry
  sdk/resourcemanager/fabric/armfabric/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Add skip CI directive to regeneration PRs
  eng/pipelines/sdk-regenerate.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Add skip CI directive to regeneration PRs (#27577)
  eng/pipelines/sdk-regenerate.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Improve Analyze performance for large PRs
  eng/pipelines/templates/steps/analyze.yml
  eng/scripts/analysis-helpers.ps1
  eng/scripts/apiview-helpers.ps1
  eng/scripts/tests/analysis-helpers.Tests.ps1
  eng/scripts/tests/apiview-helpers.Tests.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Handle omitted APIView package artifacts
  eng/scripts/Language-Settings.ps1
  eng/scripts/apiview-helpers.ps1
  eng/scripts/tests/apiview-helpers.Tests.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Improve CI Analyze performance for large PRs (#27578)
  eng/pipelines/templates/steps/analyze.yml
  eng/scripts/Language-Settings.ps1
  eng/scripts/analysis-helpers.ps1
  eng/scripts/apiview-helpers.ps1
  eng/scripts/tests/analysis-helpers.Tests.ps1
  eng/scripts/tests/apiview-helpers.Tests.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azcosmos: correct native ABI layout assertions
  sdk/data/azcosmos/cgo_native.go
Due: none

Fix native driver compatibility and build test emulator from source
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/cgo_native.go
  sdk/data/azcosmos/ci.yml
  sdk/data/azcosmos/convert_native.go
  sdk/data/azcosmos/convert_native_test.go
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/internal/native/lib/README.md
  sdk/data/azcosmos/internal/native/lib/SHA256SUMS
  sdk/data/azcosmos/internal/native/lib/linux_amd64/azure_data_cosmos_emulator
  sdk/data/azcosmos/internal/testdata/README.md
  sdk/data/azcosmos/operation_native.go
Due: none

Address native driver review and authenticate emulator Cargo dependencies
  .github/instructions/go-mod-standards.instructions.md
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/README.md
  sdk/data/azcosmos/ci.yml
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/driver_native.go
  sdk/data/azcosmos/driver_native_test.go
  sdk/data/azcosmos/internal/testdata/README.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Replace SECURITY.md with language-neutral Azure SDK security policy (#27583)
  SECURITY.md
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/resourcemanager/compute/armcompute/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Regenerate SDK based on typespec-go (main)
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/resourcemanager/cosmos/armcosmos/cassandraclusters_client.go
  sdk/resourcemanager/cosmos/armcosmos/cassandraresources_client.go
  sdk/resourcemanager/cosmos/armcosmos/chaosfault_client.go
  sdk/resourcemanager/cosmos/armcosmos/copyjobs_client.go
  sdk/resourcemanager/cosmos/armcosmos/datatransferjobs_client.go
  sdk/resourcemanager/cosmos/armcosmos/fake/cassandraclusters_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/cassandraresources_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/chaosfault_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/copyjobs_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/datatransferjobs_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/fleetanalytics_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/garnetclusters_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/graphresources_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/mongodbresources_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/networksecurityperimeterconfigurations_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/softdeleteddatabaseaccounts_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/softdeletedsqlcontainers_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/softdeletedsqldatabases_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/sqlresources_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/throughputpool_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/throughputpoolaccount_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/throughputpoolaccounts_server.go
  sdk/resourcemanager/cosmos/armcosmos/fake/throughputpools_server.go
  sdk/resourcemanager/cosmos/armcosmos/fleetanalytics_client.go
  sdk/resourcemanager/cosmos/armcosmos/garnetclusters_client.go
  sdk/resourcemanager/cosmos/armcosmos/graphresources_client.go
  sdk/resourcemanager/cosmos/armcosmos/mongodbresources_client.go
  sdk/resourcemanager/cosmos/armcosmos/networksecurityperimeterconfigurations_client.go
  sdk/resourcemanager/cosmos/armcosmos/softdeleteddatabaseaccounts_client.go
  sdk/resourcemanager/cosmos/armcosmos/softdeletedsqlcontainers_client.go
  sdk/resourcemanager/cosmos/armcosmos/softdeletedsqldatabases_client.go
  sdk/resourcemanager/cosmos/armcosmos/sqlresources_client.go
  sdk/resourcemanager/cosmos/armcosmos/throughputpool_client.go
  sdk/resourcemanager/cosmos/armcosmos/throughputpoolaccount_client.go
  sdk/resourcemanager/cosmos/armcosmos/throughputpoolaccounts_client.go
  sdk/resourcemanager/cosmos/armcosmos/throughputpools_client.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azcosmos: implement proximity routing
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/client.go
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/convert_native_test.go
  sdk/data/azcosmos/errors_test.go
  sdk/data/azcosmos/internal/generate/regionproximity/main.go
  sdk/data/azcosmos/region_proximity.go
  sdk/data/azcosmos/routing_strategy.go
  sdk/data/azcosmos/routing_strategy_test.go
Due: none

Fixed a few SAS bugs in blob and file. Incorrectly appending a duplicate ? and not treating versioned blobs correctly
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blob/client.go
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/sas/service.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/file/client.go
  sdk/storage/azfile/share/client.go
  sdk/storage/azfile/share/client_test.go
Due: eng/pipelines/pullrequest.yml

Fix for azcli GitHub throttling
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Enclose var name
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azcosmos: test regional routing end to end
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/ci.yml
  sdk/data/azcosmos/client_test.go
  sdk/data/azcosmos/emulator_test.go
  sdk/data/azcosmos/internal/testdata/emulator-config.json
  sdk/data/azcosmos/routing_strategy_test.go
Due: none

azcosmos: address proximity routing review
  sdk/data/azcosmos/convert_native_test.go
  sdk/data/azcosmos/emulator_test.go
  sdk/data/azcosmos/internal/generate/regionproximity/main.go
  sdk/data/azcosmos/internal/generate/regionproximity/main_test.go
  sdk/data/azcosmos/region_proximity.go
  sdk/data/azcosmos/routing_strategy.go
  sdk/data/azcosmos/routing_strategy_test.go
Due: none

Add packageType to `package get-approval-status`
  eng/common/scripts/Get-PackageApprovalStatus.ps1
  eng/common/scripts/tests/Get-PackageApprovalStatus.Tests.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

fix: respect context deadline for next session accepts
  sdk/messaging/azservicebus/CHANGELOG.md
  sdk/messaging/azservicebus/client.go
  sdk/messaging/azservicebus/receiver_simulated_test.go
  sdk/messaging/azservicebus/session_receiver.go
  sdk/messaging/azservicebus/session_receiver_test.go
  sdk/messaging/azservicebus/session_receiver_unit_test.go
Due: eng/pipelines/pullrequest.yml

fix: use numeric type for timeout milliseconds
  sdk/messaging/azservicebus/session_receiver.go
Due: eng/pipelines/pullrequest.yml

[azdatalake] Add data locality support to the DataLake file client
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/file/client.go
  sdk/storage/azdatalake/file/client_layout_test.go
  sdk/storage/azdatalake/file/constants.go
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/file/responses.go
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azdatalake/internal/exported/version.go
  sdk/storage/azdatalake/internal/path/constants.go
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
