Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Changed partitionKeyRangeOptions to internal
  sdk/data/azcosmos/cosmos_partition_key_range_request_options.go
  sdk/data/azcosmos/cosmos_partition_key_range_request_options_test.go
Due: none

Modifying cosmos_container to adjust for internal partitionKeyRangeOptions
  sdk/data/azcosmos/cosmos_container.go
Due: none

Add additional create matrix logging (#24886)
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

cosmos: enable support for reading all partition key ranges from a given container (#24835)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/cosmos_partition_key_range.go
  sdk/data/azcosmos/cosmos_partition_key_range_request_options.go
  sdk/data/azcosmos/cosmos_partition_key_range_request_options_test.go
  sdk/data/azcosmos/cosmos_partition_key_range_response.go
  sdk/data/azcosmos/cosmos_partition_key_range_response_test.go
  sdk/data/azcosmos/cosmos_partition_key_range_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
  sdk/data/azcosmos/otel_constants.go
Due: none

Allow an additional retry for IMDS managed identity requests (#24860)
  sdk/azidentity/CHANGELOG.md
  sdk/azidentity/managed_identity_client.go
Due: eng/pipelines/pullrequest.yml

Added support and unit tests for FeedRange support
  sdk/data/azcosmos/cosmos_feed_range.go
  sdk/data/azcosmos/cosmos_feed_range_test.go
Due: none

Added GetFeedRange method for cosmos container
  sdk/data/azcosmos/cosmos_container.go
Due: none

Added emulator tests getting feed ranges
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Update Changelog
  sdk/data/azcosmos/CHANGELOG.md
Due: none

Avoid concurrency problems by making sure we're not accessing cachedMessages without some coordination.
  sdk/messaging/azservicebus/receiver.go
Due: eng/pipelines/pullrequest.yml

Revised emulator test for feed range and pkrange
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Resolved Emulator Test
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

[Release] sdk/resourcemanager/purestorageblock/armpurestorageblock/1.0.0 (#24832)
  sdk/resourcemanager/purestorageblock/armpurestorageblock/CHANGELOG.md
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsstoragecontainers_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsstoragecontainers_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsstoragecontainervolumes_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsstoragecontainervolumes_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsvms_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsvms_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsvmvolumes_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/avsvmvolumes_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/constants.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/go.mod
  sdk/resourcemanager/purestorageblock/armpurestorageblock/go.sum
  sdk/resourcemanager/purestorageblock/armpurestorageblock/operations_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/operations_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/reservations_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/reservations_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/storagepools_client.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/storagepools_client_example_test.go
  sdk/resourcemanager/purestorageblock/armpurestorageblock/testdata/_metadata.json
  sdk/resourcemanager/purestorageblock/armpurestorageblock/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/storageactions/armstorageactions/1.0.0 generation from spec commit: 86c6306649b02e542117adb46c61e8019dbd78e9 (#24867)
  sdk/resourcemanager/storageactions/armstorageactions/CHANGELOG.md
  sdk/resourcemanager/storageactions/armstorageactions/autorest.md
  sdk/resourcemanager/storageactions/armstorageactions/build.go
  sdk/resourcemanager/storageactions/armstorageactions/client_factory.go
  sdk/resourcemanager/storageactions/armstorageactions/constants.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/internal.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/operations_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/server_factory.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/storagetaskassignment_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/storagetasks_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/storagetasksreport_server.go
  sdk/resourcemanager/storageactions/armstorageactions/fake/time_rfc3339.go
  sdk/resourcemanager/storageactions/armstorageactions/go.mod
  sdk/resourcemanager/storageactions/armstorageactions/go.sum
  sdk/resourcemanager/storageactions/armstorageactions/models.go
  sdk/resourcemanager/storageactions/armstorageactions/models_serde.go
  sdk/resourcemanager/storageactions/armstorageactions/operations_client.go
  sdk/resourcemanager/storageactions/armstorageactions/operations_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/options.go
  sdk/resourcemanager/storageactions/armstorageactions/responses.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetaskassignment_client.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetaskassignment_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasks_client.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasks_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasksreport_client.go
  sdk/resourcemanager/storageactions/armstorageactions/storagetasksreport_client_example_test.go
  sdk/resourcemanager/storageactions/armstorageactions/testdata/_metadata.json
  sdk/resourcemanager/storageactions/armstorageactions/time_rfc3339.go
  sdk/resourcemanager/storageactions/armstorageactions/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

ipv6 test
  sdk/resourcemanager/compute/armcompute/availabilityset_live_test.go
Due: eng/pipelines/pullrequest.yml

upgrade internal
  eng/tools/generator/go.mod
  eng/tools/generator/go.sum
Due: eng/pipelines/pullrequest.yml

update go.sum
  eng/tools/generator/go.mod
  eng/tools/generator/go.sum
Due: eng/pipelines/pullrequest.yml

comment out the useless test
  eng/tools/generator/cmd/issue/request/request_test.go
Due: eng/pipelines/pullrequest.yml

upgrade internal (#24892)
  eng/tools/generator/cmd/issue/request/request_test.go
  eng/tools/generator/go.mod
  eng/tools/generator/go.sum
Due: eng/pipelines/pullrequest.yml

[Storage] stg99 preview release prep (#24841)
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/go.mod
  sdk/storage/azblob/go.sum
  sdk/storage/azblob/testdata/perf/go.mod
  sdk/storage/azblob/testdata/perf/go.sum
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/go.mod
  sdk/storage/azdatalake/go.sum
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/go.mod
  sdk/storage/azfile/go.sum
  sdk/storage/azqueue/CHANGELOG.md
  sdk/storage/azqueue/go.mod
  sdk/storage/azqueue/go.sum
  sdk/storage/azqueue/internal/exported/version.go
Due: eng/pipelines/pullrequest.yml

cosmos: enable support for obtaining feed ranges from a pkrange in a container (#24889)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_feed_range.go
  sdk/data/azcosmos/cosmos_feed_range_test.go
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

Add initial support for cosmos change feed
  sdk/data/azcosmos/cosmos_change_feed_options.go
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_container.go
Due: none

Add basic test outlines for ChangeFeedOptions and ChangeFeedResponse
  sdk/data/azcosmos/cosmos_change_feed_options_test.go
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
Due: none

Added Unit Testing + Integration Testing for the Change Feed
  sdk/data/azcosmos/cosmos_change_feed_cloud_test.go
  sdk/data/azcosmos/cosmos_change_feed_request_options_test.go
  sdk/data/azcosmos/cosmos_container_test.go
  sdk/data/azcosmos/go.mod
  sdk/data/azcosmos/go.sum
Due: none

Updated unit tests for ChangeFeedResponse after refactoring
  sdk/data/azcosmos/cosmos_change_feed_response_test.go
Due: none

Created ChangeFeedOptions and ChangeFeedResponse structs and methods
  sdk/data/azcosmos/cosmos_change_feed_options.go
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_http_constants.go
Due: none

Renamed ChangeFeedOption Files and reformatted for proper string type conversion
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_change_feed_request_options_test.go
Due: none

Refactored ChangeFeedResponse structure to follow other response structures in SDK
  sdk/data/azcosmos/cosmos_change_feed_response.go
Due: none

Added the GetChangeFeed method and tweaked the request and response files
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
  sdk/data/azcosmos/cosmos_change_feed_response.go
  sdk/data/azcosmos/cosmos_container.go
Due: none

Configured changeFeedRange struct for internal use only
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token.go
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token_test.go
  sdk/data/azcosmos/cosmos_change_feed_range.go
Due: none

Fixed the If-Modified-Since Header to resolve Date Format Issue
  sdk/data/azcosmos/cosmos_change_feed_request_options.go
Due: none

Created CompositeContinuationToken, allowing change feed processing to be resumed at different points
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token.go
  sdk/data/azcosmos/cosmos_change_feed_composite_continuation_token_test.go
Due: none

Created ChangeFeedRange struct for internally reading FeedRanges for the ChangeFeed
  sdk/data/azcosmos/cosmos_change_feed_range.go
  sdk/data/azcosmos/cosmos_change_feed_range_test.go
Due: none

Fixed formatting for If-Modified-Since and If-None-Match in request_options_test
  sdk/data/azcosmos/cosmos_change_feed_request_options_test.go
Due: none

Add unit tests for newChangeFeedRange with Continuation token header and without it
  sdk/data/azcosmos/cosmos_change_feed_range_test.go
Due: none

Helper function to find a 1:1 match between FeedRange and PartitionKeyRange
  sdk/data/azcosmos/cosmos_feed_partition_range_util.go
Due: none

Added certain HTTP Header Responses and created tests to verify functionality
  sdk/data/azcosmos/cosmos_change_feed_cloud_test.go
  sdk/data/azcosmos/cosmos_change_feed_response.go
Due: none
