Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos

Update authorizationserver_server.go
  sdk/resourcemanager/apimanagement/armapimanagement/fake/authorizationserver_server.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/servicebus/armservicebus/assets.json
  sdk/resourcemanager/servicebus/armservicebus/migrationconfigs_live_test.go
  sdk/resourcemanager/servicebus/armservicebus/namespace_live_test.go
Due: eng/pipelines/pullrequest.yml

update test
  sdk/resourcemanager/monitor/armmonitor/assets.json
  sdk/resourcemanager/monitor/armmonitor/autoscale_live_test.go
  sdk/resourcemanager/monitor/armmonitor/datacollectionendpoints_live_test.go
  sdk/resourcemanager/monitor/armmonitor/datacollectionrules_live_test.go
  sdk/resourcemanager/monitor/armmonitor/logprofiles_live_test.go
  sdk/resourcemanager/monitor/armmonitor/metricalerts_live_test.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/servicebus/armservicebus/assets.json
  sdk/resourcemanager/servicebus/armservicebus/migrationconfigs_live_test.go
Due: eng/pipelines/pullrequest.yml

update assets.json
  sdk/resourcemanager/monitor/armmonitor/assets.json
  sdk/resourcemanager/monitor/armmonitor/autoscale_live_test.go
  sdk/resourcemanager/monitor/armmonitor/metricalerts_live_test.go
Due: eng/pipelines/pullrequest.yml

fix: add period to LICENSE.txt
  sdk/internal/LICENSE.txt
Due: eng/pipelines/pullrequest.yml

Prepare Key Vault Certificates and Secrets GA release
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/version.go
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/version.go
Due: eng/pipelines/pullrequest.yml

Run release prep for Key Vault Go packages
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azsecrets/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Add Values accessor + NewConditionWithValues factory for armslis
  sdk/resourcemanager/monitor/armslis/CHANGELOG.md
  sdk/resourcemanager/monitor/armslis/condition_values.go
  sdk/resourcemanager/monitor/armslis/condition_values_test.go
Due: eng/pipelines/pullrequest.yml

Prepare Key Vault Certificates and Secrets GA release (#26887)
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/version.go
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/version.go
Due: eng/pipelines/pullrequest.yml

Revert "Add Values accessor + NewConditionWithValues factory for armslis"
  sdk/resourcemanager/monitor/armslis/CHANGELOG.md
  sdk/resourcemanager/monitor/armslis/condition_values.go
  sdk/resourcemanager/monitor/armslis/condition_values_test.go
Due: eng/pipelines/pullrequest.yml

[EventGrid] Regenerate system events for May 2026 release (#26756)
  sdk/messaging/eventgrid/azsystemevents/constants.go
  sdk/messaging/eventgrid/azsystemevents/eventgrid_event.go
  sdk/messaging/eventgrid/azsystemevents/models.go
  sdk/messaging/eventgrid/azsystemevents/models_serde.go
  sdk/messaging/eventgrid/azsystemevents/system_events.go
  sdk/messaging/eventgrid/azsystemevents/testdata/_metadata.json
  sdk/messaging/eventgrid/azsystemevents/time_rfc3339.go
  sdk/messaging/eventgrid/azsystemevents/tsp-location.yaml
Due: eng/pipelines/pullrequest.yml

azcosmos: don't gate cross-region connection-error failover on metadata refresh
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
Due: none

azcosmos: also fix retryCount-on-failover and URL-key mismatch in unavailability map
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
  sdk/data/azcosmos/cosmos_location_cache.go
Due: none

use regular script rather than Npm task
  eng/pipelines/mgmt-auto-release.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[AutoPR sdk-resourcemanager/monitor/armslis]-generated-from-SDK Generation - Go-6342624 (#26870)
  sdk/resourcemanager/monitor/armslis/CHANGELOG.md
  sdk/resourcemanager/monitor/armslis/assets.json
  sdk/resourcemanager/monitor/armslis/client.go
  sdk/resourcemanager/monitor/armslis/constants.go
  sdk/resourcemanager/monitor/armslis/go.mod
  sdk/resourcemanager/monitor/armslis/go.sum
  sdk/resourcemanager/monitor/armslis/models.go
  sdk/resourcemanager/monitor/armslis/sli_crud_live_test.go
  sdk/resourcemanager/monitor/armslis/test-resources.bicep
  sdk/resourcemanager/monitor/armslis/testdata/_metadata.json
  sdk/resourcemanager/monitor/armslis/tsp-location.yaml
  sdk/resourcemanager/monitor/armslis/utils_test.go
  sdk/resourcemanager/monitor/armslis/version.go
Due: eng/pipelines/pullrequest.yml

Update CHANGELOG.md
  sdk/resourcemanager/trafficmanager/armtrafficmanager/CHANGELOG.md
Due: eng/pipelines/pullrequest.yml

Update version.go
  sdk/resourcemanager/trafficmanager/armtrafficmanager/version.go
Due: eng/pipelines/pullrequest.yml

regen
  sdk/resourcemanager/applicationinsights/armapplicationinsights/CHANGELOG.md
  sdk/resourcemanager/applicationinsights/armapplicationinsights/tsp-location.yaml
  sdk/resourcemanager/applicationinsights/armapplicationinsights/version.go
Due: eng/pipelines/pullrequest.yml

azcosmos: unblock cross-region failover from synchronous gem.Update
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_dbaccount_refresh_test.go
  sdk/data/azcosmos/cosmos_location_cache.go
Due: none

azcosmos: shorten CHANGELOG entry for PR 26889
  sdk/data/azcosmos/CHANGELOG.md
Due: none

azcosmos: add CHANGELOG entry for PR 26889
  sdk/data/azcosmos/CHANGELOG.md
Due: none

azcosmos: clarify test comment to match injected error (PR review feedback)
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
Due: none

Bump to preview.80, run gofmt on generated files
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_constants.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_models.go
  sdk/storage/azblob/internal/generated/zz_models_serde.go
  sdk/storage/azblob/internal/generated/zz_options.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azblob/internal/generated/zz_responses.go
  sdk/storage/azblob/internal/generated/zz_service_client.go
  sdk/storage/azblob/internal/generated/zz_xml_helper.go
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/zz_constants.go
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_models.go
  sdk/storage/azdatalake/internal/generated/zz_models_serde.go
  sdk/storage/azdatalake/internal/generated/zz_options.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated/zz_responses.go
  sdk/storage/azdatalake/internal/generated/zz_service_client.go
  sdk/storage/azdatalake/internal/generated_blob/autorest.md
  sdk/storage/azdatalake/internal/generated_blob/zz_appendblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blockblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_constants.go
  sdk/storage/azdatalake/internal/generated_blob/zz_container_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_models.go
  sdk/storage/azdatalake/internal/generated_blob/zz_models_serde.go
  sdk/storage/azdatalake/internal/generated_blob/zz_options.go
  sdk/storage/azdatalake/internal/generated_blob/zz_pageblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_responses.go
  sdk/storage/azdatalake/internal/generated_blob/zz_service_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_xml_helper.go
Due: eng/pipelines/pullrequest.yml

Fix UploadStream legacy default and add changelog entries
  sdk/storage/azblob/CHANGELOG.md
  sdk/storage/azblob/blockblob/models.go
  sdk/storage/azblob/internal/shared/batch_transfer.go
  sdk/storage/azblob/internal/shared/shared_test.go
  sdk/storage/azdatalake/CHANGELOG.md
  sdk/storage/azdatalake/file/models.go
  sdk/storage/azdatalake/internal/shared/batch_transfer.go
  sdk/storage/azfile/CHANGELOG.md
  sdk/storage/azfile/file/models.go
  sdk/storage/azfile/internal/shared/batch_transfer.go
Due: eng/pipelines/pullrequest.yml

Fix GMT timezone transforms for preview.80 generated code
  sdk/storage/azblob/internal/generated/autorest.md
  sdk/storage/azblob/internal/generated/zz_appendblob_client.go
  sdk/storage/azblob/internal/generated/zz_blob_client.go
  sdk/storage/azblob/internal/generated/zz_blockblob_client.go
  sdk/storage/azblob/internal/generated/zz_container_client.go
  sdk/storage/azblob/internal/generated/zz_pageblob_client.go
  sdk/storage/azdatalake/internal/generated/autorest.md
  sdk/storage/azdatalake/internal/generated/zz_filesystem_client.go
  sdk/storage/azdatalake/internal/generated/zz_path_client.go
  sdk/storage/azdatalake/internal/generated_blob/autorest.md
  sdk/storage/azdatalake/internal/generated_blob/zz_appendblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_blockblob_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_container_client.go
  sdk/storage/azdatalake/internal/generated_blob/zz_pageblob_client.go
Due: eng/pipelines/pullrequest.yml

Add scenario tests for Storage Mover connections and job definitions, update dependencies
  sdk/resourcemanager/storagemover/armstoragemover/assets.json
  sdk/resourcemanager/storagemover/armstoragemover/connection_live_test.go
  sdk/resourcemanager/storagemover/armstoragemover/go.mod
  sdk/resourcemanager/storagemover/armstoragemover/go.sum
  sdk/resourcemanager/storagemover/armstoragemover/jobdefinition_jobrun_c2c_live_test.go
  sdk/resourcemanager/storagemover/armstoragemover/scenario_helpers_test.go
Due: eng/pipelines/pullrequest.yml

azcosmos: address deep-review findings on the cross-region failover path
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_client_retry_policy.go
  sdk/data/azcosmos/cosmos_client_retry_policy_test.go
  sdk/data/azcosmos/cosmos_dbaccount_refresh_test.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager.go
  sdk/data/azcosmos/cosmos_global_endpoint_manager_test.go
  sdk/data/azcosmos/cosmos_location_cache.go
Due: none

Increment package version after release of security/keyvault/azcertificates
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of security/keyvault/azsecrets
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of security/keyvault/azcertificates (#26893)
  sdk/security/keyvault/azcertificates/CHANGELOG.md
  sdk/security/keyvault/azcertificates/version.go
Due: eng/pipelines/pullrequest.yml

Increment package version after release of security/keyvault/azsecrets (#26894)
  sdk/security/keyvault/azsecrets/CHANGELOG.md
  sdk/security/keyvault/azsecrets/version.go
Due: eng/pipelines/pullrequest.yml

chore: replace $(azuresdk-github-pat) with $(GH_TOKEN) and add login-to-github step (#26871)
  eng/pipelines/mgmt-auto-release.yml
  eng/pipelines/templates/jobs/archetype-go-release.yml
  eng/scripts/mgmt-auto-release.sh
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml
