Repository Azure/azure-sdk-for-go: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, eng/pipelines/pullrequest.yml

azure-pipelines.yml:
  jobs:
  - job: Build_Test
    strategy:
      matrix:
        Linux_Go117:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.17.8
        Linux_Go118:
          pool.name: azsdk-pool-mms-ubuntu-2004-general
          go.version: 1.18.2
    pool:
      name: $(pool.name)
    variables:
  ...

eng/pipelines/pullrequest.yml:
  extends:
    template: /eng/pipelines/templates/jobs/archetype-sdk-client.yml
    parameters:
      oneESTemplateTag: ${{ parameters.oneESTemplateTag }}
      ${{ if and(eq(parameters.oneESTemplateTag, 'canary'), eq(parameters.Service, 'auto')) }}:
        ServiceDirectory: template/aztemplate
  ...

azcosmos: Go-native ReadMany (#26007)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/cosmos_container.go
  sdk/data/azcosmos/cosmos_container_query_engine_test.go
  sdk/data/azcosmos/cosmos_container_read_many.go
  sdk/data/azcosmos/cosmos_container_read_many_test.go
  sdk/data/azcosmos/cosmos_query_builder.go
  sdk/data/azcosmos/cosmos_query_builder_test.go
  sdk/data/azcosmos/emulator_cosmos_read_many_items_test.go
  sdk/data/azcosmos/internal/epk/epk.go
  sdk/data/azcosmos/internal/epk/epk_test.go
  sdk/data/azcosmos/internal/epk/testdata/PartitionKeyHashBaselineTest.Lists.xml
  sdk/data/azcosmos/internal/epk/testdata/PartitionKeyHashBaselineTest.Numbers.xml
  sdk/data/azcosmos/internal/epk/testdata/PartitionKeyHashBaselineTest.Singletons.xml
  sdk/data/azcosmos/internal/epk/testdata/PartitionKeyHashBaselineTest.Strings.xml
  sdk/data/azcosmos/internal/mock/mock_query_engine.go
  sdk/data/azcosmos/partition_key.go
  sdk/data/azcosmos/partition_key_test.go
Due: none

remove commented out test
  sdk/data/azcosmos/emulator_cosmos_container_test.go
Due: none

azcore: join request and body close errors in retry policy
  sdk/azcore/CHANGELOG.md
  sdk/azcore/runtime/policy_retry.go
  sdk/azcore/runtime/policy_retry_test.go
Due: eng/pipelines/pullrequest.yml

Add Float 16 Datatype Support (#25707)
  sdk/data/azcosmos/CHANGELOG.md
  sdk/data/azcosmos/vector_embedding_policy.go
Due: none

Sync .github/workflows directory with azure-sdk-tools for PR 14141 (#26050)
  .github/workflows/post-apiview.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

moved comment to avoit lint issues
  sdk/storage/azblob/blob/client_test.go
  sdk/storage/azblob/bloberror/error_codes.go
Due: eng/pipelines/pullrequest.yml

[Release] sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/2.0.0-beta.2 generation from spec commit: 8f1c65210c654607920449956fdb4b88d14157a4
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/CHANGELOG.md
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/autorest.md
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/azurebaremetalinstances_client.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/azurebaremetalinstances_client_example_test.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/azurebaremetalstorageinstances_client.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/azurebaremetalstorageinstances_client_example_test.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/client_factory.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/constants.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/fake/azurebaremetalinstances_server.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/fake/azurebaremetalstorageinstances_server.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/fake/internal.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/fake/operations_server.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/fake/server_factory.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/fake/time_rfc3339.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/go.mod
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/go.sum
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/models.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/models_serde.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/operations_client.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/operations_client_example_test.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/options.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/responses.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/time_rfc3339.go
  sdk/resourcemanager/baremetalinfrastructure/armbaremetalinfrastructure/version.go
Due: eng/pipelines/pullrequest.yml

Added version to the newClient functions introduced in stg101
  sdk/storage/azblob/internal/generated/blob_client.go
  sdk/storage/azblob/internal/generated/block_blob_client.go
  sdk/storage/azblob/internal/generated/container_client.go
  sdk/storage/azblob/internal/generated/pageblob_client.go
  sdk/storage/azblob/internal/generated/service_client.go
  sdk/storage/azfile/internal/generated/directory_client.go
  sdk/storage/azfile/internal/generated/file_client.go
  sdk/storage/azfile/internal/generated/service_client.go
  sdk/storage/azfile/internal/generated/share_client.go
Due: eng/pipelines/pullrequest.yml

Added assests.json
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/internal/base/clients.go
  sdk/storage/azblob/internal/generated/appendblob_client.go
Due: eng/pipelines/pullrequest.yml

Fix Java release tag to include groupId in Update-DocsMsMetadata (#26049)
  eng/common/scripts/Update-DocsMsMetadata.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Show ARM deployment template validation errors for New-TestResources.ps1 (#26059)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Bump the npm_and_yarn group across 1 directory with 2 updates (#26057)
  eng/common/tsp-client/package-lock.json
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Added remaining tests
  sdk/storage/azblob/appendblob/client_test.go
  sdk/storage/azblob/assets.json
  sdk/storage/azblob/blockblob/client_test.go
  sdk/storage/azblob/pageblob/client_test.go
Due: eng/pipelines/pullrequest.yml

Move to new 1ES pool (#26061)
  .github/workflows/post-apiview.yml
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

add activity id
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
Due: none

react to comments
  sdk/data/azcosmos/cosmos_client.go
  sdk/data/azcosmos/cosmos_client_test.go
Due: none

Support target branch fast deletion
  eng/common/scripts/Delete-RemoteBranches.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Sync eng/common directory with azure-sdk-tools for PR 14173 (#26063)
  eng/common/scripts/Delete-RemoteBranches.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

Refined dependency upgrade logic to use `go get` instead of `go get -u` to prevent unintended upgrades of other dependencies.
  eng/scripts/build.ps1
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/version.go
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

revert script change
  eng/scripts/build.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Script] Refined dependency upgrade logic to use go get instead of go get -u
  .github/CODEOWNERS
  eng/scripts/build.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

[Generator] Refined dependency upgrade logic to use `go get` instead of `go get -u` (#26064)
  eng/tools/generator/CHANGELOG.md
  eng/tools/generator/cmd/v2/common/generation.go
  eng/tools/generator/version.go
Due: eng/pipelines/pullrequest.yml

[Script] Refined dependency upgrade logic to use go get instead of go get -u (#26065)
  .github/CODEOWNERS
  eng/scripts/build.ps1
Due: azure-pipelines.yml, eng/pipelines/pullrequest.yml

update asset.json
  sdk/resourcemanager/postgresql/armpostgresqlflexibleservers/assets.json
Due: eng/pipelines/pullrequest.yml

Path conditions:
  azure-pipelines.yml: any file but: sdk, eng/tools, eng/config.json
  eng/pipelines/pullrequest.yml: any of: *, but not: sdk/data/azcosmos
